{if $data}
<div class="alert alert-bakrie text-center" style="background-color:green;border: 0px; padding: 24px 16px 24px 16px;">
	<div class='row row-in'>
		<div class="col-md-12">
            Jadwal Tes Potensi Akademik Anda sedang menunggu konfirmasi dari 
            <br>Panitia Penerimaan Univierstias Bakrie.
		</div>
	</div>
</div>
{else}
<div class="alert alert-bakrie text-center" style="border: 0px; padding: 24px 16px 24px 16px;">
	<div class='row row-in'>
		<div class="col-md-12">
            Terima Kasih biaya pendaftaran formulir Anda pada 
			<br>Program Kelas Karyawan Universitas Bakrie,
			<br>telah kami terima, silahkan mengatur Tes Potensi Akademik Anda
		</div>
	</div>
</div>
{/if}
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Setting Jadwal Tes Potensi Akademik</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/settingJadwalkk/add"  class="form" method="post">					
					<div class="form-group row">
					   <label class="col-form-label col-4">Metode Tes Potensi Akademik
					   </label>
					   <div class="col-8" >							  
							  <select  class="form-control" name="metode_purpose" required {if $data}disabled{/if}>
                                <option value="">Pilih metode...</option>
                                <option value="ONSITE" {if $data}{if $data.metode_purpose eq 'ONSITE'}selected{/if}{/if}>Hadir ke Kampus 1 (Plaza Festival)</option>
                                <option value="ONLINE"{if $data}{if $data.metode_purpose eq 'ONLINE'}selected{/if}{/if} >Online Melalui Aplikasi Zoom</option>
							  </select>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-4" >Jadwal Tes Potensi Akademik
					   </label>
					   <div class="col-8" >
							<input value="{$cmb->kode_smb}" name="kode" hidden>
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggal_purpose" size="16" value="{$data.tanggal_purpose|default:''}" required {if $data}disabled{/if}>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-4">Jam Tes Potensi Akademik
						<span class="required">*</span>
					   </label>
					   <div class="col-8" >
							<input type="text" class="form-control" name="jam_purpose" id="jam_purpose" onchange="setrangetime()" value="{if $data}{$data.jam_purpose|default:''} - {$data.jam_end_purpose|default:''}{/if}"  placeholder="12:00" required {if $data}disabled{/if}>
							<small>Masukkan jam TPA yang ingin Anda ajukan (Contoh format jam 14:00)</small>
                            <input type="hidden" class="form-control" name="jam_start" id="jam_start">
                            <input type="hidden" class="form-control" name="jam_end" id="jam_end">
					   </div>
					</div>		
					
					<div class="alert alert-bakrie-dark">
					<input type="checkbox" name="okekah" value="setuju" {if $data}checked{/if} required>
					Saya bersedia hadir & mengikuti proses seleksi Program Studi {$cmb->progdi} Universitas Bakrie
							 
                    </div>
                    
					<div class="offset-sm-9 col-sm-3" {if $data}hidden{/if}>
						<button type="reset" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">Reset</button>
						<button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt"> Simpan <i class="fa fa-save"></i></button>
					</div>
			</form>
		</div>
	</div>
</div>
<script>
function setrangetime(){
	var timegiven = $('#jam_purpose').val();
	if(timegiven.length != 5){
		alert('Format Waktu yang Anda masukkan salah!');
		return;
	}
	if(timegiven){
		var parts = timegiven.split(':');
		var hour = parseInt(parts[0]);
		var minute = parseInt(parts[1]);

		if(hour >23){
			alert('Format Jam yang Anda masukkan salah!');
			return;
		}

		if(minute >= 60){
			alert('Format menit yang Anda masukkan salah!');
			return;
		}

		totalMinutes = minute+90;

		var hoursAdd = Math.floor(totalMinutes / 60);
		var minutesAdd = totalMinutes % 60;

		hour += hoursAdd;
		minute += minutesAdd;
		
		$('#jam_start').val(timegiven);
		$('#jam_end').val(hour + ':' + minutesAdd);
		$('#jam_purpose').val(timegiven+' - '+hour + ':' + minutesAdd) ;

	}else{
		alert('Jam tidak boleh kosong!');
	}
}
</script>