
<!-- BEGIN FORM-->
<div class="row">
	<div class="col-md-12">
		<div class="white-box  col-md-12">
			<div class="invoice">
			</div>
			<div class="col-md-12 white-box printFormat printableArea" style="background-color:#fff;padding:32px;">
		
				<div class="col-md-12">
					<div class="col-md-6 text-right">
						<img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/>
					</div>
					<div class="col-md-6 text-left" style="text-align: center;">
						<h4>| INVOICE DAFTAR ULANG</h4>
						<br>
						<br> 
					</div>
				</div>
				<div class="col-md-12" style="background-color:#f0f0f0;padding:32px;">
					<div class="col-md-12">
						<div class="col-md-3" style="text-align:right;"><label>Nama Siswa</label></div>
						<div class="col-md-9">
							<label>: {$cmb->nama_cm}</label>
							<input type="hidden" value="{$cmb->kode_smb}" id="kode"> 
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3" style="text-align:right;"><label>Nomor Registrasi</label></div>
						<div class="col-md-9">
							<label>: {$cmb->no_smb}</label>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3" style="text-align:right;"><label>Program Studi</label></div>
						<div class="col-md-9">
							<label>: {$cmb->progdi}
								<br><br></label>
						</div>
					</div>
					<div class="col-md-12">
					
					<div class="col-md-12" style="padding: 0px 64px 0px 64px;">	

						<a class="man list-group-item" style="background-color:#c50306;padding:4px;color:#fff;">
							<label class="col-md-12" style="text-align:left;">Biaya Pendidikan Semester 1</label><label></label>
						</a>
						<a class="man list-group-item" style="background-color:#fff;padding:4px;">
							<label class="col-md-4" style="text-align:right;">Uang Pangkal</label><label>: Rp <font class="biaya_pertama"> {$data.uangPangkal|number_format:0:".":"."}</font></label>
						</a>
						<a class="man list-group-item" style="background-color:#fff;padding:4px;">
							<label class="col-md-4" style="text-align:right;">Matrikulasi</label><label>: Rp <font class="biaya_pertama"> {$data.matrikulasi|number_format:0:".":"."}</font></label>
						</a>
						<a class="man list-group-item" style="background-color:#fff;padding:4px;">
							<label class="col-md-4" style="text-align:right;">Registrasi</label><label>: Rp <font class="biaya_pertama"> {$data.registrasi|number_format:0:".":"."}</font></label>
						</a>
						<a class="man list-group-item" style="background-color:#fff;padding:4px;">
							<label class="col-md-4" style="text-align:right;">Jaket Almamater</label><label>: Rp <font class="biaya_potongan"> {$data.almamater|number_format:0:".":"."}</font></label>
						</a>
							
						
						<a class="man list-group-item bg-grey" style="background-color:#7a7979;color:#fff;padding:4px;">
							<label class="col-md-4" style="text-align:right;">Total biaya semester 1</label>
							{if isset($data.potongan_gelombang)}
							<label>:
								<strike style="color:red;">Rp <font class="biaya_tagihan_1"> {$data.totalBiaya|number_format:0:".":"."}</font></strike>
								Rp <font class="biaya_tagihan_1"> {(($data.totalBiaya)-($data.potongan_gelombang))|number_format:0:".":"."}</font>
							</label>
							{else}
							<label>:
								Rp <font class="biaya_tagihan_1"> {$data.totalBiaya|number_format:0:".":"."}</font>
							</label>
							{/if}
						</a>
						<br>
						<label  style="padding:4px;text-align: center;">
							<font class="jumlah_angsuran"></font>
						</label>
						
					</div>
					<!-- <div class="col-md-1"></div> -->
					
					<div class="col-md-3" style="text-align:right;padding-left:64px;"><br><label>Pembayaran dapat ditransfer melalui Rekening :</label></div>
					<div class="col-md-9"><br><label  style="background-color:#fff;padding:8px;border: 3px solid #adadad;border-radius: 8px;">
						Bank Permata ,A/N Universitas Bakrie, 070.162.7415 <br>
						Bank BCA, A/N Yayasan Pendidikan Bakrie, 5055.026464  <br>
						Bank Mandiri Syariah, A/N Yayasan Pendidikan Bakrie, 065.001.515.7 <br>
						Bayar diloket Universitas Bakrie</label>
					</div>

				</div>
				
			</div>
		</div>
		</div>

		<div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
			<div class="text-right">
				<button id="print" class="btn btn-light btn-outline" type="button"> <span><i class="fa fa-print"></i>
						Print</span> </button>
			</div>
	
		</div>
	</div>
</div>
