<div class="alert alert-danger" >
	<div class='row row-in'>
			Kartu Tanda Peserta Seleksi
		
	</div>
</div>
<div class="row ">
	<div class="col-md-12">
		<div class="white-box printableArea">
				<div class="invoice">
					<div class="row ">
						<div class='col-md-12'>
							<div class="col-sm-6 col-md-6 col-xs-12 invoice-logo-space text-right">
								<img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/>
							</div>
							<div class="col-sm-6 col-md-6 col-xs-12 invoice-logo-space text-left" style="text-align: center;">
								<h4>| Kartu Tanda Peserta Seleksi</h4>
							</div>
						</div>
					</div>
					<br>
					<br>
					<div class="well row" style="font-size:12px;background-color:#e6e6e6;color:black;">            
						<div class="invoice-payment" >
							<ul class="list-unstyled col-md-12">
								<li>
									<label class="col-md-4">Nama </label>
									<label class="col-md-8">: {$cmb->nama_cm}</label>
								</li>
								<li>
									<label class="col-md-4">Nomor Formulir</label>
									<label class="col-md-8">: {$cmb->no_smb}</label>
								</li>
								<li>
									<label class="col-md-4">Program Studi</label>
									<label class="col-md-8">: {$cmb->progdi}</label>
								</li>
								<li>
									<label class="col-md-4">Jalur Seleksi</label>
									<label class="col-md-8">: Kelas Karyawan</label>
								</li>
							</ul>
							<div class='col-md-12'>
								<div class="col-md-6" style="font-size:12px;">
									<label>Tanggal Ujian</label>
									<ul class="list-unstyled" >
										<li style="border: 1px grey solid;padding: 4px;background-color: white;" >{$tpa.tanggal_acc|date_format:'%A'}, {$tpa.tanggal_acc|date_format:'%d-%m-%Y'}</li>
									</ul>
									<ul class="list-unstyled">
										<li style="border: 1px grey solid;padding: 4px;background-color: white;">{$tpa.jam_acc} - {$tpa.jam_end_acc}</li>
									</ul>
								</div>
								<div class="col-md-6" style="font-size:12px;">
									<label>Lokasi Ujian</label>
									<ul class="list-unstyled">
										<li style="border: 1px grey solid;padding: 4px;background-color: white;">
											{if $tpa.metode_acc eq 'ONSITE'}
											Hadir ke Kampus 1 (Plaza Festival)
											{elseif $tpa.metode_acc eq 'ONLINE'}Online Melalui Aplikasi Zoom{/if}
											<br>
											<br>Universitas Bakrie, Kawasan Rasuna Epicentrum, Jl. H.R. Rasuna Said Kav. C.22, Kuningan,
											<br>Jakarta 12920, Telp 021 526 1448(Ext. 175/154), Hp. 0856 777 2010, Email. admisi@bakrie.ac.id
											<br>bakrie.ac.id
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12" style="font-size:12px;">
								<h4>Materi Ujian TPA :</h4>
								<h5>Matematika, Bahasa Inggris, <br>Psikotes & Pengetahuan Umum</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
				<br>
				<br>
					<div class="row hidden-print">
						<div class=" col-xs-12 invoice-block">
							<ul class="list-unstyled amounts">
								<br>
								<!-- <a class="btn btn-danger hidden-print" >PRINT <i class="icon-print"></i></a> -->
								<a class="btn btn-danger" type="button" href="{$host}portal/generateJadwalPdf"> <span><i class="fa fa-print"></i> Print</span> </a>
							  
								
								<span>Untuk peserta Tes Tulis, kartu ujian wajib di print.</span>
								<br>
								<br>
								<span>Note : Gunakan browser Chrome untuk lebih mudah memodifikasi halaman print</span>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-sm-2"></div>
		</div>
	</div>
</div>
