<!-- BEGIN FORM-->
<style>
.printFormat{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
td {
    color: black;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="white-box col-md-12 printFormat printableArea" style='font-size:14px;padding: 32px 60px 32px 60px;'>
            <div class="col-md-12">
                No Pendaftaran : {$cmb->no_smb}
                <img src="https://www.bakrie.ac.id/images/joomlart/Logo_universitas_bakrie.png" height="32px" class="pull-right">
                <br>Prihal : Pengumuman Hasil Seleksi
                <br>Penerimaan Mahasiswa Program {$cmb->progdi}
                <br>Universitas Bakrie

            </div>
            <div class="col-md-12">
                <br>
                <p>Kepada Yth.<br>{$cmb->nama_cm}</p><br><br>

                <p>Dengan hormat,</p>
                <p>
                    Berdasarkan hasil seleksi dan wawancara penerimaan mahasiswa baru Program Studi {$cmb->progdi} Universitas Bakrie 
                    Bakrie semester {$cmb->tipePeriodeDesc} tahun akademik {$cmb->tahun}/{$cmb->tahun+1}, dengan ini kami sampaikan bahwa saudara/I 
                    <b>{$cmb->nama_cm}</b> dinyatakan <b>DITERIMA</b> sebagai mahasiswa baru Program Studi Magister Manajemen Universitas Bakrie.
                </p>
                <p>Kami mengucapkan selamat atas keberhasilan tersebut dan selamat bergabung bersama komunitas unggulan di Universitas Bakrie.</p>
                <p>Selanjutnya kami persilahkan saudara/i untuk melanjutkan proses administrasi berikutnya :
                    <ol>
                        <li>Melengkapi persyaratan administrasi/dokumen yang belum lengkap</li>
                        <li>Membayar angsuran biaya kuliah [Daftar Ulang]</li>
                        <li>Mengisi Data diri lengkap</li>
                    </ol>
                </p>
                <p>
                    Beberapa hal terkait dengan jadwal pengisian KRS, jadwal perkuliahan dan informasi lainnya akan kami sampaikan melalui email kemudian.
                </p>
                <p>Demikian pengumuman ini kami sampaikan dan terima kasih atas kepercayaan yang diberikan kepada Universitas Bakrie.</p>
                <br><br>
                <p>Hormat kami,</p>
                <br><br>
                <p>
                    <b>{$cmb->kaprodi}</b>
                    <br>Ketua Program Studi {$cmb->progdi}
                </p>
                
                
            </div>
        </div>
    </div>

    <div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
        <div class="text-right">
            <button id="print" class="btn btn-light btn-outline" type="button"> <span><i class="fa fa-print"></i>
                    Print</span> </button>
        </div>

    </div>
</div>