<!-- BEGIN FORM-->
<style>
.printFormat{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
td {
    color: black;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="white-box col-md-12 printFormat printableArea" style='font-size:14px;padding: 16px 60px 32px 60px;'>
            <div class="col-md-12 text-center">
                <img src="https://www.bakrie.ac.id/images/joomlart/Logo_universitas_bakrie.png" height="32px" >
            </div>
            <br>
            <div class="col-md-12">
                <br>
                <p>Menindaklanjuti pendaftaran Calon Mahasiswa Baru Program Studi {$cmb->progdi} Universitas Bakrie : </p>
                <table width='100%' style='font-size:14px;'>
                    <tr>
                        <td width='20%' >No Pendaftaran </td>
                        <td width='1%'></td>
                        <td width='60%'>: {$cmb->no_smb}</td>
                    </tr>
                    <tr>
                        <td width='20%' >Prihal</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : Pengumuman Hasil Seleksi Penerimaan Mahasiswa Program {$cmb->prodiSingkatan} UB angkatan XV
                        </td>
                    </tr>
                </table>
                <br>
                <p>Kepada Yth. 
                    <br><b>{$cmb->nama_cm}</b>
                </p>
                <p>Dengan hormat,</p>
                <p>
                    Berdasarkan hasil seleksi dan wawancara penerimaan mahasiswa baru program Magister {$cmb->progdi} 
                    Bakrie semester {$cmb->tipePeriodeDesc} tahun akademik {$cmb->tahun}/{$cmb->tahun+1}, dengan ini kami sampaikan bahwa saudara/I 
                    <b>{$cmb->nama_cm}</b> dinyatakan <b>DITERIMA</b> sebagai mahasiswa baru Program Studi Magister Manajemen Universitas Bakrie.
                </p>
                <p>Kami mengucapkan selamat atas keberhasilan tersebut dan selamat bergabung bersama komunitas unggulan di Universitas Bakrie.</p>
                <p>Selanjutnya kami persilahkan saudara/i untuk melanjutkan proses administrasi berikutnya :
                    <ol>
                        <li>Melengkapi persyaratan administrasi/dokumen yang belum lengkap</li>
                        <li>Membayar angsuran biaya kuliah [Daftar Ulang]</li>
                        <li>Mengisi Data diri lengkap</li>
                    </ol>
                </p>
                <p>
                    Beberapa hal terkait dengan jadwal pengisian KRS, jadwal perkuliahan dan informasi lainnya akan kami sampaikan melalui email kemudian.
                </p>
                <p>Demikian pengumuman ini kami sampaikan dan terima kasih atas kepercayaan yang diberikan kepada Universitas Bakrie.</p>
                <br><br>
                <p>Hormat kami,</p>
                <br><br>
                <p>
                    <b>{$cmb->kaprodi}</b>
                    <br>Ketua Program Studi {$cmb->progdi}
                </p>
                
                
            </div>
        </div>
    </div>

    <div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
        <div class="text-right">
            <button id="print" class="btn btn-light btn-outline" type="button"> <span><i class="fa fa-print"></i>
                    Print</span> </button>
        </div>

    </div>
</div>