<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Upload File Kelengkapan Dokumen Asli atau Dokumen yang Telah Dilegalisir</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/berkas_mm/add" class="formPendidikan form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-body col-md-12">
					<div class="form-group">
						<label class="control-label col-md-5" >Foto <span class='required'>*</span>
						</label>
						<div class="col-md-6">
							{if isset($cmb->foto)}<a class="btn btn-sm" target="_blank" href='{$host}assets/upload/foto/{$cmb->foto}'>{$cmb->foto}</a>{/if}
							<span class="help-block text-danger bold"><a class="btn btn-sm btn-info profile-edit" data-toggle="modal" href="#edit-image" title='Ketentuan Foto'><i class="fa fa-info-circle"></i> Click to Upload</a></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >KTP<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="id_card" id="idcard_file"  {if isset($berkas.id_card)}hidden disabled{/if}>
							{if isset($berkas.id_card)}<a href='{$host}assets/upload/magister/{$nomor}/{$berkas.id_card}'>{$berkas.id_card}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('idcard_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Curriculume Vitae<span class='required'>*</span></label>
						<div class="col-md-6">
							
							<input type="file" name="cv" id="cv_file"  {if isset($berkas.cv)}hidden disabled{/if}>
							{if isset($berkas.cv)}<a href='{$host}assets/upload/magister/{$nomor}/{$berkas.cv}'>{$berkas.cv}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('cv_file')"><i class="fa fa-times"></i></a>{/if} 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Surat Rekomendasi <span class='required'>*</span><br><small class="text-help">Dari Dosen S1 atau Atasan</small></label>
						<div class="col-md-6">
							
							<input type="file" name="rekomendasi" id="rekomendasi_file"  {if isset($berkas.rekomendasi)}hidden disabled{/if}>
							{if isset($berkas.rekomendasi)}<a href='{$host}assets/upload/magister/{$nomor}/{$berkas.rekomendasi}'>{$berkas.rekomendasi}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('rekomendasi_file')"><i class="fa fa-times"></i></a>{/if} 
							
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Sertifikat Toefl <span class='required'>*</span></label>
						<div class="col-md-6">
							
							<input type="file" name="toefl" id="toefl_file"  {if isset($berkas.toefl)}hidden disabled{/if}>
							{if isset($berkas.toefl)}<a href='{$host}assets/upload/magister/{$nomor}/{$berkas.toefl}'>{$berkas.toefl}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('toefl_file')"><i class="fa fa-times"></i></a>{/if} 
							
						</div>
					</div>
					<div class="form-group">
						<span class="control-label col-md-5" >FORMAT : JPG | JPEG | PNG | PDF | GIF</span>
					</div>
					{if !isset($berkas.is_done)}
					<div class="alert alert-bakrie-dark">
						<input type="checkbox" name="okekah" value="setuju"> Saya menyatakan bahwa data di Atas adalah benar.
					</div>
					{/if}
				</div>
				<div class="modal-footer">
					{if !isset($berkas.is_done)}
					<button type="reset" class="btn btn-inverse waves-effect waves-light" >Reset </button>
					<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10" name='opt' value='save'>Simpan <i class="icon-ok"></i></button>
					{/if}
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="edit-image" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Change Photo</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
					<form action="{$host}portal/editProfil/edit/do" class="form-horizontal" method="post" enctype="multipart/form-data">
						<div class="form-body">
							<div class="form-group">
								<div class="form-group">
									<label class="control-label col-md-3" style="text-align:left;">Upload Foto</label>
									<div class="col-md-9">
										<input name="kode" value="{$cmb->foto}" hidden>
										<input name="page" value="dokumen" hidden>
										<input type="file" name="poto" required>
										<p class="help-block"><h4>Ketentuan upload foto :</h4></p>
										<p class="help-block">Dimohon sertakan foto dengan pakaian yang rapi dan sopan.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn blue" name="opt" value="foto">Update <i class="icon-plus"></i>
							</button>
						</div>
					</form>
				</div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
	var stsBerkas = '{$berkas.is_done}';
	if(stsBerkas == 1){
		$('.btn-danger').hide();
	}

	function onHideShow(p){

		var attr = $('#'+p).attr('hidden');

		if (typeof attr !== typeof undefined && attr !== false) {
			$('#'+p).removeAttr('hidden');
			$('#'+p).removeAttr('disabled');
		}else{
			$('#'+p).attr('hidden', true);
			$('#'+p).attr('disabled', true);
		}
	}
</script>