
<div class="row">
	<div class="col-sm-12">
		<div class="white-box ">
			<h3 class="box-title m-b-0">Bukti Pembayaran Daftar Ulang</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
		<form action="{if $data}#{else}{$host}portal/formMagisterDu/add{/if}" enctype="multipart/form-data" class="form " id="form_sample_1" method="post" >
			<div class="form-body" style="font-size:bold">
		
				{if !$data}
				<input value="{$cmb->kode_smb}" name="kode" id="kode" hidden>
				<input value="" name="id_skema" id="id_skema" hidden>
				<input value="" name="pembayaran_kode" id="pembayaran_kode" hidden>
				<!-- <input value="{$kode_pilihan_biaya}" name="kode_pilihan_biaya" id="kodePaidType" hidden> -->
				{/if}
			
				<div class="form-group row">
				   <div class="col-form-label col-3"><label>Sistem Pembayaran
						<span class="required">*</span>
				   </label></div>
				   <div class="col-9" >						  
						<select  class="form-control" name="skema_biaya" onchange="setSkemaBiaya()"  id="skema_biaya" required {if $data}disabled{/if}>
								<option value="">Pilihan sistem pembayaran</option>
								{foreach from=$ref_skema item=row}
								<option value="{$row.id}" {if $data}{if $data.skema_id eq $row.id}selected{/if}{/if}>{$row.nama_skema}</option>
								{/foreach}
						</select>
				   </div>
				</div>
			
				<div class="form-group row">
				   <div class="col-form-label col-3"><label>Metode Pembayaran
						<span class="required">*</span>
				   </label></div>
				   <div class="col-9" >						  
							  <select  class="form-control" name="bankAkun" required {if $data}disabled{/if}>
									 <option value="">{if $jenjang eq 1}Pilihan Tipe Pembayaran..{else}Select..{/if}</option>
									 {foreach from=$ref_rek item=row}
									 <option value="{$row.nomor_rek}" {if $data}{if $data.applyBankAccountType eq $row.nomor_rek}selected{/if}{/if}>{$row.nama_rek}</option>
									 {/foreach}
							  </select>
				   </div>
				</div>
				
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Jumlah Pembayaran
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="biaya form-control" name="jumlahBayar" id="jumlahBayar" value="{if $data}{$data.reapplyBankTransferAmount|number_format:0:'.':''}{/if}" readonly equired>
					</div>
				</div>	
				
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Tanggal Pembayaran
						<span class="required">*</span>
					</label>
					</div>
					<div class="col-9" >
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggalBayar"  size="16" value="{if $data}{$data.reapplyBankTransferTime|date_format:'d-m-Y'}{/if}" {if $data}disabled{/if} required>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Nama & Nomor Rekening Pengirim
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="form-control" name="nama_rek_cmb" id="nama_rek_cmb" value="{if $data}{$data.noRekPengirimDaftarUlang}{/if}" {if $data}disabled{/if} required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Bukti Pembayaran
						<span class="required">*</span>
					</label></div>
					<div class="col-9" >
						
						{if $data}
							{if $data.buktiBayarDaftarUlang}Lampiran Bukti Bayar : <a href='{$host}assets/upload/magister/{$data.nomor}/{$data.buktiBayarDaftarUlang}' target="_blank">{$data.buktiBayarDaftarUlang}</a>{/if} 
						{else}
						<input type="file" id="bukti" name="bukti" required>
						<small class="help-block">Format : PDF | JPG | JPEG | PNG | GIF </small>
						{/if}
					</div>
				</div>
				<label>Persyaratan Mahasiswa Baru Universitas Bakrie :</label>
				<br>
				<br>
				<ul type="1">
					<li>Membayar biaya pendidikan yang telah ditetapkan oleh Universitas Bakrie;</li>
					<li>Menyelesaikan persyaratan akademik dan persyaratan administrasi;</li>
					<li>Mengikuti peraturan yang berlaku di Universitas Bakrie;</li>
					<li>Apabila mengundurkan diri, biaya yang telah masuk tidak dapat dikembalikan.	</li>
				</ul>
				<br>
				{if !$data}
				<input type="radio" name="konfirm" value="setuju" required> Dengan ini saya menyatakan bersedia untuk memenuhi ketentuan-ketentuan sebagaimana telah di sebutkan di atas.
				<div class="modal-footer">
					<button type="reset" class="btn btn-inverse waves-effect waves-light"  ><i class=" icon-chevron-left"></i> Reset</button>
					<button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt">Simpan Daftar Ulang <i class="fa fa-arrow-right"></i>
				</button>
				</div>
				{/if}
			</div>
			</form>
		</div>
	</div>
</div>
<script>
{literal}
function setSkemaBiaya(){
	var param = {};
	var kode = $('#kode').val();
	var skema_selected = $('#skema_biaya').val();

	param['kode'] = kode;
	param['skema_id'] = skema_selected;

	if(param['skema_id'] !== ''){

		$.post("{/literal}{$host}{literal}portal/getSkemaBiaya", param, function(resp){
			var json = $.parseJSON(resp);
			$('#jumlahBayar').val(json.tagihan_invoice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
			$('#id_skema').val(json.id);
			$('#pembayaran_kode').val(json.pembayaran_kode);
		});
	}else{
		$('#jumlahBayar').val('');
		$('#id_skema').val('');
		$('#pembayaran_kode').val('');
	}

}
{/literal}
</script>