{if $data}
<div class="alert alert-bakrie text-center" style="background-color:green;border: 0px; padding: 24px 16px 24px 16px;">
	<div class='row row-in'>
		<div class="col-md-12">
            Jadwal wawancara Anda sedang menunggu konfirmasi dari 
            <br>Panitia Penerimaan Univierstias Bakrie.
		</div>
	</div>
</div>
{else}
<div class="alert alert-bakrie text-center" style="border: 0px; padding: 24px 16px 24px 16px;">
	<div class='row row-in'>
		<div class="col-md-12">
            Terima Kasih biaya pendaftaran formulir Anda pada 
			<br>Program {$cmb->progdi} Universitas Bakrie,
			<br>telah kami terima, silahkan mengatur Tes TPA & 
			<br>jadwal wawancara Anda
		</div>
	</div>
</div>
{/if}
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Setting Jadwal Tes & Wawancara</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/settingJadwal/add" enctype="multipart/form-data" class="form" method="post">					
					<div class="form-group row">
					   <label class="col-form-label col-4">Metode 
					   </label>
					   <div class="col-8" >							  
							  <select  class="form-control" name="metode_purpose" required {if $data}disabled{/if}>
                                <option value="">Pilih metode...</option>
                                <option value="ONSITE" {if $data}{if $data.metode_purpose eq 'ONSITE'}selected{/if}{/if}>Hadir ke Kampus 1 (Plaza Festival)</option>
                                <option value="ONLINE"{if $data}{if $data.metode_purpose eq 'ONLINE'}selected{/if}{/if} >Online Melalui Aplikasi Zoom</option>
							  </select>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-4" >Jadwal Wawancara
					   </label>
					   <div class="col-8" >
							<input value="{$cmb->kode_smb}" name="kode" hidden>
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggal_purpose" size="16" value="{$data.tanggal_purpose|default:''}" required {if $data}disabled{/if}>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-4">Jam Wawancara
						<span class="required">*</span>
					   </label>
					   <div class="col-8" >
                            <select class="form-control input-md" name="jam_purpose" required {if $data}disabled{/if}>
                                <option value="">Pilih jam...</option>
                                <option value="1" {if $data}{if $data.jam_purpose eq '1'}selected{/if}{/if}>Pagi 09-12 WIB</option>
                                <option value="2" {if $data}{if $data.jam_purpose eq '2'}selected{/if}{/if}>Siang 12-15 WIB</option>
                                <option value="3" {if $data}{if $data.jam_purpose eq '3'}selected{/if}{/if}>Sore 15-17 WIB</option>
                            </select>
					   </div>
					</div>								
					<div class="form-group row">
					   <label class="col-form-label col-4">FC Ijazah/Surat Keterangan Lulus (Legalisir)
						<span class="required">*</span>
					   </label>
					   <div class="col-8">
                            {if $data}
                            <a class='btn btn-xs btn-default' target="_blank" href="{$host}assets/upload/magister/{$cmb->no_smb}/{$data.fc_ijazah|default:''}"><i class='icon-picture'></i> File Ijazah</a>
                            {else}
							  <input type="file" id="bukti" name="fc_ijazah" required>
                              <small class="form-text text-muted">Format : PDF | JPG | JPEG | PNG | GIF</small>
                            {/if}
					   </div>
					</div>								
					<div class="form-group row">
					   <label class="col-form-label col-4">FC Transkrip Nilai (Legalisir)
						<span class="required">*</span>
					   </label>
					   <div class="col-8">
                            {if $data}
                            <a class='btn btn-xs btn-default' target="_blank" href="{$host}assets/upload/magister/{$cmb->no_smb}/{$data.fc_transkrip|default:''}"><i class='fa fa-file'></i> Transkrip nilai</a>
                            {else}
                            <input type="file" id="bukti" name="fc_transkrip" required>
                            <small class="form-text text-muted">Format : PDF | JPG | JPEG | PNG | GIF</small>
                            {/if}
					   </div>
					</div>
					
					<div class="alert alert-bakrie-dark">
					<input type="checkbox" name="okekah" value="setuju" {if $data}checked{/if} required>
					Saya bersedia hadir & mengikuti proses seleksi Program Studi {$cmb->progdi} Universitas Bakrie
							 
                    </div>
                    
					<div class="offset-sm-9 col-sm-3" {if $data}hidden{/if}>
						<button type="reset" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">Reset</button>
						<button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt"> Simpan <i class="fa fa-save"></i></button>
					</div>
			</form>
		</div>
	</div>
</div>