
<!-- BEGIN FORM-->
<div class="row">
	<div class="col-md-12">
		<div class=" col-md-12">
			<div class="invoice">
			</div>
			<div class="col-md-12 white-box printFormat printableArea" style="background-color:#fff;padding:32px;">
		
				<div class="col-md-12">
					<div class="col-md-6 text-right">
						<img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/>
					</div>
					<div class="col-md-6 text-left" style="text-align: center;">
						<h4>| INVOICE DAFTAR ULANG</h4>
					<br>
					<br> 
				</div>
				<div class="col-md-12">
					<div class="col-md-3" style="text-align:right;"><label>Nama Siswa</label></div>
					<div class="col-md-9">
						<label>: {$cmb->nama_cm}</label>
						<input type="hidden" value="{$cmb->kode_smb}" id="kode"> 
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-3" style="text-align:right;"><label>Nomor Registrasi</label></div>
					<div class="col-md-9">
						<label>: {$cmb->no_smb}</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-3" style="text-align:right;"><label>Program Studi</label></div>
					<div class="col-md-9">
						<label>: {$cmb->progdi}</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-3" style="text-align:right;"><label>Batas Pembayaran</label></div>
					<div class="col-md-9">
						<label>: {$cmb->tanggal_daftar_ulang|date_format:"%d-%m-%Y"}</label>
						<br>
						<br>
					</div>
				</div>
				<div class="col-md-12">
				
				<!-- <div class="col-md-1" ></div> -->
				<div class="col-md-12" style="padding: 0px 64px 0px 64px;"><label>*) Silahkan pilih skema pembayaran yang anda inginkan</label></div>
				<div class="col-md-12" style="padding: 0px 64px 0px 64px;">	
					<div class="" >
						<select class="col-sm-12"  onchange="setSkemaBiaya()"  id="skema_biaya"  style="background-color:#c50306;color:#fff;padding:4px;" {if $data.stsReapplyPaid eq 1 }disabled{/if}>
							{foreach from=$ref_skema item=row}
								<option value="{$row.id}" {if $data.stsReapplyPaid eq 1 }{if $data.skema_id eq $row.id}selected{/if}{/if}>{$row.nama_skema}</option>
							{/foreach}
						</select>
					</div>

					<a class="man list-group-item" style="background-color:#fff;padding:4px;">
						<label class="col-md-4" style="text-align:right;">Pembayaran Semester 1</label><label>: Rp <font class="biaya_pertama"> 0</font></label>
					</a>
					<a class="man list-group-item" style="background-color:#fff;padding:4px;">
						<label class="col-md-4" style="text-align:right;">Potongan</label><label>: Rp <font class="biaya_potongan"> 0</font></label>
					</a>
						
					
					<a class="man list-group-item bg-grey" style="background-color:#7a7979;color:#fff;padding:4px;">
						<label class="col-md-4" style="text-align:right;">Total Pembayaran Daftar Ulang</label>
						<label>:
							Rp <font class="biaya_tagihan_1"> 0</font>
						</label>
					</a>
					<br>
					<label  style="padding:4px;text-align: center;">
						<font class="jumlah_angsuran"></font>
					</label>
					
				</div>
				<!-- <div class="col-md-1"></div> -->
				
				<div class="col-md-3" style="text-align:right;padding-left:64px;"><br><label>Pembayaran dapat ditransfer melalui Rekening :</label></div>
				<div class="col-md-9"><br><label  style="background-color:#fff;padding:8px;border: 3px solid #adadad;border-radius: 8px;">
					Bank Permata ,A/N Universitas Bakrie, 070.162.7415 <br>
					Bank BCA, A/N Yayasan Pendidikan Bakrie, 5055.026464  <br>
					Bank Mandiri Syariah, A/N Yayasan Pendidikan Bakrie, 065.001.515.7 <br>
					Bayar diloket Universitas Bakrie</label>
				</div>
				
				<div class="col-md-6" style="padding-left:64px;padding-top:24px;">
					<small>Biaya sudah termasuk Biaya Daftar Ulang, Jaket Almamater
						<br>Registrasi/Semester, BPP dan Biaya SKS selama 4 Semester
					</small>
					<br><br>
					<small>Biaya belum termasuk Biaya Sidang Tesis & Wisuda</small>
				</div>
				
			</div>
		</div>
		</div>

		<div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
			<div class="text-right">
				<button id="print" class="btn btn-light btn-outline" type="button"> <span><i class="fa fa-print"></i>
						Print</span> </button>
			</div>
	
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		setSkemaBiaya();
	});

	{literal}
	function setSkemaBiaya(){
		var param = {};
		var kode = $('#kode').val();
		var skema_selected = $('#skema_biaya').val();
	
		param['kode'] = kode;
		param['skema_id'] = skema_selected;
	
		if(param['skema_id'] !== ''){
	
			$.post("{/literal}{$host}{literal}portal/getSkemaBiaya", param, function(resp){
				var json = $.parseJSON(resp);
				$('.biaya_pertama').html(json.tagihan_1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				$('.biaya_tagihan_1').html(json.tagihan_invoice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				$('.biaya_potongan').html(json.potongan.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				if(json.jumlah_angsuran == '4'){
					$('.jumlah_angsuran').html("Pembayaran semester 2 s.d 4 : Rp "+ json.tagihan_angsuran.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
				}else if(json.jumlah_angsuran == '24'){
					$('.jumlah_angsuran').html("Pembayaran ke 2 s.d 24 : Rp "+ json.tagihan_angsuran.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
				}else{
					$('.jumlah_angsuran').html('');
				}
			});
		}else{
			$('#jumlahBayar').val('');
			$('#id_skema').val('');
			$('#pembayaran_kode').val('');
		}
	
	}
	{/literal}
	</script>