<!-- BEGIN FORM-->
<style>
.printFormat{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
td {
    color: black;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="white-box col-md-12 printFormat printableArea" style='font-size:14px;padding: 32px 60px 32px 60px;'>
            <div class="col-md-12">
                Kepada Yth.
                <img src="https://www.bakrie.ac.id/images/joomlart/Logo_universitas_bakrie.png" height="32px" class="pull-right">
                <br>Sdr/I {$cmb->nama_cm}
                <br>di Tempat
                <br>Dengan hormat,

            </div>
            <div class="col-md-12">
                <br>
                <p>Menindaklanjuti pendaftaran Calon Mahasiswa Baru Program Studi {$cmb->progdi} Universitas Bakrie : </p>
                <table width='100%' style='font-size:14px;'>
                    <tr>
                        <td width='20%' >Nama </td>
                        <td width='1%'></td>
                        <td width='60%'>: {$cmb->nama_cm}</td>
                    </tr>
                    <tr>
                        <td width='20%' >PT Asal</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : {$cmb->lulusAsal}
                        </td>
                    </tr>
                    <tr>
                        <td width='20%' >Program/Jurusan</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : {$cmb->jurusanAsal}
                        </td>
                    </tr>
                    <tr>
                        <td width='20%' >Tahun Lulus</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : {$cmb->tahunLulus}
                        </td>
                    </tr>
                </table>
                <br>
                <p>kami mohon kehadirannya untuk hadir dalam tahapan Wawancara dengan Ketua Program Studi {$cmb->progdi} dengan jadwal sebagai berikut : </p>
                
                <table width='100%' style='font-size:14px;'>
                    <tr>
                        <td width='20%' >Hari/Tanggal </td>
                        <td width='1%'></td>
                        <td width='60%'>: {$wwn.tanggal_acc|date_format:'%A'}/{$wwn.tanggal_acc|date_format:'%d-%m-%Y'}</td>
                    </tr>
                    <tr>
                        <td width='20%' >Pukul</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : {if $wwn.jam_acc eq 1}Pagi 09-12 WIB {elseif $wwn.jam_acc eq 2}Siang 12-15 WIB {elseif $wwn.jam_acc eq 3}
                            Sore 15-17 WIB
                            {/if}

                        </td>
                    </tr>
                    <tr>
                        <td width='20%' >Tempat</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : {if $wwn.metode_acc eq 'ONSITE'}Kampus 1 (Plaza Festival){else}Online melalui Aplikasi Zoom{/if}
                        </td>
                    </tr>
                </table>
                <br>
                <p>*) Peserta dapat hadir diantara waktu yang telat ditentukan antara jam 09.00 s.d 18.00 WIB atau silahkan
                    memberikan usulan jadwal sesuai dengan jadwal calon mahasiswa
                </p>
                <br>
                <p>Informasi lebih lanjut dapat menghubungi : </p>
                <table width='100%' style='font-size:14px;'>
                    <tr>
                        <td width='20%' >HP </td>
                        <td width='1%'></td>
                        <td width='60%'>: 0813-13-777-900</td>
                    </tr>
                    <tr>
                        <td width='20%' >Tlp</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : 021-52161448 ext. 114

                        </td>
                    </tr>
                    <tr>
                        <td width='20%' >Email</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : anwar.muslim@bakrie.ac.id
                        </td>
                    </tr>
                    <tr>
                        <td width='20%' >Web</td>
                        <td width='1%'></td>
                        <td width='60%'>
                            : http://mm.bakrie.ac.id
                        </td>
                    </tr>
                </table>
                <br><p>Demikian disampaikan, atas perhatiannya kami ucapkan terima kasih.<br>Salam</p>
                
                
            </div>
        </div>
    </div>

    <div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
        <div class="text-right">
            <button id="print" class="btn btn-light btn-outline" type="button"> <span><i class="fa fa-print"></i>
                    Print</span> </button>
        </div>

    </div>
</div>