
	<div class="well" style="font-size:12px;background-color:#e6e6e6;color:black;">            
		<table  style="font-size:12px;background-color:#e6e6e6;color:black;padding:32px;">
			<tr>
				<td>Nama </td>
				<td >: {$jadwal->namaCmb}</td>
			</tr>
			<tr>
				<td>Nomor Formulir</td>
				<td >: {$jadwal->nomor}</td>
			</tr>
			<tr>
				<td>Program Studi</td>
				<td >: {$jadwal->progdi}</td>
			</tr>
			<tr>
				<td>Jalur Seleksi</td>
				<td >: {$jadwal->jalur_penerimaan}</td>
			</tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'><b>Tanggal Ujian</b></td></tr>
			<tr>
				<td  colspan='2' style="border: 1px solid;padding: 4px;" >{$jadwal->hari}, {$jadwal->days} {$jadwal->bulan} {$jadwal->tahun}</td>
			</tr>
			<tr>
				<td  colspan='2' style="border: 1px solid;padding: 4px;">{$jadwal->jamMasuk} - {$jadwal->jamKeluar}</td>
			</tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'><b>Lokasi Ujian</b></td></tr>
			<tr>
				<td  colspan='2' style="border: 1px solid;padding: 4px;">
					{$jadwal->namaGedung}, {$jadwal->namaRuang}<br>
					Universitas Bakrie, Kawasan Rasuna Epicentrum <br>
					{$jadwal->prop}, {$jadwal->kabKota} <br>
					{$jadwal->alamat}, {$jadwal->kodePos}
				</td>
			</tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'><b>Materi Ujian Tes :</b></td></tr>
			<tr><td colspan='2'>1. Bahasa Inggris & Matematika</td></tr>
			<tr><td colspan='2'>2. IPA Terpadu / IPS Terpadu</td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'></td></tr>
			<tr><td colspan='2'>Peserta berpakaian rapi dan sopan,</li>
			<tr><td colspan='2'>Peralatan yang wajib dibawa saat tes :</li>
			<tr><td colspan='2'>Pensi 2B, Penghapus, Rautan Pensil,</li>
			<tr><td colspan='2'>Clipboard (Papan Jalan)</li>
		</table>
	</div>