<div id='header'>
	<table width="100%">
		<tr>
			<td align='left'>
				<img src='{$host}assets/files/logo_bakrie.png' style='margin-top:0px;margin-right:0px;height:45px'><br/>
			</td>
			<td align='left' >
				<font style='font-size:18px;margin-top:0px;margin-left:30px;'>
					<h4>| Kartu Tanda Peserta Seleksi</h4>
				</font>
			</td>
		</tr>
	</table>
</div> 