<div class="portlet-body form">
    <form class="formSeleksi form-horizontal" role="form" method="post" action="#">
    	<input type="text" value="{$kode}" name="kode" hidden>
        <div class="form-body">
            {*<div class="form-group">
                <label class="col-md-3">Follow Up </label>
                <div class="col-md-4">
                    <select class="form-control" name="sales">
                        <option>-</option>
                        {foreach from=$sales item=row}
                        <option value="{$row.id}" {if $data}{if $data.followup eq $row.id}selected{/if}{/if}>{$row.nama}</option>
                        {/foreach}
                    </select>
                </div>
            </div> *}
            {if $level eq '99'}
            <div class="form-group">
                <label class="col-md-3">EDU</label>
                <div class="col-md-4">
                    <select class="form-control" name="edu">
                        <option>-</option>
                        {foreach from=$edu item=row}
                        <option value="{$row.username}" {if $data}{if $data.edu eq $row.username}selected{/if}{/if}>{$row.username}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            {else}
            <input name='edu' value='{$data.edu|default:""}' type='hidden'>
            {/if}
            <div class="form-group">
                <label class="col-md-3">Status</label>
                <div class="col-md-4">
                    <select class="form-control" name="ods">
                        <option>-</option>
                        {foreach from=$followup item=row}
                        <option value="{$row.id}" {if $data}{if $data.ods eq $row.id}selected{/if}{/if}>{$row.followup}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Note</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="ket_ods">{if $data}{$data.ket_ods}{/if}</textarea>
                </div>
            </div>
            {*
            <div class="form-group">
                <label class="col-md-3">OH</label>
                <div class="col-md-4">
                    <select class="form-control" name="oh">
                        <option>-</option>
                        {foreach from=$followup item=row}
                        <option value="{$row.id}" {if $data}{if $data.oh eq $row.id}selected{/if}{/if}>{$row.followup}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Ket. OH</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="ket_oh">{if $data}{$data.ket_oh}{/if}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">PELUNASAN</label>
                <div class="col-md-4">
                    <select class="form-control" name="pelunasan">
                        <option>-</option>
                        {foreach from=$attempt item=row}
                        <option value="{$row.id}" {if $data}{if $data.pelunasan eq $row.id}selected{/if}{/if}>{$row.attempt}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Ket. PELUNASAN</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="ket_pelunasan">{if $data}{$data.ket_pelunasan}{/if}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                   <div class="checkbox-list">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="sejuta" name="sejuta" {if $data}{if $data.sejuta eq 1}checked{/if}{/if}> Bayar 1 Juta
                        </label>
                        <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="pelunasan" name="lunas" {if $data}{if $data.islunas eq 1}checked{/if}{/if}> Pelunasan
                        </label>
                   </div>
                </div>
             </div>
             *}
        </div>
        {if $opt neq "view"}
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <input name="submit" value="submit" hidden>
                <button type="submit" class="btn green" id="postData" >Submit</button>
                <!--<button type="cancel" class="btnHide btn default">Cancel</button>-->
            </div>
        </div>
        {/if}
    </form>
</div>

<script>
{literal}
$(".formSeleksi").submit( function() {	
		$('body').loading('start');
		$.post("{/literal}{$host}{literal}smb/telemarketing/save",$(this).serialize(),function(resp){
			$('body').loading('stop');
			val = "{/literal}{$kode}{literal}";
			$.post("{/literal}{$host}{literal}smb/telemarketing/form",{
				'kode': val,
				'opt': "view"
					},function(resp){
					$('#form_load').html(resp);
				}); 
		});
		return false;
		
	});
	
{/literal}
</script>