<div class="portlet card" style="margin-top:15px">
    <div class="portlet-title">
        <div class="caption">HASIL SELEKSI CALON MAHASISWA BARU : {$total->total} Calon Mahasiswa Baru</div>
        <!-- <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div> -->
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-advance table-bordered table-striped table-condensed flip-content" id="tele_table">
            <thead class="flip-content">
                <tr>
                    <th width="1%">Tanggal Diubah</th>
                    <th width="1%">Tanggal Daftar</th>
                    <!-- <th width="1%">FOLLOW UP</th> -->
                    <!-- <th width="1%">CGTS</th> -->
                    <th width="5%">NAMA CMB</th>
                    <th width="10%">NO. TELEPON</th>
                    <th>PRODI</th>
                    <th width="5%">EDU</th>
                    <th width="5%">ODS</th>
                    <th width="10%">STATUS</th>
                    <th width="25%"></th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td><label>{$row->tele_date_update|date_format:'%d/%m/%y %H:%M:%S'}</label></td>
                    <td><label>{$row->tglDaftar|date_format:'%d/%m/%y %H:%M:%S'}</label></td>
                    <!-- <td><label>{$row->sales}</label></td> -->
                    <!-- <td><label>{$row->cgts}</label></td> -->
                    <td><label>{$row->nama_cm}</label></td>
                    <td><label>{$row->rumahCell}</label></td>
                    <td><label>{$row->progdi}</label></td>
                    <td><label>{$row->edu}</label></td>
                    <td><label>{$row->ods}</label></td>
                    <td><label>{$row->status_pay}</label></td>
                    <td>
                        <a  id="edit" value="{$row->kode_smb}" href="#form_seleksi" onclick="display_form('{$row->kode_smb}', 'edit')" data-toggle="modal" class="btn blue btn-xs black"></i>Edit</a> 
                        <a  id="view" value="{$row->kode_smb}" href="#form_seleksi" onclick="display_form('{$row->kode_smb}', 'view')" data-toggle="modal" class="btn green btn-xs black"></i>View</a>
                        {if $row->edu eq ''}
                        <a  id="setEdu" value="{$row->kode_smb}"  onclick="submitEdu('{$row->kode_smb}')"  class="btn yellow btn-xs"></i>SET EDU</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
			   
<div class="modal fade" id="form_seleksi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog  modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Telemarketing Form</h4>
            </div>
            <div class="modal-body">
                <div id="form_load"></div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script>
jQuery(document).ready(function() {
    $('#tele_table').dataTable({
        // "bSort": false
        "aaSorting":[]
    });
}); 
{literal}

function display_form(val, opt){
	$.post("{/literal}{$host}{literal}smb/telemarketing/form", {'kode': val,'opt': opt}, function(resp) {
		$('#form_load').html(resp);
	});
	
}

function submitEdu(kode){
    $.post("{/literal}{$host}{literal}registrasi/setEdu", {'kode': kode}, function(resp) {
		location.reload();
	});
}


{/literal}
</script>
