<div class="row">
  <div class="col-md-12 article-block">
     <h4>Silahkan isi data formulir dengan lengkap untuk mendaftar di Universitas Bakrie.</h4>
     <h4>Tahapan pendaftaran sebagai berikut :</h4>

     <!--end news-tag-data-->
     <div>
        <blockquote class="hero">
           <p>1. Login ke sistem pendaftaran <i>online</i> bakrie dengan <i>user name</i> dan <i>password</i> yang telah didaftarkan. </p>
        <!-- <small>Someone famous <cite title="Source Title">Source Title</cite></small> -->
            <p>2.   Mengisi data formulir pendaftaran, memilih program studi yang diinginkan, hingga mengupload foto pribadi dan bukti pembayaran.</p>
            <p>3.   Mencetak kartu peserta.</p>
            <p>4.   Mengikuti ujian bakrie sesuai jadwal.</p>
            <p>5.   Cek Kelulusan sesuai jadwal pengumuman hasil seleksi.</p>
        </blockquote>
     </div>  
     <h4>Untuk memudahkan proses pendaftaran registrasi online silahkan siapkan data berikut :</h4>
     <div>
        <blockquote class="hero">
           <p>1. <i>File</i> Foto (ukuran tidak lebih dari 1MB) posisi horizontal/portrait, wajah tampak jelas.</p>
        <!-- <small>Someone famous <cite title="Source Title">Source Title</cite></small> -->
            <p>2.   <i>File</i> Scan bukti pembayaran uang ujian untuk di <i>upload</i> pada form registrasi.</p>
            <p>3.   Pastikan alamat <i>e-mail</i> yang diinput adalah akun aktif, karena semua informasi dan komunikasi akan disampaikan melalui <i>e-mail</i>.  Selalu cek <i>e-mail</i> untuk pemberitahuan dari panitia seleksi mahasiswa baru</p>
            <p>4.   Pastikan nomor telpon/handphone yang diberikan adalah nomor aktif untuk memudahkan validasi data</p>
        </blockquote>
     </div>
     <h4>Silahkan isi data diri anda pada form pendaftaran <a href="registrasiForm">Admission</a></h4>
     <hr>
     <h4>Informasi tentang Seleksi Mahasiswa Baru (SMB) bakrie silakan klik <a href="www.bakrie.ac.id" target="blank">www.bakrie.ac.id</a> atau email ke admission@bakrie.ac.id</h4>
  </div>
  <!--end col-md-9-->
</div>