   <!-- BEGIN FORM-->
<form action="{$host}registrasi/formRegistrasi" enctype='multipart/form-data' class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
    <div class="portlet box white">
        <div class="portlet-body form" style="border-top: 1px double #4682B4;">
            <div class="form-body">
				<h4 class="form-section" style="margin-left: 25px;margin-top: 35px;">Lengkapi data di bawah ini dengan benar :</h4>
                <!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 16px;margin-top: 12px;">Registrasi</h3> -->
                <!-- <h4 class="form-section" style="margin-left:25px;">Pilihan Seleksi</h4> -->
                <div class="alert alert-error display-hide">
                    <button class="close" data-dismiss="alert"></button>
                    You have some form errors. Please check below.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-dismiss="alert"></button>
                    Your form validation is successful!
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <label class="control-label col-md-3">Jenjang studi  -->
                        <!-- <span class="required">*</span> -->
                    <!-- </label> -->
                    <!-- <div class="col-md-8"> -->
                        <!-- <select class="form-control" name="jenjang" id="jenjang" required> -->
                            <!-- <option value="">Pilih jenjang studi</option> -->
                            <!-- <option value="1">S1 (Sarjana)</option> -->
                            <!-- <option value="2">S2 (Pasca Sarjana)</option> -->
                        <!-- </select> -->
                    <!-- </div> -->
                <!-- </div> -->
                <div class="form-group">
                    <label class="control-label col-md-3">Nama lengkap
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
						<div class="input-icon">
                            <i class="icon-user"></i>
							<input type="text" placeholder="Nama Lengkap" class="form-control placeholder-no-fix" name="name"  required/>
                        </div>
						<span class="help-block">Sesuai dengan Akte/Ijazah terakhir</span>
                    </div>
                </div>
				<div class="form-group">
					<label class="control-label col-md-3">Nomor handphone
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="icon-tag"></i>
							<input type="text" placeholder="No. HP" class="form-control"  name="no_hp" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Email
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="icon-envelope"></i>
							<input type="email" placeholder="email" class="form-control placeholder-no-fix" name="email" id="email" required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Password
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="icon-key"></i>
							<input type="password" placeholder="Password" class="form-control" name="password" id="password" required/>
						</div>
					</div>
				</div><div class="form-group">
					<label class="control-label col-md-3">Tahun Lulus
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="icon-tag"></i>
							<input type="text" placeholder="Tahun lulus.." class="form-control"  name="tahun_lulus" id="tahun_lulus" onchange="getJalur()" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Asal Sekolah
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div class="input-icon">
							<!-- <i class="icon-tag"></i> -->
							<input type="text" placeholder="" class="form-control"  name="asal_sma" id="asal_sma" required>
							<input type="text"  name="kode_periode" id="kode_periode" hidden>
						</div>
					</div>
				</div>
                <div class="form-group">
                    <label class="control-label col-md-3">Jurusan
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="jurusan" id="jurusan" required>
							<option value="">Select..</option>
							<option value="IPA">IPA</option>
							<option value="IPS">IPS/Bahasa</option>
							<option value="SMK">SMK</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Pilihan Program studi 1
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="prodi" id="prodi" onchange="jalur()" required>

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Pilihan Program studi 2
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="prodi2" id="prodi2" required>

                        </select>
                    </div>
                </div>
				
                <div class="form-group">
                    <label class="control-label col-md-3">Jalur Seleksi
                        <span class="required">*</span>
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="jalur_penerimaan" id="jalur_penerimaan" required>
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group"> -->
                    <!-- <label class="control-label col-md-3">Jalur seleksi -->
                        <!-- <span class="required">*</span> -->
                    <!-- </label> -->
                    <!-- <div class="col-md-8"> -->
                        <!-- <select class="form-control" name="jalur" id="jalur" required> -->
                        <!-- </select> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <h4 class="form-section" style="margin-left:25px;">Data Pribadi</h4> -->
				<!-- <div class="form-group" hidden> -->
					<!-- <label class="control-label col-md-3">Nilai Rapor -->
						<!-- <span class="required">*</span> -->
					<!-- </label> -->
					<!-- <div class="col-md-4"> -->
						<!-- <div class="input-icon"> -->
							<!-- <i class="icon-tag"></i> -->
							<!-- <input type="text" placeholder="Nilai rapor terakhir" class="form-control"  name="rapor"  > -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="form-group"> -->
					<!-- <label class="control-label col-md-3">Alamat -->
						<!-- <span class="required">*</span> -->
					<!-- </label> -->
					<!-- <div class="col-md-8"> -->
						<!-- <textarea rows="3" name="occupation" placeholder="Alamat Sekarang" class="form-control placeholder-no-fix" required></textarea> -->
					<!-- </div> -->
				<!-- </div> -->
					<!-- <div class="form-group"> -->
						<!-- <label class="control-label col-md-3">Recaptcha -->
							<!-- <span class="required">*</span> -->
						<!-- </label> -->
						<!-- <div class="col-md-8"> -->
							<!-- <div class="g-recaptcha" data-sitekey="6LcA7TcUAAAAABLL00uQF7QuxsUT0TqM-MwyIVcH"></div> -->
						<!-- </div> -->
					<!-- </div> -->
				<div class="form-actions fluid">
					<div class="col-md-offset-3 col-md-10">
						<button type="reset" class="btn blue">Reset</button>
						<button type="submit" class="btn green">Submit</button>
						<button type="button" class="btn default">Cancel</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</form>

							  
			
<!-- BEGIN GOOGLE RECAPTCHA -->
<script type="text/javascript">
{literal}
function prodi() {
	var jurusan = $('#jurusan').val();
    $.post("{/literal}{$host}{literal}registrasi/selectProdi",{
					'jenjang':1,'jurusan':jurusan				
				},function(resp){
                $('select#prodi').html(resp);
				$('select#prodi2').html(resp);
            });
}

function getJalur(){
    $.post("{/literal}{$host}{literal}registrasi/selectJalurPenerimaan",{
			'tahun':$('#tahun_lulus').val()				
		},function(resp){
		if(resp == 0){
			alert('Tahun lulus Anda tidak bisa mendaftar!');
		}else{
			$('select#jalur_penerimaan').html(resp);
		}
	});
	
}

function jalur() {
    $.post("{/literal}{$host}{literal}registrasi/selectJalur",{
					'prodi':$('#prodi').val()				
				},function(resp){
                <!-- $('select#jalur').html(resp); -->
				$('#kode_periode').val(resp);
            });
}
{/literal}

$(document).ready(function(){
	prodi();
	jalur();
});

$("#jenjang").change(function(){
	prodi();
	jalur();
});

<!-- $("#prodi").change(function(){ -->
	<!-- jalur() -->
<!-- }); -->

$("#jurusan").change(function(){
	prodi()
});
</script>