   <!-- BEGIN FORM-->
<div class="portlet light card">
	<h2 class="text-center">{$title}</h2>
	<div class="portlet-body form" >
		<form action="{$host}registrasi/submitFormMagister" class="form-horizontal" id="form_sample_1" method="post">
            <div class="form-body">
				<h4 class="form-section" style="margin-left:25px;">Lengkapi data di bawah ini dengan benar :</h4>
				<!-- <div class="col-md-offset-3"> -->
                <!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 16px;margin-top: 12px;">Registrasi</h3> -->
					<div class="alert alert-error display-hide">
						<button class="close" data-dismiss="alert"></button>
						You have some form errors. Please check below.
					</div>
					<input name="jenjang" value="2" type="hidden">
					<div class="alert alert-success display-hide">
						<button class="close" data-dismiss="alert"></button>
						Your form validation is successful!
					</div>
					<!-- <div class="form-group"> -->
						<!-- <label class="control-label col-md-3">Major -->
							<!-- <span class="required">*</span> -->
						<!-- </label> -->
						<!-- <div class="col-md-8"> -->
							<!-- <select class="form-control" name="jenjang" id="jenjang" required> -->
								<!-- <option value="">Select..</option> -->
								<!-- <option value="1">Bachelor</option> -->
								<!-- <option value="2">Master</option> -->
							<!-- </select> -->
						<!-- </div> -->
					<!-- </div> -->
					<div class="form-group">
						<label class="control-label col-md-3">Program Studi Pilihan
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<select class="form-control" name="prodi" id="prodi" required>

							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Nama Lengkap
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<div class="input-icon">
								<i class="icon-user"></i>
								<input type="text" placeholder="Nama lengkap " class="form-control placeholder-no-fix" name="name"  required/>
							</div>
							<span class="help-block">According to the Bachelor certificate</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Nomor Handphone
							<span class="required">*</span>
						</label>
						<div class="col-md-4">
							<div class="input-icon">
								<i class="icon-screen-smartphone"></i>
								<input type="text" placeholder="Nomor handphone" class="form-control"  name="no_hp" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Email
							<span class="required">*</span>
						</label>
						<div class="col-md-4">
							<div class="input-icon">
								<i class="icon-envelope"></i>
								<input type="email" placeholder="email" class="form-control placeholder-no-fix" name="email" id="email" required/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Password
							<span class="required">*</span>
						</label>
						<div class="col-md-4">
							<div class="input-icon">
								<i class="icon-key"></i>
								<input type="password" placeholder="Password" class="form-control" name="password" id="password" required/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Tahun Lulus
							<span class="required">*</span>
						</label>
						<div class="col-md-4">
							<div class="input-icon">
								<i class="icon-calendar"></i>
								<input type="text" placeholder="tahun lulus" class="form-control"  name="tahun_lulus" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">PTN/PTS asal
							<span class="required">*</span>
						</label>
						<div class="col-md-6">
							<div class="input-icon">
								<i class="icon-tag"></i>
								<input type="text" placeholder="PTN/PTS asal" class="form-control"  name="ptn_asal" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Program Studi Asal
							<span class="required">*</span>
						</label>
						<div class="col-md-6">
							<div class="input-icon">
								<i class="icon-tag"></i>
								<input type="text" placeholder="Program studi asal" class="form-control"  name="prodi_asal" required>
							</div>
						</div>
					</div>
					<!-- <div class="form-group"> -->
						<!-- <label class="control-label col-md-3">Recaptcha -->
							<!-- <span class="required">*</span> -->
						<!-- </label> -->
						<!-- <div class="col-md-8"> -->
							<!-- <div class="g-recaptcha" data-sitekey="6LcA7TcUAAAAABLL00uQF7QuxsUT0TqM-MwyIVcH"></div> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
			</div>
			<div class="form-actions">
				<div class="col-md-offset-3 col-md-8">
					<button type="reset" class="btn blue">Reset</button>
					<button type="submit" class="btn green">Submit</button>
					<button type="button" class="btn default">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
		
<script>
{literal}
function prodi() {
    $.post("{/literal}{$host}{literal}registrasi/selectProdiS2",function(resp){
		$('select#prodi').html(resp);
	});
}

// $("#prodi").change(function(){
// 	$.post("{/literal}{$host}{literal}registrasi/cekPeriodeAktif",{
// 			'prodi':$(this).val()				
// 		},function(resp){
// 			if(resp == 0){
// 				$("#prodi").val("");
// 				alert("Sorry, this major/concentration not in active session!");
// 			}
// 			<!-- $('select#prodi').html(resp); -->
// 	});
// });
{/literal}

$(document).ready(function(){
	prodi();
});

$("#jenjang").change(function(){
	prodi();
});

</script>