<div class="page-header-top" style="background:#85171a;">
        <div class="container">
        <!-- BEGIN TOP NAVIGATION BAR -->
			<div class="page-logo">
					<a href="{$host}"><img src="https://www.bakrie.ac.id/images/joomlart/Logo_universitas_bakrie.png" alt="logo" class="logo-default" class="img-responsive" style="margin-top:20px;margin-bottom:20px;"></a>
			</div>
        <!-- END TOP NAVIGATION BAR -->
		</div>
</div>