<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>

{if $tipe_grid eq 'telemarketing'}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-3" >
			<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
				{foreach name=lope from=$periode item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-2" >
			<select class="form-control" name="gelombang" id="gelombang" onchange="doSelect('{$tipe_grid}', '', '')">
				<option value="all">Semua Gelombang</option>
				{foreach name=lope from=$gelombang item=row}
				<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-2" >
			<select class="form-control" name="jalur" id="jalur" onchange="doSelect('{$tipe_grid}', '', '')">
				<option value="all">Semua Jalur</option>
				<option value="TULIS">Jalur Tes Tulis</option>
				<option value="RAPOR">Jalur Rapor</option>
				<option value="ODS">ODS Online</option>
			</select>
		</div>
		<div class="col-md-3" >
			<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
				<option value="all">Semua Prodi</option>
				{foreach name=lope from=$prodi item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-2" >
			<input id="nama" class="form-control" placeholder="Search..." style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
		</div>
	</div>
</div>
<hr>
{/if}

{if $tipe_grid eq 'invent'}
<div class="row">
	<div class="col-md-12 ">
		<form method="POST" action="{$host}laporan/upload_invent" enctype="multipart/form-data">
		  <div class="form-group" >
			<label for="exampleInputEmail1" class='col-md-2'>UNGGAH FILE EXCEL</label>
			<div class=" col-md-6">
				<input type="file" name="userfile" class="form-control">
			</div>
			<div class=" col-md-2">
				<button type="submit" class="btn btn-sm btn-success">Upload Dok</button>
			</div>
			<div class=" col-md-2">
				<a class="btn btn-sm btn-info" href='{$host}assets/lampiran/template_data_invent.xlsx' target="_blank">File template .xls</a>
			</div>
		  </div>
		</form>
	</div>
</div>
<hr>
{/if}
<div id="div_{$tipe_grid}" style="width:100%">
	<div id='toolbar_{$tipe_grid}' style='padding:5px;height:45px'>	 
		{if $tipe_grid eq 'invent'}
		<div class="col-md-12">
			<div class="col-md-4" >
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, sekolah..." style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
			<div class='col-md-1 text-left' style="margin-left: -25px;">
				<button class='btn btn-sm ' id='btn_search' id='search_invent' ><i class='icon-search'></i> Search</button>
			</div>
			<div class='col-md-1 text-left' style="margin-top: 0px;">
				<button class='btn btn-sm btn-info' id='edit_invent' data-toggle="modal" data-target="#form_invent"><i class='icon-pencil'></i> EDIT</button>
			</div>
		</div>
		{/if}           
		{if $tipe_grid eq 'cmb'}
		<div class="col-md-12">
			<div class="col-md-3" >
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2" >
				<select class="form-control" name="gelombang" id="gelombang" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2" >
				<select class="form-control" name="jalur" id="jalur" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Jalur</option>
					<option value="TULIS">Jalur Tes Tulis</option>
					<option value="RAPOR">Jalur Rapor</option>
					<option value="ODS">ODS Online</option>
				</select>
			</div>
			<div class="col-md-3" >
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2" >
				<input id="nama" class="form-control" placeholder="Search..." style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
		</div>
		{/if}	           
	</div>
	
	<div id='{$tipe_grid}'></div>
</div>
{if $tipe_grid eq 'cmb'}
<br>
<div id="btnDownload">
	<a href="{$host}smb/exportToExcel/calonSmb/{$periode_aktif}/all/all/all" id ="downloadLink" class="btn btn-sm green  black" style="margin-bottom: 12px;"><i class="icon-download-alt"></i> Download Laporan xls</a>
	<a href="{$host}smb/exportToCsv/calonSmb/{$periode_aktif}/all/all/all" id ="downloadLinkCsv" class="btn btn-sm default  black" style="margin-bottom: 12px;"><i class="icon-download-alt"></i> Download Laporan csv</a>
</div>
{/if}
<script>
	
	$('#div_{$tipe_grid}').css('height',(getClientHeight()));
	genGrid('{$tipe_grid}', '', '', '{$p1}', '{$p2}');

	var per = $('#periode').val();
	var gel = $('#gelombang').val();

	{literal}	
	var downLink = '{/literal}{$host}{literal}smb/exportToExcel/calonSmb/'+per+'/all/all/'+gel;
	var downLinkCsv = '{/literal}{$host}{literal}smb/exportToCsv/calonSmb/'+per+'/all/all/'+gel;

	$("#downloadLink").attr("href", downLink);
	$("#downloadLinkCsv").attr("href", downLinkCsv);

	$("#periode,#jalur,#prodi").change(function(e){
		e.preventDefault();
		var periode = $('#periode').val();
		var jalur = $('#jalur').val();
		var prodi = $('#prodi').val();
		var gelombang = $('#gelombang').val();
		var downLink = '{/literal}{$host}{literal}smb/exportToExcel/calonSmb/'+periode+'/'+prodi+'/'+jalur+'/'+gelombang;
		
		<!-- alert(downLink); -->
		$("a[href='{/literal}{$host}{literal}smb/exportToExcel/calonSmb/']").prop("href", downLink);
	});
{/literal}

$('#edit_invent').on('click', function(){
	kumpulAction('edit_invent');
});
$('#search_invent').on('click', function(){
	kumpulAction('search_invent', '{$tipe_grid}');
});
</script>