<style type="text/css">
	.messager-window,
	.loadingoverlay {
		z-index: 20000 !important;
	}

	.form-actions {
		background-color: #fff !important;
	}

	.panel {
		/* font-family: 'Muli', sans-serif; */
		border-radius: 4px !important;
	}

	.datagrid-header,
	.datagrid-toolbar,
	.datagrid-pager,
	.datagrid-footer-inner,
	.datagrid-header,
	.panel-body {
		border-color: #f5f5f5 !important;
	}

	.datagrid-header td {
		border-color: #e1e1e1 !important;
	}

	.datagrid-toolbar,
	.datagrid-pager {
		background: #fff;
	}

	.datagrid-header,
	.datagrid-td-rownumber {
		/* background-color: #fafafa; */
		background-color: #fff;
		background: -webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);
		background: -moz-linear-gradient(top, #fff 0, #f5f5f5 100%);
		background: -o-linear-gradient(top, #fff 0, #f5f5f5 100%);
		background: linear-gradient(to bottom, #fff 0, #f5f5f5 100%);
		background-repeat: repeat;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff, GradientType=0);
	}

	.datagrid-row-over td {
		background: #D0E5F5;
	}

	.datagrid-row-selected td {
		background: #FBEC88;
		color: #000;
	}

	.datagrid-header-row {
		height: 40px;
	}

	.datagrid-row {
		height: 33px;
	}

	.panel-noscroll {
		overflow: visible;
	}

	.form-control {
		border-radius: 4px !important;
	}

	.panel-body {
		border-radius: 8px !important;
	}

	.datagrid-body td {
		vertical-align: top;
	}

	.datagrid-cell,
	.datagrid-cell-group,
	.datagrid-header-rownumber,
	.datagrid-cell-rownumber {
		margin: 5px;
		line-height: 30px;
	}

	.datagrid-cell-rownumber {
		margin: 5px;
		line-height: 30px;
		height: auto;
	}

	.btn {
		border-radius: 8px !important;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15) !important;
	}

	.btn-xs {
		border-radius: 4px !important;
	}
</style>
<div id="div_{$tipe_grid}" style="width:100%">
	<div id='toolbar_{$tipe_grid}' style='padding:8px;min-height:45px'>
		{if $tipe_grid eq 'modulPrivilege'}
		<div class="col-md-4">
			<select class="form-control" name="level" id="level"
				onchange="doSelect('{$tipe_grid}', '', '')">
				<option value="all">Semua Level</option>
				{foreach name=lope from=$level item=row}
				<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class='col-md-8 text-right'>
			<button class='btn btn-sm btn-success ' onclick="kumpulAction('mod_priv', 'add')"><i
					class='icon-plus'></i> Add</button>
			<button class='btn btn-sm btn-primary ' onclick="kumpulAction('mod_priv', 'edit')"><i
					class='icon-pencil'></i> Edit</button>
			<button class='btn btn-sm btn-danger '  onclick="kumpulAction('mod_priv', 'delete')"><i
					class='icon-check'></i> Delete</button>
		</div>
		{/if}
		{if $tipe_grid eq 'masterProdi'}
		<div class=" col-md-6">
			<input id="nama" class="form-control input-sm" placeholder="Search..."
				style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
		</div>
		<div class='col-md-6 text-right'>
			<button class='btn btn-sm btn-success ' onclick="kumpulAction('manage_prodi', 'add')"><i
					class='icon-plus'></i> Add</button>
			<button class='btn btn-sm btn-primary ' onclick="kumpulAction('manage_prodi', 'edit')"><i
					class='icon-pencil'></i> Edit</button>
			<button class='btn btn-sm btn-danger '  onclick="kumpulAction('manage_prodi', 'delete')"><i
					class='icon-check'></i> Delete</button>
		</div>
		{/if}
		{if $tipe_grid eq 'masterAgama'}
		<div class='col-md-12 text-right'>
			<button class='btn btn-sm btn-success ' onclick="kumpulAction('manage_agama', 'add')"><i
					class='icon-plus'></i> Add</button>
			<button class='btn btn-sm btn-primary ' onclick="kumpulAction('manage_agama', 'edit')"><i
					class='icon-pencil'></i> Edit</button>
			<button class='btn btn-sm btn-danger '  onclick="kumpulAction('manage_agama', 'delete')"><i
					class='icon-check'></i> Delete</button>
		</div>
		{/if}
		{if $tipe_grid eq 'cmbkk'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<input id="nama" class="form-control" placeholder="Search..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'man_edu'}
		<div class=" col-md-6">
			<input id="nama" class="form-control input-sm" placeholder="Search by nama, username..."
				style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
		</div>
		<div class='col-md-6 text-right'>
			<button class='btn btn-sm btn-success ' onclick="kumpulAction('manage_edu', 'add')"><i
					class='icon-plus'></i> Add</button>
			<button class='btn btn-sm btn-primary ' onclick="kumpulAction('manage_edu', 'edit')"><i
					class='icon-pencil'></i> Edit</button>
			<button class='btn btn-sm btn-danger '  onclick="kumpulAction('manage_edu', 'delete')"><i
					class='icon-check'></i> Delete</button>
		</div>
		{/if}
		{if $tipe_grid eq 'mahasiswaKK'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-danger ' id='verifikasi' onclick="kumpulAction('payment_du', 'detil')"><i
						class='icon-check'></i> POST ke BIG</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'mahasiswaS2'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-danger ' id='verifikasi' onclick="kumpulAction('payment_du', 'detil')"><i
						class='icon-check'></i> POST ke BIG</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'daftarulangKK'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='verifikasi' onclick="kumpulAction('payment_du_kk', 'detil')"><i
						class='icon-file'></i> Detil Pembayaran</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'daftarulangMag'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='verifikasi' onclick="kumpulAction('payment_du', 'detil')"><i
						class='icon-file'></i> Detil Pembayaran</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'beasiswaMag'}
		<div class="row">
			<div class='col-md-12 text-right'>
				<button class='btn btn-sm btn-danger  ' id='delete'
					onclick="kumpulAction('formbeasiswaMag', 'delete')"><i class='icon-remove-sign'></i> Delete</button>
				<button class='btn btn-sm btn-success  ' id='detil' onclick="kumpulAction('formbeasiswaMag', 'edit')"><i
						class='icon-pencil'></i> Edit</button>
				<button class='btn btn-sm btn-primary ' id='add' onclick="kumpulAction('formbeasiswaMag', 'add')"><i
						class='icon-plus'></i> Tambah</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'setPotonganMag'}
		<div class="row">
			<div class="col-md-4">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row.kode}" {if $row.status eq 1}selected{/if}>{$row.nama}</option>
					{/foreach}
				</select>
			</div>
			<div class='col-md-8 text-right'>
				<button class='btn btn-sm btn-danger  ' id='delete'
					onclick="kumpulAction('setPotonganMag', 'delete')"><i class='icon-remove-sign'></i> Delete</button>
				<button class='btn btn-sm btn-success  ' id='detil' onclick="kumpulAction('setPotonganMag', 'edit')"><i
						class='icon-pencil'></i> Edit</button>
				<button class='btn btn-sm btn-primary ' id='add' onclick="kumpulAction('setPotonganMag', 'add')"><i
						class='icon-plus'></i> Tambah</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'skemaBiaya'}
		<div class="row">
			<div class="col-md-4">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row.kode}" {if $row.status eq 1}selected{/if}>{$row.nama}</option>
					{/foreach}
				</select>
			</div>
			<div class='col-md-8 text-right'>
				<button class='btn btn-sm btn-danger  ' id='delete'
					onclick="kumpulAction('skemaBiayaForm', 'delete')"><i class='icon-remove-sign'></i> delete</button>
				<button class='btn btn-sm btn-success  ' id='detil' onclick="kumpulAction('skemaBiayaForm', 'edit')"><i
						class='icon-pencil'></i> Edit</button>
				<button class='btn btn-sm btn-primary ' id='add' onclick="kumpulAction('skemaBiayaForm', 'add')"><i
						class='icon-plus'></i> Tambah</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'setting_tarif_kk'}
		<div class="row">
			<div class="col-md-4">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row.kode}" {if $row.status eq 1}selected{/if}>{$row.nama}</option>
					{/foreach}
				</select>
			</div>
			<div class='col-md-8 text-right'>
				<button class='btn btn-sm btn-success  ' id='detil'
					onclick="kumpulAction('formSettingTarifkk', 'edit')"><i class='icon-pencil'></i> Edit</button>
				<button class='btn btn-sm btn-primary ' id='add' onclick="kumpulAction('formSettingTarifkk', 'add')"><i
						class='icon-plus'></i> Tambah</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'setting_tarif_magister'}
		<div class="row">
			<div class="col-md-4">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row.kode}" {if $row.status eq 1}selected{/if}>{$row.nama}</option>
					{/foreach}
				</select>
			</div>
			<div class='col-md-8 text-right'>
				<button class='btn btn-sm btn-success  ' id='detil'
					onclick="kumpulAction('formSettingTarif', 'edit')"><i class='icon-pencil'></i> Edit</button>
				<button class='btn btn-sm btn-primary ' id='add' onclick="kumpulAction('formSettingTarif', 'add')"><i
						class='icon-plus'></i> Tambah</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'hasilSeleksiKK'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='detil' onclick="kumpulAction('hasilSeleksiKK', 'detil')"><i
						class='icon-pencil'></i> Set Hasil</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'hasilSeleksi' }
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='detil' onclick="kumpulAction('hasilSeleksi', 'detil')"><i
						class='icon-pencil'></i> Set Hasil</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'tesTPA'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='detil'
					onclick="kumpulAction('tesTpaAction', 'detil')"><i class='icon-file'></i> Detil
					Jadwal</button>
				<button class='btn btn-sm btn-success ' id='confirm'
					onclick="kumpulAction('tesTpaAction', 'confirm')"><i class='icon-ok-sign'></i>
					Konfirmasi</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'tesWawancara'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='detil'
					onclick="kumpulAction('tesWawancaraAction', 'detil')"><i class='icon-file'></i> Detil
					Jadwal</button>
				<button class='btn btn-sm btn-success ' id='confirm'
					onclick="kumpulAction('tesWawancaraAction', 'confirm')"><i class='icon-ok-sign'></i>
					Konfirmasi</button>
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'payment_reg' || $tipe_grid eq 'payment_reg_kk'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
			</div>
			{if $tipe_grid eq 'payment_reg'}
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='verifikasi'
					onclick="kumpulAction('payment_reg', 'detil')"><i class='icon-file'></i> Detil Pembayaran</button>
				<button class='btn btn-sm btn-success ' id='tolak' onclick="kumpulAction('payment_reg', 'setbiaya')"><i
						class='icon-money'></i> Set Biaya</button>
			</div>
			{elseif $tipe_grid eq 'payment_reg_kk'}
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-primary ' id='verifikasi'
					onclick="kumpulAction('payment_reg_kk', 'detil')"><i class='icon-file'></i> Detil Pembayaran</button>
				<button class='btn btn-sm btn-success ' id='tolak' onclick="kumpulAction('payment_reg_kk', 'setbiaya')"><i
						class='icon-money'></i> Set Biaya</button>
			</div>
			{/if}
		</div>
		{/if}
		{if $tipe_grid eq 'ver_dok' || $tipe_grid eq 'ver_dok_kk'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class=" col-md-3">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, nomor..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
			<!-- <div class='col-md-1 text-left' >
				<button class='btn btn-sm ' id='btn_search' id='search_invent' onclick=""><i class='icon-search'></i> Search</button>
			</div> -->
			{if $tipe_grid eq 'ver_dok'}
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-success ' id='verifikasi' onclick="kumpulAction('ver_forlap', '1')"><i
						class='icon-check'></i> Verifikasi</button>
				<button class='btn btn-sm btn-danger ' id='tolak' onclick="kumpulAction('ver_forlap', '2')"><i
						class='icon-remove-sign'></i> Tolak</button>

				<!-- <a class='btn btn-sm btn-success ' href="{$host}smb/exportInvent" target="_blank"><i class='icon-file'></i> Export</a> -->
			</div>
			{elseif $tipe_grid eq 'ver_dok_kk'}
			<div class='col-md-3 text-right'>
				<button class='btn btn-sm btn-success ' id='verifikasi' onclick="kumpulAction('ver_forlap_kk', '1')"><i
						class='icon-check'></i> Verifikasi</button>
				<button class='btn btn-sm btn-danger ' id='tolak' onclick="kumpulAction('ver_forlap_kk', '2')"><i
						class='icon-remove-sign'></i> Tolak</button>

				<!-- <a class='btn btn-sm btn-success ' href="{$host}smb/exportInvent" target="_blank"><i class='icon-file'></i> Export</a> -->
			</div>
			{/if}
		</div>
		{/if}
		{if $tipe_grid eq 'invent' || $tipe_grid eq 'invent_mm'  || $tipe_grid eq 'invent_kk'}
		<div class="row">
			<div class=" col-md-4">
				<input id="nama" class="form-control input-sm" placeholder="Search by nama, email, sekolah..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
			<div class='col-md-2 text-left'>
				<button class='btn btn-sm' id='btn_search' id='search_invent'><i class='icon-search'></i>
					Search</button>
			</div>
			<div class='col-md-6 text-right'>
				{if $tipe_grid eq 'invent'}
				<button class='btn btn-sm btn-primary' id='edit_invent' data-toggle="modal" data-target="#form_invent"><i class='icon-pencil'></i> Edit</button>
				<a class='btn btn-sm btn-success' href="{$host}smb/exportInvent" target="_blank"><iclass='icon-file'></i> Export</a>
				{elseif $tipe_grid eq 'invent_mm'}
				<button class='btn btn-sm btn-primary'  onclick="kumpulAction('edit_invent_mm', '1')" ><i class='icon-pencil'></i> Edit</button>
				<a class='btn btn-sm btn-success' href="{$host}smb/exportInvent/mm" target="_blank"><iclass='icon-file'></i> Export</a>
				{elseif $tipe_grid eq 'invent_kk'}
				<button class='btn btn-sm btn-primary'  onclick="kumpulAction('edit_invent_kk', '1')" ><i class='icon-pencil'></i> Edit</button>
				<a class='btn btn-sm btn-success' href="{$host}smb/exportInvent/kk" target="_blank"><iclass='icon-file'></i> Export</a>
				{/if}
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'cmb'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2">
				<select class="form-control" name="jalur" id="jalur" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Jalur</option>
					<option value="TULIS">Jalur Tes Tulis</option>
					<option value="RAPOR">Jalur Rapor</option>
					<option value="ODS">ODS Online</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-2">
				<input id="nama" class="form-control" placeholder="Search..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'cmbs2'}
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="periode" id="periode" onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="gelombang" id="gelombang"
					onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Gelombang</option>
					{foreach name=lope from=$gelombang item=row}
					<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
					<option value="all">Semua Prodi</option>
					{foreach name=lope from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
			<div class="col-md-3">
				<input id="nama" class="form-control" placeholder="Search..."
					style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
				<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
			</div>
		</div>
		{/if}
		{if $tipe_grid eq 'telemarketing' || $tipe_grid eq 'telemarketing_kk'}
		<div class="row">
				<div class="col-md-3">
					<select class="form-control" name="periode" id="periode" 
					onchange="doSelect('{$tipe_grid}', '', '')">
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control" name="gelombang" id="gelombang"
						onchange="doSelect('{$tipe_grid}', '', '')">
						<option value="all">Semua Gelombang</option>
						{foreach name=lope from=$gelombang item=row}
						<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
						{/foreach}
					</select>
				</div>
				<div class="col-md-3 ">
					<select class="form-control" name="prodi" id="prodi" onchange="doSelect('{$tipe_grid}', '', '')">
						<option value="all">Semua Prodi</option>
						{foreach name=lope from=$prodi item=row}
						<option value="{$row->kode}">{$row->nama}</option>
						{/foreach}
					</select>
				</div>
				
				<div class="col-md-2 text-right">
					<input id="nama" class="form-control" placeholder="Search..."
						style="line-height:26px;border:1px solid #ccc" onchange="doSearch('{$tipe_grid}', '', '')">
					<!-- <a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch('{$tipe_grid}', '', '')">Search</a> -->
				</div>
				<div class="col-md-1">
					<button class='btn btn-sm btn-success ' id='verifikasi' onclick="kumpulAction('detil_tele', '1')"><i
						class='icon-info'></i> Detail</button>
				</div>
		</div>
		<hr>
		{/if}
	</div>

	<div id='{$tipe_grid}'></div>
</div>
{if $tipe_grid eq 'cmb'}
<br>
<div id="btnDownload">
	<a href="{$host}smb/exportToExcel/calonSmb/{$periode_aktif}/all/all/all" id="downloadLink"
		class="btn btn-sm green  black" style="margin-bottom: 12px;"><i class="icon-download-alt"></i> Download Laporan
		xls</a>
	<a href="{$host}smb/exportToCsv/calonSmb/{$periode_aktif}/all/all/all" id="downloadLinkCsv"
		class="btn btn-sm default  black" style="margin-bottom: 12px;"><i class="icon-download-alt"></i> Download
		Laporan csv</a>
</div>
{/if}

{if $tipe_grid eq 'invent'}
{*
<div class="row">
	<div class="col-md-12 ">
		<form method="POST" action="{$host}laporan/upload_invent" enctype="multipart/form-data">
			<div class="form-group">
				<label for="exampleInputEmail1" class='col-md-2'>UNGGAH FILE EXCEL</label>
				<div class=" col-md-6">
					<input type="file" name="userfile" class="form-control">
				</div>
				<div class=" col-md-2">
					<button type="submit" class="btn btn-sm btn-success">Upload Dok</button>
				</div>
				<div class=" col-md-2">
					<a class="btn btn-sm btn-info" href='{$host}assets/lampiran/template_data_invent.xlsx'
						target="_blank">File template .xls</a>
				</div>
			</div>
		</form>
	</div>
</div>
<hr>
*}
{/if}
<script>

	$('#div_{$tipe_grid}').css('height', (getClientHeight()));

	var per = $('#periode').val();
	var gel = $('#gelombang').val();
	genGrid('{$tipe_grid}', '', '', per, gel);

	{literal}
	var downLink = '{/literal}{$host}{literal}smb/exportToExcel/calonSmb/' + per + '/all/all/' + gel;
	var downLinkCsv = '{/literal}{$host}{literal}smb/exportToCsv/calonSmb/' + per + '/all/all/' + gel;

	$("#downloadLink").attr("href", downLink);
	$("#downloadLinkCsv").attr("href", downLinkCsv);

	$("#periode,#jalur,#prodi").change(function (e) {
		e.preventDefault();
		var periode = $('#periode').val();
		var jalur = $('#jalur').val();
		var prodi = $('#prodi').val();
		var gelombang = $('#gelombang').val();
		var downLink = '{/literal}{$host}{literal}smb/exportToExcel/calonSmb/' + periode + '/' + prodi + '/' + jalur + '/' + gelombang;
		
			$("a[href='{/literal}{$host}{literal}smb/exportToExcel/calonSmb/']").prop("href", downLink);
	});
	{/literal}

		$('#edit_invent').on('click', function () {
			kumpulAction('edit_invent');
		});
		$('#search_invent').on('click', function () {
			kumpulAction('search_invent', '{$tipe_grid}');
		});
</script>