<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
{if isset($periode) && $periode.0.jenjangType eq '1'}{literal} 
// Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['bar','line','corechart']});
      google.charts.setOnLoadCallback(drawChart);
	  function drawChart() {
        var data = google.visualization.arrayToDataTable({/literal}{$totalReg}{literal});

        var options = {
          chart: {
            title: 'Jumlah Mahasiswa S{/literal}{$jenjang}{literal} Bakrie',
            subtitle: 'Grafik laporan penerimaan mahasiswa baru',
			legend: { position: 'bottom' }
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };
		
        var chartBar = new google.charts.Bar(document.getElementById('chart_div'));
		chartBar.draw(data, options);
      }
	  
      google.charts.setOnLoadCallback(drawChartCurve);

      function drawChartCurve() {
        var data = google.visualization.arrayToDataTable({/literal}{$totalRegFrek}{literal});

        var options = {
          title: 'Frekuensi Pendaftaran SMB Universitas Bakrie S{/literal}{$jenjang}{literal}',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        <!-- var chartLine = new google.visualization.LineChart(document.getElementById('curve_chart')); -->
        var chartLine = new google.charts.Line(document.getElementById('curve_chart'));

        chartLine.draw(data, options);
      }
{/literal}
</script>
<script type="text/javascript">	  
{literal}	  
	google.charts.setOnLoadCallback(drawChartCalonByProdi);
	
	function drawChartCalonByProdi() {
        var data = google.visualization.arrayToDataTable({/literal}{$totalPeserta}{literal});

        var options = {
          chart: {
            title: 'Jumlah Calon Mahasiswa S{/literal}{$jenjang}{literal} Universitas Bakrie',
            subtitle: 'Chart Penerimaan Mahasiswa Baru',
			legend: { position: 'bottom' }
          },
          bars: 'vertical' // Required for Material Bar Charts.
        };
		
        var chart = new google.charts.Bar(document.getElementById('chart_div_calon'));
		chart.draw(data, options);
      } 
	
{/literal}
     
{/if}
</script>
{if isset($periode)}
{*
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <div class="dashboard-stat red">
          <div class="visual">
             <i class="icon-asterisk"></i>
          </div>
          <div class="details">
             <div class="number">
                {if $newReg}{$newReg.newReg}{/if}
             </div>
             <div class="desc">                           
                New Registration
             </div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
       </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <div class="dashboard-stat red">
          <div class="visual">
             <i class="icon-money"></i>
          </div>
          <div class="details">
             <div class="number">{$newPay.newPay}</div>
             <div class="desc">New Payment</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
       </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <div class="dashboard-stat red">
          <div class="visual">
             <i class="icon-book"></i>
          </div>
          <div class="details">
             <div class="number">{$newRereg.newRereg}</div>
             <div class="desc">New Reregistration</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
       </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <div class="dashboard-stat dark">
          <div class="visual">
             <i class="icon-male"></i>
          </div>
          <div class="details">
             <div class="number">{$newStudent.newStudent}</div>
             <div class="desc">Total Student</div>
          </div>
          <a href="#" class="more">
          View more <i class="m-icon-swapright m-icon-white"></i>
          </a>                 
       </div>
    </div>
	
 </div>
*}
<div class="row ">
<hr>
	<div class="col-md-12 col-xs-12">
	   <div class="portlet box card light">
		  <div class="portlet-title">
			 <div class="caption">Grafik Peserta SMB Universitas Bakrie S{$jenjang}- Periode Aktif</div>
			 <div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		  </div>
		   <div class="portlet-body" id="chart_div_calon" style="height: 600px;"></div>
	   </div>
	</div>
	<div class="col-md-12 col-xs-12">
	   <div class="portlet box card light">
		  <div class="portlet-title">
			 <div class="caption">Grafik laporan frekuensi Pendaftar SMB Universitas Bakrie S{$jenjang} - Periode Aktif</div>
			 <div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		  </div>
		   <div class="portlet-body" id="curve_chart" style="height: 400px;"></div>
	   </div>
	</div>
	<!-- <div class="col-md-12 col-xs-12"> -->
	   <!-- <div class="portlet box red"> -->
		  <!-- <div class="portlet-title"> -->
			 <!-- <div class="caption">Grafik laporan SMB Universitas Bakrie S{$jenjang} - Periode Aktif</div> -->
			 <!-- <div class="tools"> -->
				<!-- <a href="javascript:;" class="collapse"></a> -->
			<!-- </div> -->
		  <!-- </div> -->
		   <!-- <div class="portlet-body" id="chart_div" style="height: 400px;"></div> -->
	   <!-- </div> -->
	<!-- </div> -->
</div>
{*
<div class="row ">		
	<div class="col-md-8 col-sm-12">
	   <div class="portlet box blue calendar">
		  <div class="portlet-title">
			 <div class="caption"><i class="icon-calendar"></i> Jadwal Ujian SMB</div>
		  </div>
		  <div class="portlet-body light-grey">
			 <div id="calendar"></div>
		  </div>
	   </div>
	</div>
	<div class="col-md-4 col-sm-12">
	   <div class="portlet box grey">
		  <div class="portlet-title">
			 <div class="caption"><i class="icon-bell"></i>Recent Activities</div>
			 <div class="actions">
				<div class="btn-group">
				   <a class="btn btn-sm default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				   Filter By
				   <i class="icon-angle-down"></i>
				   </a>
				   <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
					  <label><input type="checkbox" /> Humas</label>
					  <label><input type="checkbox" checked="" /> Akademik</label>
					  <label><input type="checkbox" /> Keuangan</label>
				   </div>
				</div>
			 </div>
		  </div>
		  <div class="portlet-body">
			 <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
				<ul class="feeds">
				{foreach name=loop from=$aktifiti item=row}
					<li>
					  <div class="col1">
						 <div class="cont">
							<div class="cont-col1">
							   <div class="label label-sm {if $row->id_activity eq '13.1'}label-danger{else if $row->id_activity eq '13.2'}label-info{else}label-default{/if}">                        
								  <i class="{if $row->id_activity eq '13.1'}icon-user{else if $row->id_activity eq '13.2'}icon-envelope{else}icon-check{/if}"></i>
							   </div>
							</div>
							<div class="cont-col2">
							   <div class="desc">
								   <font color="blue">{$row->id_cmb}</font>-{$row->namaAct} 										  
								  {if $row->id_activity eq '13.3' or $row->id_activity eq '13.9'}
								  <span class="label label-sm label-warning ">
									Take action
								  <i class="icon-share-alt"></i>
									{/if}
								  </span>
							   </div>
							</div>
						 </div>
					  </div>
					  <div class="col2" style="margin-left: -85px;width: 84px;">
						 <div class="date" style="padding-left: 0;padding-right: 0;width: 80px;">
						   {$row->jam}:{$row->menit} {$row->tgl} {$row->bulan}
						 </div>
					  </div>
				   </li>
				{/foreach}
				</ul>
			 </div>
			 <div class="scroller-footer">
				<div class="pull-right">
				   <a href="#">See All Records <i class="m-icon-swapright m-icon-gray"></i></a> &nbsp;
				</div>
			 </div>
		  </div>
	   </div>
	</div>	
 </div>
 *}
 {else}
 
 
<div class="row ">
	<div class="col-md-12 col-xs-12">
		<h3 align="center">Tidak ada periode yang aktif!</h3>
	</div>
</div>
 {/if}