<div class="page-sidebar navbar-collapse collapse">
   <ul class="page-sidebar-menu">
      <li>
         <div class="sidebar-toggler hidden-phone"></div>
      </li>
      <hr>
      <li>
      </li>
      {foreach from=$menu_side item=r}
      {if $r.parent_id eq '0'}
      <li class="{if $r.menuId eq 'dashboard'}start {if $modul eq ''}active{/if}{else} {if $modul eq $r.menuId}active{/if}{/if} " id="menu_{$r.id}">
         {if $r.href}
         <a href="{$host}{$r.href}" onclick="{$r.onclick}">
            <i class="{$r.icon}"></i>
            <span class="title">{$r.nama_menu}</span>
            <span class="selected"></span>
         </a>
         {else}
         <a href="javascript:;">
            <i class="{$r.icon}"></i>
            <span class="title">{$r.nama_menu}</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            {foreach from=$menu_side item=sub}
            {if $sub.parent_id eq $r.id}
            <li class="{if $site eq $sub.menuId}active{/if}" id="menu_{$sub.menuId}">
               <a href="{if $sub.href}{$host}{$sub.href}{else}javascript:;{/if}" 
               {if $sub.onclick}onclick="loadUrl('{$host}{$sub.onclick}', '{$sub.menuId}', '{$sub.parent_id}');" {/if}>{$sub.nama_menu}</a>
            </li>
            {/if}
            {/foreach}
         </ul>
         {/if}
      </li>
      {/if}
      {/foreach}
   </ul>
</div>

{*
<div class="page-sidebar navbar-collapse collapse">
   <!-- BEGIN SIDEBAR MENU -->
   <ul class="page-sidebar-menu">
      <li>
         <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
         <div class="sidebar-toggler hidden-phone"></div>
         <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      </li>
      <hr>
      <li>
         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <!-- <form class="sidebar-search" action="extra_search.html" method="POST">
                  <div class="form-container">
                     <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" placeholder="Search..."/>
                        <input type="button" class="submit" value=" "/>
                     </div>
                  </div>
               </form> -->
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
      </li>
      <li class="start {if $modul eq ''}active{/if}">
         <a href="{$host}dashboard">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
         </a>
      </li>
      {if $USER.name eq 'Admisi'}
      <li class="{if ($modul eq 'master/' && $submodul eq 'admisi') || ($modul eq 'admisi/')}active{/if}">
         <a href="javascript:;">
            <i class="icon-table"></i>
            <span class="title">Setting Admisi</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="">
               <a href="{$host}admisi/settingVoucher">Setting Voucher</a>
            </li>
         </ul>
      </li>
      {/if}
      {if $USER.name neq 'Admisi'}
      {if $levelID eq '99'}
      <li class="{if $modul eq 'master/' && $submodul eq '' }active{/if}">
         <a href="javascript:;">
            <i class="icon-bookmark-empty"></i>
            <span class="title">Master</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            {if $levelID neq '77' }
            <li class="{if $site eq 'Welcome'}active{/if}">
               <a href="{$host}master/welcome">Welcome Text</a>
            </li>
            <li class="{if $site eq 'User'}active{/if}">
               <a href="{$host}master/masterUser">User</a>
            </li>
            <li class="{if $site eq 'Wilayah'}active{/if}">
               <a href="{$host}master/masterWilayah">Wilayah</a>
            </li>
            <li class="{if $site eq 'UPM'}active{/if}">
               <a href="{$host}master/masterUPM">Perguruan Tinggi</a>
            </li>
            <li class="{if $site eq 'Prodi'}active{/if}">
               <a href="{$host}master/masterProdi">Program Studi</a>
            </li>
            <li class="{if $site eq 'Gedung'}active{/if}">
               <a href="{$host}master/masterGedung">Gedung</a>
            </li>
            <li class="{if $site eq 'Ruang'}active{/if}">
               <a href="{$host}master/masterRuang">Ruang</a>
            </li>
            <li class="{if $site eq 'Jabatan'}active{/if}">
               <a href="{$host}master/masterjabatan">Jabatan</a>
            </li>
            <li class="{if $site eq 'Panitia'}active{/if}">
               <a href="{$host}master/masterPanitia">Dosen dan Karyawan</a>
            </li>
            <li class="{if $site eq 'Jalur'}active{/if}">
               <a href="{$host}master/masterJalur">Jalur Seleksi</a>
            </li>
            {/if}
         </ul>
      </li>
      {/if}
      {if $levelID eq '99' or $levelID eq '66'}
      <li class="{if ($modul eq 'master/' && $submodul eq 'admisi') || ($modul eq 'admisi/')}active{/if}">
         <a href="javascript:;">
            <i class="icon-table"></i>
            <span class="title">Setting Admisi</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            {if $levelID neq '77' }
            <li class="{if $site eq 'Periode'}active{/if}">
               <a href="{$host}master/periode" id="setting_periode">Periode</a>
            </li>
            <li class="{if $site eq 'MasterPeriode'}active{/if}" id="setting_gelombang">
               <a href="{$host}master/masterPeriode">Gelombang</a>
            </li>
            {/if}
            <!-- <li class="{if $site eq 'Jadwal'}active{/if}"> -->
            <!-- <a href="{$host}admisi/admisiBukaSeleksi">Buka Seleksi</a> -->
            <!-- </li> -->
            <li class="{if $site eq 'Event'}active{/if}" id="setting_jadwal">
               <a href="{$host}admisi/admisiJadwalSeleksi">Jadwal Seleksi</a>
            </li>
            <li class="{if $site eq 'Pembayaran'}active{/if}" id="setting_um_reg">
               <a href="{$host}admisi/settingUM">Uang Masuk</a>
               <!-- <a href="{$host}master/masterUM">Uang Masuk</a> -->
            </li>
            <li class="{if $site eq 'Pembayaran'}active{/if}" id="setting_um_s2">
               <a href="{$host}admisi/settingUMS2">Uang Masuk S2</a>
            </li>
            <!-- <li class=""> -->
            <!-- <a href="{$host}admisi/settingBea">Setting Beasiswa</a> -->
            <!-- </li>	 -->
            <li class="{if $site eq 'Potongan'}active{/if}" id="master_potongan_s1">
               <a href="{$host}master/masterPotongan">Master Potongan</a>
            </li>
            <li class="{if $site eq 'PotonganS2'}active{/if}" id="master_potongan_s2">
               <a href="{$host}master/masterPotongan">Master Potongan S2</a>
            </li>
            <li class="">
               <a href="{$host}admisi/settingVoucher" id="setting_voucher">Setting Voucher</a>
            </li>
         </ul>
      </li>
      {/if}
      {/if}
      {if $levelID neq '55'}
      <li class="{if $modul eq 'smb/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-tasks"></i>
            <span class="title">Seleksi CMB</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <!-- <li class="{if $site eq 'Peserta'}active{/if}">
                     <a href="{$host}smb/smbCalon">Calon Mahasiswa</a>
                  </li> -->
            <li class="{if $site eq 'Peserta'}active{/if}" id="list_maba">
               <a href="javascript:void(0);" onClick="loadUrl('{$host}smb/getdisplay/cmb');">Calon Mahasiswa</a>
            </li>
            <li class="{if $site eq 'Telemarketing'}active{/if}">
               <a href="{$host}smb/telemarketing">Telemarketing</a>
            </li>
            <li class="{if $site eq 'Pembayaran'}active{/if}">
               <a href="{$host}smb/smbPay">Verifikasi Ijazah</a>
            </li>
            {if $levelID eq '99' or $levelID eq '77'}
            <li class="{if $site eq 'Pembayaran'}active{/if}">
               <a href="{$host}smb/smbPay">Pembayaran Biaya Seleksi</a>
            </li>
            {/if}
            {if $levelID eq '99' }
            <li class="{if $site eq 'Event'}active{/if}">
               <a href="{$host}smb/smbEvent">Jadwal Seleksi</a>
            </li>
            {/if}
            {if $levelID eq '99' or $levelID eq '1' or $levelID eq '77'}
            <li class="{if $site eq 'Seleksi'}active{/if}">
               <a href="{$host}smb/smbSeleksi">Hasil Seleksi</a>
            </li>
            {/if}
            {if $levelID eq '99' or $levelID eq '77' or $levelID eq '1'}
            <li class="{if $site eq 'DaftarUlang'}active{/if}">
               <a href="{$host}smb/smbDaftarUlang">Pembayaran Daftar Ulang</a>
            </li>
            {/if}
            {if $levelID eq '99' or $levelID eq '66' or $levelID eq '1' or $levelID eq '77'}
            <li class="{if $site eq 'Nim'}active{/if}">
               <a href="{$host}smb/smbNim">Generate NIM</a>
            </li>
            {/if}
         </ul>
      </li>
      {/if}
      {if $levelID eq '99'}
      <li class="{if $modul eq 'cmb/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">Manajemen CMB</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="{if $site eq 'Peserta'}active{/if}">
               <a href="{$host}cmb/">Data CMB</a>
            </li>
            <li class="{if $site eq 'Mahasiswa'}active{/if}">
               <a href="{$host}cmb/mahasiswa/s1">Mahasiswa S1</a>
            </li>
            <!-- <li class="{if $site eq 'MahasiswaPasca'}active{/if}"> -->
            <!-- <a href="{$host}cmb/mahasiswa/s2">Mahasiswa S2</a> -->
            <!-- </li> -->
         </ul>
      </li>
      {/if}
      {if $levelID eq '99'}
      <li class="{if $modul eq 'mahasiswa/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-user"></i>
            <span class="title">Mahasiswa</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="{if $pages eq 'mhs'}active{/if}">
               <a href="{$host}cmb/mahasiswa/s1/mhs">Mahasiswa S1</a>
            </li>
            <!-- <li class="{if $pages eq 'mhs2'}active{/if}"> -->
            <!-- <a href="{$host}cmb/mahasiswa/s2/mhs2">Mahasiswa S2</a> -->
            <!-- </li> -->
         </ul>
      </li>
      {/if}
      {if $levelID eq '99' or $levelID eq '77' or $levelID eq '1'}
      <li class="{if $modul eq 'laporan/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span class="title">Laporan</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="{if $pages eq 'seleksi'}active{/if}">
               <a href="{$host}home/laporan/select">Laporan Seleksi</a>
            </li>
            <li class="{if $pages eq 'laporan_data'}active{/if}">
               <a href="{$host}laporan">Laporan Data</a>
            </li>
            <li class="{if $pages eq 'Telemarketing'}active{/if}">
               <!-- <a href="{$host}laporan/invent">Data Invent</a> -->
               <a href="javascript:void(0);" onClick="loadUrl('{$host}smb/getdisplay/invent');">Data Invent</a>
            </li>
            <li class="{if $pages eq 'Telemarketing'}active{/if}">
               <!-- <a href="{$host}laporan/invent">Data Invent</a> -->
               <a href="javascript:void(0);" onClick="loadUrl('{$host}smb/getdisplay/telemarketing');">New
                  Telemarketing</a>
            </li>
            <li class="{if $pages eq 'laporan_ec'}active{/if}">
               <a href="{$host}laporan/performa_ec">Laporan EC</a>
            </li>
         </ul>
      </li>
      {/if}

      {if $levelID eq '44' || $levelID eq '55'}
      <li class="{if $modul eq 'laporan/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-briefcase"></i>
            <span class="title">Landing Page</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="{if $pages eq 'laporan_data'}active{/if}">
               <!-- <a href="{$host}laporan/invent">Data Invent</a> -->
               <a href="javascript:void(0);" onClick="loadUrl('{$host}smb/getdisplay/invent');">Data Invent</a>
            </li>
            <li class="{if $pages eq 'seleksi'}active{/if}">
               <a href="{$host}home/laporan/select">Laporan Seleksi</a>
            </li>
         </ul>
      </li>
      {/if}
      {*
      {if $levelID eq '77'}
      <li class="{if $modul eq 'keuangan/'}active{/if}">
         <a href="javascript:;">
            <i class="icon-money"></i>
            <span class="title">Keuangan</span>
            <span class="selected"></span>
            <span class="arrow "></span>
         </a>
         <ul class="sub-menu">
            <li class="{if $pages eq 'seleksi'}active{/if}">
               <a href="{$host}keuangan/tag_paralel/select">Tagihan Kelas Malam</a>
            </li>
         </ul>
      </li>
      {/if}
      *}
   </ul>
   <!-- END SIDEBAR MENU -->
</div>

*}