<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption">Biaya Kelas Malam</div>
            <div class="actions">
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                <thead>
                    <tr>
                        <th>Detail Pembayaran</th>
                        <th>Detail Angsuran</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$sql item=row key=k}
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><h5>Daftar Ulang </h5></td><td><h5>{$arry.biaya_daftar|number_format:0:",":"."}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Uang Masuk </h5></td><td><h5>{$row.uangMasuk|number_format:0:",":"."}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>SPP </h5></td><td><h5>{$row.spp|number_format:0:",":"."}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>SKS </h5></td><td><h5>{($row.jumlahSks*$row.biayaPerSks)|number_format:0:",":"."}</h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Total </h5></td><td><h5>{(($row.jumlahSks*$row.biayaPerSks)+($row.spp+$row.uangMasuk))|number_format:0:",":"."}</h5></td>
                                </tr>
                            </table>
                        </td>
                        <td>                            
                            <table>
                                <tr>
                                    <td><h5>Pilihan Uang Masuk</h5></td>
                                    {foreach from=$row.pilihanBiayaUM key=k item=rows}
                                        <td><h5>{$rows|number_format:0:",":"."}</h5></td>
                                    {/foreach}
                                    <td><h5>Bulan Ke - </h5></td>
                                    <td><h5>Tanggal Jatuh Tempo</h5></td>
                                </tr>
                                <tr>
									{if $arry.biayaAngsuran eq ''}
										<td>Angsuran Bulanan ({$row.tempoAngsuran - 1} X)</td>
									{else}
										<td>Angsuran Bulanan ({$row.tempoAngsuran} X)</td>
									{/if}
                                    {foreach from=$pilih item=rowd key=k name=foo}   
                                    <td>
                                        {foreach from=$rowd item=val}
                                        {$val|number_format:0:",":"."}<br>
                                        {/foreach}
                                    </td>
                                    {/foreach}
                                    <td  rowspan='2'>
                                        {foreach from=$resTglTempo item=val name=ke key=y}										
											{if $arry.biayaAngsuran eq ''}
												{if $smarty.foreach.ke.last}
												   <br><br> Ke - {$y+1}
												{else}
													Ke - {$y+1}<br>
												{/if}
											{else}
												Ke - {$y+1}<br>
											{/if}
                                        {/foreach}
                                    </td>
                                    <td  rowspan='2'>
                                        {foreach from=$resTglTempo item=val name=tgl}										
											{if $arry.biayaAngsuran eq ''}
												{if $smarty.foreach.tgl.last}
													<br><br>{$val|date_format:'%d-%m-%Y'}
												{else}
													{$val|date_format:'%d-%m-%Y'}<br>
												{/if}
											{else}
												{$val|date_format:'%d-%m-%Y'}<br>
											{/if}
                                        {/foreach}
                                    </td>
                                </tr>
								{if $arry.biayaAngsuran eq ''}
                                <tr >
                                    <td>Angsuran Terakhir (1 X)</td>
                                    {foreach from=$row.biayaPembeda key=k item=rows}
                                    <td>{$rows|number_format:0:",":"."}</td>
                                    {/foreach}
                                </tr>
								{/if}
                            </table>
                        </td>
                    </tr>                    
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

