<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>

<div class="form-data">
    <input id="tmpE" value="" name="tmpE" hidden="">
    <div class="form-group">
            <label class="control-label col-md-3">Jenjang Masuk</label>
            <div class="col-md-7">
                    <select class="form-control" id="grade" name="grade" required>
                            <option>-- Pilih Jenjang --</option>
                            <option value="SMA">SMA</option>
                            <option value="D3">D3</option>
                    </select>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Biaya Uang Masuk</label>
        <div class="input-group col-md-8">
            <input type="text" class="biaya form-control" placeholder="Uang Masuk (Rp.)" id="um" name="um">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Jumlah Semester</label>
        <div class="input-group col-md-8">
            <input type="text" class="biaya form-control" placeholder="Jumlah Semester" id="um" name="jumlah_semester">
        </div>
    </div>
	<div class="form-group">
		<label class="control-label col-md-3">Biaya SKS</label>
		<div class="input-group col-md-8">
			<input type="text" class="biaya form-control" value="" id="sks" name="sks">
		</div>
	</div>
    <div class="form-group">
        <label class="control-label col-md-3">Jumlah SKS Semester 1</label>
        <div class="input-group col-md-8">
            <input type="text" class="biaya form-control" placeholder="Jumlah SKS Semester 1" id="um" name="sks_semester">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Jumlah SKS total</label>
        <div class="input-group col-md-8">
            <input type="text" class="biaya form-control" placeholder="Jumlah SKS Kelas Malam" id="um" name="jumlah_sks">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Biaya Per SKS</label>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Biaya Per SKS (Rp.)" id="jumlahSks" name="biaya_sks">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Biaya SPP</label>
        <div class="input-group col-md-8">
            <input type="text" class="biaya form-control" placeholder="Biaya SPP (Rp.)" id="spp" name="spp_total">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Jumlah Angsuran</label>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Banyak Angsuran Kelas Malam" id="spp" name="jml_angsuran">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Tanggal Angsuran Pertama</label>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="DD-MM-YYYY" id="spp" name="tgl_awl_angsur">
            <span class="help-block">Format : 23-12-2016</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Jumlah Pilihan Biaya Daftar Ulang</label>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" placeholder="Jumlah pilihan biaya uang masuk" id="pilihanBiaya" name="jml_pil">
        </div>
    </div>
</div>                   
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
    <button type="submit" class="btn blue" id="save" value="save" name="opt">Simpan <i class="icon-plus"></i></button>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('.biaya').blur(function() {
        $('.biaya').formatCurrency();
    });
}); 

$('#pilihanBiaya').change(function(){
   dinamycForm();
});

function dinamycForm(){
    var tempo = $('#pilihanBiaya').val();   
    var tmpE = $('#tmpE').val();
    $('#tmpE').val(tempo); 
    for($i = 1;$i <= tmpE;$i++){
         $('.row-'+$i).remove();
    }   
   
    for($i = 1;$i <= tempo;$i++){
         $('.form-data').append(
              '<div class="form-group row-'+ $i +' ">'+
                  '<label class="control-label col-md-2">Biaya UM '+ $i +'</label>'+
                  '<div class="input-group col-md-4">'+
                      '<input type="text" class="form-control" name="biaya-'+ $i +'"  placeholder="">'+
                  '</div>'+
                  '<label class="control-label col-md-2">Biaya Pembeda '+ $i +'</label>'+
                  '<div class="input-group col-md-4">'+
                      '<input type="text" class="form-control" name="biayabeda-'+ $i +'"  placeholder="">'+
                  '</div>'+
              '</div>');
    }
}
</script>