<form action="{$host}admisi/settingBea/form/" enctype="multipart/form-data" class="form-horizontal" method="post">
	<div class="form-body">
		{if isset($data.id)}<input name="id_data" value="{$data.id}" hidden>{/if}
		  <div class="form-group">
			 <label  class="control-label col-md-3">Pilih Periode</label>
			 <div class="input-group col-md-9">
				<select class="form-control"  name="kode_periode" >
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}" required {if isset($data.kode_periode)}{if $row->kode eq $data.kode_periode}selected{/if}{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			 </div>
		  </div>
		  <div class="form-group">
			 <label  class="control-label col-md-3">Pilih Jalur</label>
			 <div class="input-group col-md-9">
				<select class="form-control"  name="kode_jalur" >
					{foreach name=lope from=$jalur item=row}
					<option value="{$row->kode}" required {if isset($data.kode_jalur)}{if $row->kode eq $data.kode_jalur}selected{/if}{/if}>{$row->nama}</option>
					{/foreach}
				</select>
			 </div>
		  </div>
		  <div class="form-group">
			 <label  class="control-label col-md-3">Pilih Potongan</label>
			 <div class="input-group col-md-9">
				<select class="form-control"  name="kode_potongan" >
					{foreach name=lope from=$potongan item=row}
					<option value="{$row.kode_potongan}" required {if isset($data.kode_potongan)}{if $row.kode_potongan eq $data.kode_potongan}selected{/if}{/if}>{$row.nama_potongan}</option>
					{/foreach}
				</select>
			 </div>
		  </div>	
		  <div class="form-group">
			   <label class="control-label col-md-3">Tanggal Mulai</label>
			   <div class="col-md-9">
				   <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input type="text" class="form-control" name="tanggal_mulai" {if isset($data.tanggal_mulai)}value="{$data.tanggal_mulai}"{/if}>
				   </div>
			   </div>
		  </div>		
		  <div class="form-group">
			   <label class="control-label col-md-3">Tanggal Akhir</label>
			   <div class="col-md-9">
				   <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
						<input type="text" class="form-control" name="tanggal_akhir" {if isset($data.tanggal_akhir)}value="{$data.tanggal_akhir}"{/if}>
				   </div>
			   </div>
		  </div>							
		</div>
  <div class="modal-footer">
	 <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
	 <button type="submit" class="btn blue" value="{if isset($method)}{$method}{else}add{/if}" name="opt"> Simpan <i class="icon-plus"></i></a>
  </div>
</form>

<script>
jQuery(document).ready(function() {       
         FormComponents.init();
	});
</script>