<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<form action="{$host}admisi/settingUangMasuk/edit/do" class="form-horizontal" method="post">
    <div class="form-body">
        <div class="form-data">
            <div class="form-group">
                <label class="control-label col-md-3">Kode</label>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" value="{$biaya.code}" disabled>
                    <input type="text" value="{$biaya.code}" name="kode" hidden>
                    <input type="text" value="{$biaya.periode_kode}" name="periode" hidden>
                    <input type="text" value="KP" name="tipePemb" hidden>
                    <input id="tmpE" value="{$biaya.banyakPilihanUM}" name="tmpE" hidden="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Periode</label>
                <div class="col-md-8">
                    <select class="form-control" id="periode" disabled>
                        {foreach name=loop from=$periode item=row}
                        <option value="{$row->kode}" {if $biaya.periode_kode eq $row->kode}selected{/if}>{$row->nama}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Nama Pembayaran</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.nama}" id="nama" name="nama">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Program Studi</label>
                <div class="col-md-8">
                    <select class="form-control" id="prodi" name="prodi" disabled>
                        <option value="{$biaya.prodiTipe}">{$biaya.prodi}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-md-3">Jenjang Masuk</label>
                    <div class="col-md-7">
                        <select class="form-control" id="grade" name="grade" disabled>
                            <option>-- Pilih Jenjang --</option>
                            <option value="SMA" {if $biaya.gradeMasuk eq 'SMA'}selected{/if}>SMA</option>
                            <option value="D3" {if $biaya.gradeMasuk eq 'D3'}selected{/if}>D3</option>
                        </select>
                    </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Biaya Uang Masuk</label>
                <div class="input-group col-md-8">
                    <input type="text" class="biaya form-control" value="{$biaya.uangMasuk}" id="um" name="um">
                </div>
            </div>
		<div class="form-group">
			<label class="control-label col-md-3">Jumlah Semester</label>
			<div class="input-group col-md-8">
				<input type="text" class="biaya form-control" placeholder="Jumlah Semester" value="{$biaya.jumlahSemester}"  id="um" name="jumlah_semester">
			</div>
		</div>
            <div class="form-group">
                <label class="control-label col-md-3">Jumlah SKS</label>
                <div class="input-group col-md-8">
                    <input type="text" class="biaya form-control" value="{$biaya.jumlahSks}" id="um" name="jumlah_sks">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Biaya SKS</label>
                <div class="input-group col-md-8">
                    <input type="text" class="biaya form-control" value="{$biaya.sks}" id="sks" name="sks">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Biaya Per SKS</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.biayaPerSks}"  name="biaya_sks">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Biaya SPP</label>
                <div class="input-group col-md-8">
                    <input type="text" class="biaya form-control" value="{$biaya.spp}" id="spp" name="spp_total">
                </div>
            </div>        
            <div class="form-group">
                <label class="control-label col-md-3">Jumlah Angsuran</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.tempoAngsuran}" name="jml_angsuran">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Tanggal Angsuran Pertama</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.tglAwalAngsuran|date_format:'%d-%m-%Y'}" id="spp" name="tgl_awl_angsur">
                    <span class="help-block">Format : 23-12-2016</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Jumlah Pilihan Biaya Daftar Ulang</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.banyakPilihanUM}" id="pilihanBiaya" name="jml_pil">
                </div>
            </div>

            {foreach from=$pembeda item=row key=i}
            <div class="form-group row-{$i+1}">
                <label class="control-label col-md-2">Biaya UM  {$i+1} </label>
                <div class="input-group col-md-4">
                    <input type="text" class=" form-control" name="biaya-{$i+1}"  value="{$row.pilihan}">
                </div>
                <label class="control-label col-md-2">Biaya Pembeda  {$i+1} </label>
                <div class="input-group col-md-4">
                    <input type="text" class=" form-control" name="biayabeda-{$i+1}"  value="{$row.pembeda}">
                </div>
            </div>
            {/foreach}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn blue" id="save" value="edit" name="opt">Save</buton>
        </div>
    </div>
</form>

<script>
$(document).ready(function()
	{
    $('.biaya').formatCurrency();
        $('.biaya').blur(function()
        {
            $('.biaya').formatCurrency();
        });
});

$('#pilihanBiaya').change(function(){
   dinamycForm();
});

function dinamycForm(){
    var tempo = $('#pilihanBiaya').val();   
    var tmpE = $('#tmpE').val();
    $('#tmpE').val(tempo); 
    for($i = 1;$i <= tmpE;$i++){
         $('.row-'+$i).remove();
    }   
   
    for($i = 1;$i <= tempo;$i++){
         $('.form-data').append(
              '<div class="form-group row-'+ $i +' ">'+
                  '<label class="control-label col-md-2">Biaya UM '+ $i +'</label>'+
                  '<div class="input-group col-md-4">'+
                      '<input type="text" class=" form-control" name="biaya-'+ $i +'"  placeholder="">'+
                  '</div>'+
                  '<label class="control-label col-md-2">Biaya Pembeda '+ $i +'</label>'+
                  '<div class="input-group col-md-4">'+
                      '<input type="text" class=" form-control" name="biayabeda-'+ $i +'"  placeholder="">'+
                  '</div>'+
              '</div>');
    }
}
</script>