<form action="{$host}admisi/settingVoucher/add" enctype="multipart/form-data" class="form-horizontal" method="post">
	<div class="form-body">
			  <div class="form-group">
				   <label class="control-label col-md-3">Kode Awal Voucher</label>
				   <div class="col-md-9">
					   <div class="input-group input-medium" >
							<input type="text" class="form-control" name="kode_awal" >
					   </div>
				   </div>
			  </div>
			  <div class="form-group">
				   <label class="control-label col-md-3">Jumlah Voucher</label>
				   <div class="col-md-9">
					   <div class="input-group input-medium" >
							<input type="text" class="form-control" name="jumlah" >
					   </div>
				   </div>
			  </div>		
			  <div class="form-group">
				   <label class="control-label col-md-3">Tanggal Akhir</label>
				   <div class="col-md-9">
					   <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
							<input type="text" class="form-control" name="tanggal_akhir" >
					   </div>
				   </div>
			  </div>							
		</div>
  <div class="modal-footer">
	 <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
	 <button type="submit" class="btn blue" value="add" name="opt"> Simpan <i class="icon-plus"></i></a>
  </div>
</form>

<script>
jQuery(document).ready(function() {       
         FormComponents.init();
	});
</script>