<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<form action="{$host}admisi/settingUMS2/add" class="form-horizontal" method="post">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">Kode</label>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" placeholder="Kode[Automatic]" id="kode" name="kode" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Periode</label>
            <div class="col-md-8">
                <select class="form-control" id="pseriode" name="periode" required>
                    <option value="">-- Select Periode --</option>
                    {foreach name=loop from=$periode item=row}
                    <option value="{$row->kode}">{$row->nama}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Program Studi</label>
            <div class="col-md-8">
                <select class="form-control" id="prodi" name="prodi" required>
                    <option value="">-- Select Prodi --</option>
                    {foreach from=$prodi item=row}
                    <option value="{$row.kode}">{$row.nama}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama Pembayaran</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" placeholder="Nama Pembayaran" id="nama" name="nama" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Uang Masuk</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" placeholder="Uang Masuk (Rp.)" id="um" name="um">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Biaya SPP</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" placeholder="Total Biaya SPP (Rp.)" id="spp" name="spp">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Biaya SKS</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" placeholder="Total Biaya SKS (Rp.)" id="sks" name="sks">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Jumlah Semester</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" placeholder="Jumlah Semester Perkuliahn" id="jumlahSem" name="jumlahSem">
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
        <button type="submit" class="btn blue" id="save" value="save" name="opt">Simpan <i class="icon-save"></i></button>
    </div>
</form>
<script type="text/javascript">
    
$(document).ready(function() {
    $('.biaya').blur(function() {
        $('.biaya').formatCurrency();
    });
});
</script>
