<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<form action="{$host}admisi/settingTambahMetodeParalel/update/save" class="form-horizontal" method="post">
    <div class="form-body">
        <div class="form-data">
            <div class="form-group">
                <label class="control-label col-md-3">Kode</label>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" value="{$biaya.code}" disabled>
                    <input type="text" value="{$biaya.code}" name="kode" id="biaya_kode" hidden>
                    <input type="text" value="{$biaya.periode_kode}" name="periode" id="periodeValue" hidden>
                    <input type="text" value="KP" name="tipePemb" hidden>
                    <input id="tmpE" value="{$biaya.banyakPilihanUM}" name="tmpE" hidden="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Periode</label>
                <div class="col-md-8">
                    <select class="form-control" id="periode" disabled>
                        {foreach name=loop from=$periode item=row}
                        <option value="{$row->kode}" {if $biaya.periode_kode eq $row->kode}selected{/if}>{$row->nama}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Nama Pembayaran</label>
                <div class="input-group col-md-8">
                    <input type="text" class="form-control" value="{$biaya.nama}" id="nama" name="nama">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Program Studi</label>
                <div class="col-md-8">
                    <select class="form-control" id="prodi" name="prodi" disabled>
                        <option value="{$biaya.prodiTipe}">{$biaya.prodi}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-md-3">Jenjang Masuk</label>
                    <div class="col-md-7">
                        <select class="form-control" id="grade" name="grade" disabled>
                            <option>-- Pilih Jenjang --</option>
                            <option value="SMA" {if $biaya.gradeMasuk eq 'SMA'}selected{/if}>SMA</option>
                            <option value="D3" {if $biaya.gradeMasuk eq 'D3'}selected{/if}>D3</option>
                        </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-md-3">Pilih Potongan</label>
                    <div class="col-md-7">
                        <select class="potongan form-control" id="potongan" name="potongan">
                            <option>-- Pilih Potongan --</option>
							{foreach from=$potongan item=row}
                            <option value="{$row.kode_potongan}" >{$row.nama_potongan}</option>
							{/foreach}
                        </select>
                    </div>
            </div>

            

            {foreach from=$pembeda item=row key=i}
            <div class="form-group row-{$i+1}">
                <label class="control-label col-md-3">Biaya UM  {$i+1} </label>
                <div class="input-group col-md-5">
                    <input type="text" class=" form-control" name="biaya-{$i+1}" id="biaya-{$i+1}"  value="{$row.pilihan}">
                </div>
                <div class="input-group col-md-4">
                    <input type="text" class=" form-control" name="biayabeda-{$i+1}" id="biayabeda-{$i+1}" placeholder="Biaya pembeda  {$i+1} " value="">
                </div>
            </div>
            {/foreach}
			<div class="form-group row}">
                <label class="control-label col-md-3">Biaya Angsuran</label>
                <div class="input-group col-md-9">
                    <input type="text" class=" form-control" name="biaya_angsuran" id="biaya_angsuran"  value="">
                </div>
			</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn blue" id="save" value="save" name="opt">Save</buton>
        </div>
    </div>
</form>

<script>
$(document).ready(function()
	{
    $('.biaya').formatCurrency();
        $('.biaya').blur(function()
        {
            $('.biaya').formatCurrency();
        });
});
{literal}
$('.potongan').change(function() {
    val = $(this).attr('value');
    biaya_kode = $('#biaya_kode').attr('value');
    periode = $('#periodeValue').attr('value');
	
    $.post('{/literal}{$host}{literal}admisi/settingTambahMetodeParalel/form', 
		{	'val': val, 
			'opt':'selectPotongan', 
			'biaya_kode':biaya_kode,
			'periode':periode
		}, function(resp) {
			var objPembeda = jQuery.parseJSON(resp);
			for(i = 0; i < objPembeda.length; i++){
				console.log(objPembeda[i].pilihan+" : "+ objPembeda[i].pembeda);
				$('#biaya-'+(i+1)).val(objPembeda[i].pilihan);
				$('#biayabeda-'+(i+1)).val(objPembeda[i].pembeda);
				$('#biaya_angsuran').val(objPembeda[i].angsuran);
			}
    });
});
{/literal}
</script>