<div class="col-md-12 form-group" >    
    <div class="form-group">
        <label class='control-label col-md-2'>Periode Seleksi</label>
        <div class='col-md-4'>
            <select class='form-control' name="periode" id="periode">
                    {foreach name=lope from=$periode item=row}
                    <option value="{$row->kode}">{$row->nama}</option>
                    {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class='control-label col-md-2'>Jalur Seleksi</label>
        <div class='col-md-4'>
            <select  class="form-control" name="wil" id="wil">
                    {foreach name=lope from=$jalur item=row}
                    <option value="{$row->kode}">{$row->nama}</option>
                    {/foreach}
            </select>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="tblWilayah" style="margin-top:10px;">				
</div>	
<script>
{literal}
$(document).ready(function(){
        displayUM()
});

$("#wil,#periode").change(function(){
        displayUM();
});

function displayUM(){
    $.post("{/literal}{$host}{literal}admisi/{/literal}{$fungsi}{literal}/table",{
                                'jalur':$('#wil').val(),'periode':$('#periode').val()					
                        },function(resp){
        $('#tblWilayah').html(resp);
    });
}

</script>
{/literal}

												  