<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="col-md-12 form-group">
			<label class='control-label col-md-2'>Pilih Potongan</label>
			<div class='col-md-10'>
				<select class='form-control' name="potongan" id="potongan">
						<option value="">-- Pilih potongan --</option>
						{foreach from=$potongan item=row}
						<option value="{$row.kode_potongan}">{$row.nama_potongan}</option>
						{/foreach}
				</select>
			</div>
    </div>
	<br>
	<br>
	<div id="tabel_detil">
		{include file="admisi/detilBiayaKelasMalam.html"}
    </div>
    
</div>
<script>
{literal}
$(document).ready(function(){
        <!-- displayDdetilUMParalel() -->
});

$("#potongan").change(function(){
        displayDdetilUMParalel();
});

function displayDdetilUMParalel(){
    $.post("{/literal}{$host}{literal}admisi/settingUangMasuk/detil/{/literal}{$kode_pembayaran}{literal}",
	{'potongan':$('#potongan').val(), 'page':'detil'},function(resp){
        $('#tabel_detil').html(resp);
    });
}

{/literal}
</script>
