	<div class="tab-pane" id="tab_1_4">
		<div class="row">
		   <div class="col-md-12">
			  <div class="add-portfolio" style="margin-bottom:10px">
				 <span>Buka Penyelenggaraan Seleksi Universitas Bakrie</span>  
				<a href="#add" class="btn" style="float:right;" data-toggle="modal"><i class="icon-plus"> </i> Tambah</a>
			  </div>							  
				<div class="col-md-12" style="margin-bottom:10px;margin-left: -13px;">
					<select  class="form-control" name="periode" id="periode">
							{foreach name=lope from=$periode item=row}
							<option value="{$row->kode}" {if $periode.status eq 1}selected{/if}>{$row->nama}</option>
							{/foreach}
					</select>
				</div>
				<div id="selectJalur"></div>
		   </div>						   
		</div>
		<div id="tblJadwal" name="tblJadwal">
		</div>
	<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
		   <div class="modal-content">
			  <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				 <h4 class="modal-title">Tambah Jalur Seleksi</h4>
			  </div>
			  <div class="modal-body">
				<form action="{$host}admisi/admisiOptBuka/add" class="form-horizontal" method="post">
					<div class="form-body">
						  <div class="form-group">
							 <label  class="control-label col-md-3">Kode</label>
							 <div class="input-group col-md-6">
								<input type="text" class="form-control" placeholder="Kode[Automatic]" id="kode" name="kode" disabled>
							 </div>
						  </div>
						  <div class="form-group">
							<label  class="control-label col-md-3">Periode</label>
								<div class="col-md-9">
									<select class="form-control" id="fPeriode"  name="periode" class="periode" onchange="selectForm('fPeriode')">
										<option>Pilih Periode</option>
										{foreach name=lope from=$periode item=row}
											<option value="{$row->kode}">{$row->nama}</option>
										{/foreach}
									</select>
								</div>
						  </div>
						  <div class="form-group">
							<label  class="control-label col-md-3">Program Studi</label>
								<div class="col-md-9">
									<select class="form-control" id="fProdi"  name="prodi" class="prodi">
										
									</select>
								</div>
						  </div>
						  <div class="form-group">
							<label  class="control-label col-md-3">Jalur</label>
								<div class="col-md-9">
									<select class="form-control" id="fJalur"  name="jalur" class="jalur">
										
									</select>
								</div>
						  </div>
						   <div class="form-group">
							  <label class="control-label col-md-3">Date Range</label>
							  <div class="col-md-4">
								 <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
									<input type="text" class="form-control" name="from">
									<span class="input-group-addon">to</span>
									<input type="text" class="form-control" name="to">
								 </div>
								 <!-- /input-group -->
								 <span class="help-block">Select date range</span>
							  </div>
						   </div>
						  <div class="form-group">
							 <label  class="control-label col-md-3">Nama</label>
							 <div class="input-group col-md-9">
								<input type="text" class="form-control" placeholder="Nama [Automatic]" id="nama" name="nama" disabled>
							 </div>
						  </div>
						  <div class="form-group">
							<label  class="control-label col-md-3">Status</label>
								<div class="col-md-9">
									<select class="form-control" id="status"  name="status" class="status">
										<option value="1">AKTIF</option>
										<option value="0">TIDAK AKTIF</option>
									</select>
								</div>
						  </div>
					  <div class="modal-footer">
						 <button type="button" class="btn default" data-dismiss="modal">Close</button>
						 <button type="submit" class="btn blue" id="save" value="add" name="opt"> Tambah <i class="icon-plus"></i></a>
					  </div>
				</form>
			  </div>
		   </div>
		  </div>
		   <!-- /.modal-content -->
	</div>
</div>
	
{literal}
<script>
jQuery(document).ready(function() {       
         // initiate layout and plugins
		 id = "admisiBukaSeleksi";
		 $.post("{/literal}{$host}{literal}admisi/admisiJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
      });

	$("#periode").change(function(){
		id = "admisiBukaSeleksi";
		$.post("{/literal}{$host}{literal}admisi/admisiJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
	});
	function selectForm(method, target){
		$.post("{/literal}{$host}{literal}admisi/selectForm/"+method,{'kode':$('#'+method).val(),'target':'prodi'},function(resp){
				$('#fProdi').html(resp);
            });
		$.post("{/literal}{$host}{literal}admisi/selectForm/"+method,{'kode':$('#'+method).val(),'target':'jalur'},function(resp){
				$('#fJalur').html(resp);
            });
	}
</script>
{/literal}
  