<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption">Setting Pembayaran Daftar Ulang Kelas Malam</div>
            <div class="actions">
                <a class="btn blue" href="#add" data-toggle="modal"><i class="icon-plus"></i> Add</a>
                <a class="btn green" href="#copy" data-toggle="modal"><i class="icon-pencil"></i> Copy</a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Prodi</th>
                        <th>Uang Masuk</th>
                        <th>Biaya SKS</th>
                        <th>Total SPP</th>
                        <th width="5%">Tempo</th>
                        <th width="20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name=loop from=$sql item=row}
                    <tr>
                        <td><b>{$row->nama}</b>
                        </td>
                        <td>{$row->prodi}</td>
                        <td>Rp {if $row->uangMasuk eq '0'} - {else}
                            {$row->uangMasuk|number_format:0:",":"."}<br>
                            {/if}
                        </td>
                        <td>SKS : {$row->jumlahSks} X {$row->biayaPerSks|number_format:0:",":"."}<br>
                            Total Biaya : {($row->jumlahSks*$row->biayaPerSks)|number_format:0:",":"."}
                        </td>
                        <td>Rp {$row->spp|number_format:0:",":"."}</td>
                        <td>{$row->tempoAngsuran}</td>
                        <td>
                            <a class="detil btn btn-xs btn-default" href="{$host}admisi/settingUangMasuk/detil/{$row->kode}-{$row->periode_kode}" ><i class="icon-search"></i> Detil</a>
                            <a class="editer btn btn-xs btn-default" href="#formEdit" data-toggle="modal" name="edit" value="{$row->kode}-{$row->periode_kode}"><i class="icon-pencil"></i> Edit</a>
                            <a class="formBeasiswa btn btn-xs btn-default" href="#formBeasiswaParalel" data-toggle="modal" name="formBeasiswa" value="{$row->kode}-{$row->periode_kode}"><i class="icon-plus"></i> Beasiswa</a>
                        </td>
                    </tr>
                    {/foreach}
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<div class="modal fade" id="copy" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Copy Pembayaran Daftar Ulang</h4>
            </div>
            <div class="modal-body">
                <form action="{$host}master/mDaftarUlang/copy" class="form-horizontal" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Refernsi</label>
                            <div class="input-group col-md-8">
                               <select class='form-control' name="periode_ref" id="periode">
                                    {foreach name=lope from=$periode item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Baru</label>
                            <div class="input-group col-md-8">
                               <select class='form-control' name="periode_new" id="periode">
                                    {foreach name=lope from=$periode item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Jalur Seleksi</label>
                            <div class="input-group col-md-8">
                                <select  class="form-control" name="jalur">
                                        {foreach name=lope from=$jalur item=row}
                                        <option value="{$row->kode}">{$row->nama}</option>
                                        {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn blue" id="save" value="save" name="opt">Copy <i class="icon-plus"></i>
                            </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- /.modal-content -->
</div>
<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tambah Pembayaran Daftar Ulang Kelas Malam</h4>
            </div>
            {include file="admisi/formAddPembayaran.html"}   
        </div>
    </div>
        <!-- /.modal-content -->
</div>

<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Periode Seleksi</h4>
            </div>
            <div class="modal-body">
                <div id="form">
                    </id>
                </div>
            </div>  
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="modal fade" id="formBeasiswaParalel" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tambah Metode Beasiswa Paralel</h4>
            </div>
            <div class="modal-body">
                <div id="formBea">
                    </id>
                </div>
            </div>  
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div id="verifikasiRuang">
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.biaya').blur(function() {
        $('.biaya').formatCurrency();
    });
}); 
{literal}
$(".editer").each(function(i, v) {
    $(this).click(function() {
        opt = $(this).attr("name");
        val = $(this).attr("value");
        $.post("{/literal}{$host}{literal}admisi/settingUangMasuk/edit", {
            'opt': opt,
            'val': val
        }, function(resp) {
            $('#form').html(resp);
        });
    });
}); 

$(".formBeasiswa").each(function(i, v) {
    $(this).click(function() {
        opt = $(this).attr("name");
        val = $(this).attr("value");
        $.post("{/literal}{$host}{literal}admisi/settingTambahMetodeParalel/form", {
            'opt': opt,
            'val': val
        }, function(resp) {
            $('#formBea').html(resp);
        });
    });
}); 

$(".detil").each(function(i, v) {
    $(this).click(function() {
        opt = $(this).attr("name");
        val = $(this).attr("value");
        $.post("{/literal}{$host}{literal}admisi/settingUangMasuk/detil", {
            'opt': opt,
            'val': val
        }, function(resp) {
            $('#form').html(resp);
        });
    });
}); 
{/literal}
{literal}
$(".deleter").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/mDaftarUlang/delete ", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
{literal}
$(".nonaktif ").each(function (i, v){
	$(this).click( function() {	
			id = "nonaktif ";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/mDaftarUlang/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
{literal}
$(".aktif ").each(function (i, v){
	$(this).click( function() {	
			id = "aktif ";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post(" {/literal}{$host}{literal}master/mDaftarUlang/delete ", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
</script>
