 <div class="row">
	<div class="col-sm-12">
	   <!-- BEGIN EXAMPLE TABLE PORTLET-->
	   <div class="portlet box card">
		  <div class="portlet-title">
			 <div class="caption">Setting beasiswa periode admisi</div>
			 <div class="actions">
				<a class="btn btn-xs btn-info" href="#add" data-toggle="modal"><i class="icon-plus"></i> Tambah Voucher</a>
				<a class="btn btn-xs btn-success" href="{$host}admisi/exportVoucherToExcel" target="_blank"><i class="icon-download-alt"></i> Export Voucher</a>
			 </div>
		  </div>
		  <div class="portlet-body">
			 <table class="table table-striped table-bordered table-hover" id="sample_2">
				<thead>
				   <tr><th>Kode Voucher</th>
					  <th >Tanggal Berakhir</th>
					  <th >Status Voucher</th>
					  <th >Action</th>
				   </tr>
				</thead>
				<tbody>
				{foreach name=loop from=$data item=row}
				   <tr class="odd gradeX">
					  <td width="10%">{$row.kode_voucher}</td>
					  <td width="25%" >{$row.tanggal_expired|date_format:"%e %b, %Y"}</td>
					  <td width="40%" >{if $row.isUsed eq 'Y'}Digunakan{else}Belum Digunakan{/if}</td>
					  <td width="15%"> 
						<a class="deleting btn btn-xs btn-default" href="#verifikasi" data-toggle="modal" name="delete" value="{$row.id}"><i class="icon-trash"></i> Delete</a>
					  </td>
				   </tr>
				{/foreach}
				</tbody>
			 </table>
		  </div>
	   </div>
	   <!-- END EXAMPLE TABLE PORTLET-->
	</div>
 </div>
 <div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Tambah Voucher Admisi</h4>
		  </div>
		  <div class="modal-body">
			{include file="admisi/formVoucher.html"}
		  </div>
	   </div>
	  </div>
	   <!-- /.modal-content -->
	</div>
</div>
<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Edit Potongan Admisi</h4>
		  </div>
		  <div class="modal-body">
			<div id="formJalur"></id>							  
		  </div>
	   </div>
	  </div>
	   <!-- /.modal-content -->
	</div>
</div>
<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Confirmation</h4>
		  </div>
		  <div id="verifikasiRuang">
		  </div>
	   </div>
	</div>
</div>
<script>
jQuery(document).ready(function() {
    TableManaged.init();
});
{literal}
	$(".editing").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}admisi/settingBea/edit", {'opt':opt, 'val':val},function(resp){
			$('#formJalur').html(resp);
		});
	});
	});
{/literal}
{literal}
$(".deleting").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}admisi/settingVoucher/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
</script>