<div class="tab-pane" id="tab_1_4">
		<div class="row">
		   <div class="col-md-12">
			  <div class="add-portfolio" style="margin-bottom:10px">
				 <span>Jadwal Ujian Tes Tulis</span>  
				 <a href="#add" class="btn" style="float:right;" data-toggle="modal"><i class="icon-plus"> </i> Tambah</a>
			  </div>							  
			   <div class="col-md-12" style="margin-bottom:10px;margin-left: -13px;">
					<select  class="form-control" name="periode" id="periode">
						{foreach name=lope from=$sql item=row}
						<option value="{$row->kode}" {if $row->status eq 1}selected{/if}>{$row->nama}</option>
						{/foreach}
					</select>
			   </div>
			<div id="selectJalur"> </div>
		   </div>						   
		</div>
		<div id="tblJadwal" name="tblJadwal">
		</div>
</div>
	<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog modal-wide">
		   <div class="modal-content">
			  <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				 <h4 class="modal-title">Tambah Jadwal Seleksi</h4>
			  </div>
			  <div class="modal-body">
				<form action="{$host}admisi/admisiJadwalSeleksi/add" class="form-horizontal" method="post">
						<div class="form-body">
								<div class = "row">
								 <div class="col-md-6">
										  <div class="form-group">
												 <label  class="control-label col-md-5">Kode</label>
												 <div class="input-group col-md-7">
														<input type="text" class="form-control" placeholder="Kode[Automatic]" id="kode" name="kode" disabled>
												 </div>
										  </div>
								 </div>
								 <div class="col-md-6">
										  <div class="form-group">
												 <label  class="control-label col-md-2">Nama</label>
												 <div class="input-group col-md-10">
														<input type="text" class="form-control" placeholder="Nama Jadwal Seleksi" id="nama" name="nama">
												 </div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">
										  <div class="form-group">
												<label  class="control-label col-md-3">Periode</label>
														<div class="col-md-9">
																<select class="form-control" id="fPeriode"  name="periode" class="periode" onchange="selectForm('fPeriode','')">
																		<option>Pilih periode</option>
																		{foreach name=lope from=$periode item=row}
																				<option value="{$row->kode}">{$row->nama}</option>
																		{/foreach}
																</select>
														</div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-6">
										  <div class="form-group">
												<label  class="control-label col-md-5">Jalur</label>
														<div class="col-md-7">
																<select class="form-control" id="fJalur"  name="jalur" class="jalur">
																		{foreach name=lope from=$jalur item=row}
																				<option value="{$row->kode}">{$row->nama}</option>
																		{/foreach}
																</select>
														</div>
										  </div>
								 </div>
								 <div class="col-md-6">
										  <div class="form-group">
												<label  class="control-label col-md-2">Ruang</label>
														<div class="col-md-9">
																<select class="form-control" id="ruang"  name="ruang" class="ruang">
																		{foreach name=lope from=$ruang item=row}
																				<option value="{$row->kode}">{$row->nama}</option>
																		{/foreach}
																</select>
														</div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-6">
										  <div class="form-group">
												   <label class="control-label col-md-5">Tanggal</label>
												   <div class="col-md-7">
												   <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
																<input type="text" class="form-control" name="tanggal">
												   </div>
												   </div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-6">
										  <div class="form-group">
												   <label class="control-label col-md-5">Jam Mulai</label>
												   <div class="col-md-7">
													 <div class="input-group bootstrap-timepicker">                                       
																<input type="text" class="form-control timepicker-24" name="pukulMasuk">
																<span class="input-group-btn">
																<button class="btn default" type="button"><i class="icon-time"></i></button>
																</span>
														 </div>
												   </div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-6">
										  <div class="form-group">
												   <label class="control-label col-md-5">Jam Selesai</label>
												   <div class="col-md-7">
													 <div class="input-group bootstrap-timepicker">                                       
																<input type="text" class="form-control timepicker-24" name="pukulKeluar">
																<span class="input-group-btn">
																<button class="btn default" type="button"><i class="icon-time"></i></button>
																</span>
														 </div>
												   </div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">
										<div class="form-group">
											  <label  class="control-label col-md-3">Petugas 1</label>
											  <div class="col-md-9">
													<select class="form-control" id="petugas1"  name="petugas1" class="petugas1">
													  {foreach name=lope from=$petugas item=row}
														  <option value="{$row->kode}">{$row->nama}</option>
													  {/foreach}
													</select>
											  </div>
										</div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">
										<div class="form-group">
											  <label  class="control-label col-md-3">Petugas 2</label>
											  <div class="col-md-9">
													<select class="form-control" id="petugas2"  name="petugas2" class="petugas2">
													  {foreach name=lope from=$petugas item=row}
														  <option value="{$row->kode}">{$row->nama}</option>
													  {/foreach}
													</select>
											  </div>
										</div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">
										<div class="form-group">
											  <label  class="control-label col-md-3">Petugas 3</label>
											  <div class="col-md-9">
													<select class="form-control" id="petugas3"  name="petugas3" class="petugas3">
													  {foreach name=lope from=$petugas item=row}
														  <option value="{$row->kode}">{$row->nama}</option>
													  {/foreach}
													</select>
											  </div>
										</div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">
										  <div class="form-group">
												<label  class="control-label col-md-3">Pewawancara 1</label>
												<div class="col-md-9">
																<select class="form-control" id="pww1"  name="pww1" class="pww1">
																		{foreach name=lope from=$petugas item=row}
																				<option value="{$row->kode}">{$row->nama}</option>
																		{/foreach}
																</select>
												</div>
										  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-10">										  
								  <div class="form-group">
										<label  class="control-label col-md-3">Pewawancara 2</label>
												<div class="col-md-9">
														<select class="form-control" id="pww2"  name="pww2" class="pww2">
																{foreach name=lope from=$petugas item=row}
																		<option value="{$row->kode}">{$row->nama}</option>
																{/foreach}
														</select>
												</div>
								  </div>
								 </div>
								</div>
								<div class = "row">
								 <div class="col-md-6">
								  <div class="form-group">
										<label  class="control-label col-md-5">Status</label>
												<div class="col-md-7">
														<select class="form-control" id="status"  name="status" class="status">
																<option value="1">AKTIF</option>
																<option value="0">TIDAK AKTIF</option>
														</select>
												</div>
								  </div>
								 </div>										 
								 <div class="col-md-6">
								  <div class="form-group">
										<label  class="control-label col-md-5">Prioritas</label>
												<div class="col-md-7">
														<input type="number" class="form-control" name="prioritas" placeholder="Prioritas Pengisian Kelas" required>
												</div>
								  </div>
								 </div>
								</div>
						  <div class="modal-footer">
								 <button type="button" class="btn default" data-dismiss="modal">Close</button>
								 <button type="submit" class="btn blue" id="save" value="add" name="opt"> Tambah <i class="icon-plus"></i></a>
						  </div>
				</form>
			  </div>
		   </div>
		  </div>
		   <!-- /.modal-content -->
	</div>
</div>
<script>
{literal}
jQuery(document).ready(function() {       
         // initiate layout and plugins
		 id = "admisiJadwalSeleksi";
		 $.post("{/literal}{$host}{literal}admisi/admisiJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
      });

	$("#periode").change(function(){

		id = "admisiJadwalSeleksi";
		$.post("{/literal}{$host}{literal}admisi/admisiJalur",{
					'periode':$('#periode').val(), 'fungsi':id					
				},function(resp){
                $('#selectJalur').html(resp);
            });
	});
	
	
	function selectForm(method, target){
		$.post("{/literal}{$host}{literal}admisi/selectForm/"+method,{'kode':$('#'+method).val(),'target':'prodi'},function(resp){
				$('#fProdi').html(resp);
            });
		$.post("{/literal}{$host}{literal}admisi/selectForm/"+method,{'kode':$('#'+method).val(),'target':'jalur'},function(resp){
				$('#fJalur').html(resp);
            });
	}
{/literal}
</script>
 