

<div class="col-md-12 col-xs-12">
  <div class="portlet box card light">
     <div class="portlet-title">
        <div class="caption ">GRAFIK HARIAN EDU CONSULTANT</div>
        <div class="tools">
           <a href="javascript:;" class="collapse"></a>
       </div>
     </div>
      <div class="portlet-body" id="curve_chart" style="height: 420px;"></div>
  </div>
</div>

<div class="col-md-12 col-xs-12">
  <div class="portlet box card">
     <div class="portlet-title">
        <div class="caption ">GRAFIK PERFORMANCE EDU CONSULTANT</div>
        <div class="tools">
          <a   href="{$host}laporan/export_perform/{$periodeselected}/{$bulanselected}" class='label label-sm' target="_blank"> DOWNLOAD DATA </a>
           <!-- <a href="javascript:;" class="collapse"></a> -->
       </div>
     </div>
      <div class="portlet-body" id="bar_chart_edu" style="height: 420px;"></div>
  </div>
</div>
<div class="col-md-12 col-xs-12">
  <div class="portlet box card">
     <div class="portlet-title">
        <div class="caption ">GRAFIK PERFORMANCE EDU CONSULTANT</div>
        <div class="tools">
           <a href="javascript:;" class="collapse"></a>
       </div>
     </div>
      <div class="portlet-body" id="bar_chart_edu_follow" style="height: 420px;"></div>
  </div>
</div>


<script type="text/javascript">
  {literal}
  google.charts.load('current', {'packages':['bar','line','corechart']});

  google.charts.setOnLoadCallback(drawChartCurve);

  function drawChartCurve() {
      var data = google.visualization.arrayToDataTable({/literal}{$totalPerformaEdu}{literal});

      var options = {
          title: 'GRAFIK FOLLOW UP EDU CONSULTANT',
          curveType: 'function',
          legend: { position: 'bottom' }
      };
      // console.log(data);
      var chartLine = new google.charts.Line(document.getElementById('curve_chart'));

      chartLine.draw(data, options);
  }

  google.charts.setOnLoadCallback(drawChartPerformEdu);

function drawChartPerformEdu() {
  var data = google.visualization.arrayToDataTable({/literal}{$performedu}{literal});
  
  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

      var options = {
        chart: {
          title: 'GRAFIK PERFORMANCE EDU CONSULTANT',
          subtitle: '',
    legend: { position: 'bottom' }
        },
        bars: 'vertical' // Required for Material Bar Charts.
      };
  
      var chart = new google.charts.Bar(document.getElementById('bar_chart_edu'));
  chart.draw(view, options);
    } 

  google.charts.setOnLoadCallback(drawChartPerformEduFollow);

function drawChartPerformEduFollow() {
  var data = google.visualization.arrayToDataTable({/literal}{$performeduFollow}{literal});
  
  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

      var options = {
        chart: {
          title: 'GRAFIK PERFORMANCE EDU CONSULTANT',
          subtitle: '',
    legend: { position: 'bottom' }
        },
        bars: 'vertical' // Required for Material Bar Charts.
      };
  
      var chart = new google.charts.Bar(document.getElementById('bar_chart_edu_follow'));
  chart.draw(view, options);
    } 


  {/literal}
</script>