<style>
  .dashboard-stat{
    box-shadow:4px 5px 15px 0px rgba(0, 0, 0, 0.15) !important;
    border-radius:12px !important;
  }
  .light .desc {
    color :black !important;
  }
  .light .number {
    color :black !important;
  }
  .dashboard-stat .visual i {
    font-size: 32px;
    line-height: 32px;
  }
  .light .visual i {
    font-size: 32px;
    line-height: 32px;
    color :black !important;
  }
</style>
<div class="col-md-12 col-xs-12 ">
  <div class="col-md-6 row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-stat green " >
        <div class="visual">
          <i class="icon-bar-chart"></i>
        </div>
        <div class="details">
          <div class="number">
            {$stats_data.count_today}
          </div>
          <div class="desc">                           
              Hari ini
          </div>
        </div>
      </div>              
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue ">
        <div class="visual">
          <i class="icon-user"></i>
        </div>
        <div class="details">
          <div class="number">
            {$stats_data.count_all}
          </div>
          <div class="desc">                           
              Total
          </div>
        </div>
      </div>              
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-stat light ">
        <div class="visual">
          <i class="icon-globe"></i>
        </div>
        <div class="details">
          <div class="number">
            {$stats_data.register}
          </div>
          <div class="desc">                           
              Register
          </div>
        </div>
      </div>              
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="dashboard-stat light">
        <div class="visual">
          <i class="icon-globe"></i>
        </div>
        <div class="details">
          <div class="number">
            {$stats_data.not_register}
          </div>
          <div class="desc">                           
              Not Register
          </div>
        </div>
      </div>              
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="portlet box card light">
        <div class="portlet-body" id="pie_chart" style="height: 270px;"></div>
    </div> 
  </div>
</div>

<div class="col-md-12 col-xs-12">
  <div class="portlet box card">
     <div class="portlet-title">
        <div class="caption ">Grafik laporan sumber Landing Page Universitas Bakrie - Periode Aktif </div>
        <div class="tools">
           <a href="javascript:;" class="collapse"></a>
       </div>
     </div>
      <div class="portlet-body" id="bar_sumber_lp" style="height: 420px;"></div>
  </div>
</div>

<div class="col-md-12 col-xs-12">
  <div class="portlet box card light">
     <div class="portlet-title">
        <div class="caption ">GRAFIK HARIAN LANDING PAGE</div>
        <div class="tools">
           <a href="javascript:;" class="collapse"></a>
       </div>
     </div>
      <div class="portlet-body" id="curve_chart" style="height: 420px;"></div>
  </div>
</div>


<div class="col-md-12 col-xs-12">
  <div class="portlet box card">
     <div class="portlet-title">
        <div class="caption ">GRAFIK PERFORMANCE EDU CONSULTANT</div>
        <div class="tools">
          <a   href="{$host}laporan/export_perform/{$periodeselected}/{$bulanselected}" class='label label-sm' target="_blank"> DOWNLOAD DATA </a>
           <!-- <a href="javascript:;" class="collapse"></a> -->
       </div>
     </div>
      <div class="portlet-body" id="bar_chart_edu" style="height: 420px;"></div>
  </div>
</div>


<script type="text/javascript">
  {literal}
  google.charts.load('current', {'packages':['bar','line','corechart']});

  google.charts.setOnLoadCallback(drawChartCurve);

  function drawChartCurve() {
      var data = google.visualization.arrayToDataTable({/literal}{$totalPerformLP}{literal});

      var options = {
          title: 'GRAFIK FOLLOW UP EDU CONSULTANT',
          curveType: 'function',
          legend: { position: 'bottom' }
      };
      // console.log(data);
      var chartLine = new google.charts.Line(document.getElementById('curve_chart'));

      chartLine.draw(data, options);
  }

  google.charts.setOnLoadCallback(drawPieChart);

  function drawPieChart(){
      var data = google.visualization.arrayToDataTable({/literal}{$pie_data_chart}{literal});
      var options = {
          title: 'Status LP',
          chartArea : { left: 10, width: "100%", top : 20, height : "100%" },
          legend:{textStyle:{fontSize:"10"}}
      };
      // console.log(data);
      var pie_chart = new google.visualization.PieChart(document.getElementById('pie_chart'));

      pie_chart.draw(data, options);

  }

google.charts.setOnLoadCallback(drawCharSumberLP);

function drawCharSumberLP() {
  var data = google.visualization.arrayToDataTable({/literal}{$srcdata}{literal});
  
  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

      var options = {
        chart: {
          title: 'Grafik laporan sumber Landing Page',
          subtitle: '',
    legend: { position: 'bottom' }
        },
        bars: 'horizontal' // Required for Material Bar Charts.
      };
  
      var chart = new google.charts.Bar(document.getElementById('bar_sumber_lp'));
  chart.draw(view, options);
    } 

    google.charts.setOnLoadCallback(drawChartPerformEdu);

function drawChartPerformEdu() {
  var data = google.visualization.arrayToDataTable({/literal}{$performedu}{literal});
  
  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

      var options = {
        chart: {
          title: 'GRAFIK PERFORMANCE EDU CONSULTANT',
          subtitle: '',
    legend: { position: 'bottom' }
        },
        bars: 'vertical' // Required for Material Bar Charts.
      };
  
      var chart = new google.charts.Bar(document.getElementById('bar_chart_edu'));
  chart.draw(view, options);
    } 

  {/literal}
</script>