<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class='row'>
	<div class="col-md-12 col-xs-12">
        <div class="col-md-1" ><label>Filter by : </label> </div>
		<div class="col-md-4" >
			<select class="form-control input-sm" name="periode" id="periode" onchange="filter_grap()">
				{foreach name=lope from=$periode item=row}
				<option value="{$row.kode}">{$row.nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-3">
			<select class="form-control input-sm" name="bulan" id="bulan" onchange="filter_grap()">
				<option value="all">Semua Bulan</option>
				{foreach name=lope from=$bulan item=row key=k}
				<option value="{$k}">{$row}</option>
				{/foreach}
			</select>
		</div>
	</div>
</div>
<hr>
<div id="graph" class="row">
    {include file="laporan/chart_ec.html"}
</div>

<script>

function filter_grap(){
    var param = {};
    param['periode'] = $('#periode').val();
    param['bulan'] = $('#bulan').val();
    $.post('{$host}laporan/performa_ec', param, function (resp) {
        $('#graph').html(resp);
    });
}
</script>