
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class='row'>
	<div class="col-md-12 col-xs-12">
		<div class="col-md-4" >
			<select class="form-control" name="periode" id="periode">
				{foreach name=lope from=$periode item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-2">
			<select class="form-control " name="jalur" id="jalur">
				<option value="all">Semua Jalur</option>
				{foreach name=lope from=$jalur item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-2" >
			<select class="form-control" name="prodi" id="prodi">
				<option value="all">Semua Prodi</option>
				{foreach name=lope from=$prodi item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-4" >
			<select class="form-control" name="potongan" id="potongan">
				<option value="0">Pilih Gelombang</option>
				{foreach name=lope from=$gelombang item=row}
				<option value="{$row.id}">{$row.kode_periode} - {$row.jalur} - {$row.nama_potongan}</option>
				{/foreach}
			</select>
		</div>
	</div>
</div>
<br>
	<div id="kontenLaporan" class='col-md-12'>
		<div class="tiles">
		   <a href="#" id="daftar" onclick="export_data('daftar')">
			<div class="tile bg-purple">
				<div class="tile-body">
					<label>Sudah daftar dan sudah bayar</label>
					<i class="icon-file"></i>
				</div>
				<div class="tile-object">
				</div>
			</div>
		   </a>
		   <a href="#" id="belum_bu" onclick="export_data('belum_bu')">
			<div class="tile double bg-red">
				<div class="tile-header"></div>
				<div class="tile-body">
					<label>Laporan <h5>Sudah bayar tp blm ujian </h5></label>
					<i class="icon-money"></i>
				</div>
				<div class="tile-object">
				</div>
			</div>
		   </a>
		   <a href="#" id="belum_du" onclick="export_data('belum_du')">
			<div class="tile double bg-blue">
				<div class="tile-body">
					<!-- <img src="assets/img/photo1.jpg" alt=""> -->
					<label>Laporan
					<h5>Sudah ujian & belum daftar ulang </h5></label>
					<i class="icon-book"></i>
				</div>
				<div class="tile-object">
				</div>
			</div>  
		   </a>
		   <a href="#" id="sudah_du"  onclick="export_data('sudah_du')">
			<div class="tile double bg-dark">
				<div class="tile-body">
					<label>Laporan
					<h5>Sudah daftar ulang </h5></label>
					<i class="icon-external-link"></i>
				</div>
				<div class="tile-object">
				</div>
			</div>
		   </a>
		</div>
	</div>
<script>
{literal}
jQuery(document).ready(function() {
    
});  

function export_data(laporan){
	$.post("{/literal}{$host}{literal}laporan/export", {
		'laporan':laporan,
		'periode':$('#periode').val(), 
		'prodi':$('#prodi').val(),
		'jalur':$('#jalur').val(),
		'potongan':$('#potongan').val()
	
	}, function(resp){
		if(resp == 1){
			var win = window.open('{/literal}{$host}{literal}laporan/excell', '_blank');
			if (win) {
				//Browser has allowed it to be opened
				win.focus();
			} else {
				//Browser has blocked it
				alert('Please allow popups for this website');
			}
		}
	});
	

}

function select(){	
	$.post("{/literal}{$host}{literal}home/laporan/seleksi/select", {
		'periode': $('#periode').val(),
		'jalur': $('select[name=jalur]').val(),
		'prodi': $('#prodi').val()
	}, function(resp) {
		$('#kontenGraph').html(resp);
	});
}
{/literal}
</script>
