<!--Load the AJAX API-->

<script type="text/javascript">
	{literal}
	// Load the Visualization API and the corechart package.
		  google.charts.load('current', {'packages':['bar','line','corechart']});
		  google.charts.setOnLoadCallback(drawChart);
		  function drawChart() {
			var data = google.visualization.arrayToDataTable({/literal}{$totalReg}{literal});
	
			var options = {
			  chart: {
				title: 'Jumlah Mahasiswa S{/literal}{$jenjang}{literal} Bakrie',
				subtitle: 'Grafik laporan penerimaan mahasiswa baru',
				legend: { position: 'bottom' }
			  },
			  bars: 'horizontal' // Required for Material Bar Charts.
			};
			
			var chartBar = new google.charts.Bar(document.getElementById('chart_div'));
			chartBar.draw(data, options);
		  }
		  
		  google.charts.setOnLoadCallback(drawChartCurve);
	
		  function drawChartCurve() {
			var data = google.visualization.arrayToDataTable({/literal}{$totalRegFrek}{literal});
	
			var options = {
			  title: 'Frekuensi Pendaftaran SMB Universitas Bakrie S{/literal}{$jenjang}{literal}',
			  curveType: 'function',
			  legend: { position: 'bottom' }
			};
			
			// console.log(data);
	
			//  var chartLine = new google.visualization.LineChart(document.getElementById('curve_chart')); 
			var chartLine = new google.charts.Line(document.getElementById('curve_chart'));
	
			chartLine.draw(data, options);
		  }
	{/literal}
	</script>
	<script type="text/javascript">	  
	{literal}	  
		google.charts.setOnLoadCallback(drawChartPotensi);
		
		function drawChartPotensi() {
			var data = google.visualization.arrayToDataTable({/literal}{$totalPeserta}{literal});
	
			var options = {
			  chart: {
				title: 'Jumlah Peserta Penerimaan Mahasiswa S{/literal}{$jenjang}{literal} Universitas Bakrie',
				subtitle: 'Chart Peserta Penerimaan Mahasiswa Baru',
				legend: { position: 'bottom' }
			  },
			  bars: 'vertical' // Required for Material Bar Charts.
			};
			
			var chart = new google.charts.Bar(document.getElementById('chart_div_calon'));
			chart.draw(data, options);
		  } 
		
	{/literal}
	</script>
	<script type="text/javascript">	  
	{literal}	  
		google.charts.setOnLoadCallback(drawChartCalonByProdi);
		
		function drawChartCalonByProdi() {
			var data = google.visualization.arrayToDataTable({/literal}{$potensi}{literal});
			
			var view = new google.visualization.DataView(data);
			view.setColumns([0, 1,
						   { calc: "stringify",
							 sourceColumn: 1,
							 type: "string",
							 role: "annotation" },
						   2]);
	
			var options = {
			  chart: {
				title: 'Jumlah Potensi Mahasiswa S{/literal}{$jenjang}{literal} Universitas Bakrie',
				subtitle: 'Chart Potensi Penerimaan Mahasiswa Baru',
				legend: { position: 'bottom' }
			  },
			  bars: 'vertical' // Required for Material Bar Charts.
			};
			
			var chart = new google.charts.Bar(document.getElementById('chart_div_potensi'));
			chart.draw(view, options);
		  } 
		
	{/literal}
	</script>
	
	<div class="row ">
	<hr>
		<div class="col-md-12 col-xs-12">
		   <div class="portlet box card">
			  <div class="portlet-title">
				 <div class="caption">Grafik laporan SMB Universitas Bakrie S{$jenjang} - Periode Aktif</div>
				 <div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			  </div>
			   <div class="portlet-body" id="chart_div" style="height: 400px;"></div>
		   </div>
		</div>
		<div class="col-md-12 col-xs-12">
		   <div class="portlet box card">
			  <div class="portlet-title">
				 <div class="caption">Grafik laporan frekuensi Pendaftar SMB Universitas Bakrie S{$jenjang} - Periode Aktif</div>
				 <div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			  </div>
			   <div class="portlet-body" id="curve_chart" style="height: 400px;"></div>
		   </div>
		</div>
		<div class="col-md-12 col-xs-12">
		   <div class="portlet box card">
			  <div class="portlet-title">
				 <div class="caption">Grafik Peserta SMB Universitas Bakrie S{$jenjang}- Periode Aktif</div>
				 <div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			  </div>
			   <div class="portlet-body" id="chart_div_calon" style="height: 600px;"></div>
		   </div>
		</div>
		<div class="col-md-12 col-xs-12">
		   <div class="portlet box card">
			  <div class="portlet-title">
				 <div class="caption">Grafik Potensi Mahasiswa Universitas Bakrie S{$jenjang}- Periode Aktif</div>
				 <div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			  </div>
			   <div class="portlet-body" id="chart_div_potensi" style="height: 600px;"></div>
		   </div>
		</div>
	</div>