
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row ">
	<div class="col-md-12 col-xs-12">
		<div class="col-md-4" >
			<select class="form-control input-sm" name="periode" id="periode" onchange="select('1')">
				{foreach name=lope from=$periode item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		{*<div class="col-md-4">
			<select class="form-control input-sm " name="jalur" id="jalur" onchange="select()">
				<option value="all">Semua Jalur</option>
				{foreach name=lope from=$jalur item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>*}
		<div class="col-md-4" >
			<select class="form-control input-sm" name="prodi" id="prodi" onchange="select()">
				<option value="all">Semua Prodi</option>
				{foreach name=lope from=$prodi item=row}
				<option value="{$row->kode}">{$row->nama}</option>
				{/foreach}
			</select>
		</div>
		<div class="col-md-4" >
			<select class="input form-control input-sm" name="bulan" id="bulan" onchange="select()">
				<option value="all">Semua Bulan</option>
				{foreach name=lope from=$bulan item=row key=k}
				<option value="{$k}">{$row}</option>
				{/foreach}
			</select>
		</div>
	</div>
</div>
<div id="kontenGraph"></div>
<script>
{literal}
jQuery(document).ready(function() {
    select();
});  

function select(p){	
	$('body').loading();
	if(p == 1){
		$.post("{/literal}{$host}{literal}home/laporan/bulan", {
			'periode': $('#periode').val(),
		}, function(resp) {
			
			$('body').loading('stop');
			$('#bulan').empty()
			var data = JSON.parse(resp);

			$.each(data, function(index, el) {
				var o = new Option(el, index);
				$(o).html(el);
				$("#bulan").append(o);
			});
		});
	}

	var bulanSelected = p==1 ? 'all' : $('#bulan').val();

	$.post("{/literal}{$host}{literal}home/laporan/seleksi/select", {
		'periode': $('#periode').val(),
		'jalur':'all',
		'prodi': $('#prodi').val(),
		'bulan':bulanSelected
	}, function(resp) {
		$('body').loading('stop');
		$('#kontenGraph').html(resp);
	});
}
{/literal}
</script>
