<div class="row">
    <div class="col-md-12 offset-2">
        <form method="POST" action="{$host}laporan/upload_invent" enctype="multipart/form-data">
          <div class="form-group" >
            <label for="exampleInputEmail1" class='col-md-2'>UNGGAH FILE EXCEL</label>
            <div class=" col-md-6">
                <input type="file" name="userfile" class="form-control">
            </div>
            <div class=" col-md-4">
                <button type="submit" class="btn btn-success">UPLOAD</button>
            </div>
          </div>

          
        </form>
    </div>
</div>
<div class="portlet" style="margin-top:15px">
    <div class="portlet-title">
        <div class="caption"></div>
        <!-- <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div> -->
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-advance table-bordered table-striped table-condensed flip-content" id="sample_editable_1">
            <thead class="flip-content">
                <tr>
                    <th width="5%">Nama Lengkap</th>
                    <th width="10%">No HP</th>
                    <th>Email</th>
                    <th width="5%">Nama Sekolah</th>
                    <th width="5%">CGTS</th>
                    <th width="10%">Status</th>
                    <th width="10%">Prodi</th>
                    <th width="10%">Tanggal</th>
                    <th width="10%">Noted</th>
                    <!-- <th width="25%"></th> -->
                </tr>
            </thead>
            <tbody>
                {foreach name=loop key=k from=$sql item=row}
                <tr>
                    <td><label>{$row.nama_lengkap}</label></td>
                    <td><label>{$row.hp}</label></td>
                    <td><label>{$row.email}</label></td>
                    <td><label>{$row.nama_sekolah}</label></td>
                    <td><label class="btn btn-xs">{$row.cgts}</label></td>
                    <td><label class="btn btn-xs ">{$row.sts_daftar}</label></td>
                    <td><label class="btn btn-xs ">{$row.prodi}</label></td>
                    <td><label class="btn btn-xs ">{$row.createTime}</label></td>
                    <td><label>{$row.noted}</label></td>
                    <!-- <td>
                        <a  id="edit" value="{$row.id}" href="#form_seleksi" onclick="display_form('{$row.id}', 'edit')" data-toggle="modal" class="btn blue btn-xs black"></i>Edit</a> 
                        <a  id="view" value="{$row.id}" href="#form_seleksi" onclick="display_form('{$row.id}', 'view')" data-toggle="modal" class="btn green btn-xs black"></i>View</a>
                    </td> -->
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
			   
<div class="modal fade" id="form_seleksi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog  modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Telemarketing Form</h4>
            </div>
            <div class="modal-body">
                <div id="form_load"></div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script>
jQuery(document).ready(function() {
    TableEditable.init();
}); 
{literal}

function display_form(val, opt){
	$.post("{/literal}{$host}{literal}smb/telemarketing/form", {'kode': val,'opt': opt}, function(resp) {
		$('#form_load').html(resp);
	});
	
}


{/literal}
</script>
