<div class="portlet-body form">
    <form id='form_konfirmasi_du' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" id="kode" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="row">
                <div class="col-md-3" ><label>Nama Lengkap</label></div>
                <div class="col-md-9">
                    <label>: {$data.nama|default:''}</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ><label>Nomor Registrasi</label></div>
                <div class="col-md-9">
                    <label>: {$data.nomor|default:''}</label>
                    <br>
                </div>
            </div>
            <h4>Invoice</h4>
            <hr>
            <div class="row">
                <div class="col-md-12" >	

                    <a class="man list-group-item" style="background-color:#c50306;padding:4px;color:#fff;">
                        <label class="col-md-12" style="text-align:left;">Biaya Pendidikan Semester 1</label><label></label>
                    </a>
                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Uang Pangkal</label><label>: Rp <font class="biaya_pertama"> {$invoice.uangPangkal|number_format:0:".":"."}</font></label>
                    </a>
                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Matrikulasi</label><label>: Rp <font class="biaya_pertama"> {$invoice.matrikulasi|number_format:0:".":"."}</font></label>
                    </a>
                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Registrasi</label><label>: Rp <font class="biaya_pertama"> {$invoice.registrasi|number_format:0:".":"."}</font></label>
                    </a>
                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Jaket Almamater</label><label>: Rp <font class="biaya_potongan"> {$invoice.almamater|number_format:0:".":"."}</font></label>
                    </a>
                        
                    
                    <a class="man list-group-item bg-grey" style="background-color:#7a7979;color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Total biaya semester 1</label>
                        {if isset($invoice.potongan_gelombang)}
                        <label>:
                            <strike style="color:red;">Rp <font class="biaya_tagihan_1"> {$invoice.totalBiaya|number_format:0:".":"."}</font></strike>
                            Rp <font class="biaya_tagihan_1"> {(($invoice.totalBiaya)-($invoice.potongan_gelombang))|number_format:0:".":"."}</font>
                        </label>
                        {else}
                        <label>:
                            Rp <font class="biaya_tagihan_1"> {$invoice.totalBiaya|number_format:0:".":"."}</font>
                        </label>
                        {/if}
                    </a>
                    <br>
                    <label  style="padding:4px;text-align: center;">
                        <font class="jumlah_angsuran"></font>
                    </label>
                    
                </div>
            </div>
            <h4>Bukti Bayar</h4>
            <hr>
            <div class="form-group">
                <label class="col-md-3">Metode Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control " readonly="readonly" value="{$data.nama_rek|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jumlah Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.reapplyBankTransferAmount|number_format:0:'.':'.'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tanggal Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.reapplyBankTransferTime|date_format:'%d-%m-%Y'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama & nomor rek. pengirim</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.namaRekPengirimDaftarUlang|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Bukti Bayar</label>
                <div class="col-md-9">
                    <a class='btn btn-xs btn-primary' target="_blank" href="{$host}assets/upload/kk/{$data.nomor}/{$data.buktiBayarDaftarUlang|default:''}"><i class='icon-picture'></i> {$data.buktiBayarDaftarUlang|default:' Belum tersedia'}</a>
                    <br><span class="text-danger">{if $data.tolakDU eq 1}<i class="icon-remove-sign"></i> Pembayaran ditolak{/if}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Pesan Tolak Pembayaran</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="pesan_tolak" id="pesan_tolak">{if $data.tolakDU eq 1}{$data.pesanTolakDU|default:''}{/if}</textarea>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="button" onclick="konfirm_payment('aggree')" class="btn btn-sm green" id="postData" ><i class="icon-check"></i> Approve</button>
                <button type="button" onclick="konfirm_payment('tolak')" class="btn btn-sm red" id="postData" ><i class="icon-remove-sign"></i> Tolak</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
function konfirm_payment(approval_){
    var stsApproval = 0;
    if(approval_ == 'aggree'){
        stsApproval = 1;
    }else if(approval_ == 'tolak'){
        if(!$('#pesan_tolak').val()){
            alert('Lengkapi pesan penolakan pembayaran!');
            $('#pesan_tolak').focus();
            return false;
        }

    }
    var formData = $('#form_konfirmasi_du').serialize()+ "&approval="+stsApproval;

    $.LoadingOverlay("show");
    $.post("{/literal}{$host}{literal}smb/simpandata/approval_dukk",formData,function(resp){
        if(resp == 1){
            $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
            $('#form_invent').modal('hide');
            $('.modal-backdrop').hide();
            $('#daftarulangKK').datagrid('reload');
        }else{
            $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
        }
        $.LoadingOverlay("hide", true);
    });
}
{/literal}
</script>
	