<form id="form_skema_bea" class="form-horizontal" method="post">
    <div class="form-body">
        <input type="hidden" name="id" value="{$data.id|default:''}">
        <input type="hidden" name="editstatus" value="{$editstatus|default:'add'}">
        <div class="form-group">
            <label class="control-label col-md-3">Skema Pembayaran</label>
            <div class="col-md-8">
                <select class="form-control" id="skema_normal_id" name="skema_normal_id" required>
                    <option value="">-- Select Skema Pembayaran --</option>
                    {foreach name=loop from=$skema item=row}
                    <option value="{$row.id}" {if $data}{if $data.skema_normal_id eq $row.id}selected{/if}{/if}>{$row.deskripsi}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nilai beasiswa (%)</label>
            <div class="input-group col-md-8">
                <input type="number" class=" form-control" placeholder="" id="" value="{$data.nilai_potongan_percent|default:''}" name="nilai_potongan_percent">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Total biaya </label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Tagihan biaya setelah beasiswa (Rp.)" id="" name="total" value="{$data.total|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tagihan pertama</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Tagihan pertama beasiswa (Rp.)" id="um" name="tagihan_1" value="{$data.tagihan_1|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tagihan angsuran</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Tagihan angsuran beasiswa(Rp.)" id="um" name="tagihan_angsuran" value="{$data.tagihan_angsuran|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Potongan</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Potongan (Rp.)" id="" name="potongan" value="{$data.potongan|default:''}">
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-sm default" data-dismiss="modal">Keluar <i class="icon-remove-sign"></i></button>
        <button type="submit" class="btn btn-sm blue" id="save" value="save" name="opt">Simpan <i class="icon-save"></i></button>
    </div>
</form>
<script type="text/javascript">

    {literal}
    $("#form_skema_bea").submit(function(event) {  
        event.preventDefault();

        if($('#skema_normal_id').val() == ''){
            alert('Skema Pembayaran tidak boleh kosong!');
            return;
        }
            
        $.LoadingOverlay("show");
            $.post("{/literal}{$host}{literal}smb/simpandata/simpanSkemaBea",$(this).serialize(),function(resp){
                if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#setPotonganMag').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
            });
            
        });
        
    {/literal}
</script>