<div class="portlet-body form">
    <form id='form_mng_edu' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="{$editstatus|default:'add'}">
            <div class="form-group">
                <label class="col-md-3">Nama Lengkap</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="fullname" id="fullname" value="{$data.fullname|default:''}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Username</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="username" id="username" value="{$data.username|default:''}" {if $editstatus eq 'edit'}disabled{/if} required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Password</label>
                <div class="col-md-9">
                    <input class="form-control input-md" type="text" name="password" id="password" value="{$data.password|default:''}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Email</label>
                <div class="col-md-9">
                    <input class="form-control input-md" type="email" name="email" value="{$data.email|default:''}">
                </div>
            </div>
        </div>
        <div class="form-actions text-right">
            <div class="col-md-12">
                <button type="submit" class="btn btn-sm blue " id="postData" ><i class="icon-save"></i> Simpan</button> 
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default " id="postData" > <i class="icon-remove-sign"></i> Close </button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$("#form_mng_edu").submit( function(event) {	
        event.preventDefault();

        if(!$('#fullname').val()){
            alert('Lengkapi nama Edu!');
            $('#fullname').focus();
            return false;
        }
        if(!$('#username').val()){
            alert('Lengkapi username Edu!');
            $('#username').focus();
            return false;
        }
        if(!$('#password').val()){
            alert('Lengkapi password Edu!');
            $('#password').focus();
            return false;
        }

        $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/dataEduCons",$(this).serialize(),function(resp){
			if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#man_edu').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>