<div class="portlet-body form">
    <form class="form-horizontal" role="form" method="post" id="form_hasil_submit">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="form-group">
                <label class="col-md-3">Hadir TPA</label>
                <div class="col-md-9">
                    <div class="radio-list col-md-12">
                        <label class="radio-inline">
                            <input type="radio" name="stsEventUsmPresent" id="tpaAda" value="1" {if $data}{if $data.stsEventUsmPresent eq 1}checked{/if}{/if}>Hadir
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stsEventUsmPresent" id="tpaAda" value="0" {if $data}{if $data.stsEventUsmPresent eq 0}checked{/if}{/if}>Tidak Hadir
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Hadir Wawancara</label>
                <div class="col-md-9">
                    <div class="radio-list col-md-12">
                        
                        <label class="radio-inline">
                            <input type="radio" name="stsEventInterviewPresent" id="wwAda" value="1" {if $data}{if $data.stsEventInterviewPresent eq 1}checked{/if}{/if}>Hadir
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stsEventInterviewPresent" id="wwAda" value="0" {if $data}{if $data.stsEventInterviewPresent eq 0}checked{/if}{/if}>Tidak Hadir
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 ">Nilai TPA</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" value="{$data.resultUsm|default:''}" name="resultUsm">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nilai Wawancara</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" value="{$data.resultInterview|default:''}" name="resultInterview">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Grade</label>
                <div class="col-md-9">
                    <select class="form-control" name="stsResultGrade">
                        <option>-</option>
                        <option value="1" {if $data}{if $data.stsResultGrade eq 1}selected{/if}{/if}>Ke-1</option>
                        <option value="2" {if $data}{if $data.stsResultGrade eq 2}selected{/if}{/if}>Ke-2</option>
                        <option value="3" {if $data}{if $data.stsResultGrade eq 3}selected{/if}{/if}>Ke-3</option>
                        <option value="0" {if $data}{if $data.stsResultGrade eq 0}selected{/if}{/if}>Tidak Ada</option>
                    </select>
                </div>
            </div>
			<div class="form-group">
                <label class="col-md-3">Beasiswa</label>
                <div class="col-md-9">
                    <select class="form-control" name="kode_potongan">
                        <option value="">Tidak Ada</option>
						{foreach from=$beasiswa item=row}
                        <option value="{$row.kode}" {if $data}{if $data.kode_potongan eq $row.kode}selected{/if}{/if}>{$row.deskripsi}</option>
						{/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Lulus</label>
                <div class="col-md-9">
                    <div class="radio-list col-md-12">
                        <label class="radio-inline">
                            <input type="radio" name="stsResultPass" id="luYa" value="1" {if $data}{if $data.stsResultPass eq 1}checked{/if}{/if}>Ya
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stsResultPass" id="luYa" value="0" {if $data}{if $data.stsResultPass eq 0}checked{/if}{/if} >Tidak
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3">Keterangan</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="2" name="stsResultKet">{$data.stsResultKet|default:''}</textarea>
                </div>
            </div>
			
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-sm green" id="postData"><i class="icon-save"></i> Simpan</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default " id="postData" > <i class="icon-remove-sign"></i> Close </button>
            </div>
        </div>
    </form>
</div>

<script>
    {literal}
    $("#form_hasil_submit").submit(function(event) {  
        event.preventDefault();
            
        $.LoadingOverlay("show");
            $.post("{/literal}{$host}{literal}smb/simpandata/set_hasil_seleksi",$(this).serialize(),function(resp){
                if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#hasilSeleksiKK').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
                }
                $.LoadingOverlay("hide", true);
            });
            
        });
        
    {/literal}
    </script>