<div class="portlet-body form">
    <form class="formSeleksi form-horizontal" role="form" method="post" action="#">
    	<input type="text" value="{$data.kode|default:''}" name="id" hidden>
    	<input type="text" value="edit" name="editstatus" hidden>
        <div class="form-body">
            {if $level eq '99'}
            <div class="form-group">
                <label class="col-md-3">EDU</label>
                <div class="col-md-4">
                    <select class="form-control" name="edu">
                        <option>-</option>
                        {foreach from=$edu item=row}
                        <option value="{$row.username}" {if $data}{if $data.edu eq $row.username}selected{/if}{/if}>{$row.username}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            {else}
            <input name='edu' value='{$data.edu|default:""}' type='hidden'>
            {/if}
            <div class="form-group">
                <label class="col-md-3">Status</label>
                <div class="col-md-4">
                    <select class="form-control" name="ods">
                        <option>-</option>
                        {foreach from=$followup item=row}
                        <option value="{$row.id}" {if $data}{if $data.ods eq $row.id}selected{/if}{/if}>{$row.followup}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Note</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="ket_ods">{if $data}{$data.ket_ods|default:''}{/if}</textarea>
                </div>
            </div>
            
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green" id="postData" >Submit</button>
                <!--<button type="cancel" class="btnHide btn default">Cancel</button>-->
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$(".formSeleksi").submit( function(event) {	
        event.preventDefault();

        $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/smart_telemarketing",$(this).serialize(),function(resp){
			if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#telemarketing').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>