<div class="portlet-body form">
    <form id='form_invent_edit' class=" form-horizontal" role="form" method="post">
    	<input type="text" value="{$data.id}" name="id" hidden>
    	<input type="text" value="edit" name="editstatus" hidden>
        <div class="form-body">
            {if $level eq '99'}
            <div class="form-group">
                <label class="col-md-3">Edu</label>
                <div class="col-md-9">
                    <!-- <input class="form-control input-md" name="cgts" id="cgts" value="{$data.cgts|default:''}"> -->
                    <select class="form-control" name="edu" id="edu">
                        <option>-</option>
                        {foreach from=$edu item=row}
                        <option value="{$row.username}" {if $data}{if $data.edu eq $row.username}selected{/if}{/if}>{$row.username}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            {else}
            <input type="hidden" name="edu" value="{$data.edu|default:''}">
            {/if}
            <div class="form-group">
                <label class="col-md-3">Status Contact </label>
                <div class="col-md-9">
                    <select class="form-control" name="status">
                        <option>-</option>
                        {foreach from=$status_contact item=row}
                        <option value="{$row.id}" {if $data}{if $data.status eq $row.id}selected{/if}{/if}>{$row.status}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green" id="postData" >Submit</button>
                <!--<button type="cancel" class="btnHide btn default">Cancel</button>-->
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$("#form_invent_edit").submit(function(event) {  
    event.preventDefault();
		
    $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/tbl_invent_kk",$(this).serialize(),function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                $('#form_invent').modal('hide');
                $('.modal-backdrop').hide();
                $('#invent_kk').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
            }
            $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>