<form id="form_bea" class="form-horizontal" method="post">
    <div class="form-body">
        <input type="hidden" name="id" value="{$data.id|default:''}">
        <input type="hidden" name="editstatus" value="{$editstatus|default:'add'}">
        <div class="form-group">
            <label class="control-label col-md-3">Kode</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="" id="" value="{$data.kode|default:''}" name="kode">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama Beasiswa</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="" id="" name="deskripsi" value="{$data.deskripsi|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Potongan Percent</label>
            <div class="input-group col-md-8">
                <input type="number" class=" form-control" placeholder="Nilai potongan (%)" id="potongan_percent" name="potongan_percent" value="{$data.potongan_percent|default:''}">
                <small class="helper">Nilai potongan akan menjadi referensi ke setting skema beasiswa</small>
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-sm default" data-dismiss="modal">Keluar <i class="icon-remove-sign"></i></button>
        <button type="submit" class="btn btn-sm blue" id="save" value="save" name="opt">Simpan <i class="icon-save"></i></button>
    </div>
</form>
<script type="text/javascript">

    {literal}
    $("#form_bea").submit(function(event) {  
        event.preventDefault();

        if($('#kode').val() == ''){
            alert('Kode tidak boleh kosong!');
            return;
        }
        if($('#potongan_percent').val() == ''){
            alert('Potongan percent tidak boleh kosong!');
            return;
        }
            
        $.LoadingOverlay("show");
            $.post("{/literal}{$host}{literal}smb/simpandata/smart_ref_beasiswa",$(this).serialize(),function(resp){
                if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#beasiswaMag').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
            });
            
        });
        
    {/literal}
</script>