<div class="portlet-body form">
    <form id='form_konfirmasi_pembayaran' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="form-group">
                <label class="col-md-3">Nama Lengkap</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.nama|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Metode Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.applyBankAccountType|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jumlah Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.applyBankTransferAmount|default:''|number_format:0:'':'.'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tanggal Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.applyBankTransferTime|date_format:'%d-%m-%Y'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama & nomor rek. pengirim</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.namaRekPengirimPendaftaran|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Bukti Bayar</label>
                <div class="col-md-9">
                    <a class='btn btn-xs btn-info' target="_blank" href="{$host}assets/upload/bukti_bayar/{$data.buktiBayarPendaftaran|default:''}"><i class='icon-picture'></i> {$data.buktiBayarPendaftaran|default:''}</a>
                    <br><span class="text-danger">{if $data.tolakPendaftaran eq 1}<i class="icon-remove-sign"></i> Pembayaran ditolak{/if}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Pesan Tolak Pembayaran</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="pesan_tolak" id="pesan_tolak">{if $data.tolakPendaftaran eq 1}{$data.pesanTolakP|default:''}{/if}</textarea>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="button" onclick="konfirm_payment('aggree')" class="btn btn-sm green" id="postData" ><i class="icon-check"></i> Approve</button>
                <button type="button" onclick="konfirm_payment('tolak')" class="btn btn-sm red" id="postData" ><i class="icon-remove-sign"></i> Tolak</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
function konfirm_payment(approval_){
    var stsApproval = 0;
    if(approval_ == 'aggree'){
        stsApproval = 1;
    }else if(approval_ == 'tolak'){
        if(!$('#pesan_tolak').val()){
            alert('Lengkapi pesan penolakan pembayaran!');
            $('#pesan_tolak').focus();
            return false;
        }

    }
    var formData = $('#form_konfirmasi_pembayaran').serialize()+ "&approval="+stsApproval;

    $.LoadingOverlay("show");
    $.post("{/literal}{$host}{literal}smb/simpandata/approval_payment",formData,function(resp){
        if(resp == 1){
            $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
            $('#form_invent').modal('hide');
            $('.modal-backdrop').hide();
            $('#payment_reg').datagrid('reload');
        }else{
            $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
        }
        $.LoadingOverlay("hide", true);
    });
}
	
{/literal}
</script>