<div class="portlet-body form">
    <form id='form_konfirmasi_jadwal' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="form-group">
                <label class="col-md-3">Nama Lengkap</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.nama|default:''}">
                </div>
            </div>
            <h5>Pengajuan Jadwal Tes & Wawancara</h5>
            <hr>
            <div class="form-group">
                <label class="col-md-3">Metode</label>
                <div class="col-md-9">
                    <select class="form-control input-md">
                        <option value="">Pilih metode...</option>
                        <option value="ONSITE" {if $data.metode_purpose eq 'ONSITE'}selected{/if}>Hadir ke Kampus 1 (Plaza Festival)</option>
                        <option value="ONLINE" {if $data.metode_purpose eq 'ONLINE'}selected{/if}>Online Melalui Aplikasi Zoom</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jadwal Wawancara</label>
                <div class="col-md-9">
                    <input type="date" class="form-control input-medium" value="{$data.tanggal_purpose|default:''}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jam Wawancara</label>
                <div class="col-md-9">
                    <select class="form-control input-md">
                        <option value="">Pilih jam...</option>
                        <option value="1" {if $data.jam_purpose eq '1'}selected{/if}>Pagi 09-12 WIB</option>
                        <option value="2" {if $data.jam_purpose eq '2'}selected{/if}>Siang 12-15 WIB</option>
                        <option value="3" {if $data.jam_purpose eq '3'}selected{/if}>Sore 15-17 WIB</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">File</label>
                <div class="col-md-9">
                    <a class='btn btn-xs btn-default' target="_blank" href="{$host}assets/upload/bukti_bayar/{$data.buktiBayarPendaftaran|default:''}"><i class='icon-picture'></i> File Ijazah</a>
                    <a class='btn btn-xs btn-default' target="_blank" href="{$host}assets/upload/bukti_bayar/{$data.buktiBayarPendaftaran|default:''}"><i class='icon-file'></i> Transkrip Nilai</a>
                </div>
            </div>
            <hr>
            <h5>Konfirmasi Jadwal Tes & Wawancara</h5>
            <hr>
            <div class="form-group">
                <label class="col-md-3">Metode</label>
                <div class="col-md-9">
                    <select class="form-control input-md" name="metode_acc" id="metode_acc">
                        <option value="">Pilih metode...</option>
                        <option value="ONSITE" {if $data.metode_acc eq 'ONSITE'}selected{/if}>Hadir ke Kampus 1 (Plaza Festival)</option>
                        <option value="ONLINE" {if $data.metode_acc eq 'ONLINE'}selected{/if}>Online Melalui Aplikasi Zoom</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jadwal Wawancara</label>
                <div class="col-md-9">
                    <input type="date" class="form-control input-medium" name="tanggal_acc" id="tanggal_acc" value="{$data.tanggal_acc|default:''}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jam Wawancara</label>
                <div class="col-md-9">
                    <select class="form-control input-md" name="jam_acc" id="jam_acc">
                        <option value="">Pilih jam...</option>
                        <option value="1" {if $data.jam_acc eq '1'}selected{/if}>Pagi 09-12 WIB</option>
                        <option value="2" {if $data.jam_acc eq '2'}selected{/if}>Siang 12-15 WIB</option>
                        <option value="3" {if $data.jam_acc eq '3'}selected{/if}>Sore 15-17 WIB</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="button" onclick="konfirm_jadwal('aggree')" class="btn btn-sm green" id="postData" ><i class="icon-check"></i> Simpan Perubahan Jadwal</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
function konfirm_jadwal(approval_){
    if(!$('#metode_acc').val()){
        alert('Pilih metode yang disetujui!');
        $('#metode_acc').focus();
        return false;
    }
    if(!$('#tanggal_acc').val()){
        alert('Pilih Tanggal yang disetujui!');
        $('#tanggal_acc').focus();
        return false;
    }
    if(!$('#jam_acc').val()){
        alert('Pilih Jam yang disetujui!');
        $('#jam_acc').focus();
        return false;
    }
    var formData = $('#form_konfirmasi_jadwal').serialize();

    $.LoadingOverlay("show");
    $.post("{/literal}{$host}{literal}smb/simpandata/approval_jadwal",formData,function(resp){
        if(resp == 1){
            $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
            $('#form_invent').modal('hide');
            $('.modal-backdrop').hide();
            $('#tesWawancara').datagrid('reload');
        }else{
            $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
        }
        $.LoadingOverlay("hide", true);
    });
}
	
{/literal}
</script>