<div class="portlet-body form">
    <form id='form_konfirmasi_du' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" id="kode" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="row">
                <div class="col-md-3" ><label>Nama Lengkap</label></div>
                <div class="col-md-9">
                    <label>: {$data.nama|default:''}</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ><label>Nomor Registrasi</label></div>
                <div class="col-md-9">
                    <label>: {$data.nomor|default:''}</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ><label>Batas Pembayaran</label></div>
                <div class="col-md-9">
                    <label>: {$data.reapplyMaxDate|date_format:"%d-%m-%Y"}</label>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ><label>Beasiswa</label></div>
                <div class="col-md-9">
                    <label>: {$data.nama_bea|default:""} {if $data.potongan_percent}({$data.potongan_percent|default:""}%){/if}</label>
                    <br>
                </div>
            </div>	
            <h4>Invoice</h4>
            <hr>
            <div class="row">
                <div class="col-md-12" >
                    <div class="" >
                        <select class="col-sm-12"  onchange="setSkemaBiaya()"  id="skema_biaya"  style="background-color:#c50306;color:#000;padding:4px;" {if $data.stsReapplyPaid eq 1 }readonly{/if}>
                            {foreach from=$ref_skema item=row}
                                <option value="{$row.id}" {if $data.stsReapplyPaid eq 1 }{if $data.skema_id eq $row.id}selected{/if}{/if}>{$row.nama_skema}</option>
                            {/foreach}
                        </select>
                    </div>

                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Pembayaran Semester 1</label><label>: Rp <font class="biaya_pertama"> 0</font></label>
                    </a>
                    <a class="man list-group-item" style="background-color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Potongan</label><label>: Rp <font class="biaya_potongan"> 0</font></label>
                    </a>
                        
                    
                    <a class="man list-group-item bg-grey" style="background-color:#7a7979;color:#fff;padding:4px;">
                        <label class="col-md-4" style="text-align:right;">Total Pembayaran Daftar Ulang</label>
                        <label>:
                            Rp <font class="biaya_tagihan_1"> 0</font>
                        </label>
                    </a>
                    <br>
                    <label  style="padding:4px;text-align: center;">
                        <font class="jumlah_angsuran"></font>
                    </label>
                    
                </div>
            </div>
            <h4>Bukti Bayar</h4>
            <hr>
            <div class="form-group">
                <label class="col-md-3">Sistem Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control " readonly="readonly" value="{$data.nama_skema|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Metode Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control " readonly="readonly" value="{$data.nama_rek|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Jumlah Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.reapplyBankTransferAmount|number_format:0:'.':'.'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tanggal Pembayaran</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.reapplyBankTransferTime|date_format:'%d-%m-%Y'}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama & nomor rek. pengirim</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.namaRekPengirimDaftarUlang|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Bukti Bayar</label>
                <div class="col-md-9">
                    <a class='btn btn-xs btn-primary' target="_blank" href="{$host}assets/upload/magister/{$data.nomor}/{$data.buktiBayarDaftarUlang|default:''}"><i class='icon-picture'></i> {$data.buktiBayarDaftarUlang|default:' Belum tersedia'}</a>
                    <br><span class="text-danger">{if $data.tolakDU eq 1}<i class="icon-remove-sign"></i> Pembayaran ditolak{/if}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Pesan Tolak Pembayaran</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="pesan_tolak" id="pesan_tolak">{if $data.tolakDU eq 1}{$data.pesanTolakDU|default:''}{/if}</textarea>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="button" onclick="konfirm_payment('aggree')" class="btn btn-sm green" id="postData" ><i class="icon-check"></i> Approve</button>
                <button type="button" onclick="konfirm_payment('tolak')" class="btn btn-sm red" id="postData" ><i class="icon-remove-sign"></i> Tolak</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
function konfirm_payment(approval_){
    var stsApproval = 0;
    if(approval_ == 'aggree'){
        stsApproval = 1;
    }else if(approval_ == 'tolak'){
        if(!$('#pesan_tolak').val()){
            alert('Lengkapi pesan penolakan pembayaran!');
            $('#pesan_tolak').focus();
            return false;
        }

    }
    var formData = $('#form_konfirmasi_du').serialize()+ "&approval="+stsApproval;

    $.LoadingOverlay("show");
    $.post("{/literal}{$host}{literal}smb/simpandata/approval_du",formData,function(resp){
        if(resp == 1){
            $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
            $('#form_invent').modal('hide');
            $('.modal-backdrop').hide();
            $('#daftarulangMag').datagrid('reload');
        }else{
            $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
        }
        $.LoadingOverlay("hide", true);
    });
}
	
{/literal}
	$(document).ready(function() {
		setSkemaBiaya();
	});

	{literal}
	function setSkemaBiaya(){
		var param = {};
		var kode = $('#kode').val();
		var skema_selected = $('#skema_biaya').val();
	
		param['kode'] = kode;
		param['skema_id'] = skema_selected;
	
		if(param['skema_id'] !== ''){
	
			$.post("{/literal}{$host}{literal}smb/getSkemaBiaya", param, function(resp){
				var json = $.parseJSON(resp);
				$('.biaya_pertama').html(json.tagihan_1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				$('.biaya_tagihan_1').html(json.tagihan_invoice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				$('.biaya_potongan').html(json.potongan.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") );
				if(json.jumlah_angsuran == '4'){
					$('.jumlah_angsuran').html("Pembayaran semester 2 s.d 4 : Rp "+ json.tagihan_angsuran.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
				}else if(json.jumlah_angsuran == '24'){
					$('.jumlah_angsuran').html("Pembayaran ke 2 s.d 24 : Rp "+ json.tagihan_angsuran.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
				}else{
					$('.jumlah_angsuran').html('');
				}
			});
		}else{
			$('#jumlahBayar').val('');
			$('#id_skema').val('');
			$('#pembayaran_kode').val('');
		}
	
	}
	{/literal}
</script>