<div class="portlet-body form">
    <form id='form_tolak_forlap' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="form-group">
                <label class="col-md-3">Nama Lengkap</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.nama|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">PTN Asal</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.lulusAsal|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Prodi Asal</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.jurusan|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tahun Lulus</label>
                <div class="col-md-9">
                    <input class="form-control input-md" readonly="readonly" value="{$data.tahunLulus|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Pesan Tolak</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="tolak_forlap_msg" id="pesan_tolak">{$data.tolak_forlap_msg|default:'Data anda belum terverifikasi di Forlap'}</textarea>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="button" onclick="konfirm_payment('tolak')" class="btn btn-sm red" id="postData" ><i class="icon-remove-sign"></i> Tolak</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
function konfirm_payment(approval_){
    var stsApproval = 0;
    if(approval_ == 'aggree'){
        stsApproval = 1;
    }else if(approval_ == 'tolak'){
        if(!$('#pesan_tolak').val()){
            alert('Lengkapi pesan penolakan pembayaran!');
            $('#pesan_tolak').focus();
            return false;
        }

    }
    var formData = $('#form_tolak_forlap').serialize()+ "&verifikasi_forlap=2";

    $.LoadingOverlay("show");

    $.post(hostir+'smb/simpandata/ver_forlap', formData, function(resp){
        if(resp == 1){
            $('#form_invent').modal('hide');
            $('.modal-backdrop').hide();
            $("#ver_dok").datagrid('reload');
            $.messager.alert('Smart', "Berhasil!");
        }else{
            $.messager.alert('Smart', "Gagal menyimpan data! "+ resp,'error');
        }
        $.LoadingOverlay("hide", true);
    });
}
	
{/literal}
</script>