<div class="portlet-body form">
    <form id='form_biaya_edit' class=" form-horizontal" role="form" method="post">
        <div class="form-body">
            <input type="hidden" name="id" value="{$data.kode|default:''}">
            <input type="hidden" name="editstatus" value="edit">
            <div class="form-group">
                <label class="col-md-3">Biaya Formulir</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="applyBankTransferAmount" id="applyBankTransferAmount" value="{$data.applyBankTransferAmount|default:''}">
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-12">
                <button type="submit" class="btn green" id="postData" ><i class="icon-save"></i> Simpan</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-sm default pull-right" id="postData" > Close Detil</button>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$("#form_biaya_edit").submit(function(event) {  
    event.preventDefault();
		
    $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/set_biaya_formulir",$(this).serialize(),function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                $('#form_invent').modal('hide');
                $('.modal-backdrop').hide();
                $('#payment_reg').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
            }
            $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>