<form id="form_tarif_mm" class="form-horizontal" method="post">
    <div class="form-body">
        <input type="hidden" name="id" value="{$data.id|default:''}">
        <input type="hidden" name="editstatus" value="{$editstatus|default:'add'}">
        <div class="form-group">
            <label class="control-label col-md-3">Setting Pembayaran</label>
            <div class="col-md-8">
                <select class="form-control" id="pembayaran_kode" name="pembayaran_kode" required>
                    <option value="">-- Select Setting Pembayaran --</option>
                    {foreach name=loop from=$tarif item=row}
                    <option value="{$row.kode}" {if $data}{if $data.pembayaran_kode eq $row.kode}selected{/if}{/if}>{$row.description}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Referensi skema biaya</label>
            <div class="col-md-8">
                <select class="form-control" id="ref_skema_id" name="ref_skema_id" required>
                    <option value="">-- Select Ref Skema --</option>
                    {foreach from=$ref_skema item=row}
                    <option value="{$row.id}" {if $data}{if $data.ref_skema_id eq $row.id}selected{/if}{/if}>{$row.nama_skema}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama Skema</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" placeholder="Nama Skema" id="deskripsi" value="{$data.deskripsi|default:''}" name="deskripsi" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Jumlah Angsuran</label>
            <div class="input-group col-md-8">
                <input type="number" class=" form-control" placeholder="" id="" value="{$data.jumlah_angsuran|default:''}" name="jumlah_angsuran">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tagihan Pertama</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Tagihan Pertama (Rp.)" id="" name="tagihan_pertama" value="{$data.tagihan_pertama|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Tagihan Angsuran</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Tagihan angsuran (Rp.)" id="um" name="tagihan_angsuran" value="{$data.tagihan_angsuran|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Potongan</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Potongan (Rp.)" id="" name="potongan" value="{$data.potongan|default:''}">
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-sm default" data-dismiss="modal">Keluar <i class="icon-remove-sign"></i></button>
        <button type="submit" class="btn btn-sm blue" id="save" value="save" name="opt">Simpan <i class="icon-save"></i></button>
    </div>
</form>
<script type="text/javascript">

    {literal}
    $("#form_tarif_mm").submit(function(event) {  
        event.preventDefault();

        if($('#pembayaran_kode').val() == ''){
            alert('Setting Pembayaran tidak boleh kosong!');
            return;
        }

        if($('#ref_skema_id').val() == ''){
            alert('Referensi Skema tidak boleh kosong!');
            return;
        }
            
        $.LoadingOverlay("show");
            $.post("{/literal}{$host}{literal}smb/simpandata/simpanSkemaNormal",$(this).serialize(),function(resp){
                if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#skemaBiaya').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
            });
            
        });
        
    {/literal}
</script>