<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<form id="form_tarif_mm" class="form-horizontal" method="post">
    <div class="form-body">
        <input type="hidden" name="id" value="{$data.kode|default:''}">
        <input type="hidden" name="editstatus" value="{$editstatus|default:'add'}">
        <div class="form-group">
            <label class="control-label col-md-3">Kode</label>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" placeholder="Kode[Automatic]" id="kode" value="{$data.kode|default:''}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Periode</label>
            <div class="col-md-8">
                <select class="form-control" id="kodePeriode" name="kodePeriode" required>
                    <option value="">-- Select Periode --</option>
                    {foreach name=loop from=$periode item=row}
                    <option value="{$row.kode}" {if $data}{if $data.kodePeriode eq $row.kode}selected{/if}{/if}>{$row.nama}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Program Studi</label>
            <div class="col-md-8">
                <select class="form-control" id="prodi" name="prodi" required>
                    <option value="">-- Select Prodi --</option>
                    {foreach from=$prodi item=row}
                    <option value="{$row.kode}" {if $data}{if $data.prodi eq $row.kode}selected{/if}{/if}>{$row.nama}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama Pembayaran</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" placeholder="Nama Pembayaran" id="nama" value="{$data.description|default:''}" name="description" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Total Biaya Registrasi</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Biaya Registrasi (Rp.)" id="um" value="{$data.biayaRegistrasi|default:''}" name="biayaRegistrasi">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Jaket Almamater</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Biaya Almamater (Rp.)" id="um" name="biayaAlmamater" value="{$data.biayaAlmamater|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Total Daftar Ulang</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Total biya Daftar Ulang (Rp.)" id="um" name="uangMasuk" value="{$data.uangMasuk|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Total Biaya BPP</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Total Biaya BPP (Rp.)" id="spp" name="biayaSpp" value="{$data.biayaSpp|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Total Biaya SKS</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Total Biaya SKS (Rp.)" id="sks" name="biayaSks" value="{$data.biayaSks|default:''}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Biaya Tesis</label>
            <div class="input-group col-md-8">
                <input type="text" class=" form-control" placeholder="Total Biaya Tesis (Rp.)" id="sks" name="biayaTesis" value="{$data.biayaTesis|default:''}">
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-sm default" data-dismiss="modal">Keluar <i class="icon-remove-sign"></i></button>
        <button type="submit" class="btn btn-sm blue" id="save" value="save" name="opt">Simpan <i class="icon-save"></i></button>
    </div>
</form>
<script type="text/javascript">

    {literal}
    $("#form_tarif_mm").submit(function(event) {  
        event.preventDefault();

        if($('#kodePeriode').val() == ''){
            alert('Periode tidak boleh kosong!');
            return;
        }

        if($('#prodi').val() == ''){
            alert('Program Studi tidak boleh kosong!');
            return;
        }
            
        $.LoadingOverlay("show");
            $.post("{/literal}{$host}{literal}smb/simpandata/simpanTarifMagister",$(this).serialize(),function(resp){
                if(resp == 1){
                    $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                    $('#hasilSeleksi').datagrid('reload');
                }else{
                    $.messager.alert('Smart - Bakrie','Data Gagal Disimpan - '+resp,'info'); 
                }
                $.LoadingOverlay("hide", true);
            });
            
        });
        
    {/literal}
</script>
