<div class="col-md-12 col-xs-12">
	<div class="portlet box blue">
		<div class="portlet-title">
			<div class="caption">List tagihan mahasiswa paralel </div> 
				
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
			</div>
		</div>
		<div class="portlet-body">
			<form name="frm-paralel" id="frm-paralel">
			<div class="table-toolbar">
				<div class="btn-group">				   
					<a class="btn red btn-sm" href="#detAngsur" data-toggle="modal"  id="par-submit"><i class="icon-cog"></i> Generate multiple</a>			
				</div>		
				<div class="btn-group">		
					<a class="btn green btn-sm" href="#detAngsur" data-toggle="modal"  id="par-denda"><i class="icon-dollar"></i> Biaya Denda</a>	
				</div>
			 </div>
			<table class="table table-striped table-bordered table-hover" id="sample_2">
				<thead>
					<tr>
						<th class="table-checkbox">
							<input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
						</th>
                        <th>Nim</th>
						<th>Nama</th>
						<th>Prodi</th>
						<th width="15%">Status</th>
						<!-- <th>Action</th> -->
					</tr>
				</thead>
				
				<tbody>
					{foreach from=$mhs item=row}
					<tr class="odd gradeX">
						<td><input type="checkbox" class="checkboxes" name="kode[]" value="{$row.kode}" /></td>
						<td>
							<h4 class="panel-title">{$row.nim}</h4>
						</td>
						<td>
							<h4 class="panel-title">{$row.nama}</h4>
						</td>
						<td>
							<h4 class="panel-title">{$row.prodi} - {$row.lulus_acc}</h4>
						</td>
						<td>
							<a class="btn btn-xs btn-default" href="#detAngsur" data-toggle="modal" onclick="detailAngsuran('{$row.kode}')" ><i class="icon-money"></i> Detil angsuran  </a> <font class="text-info"> {$row.countTag} generated</font>
						</td>
						<!-- <td> -->
							<!-- <a class="btn btn-default  btn-xs" href="#detAngsur" data-toggle="modal"  onclick="periodeAngsuran('{$row.kode}', '{$row.nama}')" ><i class="icon-cog"></i> Generate</a> -->
						<!-- </td> -->
					</tr>
					{/foreach}
				</tbody>
				
			</table>
		</div>
			</form>
	</div>
</div>

<div class="modal fade" id="detAngsur" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog  modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="title"></h4>
            </div>
            <div class="modal-body">
                <div id="tblAngsuran"></div>
            </div>
			<div class="modal-footer">
			</div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>  
<script>

jQuery(document).ready(function() {
   TableManaged.init();
});



{literal}
$('#par-submit').on('click', function(e){
   e.preventDefault();   
   
    var table = $('#sample_2').DataTable();
    var data = table.$('input,select,textarea').serialize();
	
	$.ajax({
		type:'POST',
		url: '{/literal}{$host}{literal}keuangan/test',
		data: data,
		success: function(data){            
			$('#title').html("Generate tagihan paralel");
			$('#tblAngsuran').html(data);
         }
	});
   
});
$('#par-denda').on('click', function(e){
   e.preventDefault();   
   
    var table = $('#sample_2').DataTable();
    var data = table.$('input,select,textarea').serialize();
	
	$.ajax({
		type:'POST',
		url: '{/literal}{$host}{literal}keuangan/denda',
		data: data,
		success: function(data){            
			$('#title').html("Generate tagihan paralel");
			$('#tblAngsuran').html(data);
         }
	});
   
});
function detailAngsuran(kode){
	$.post("{/literal}{$host}{literal}keuangan/tag_paralel/detil/select", {
		'kode': kode
	}, function(resp) {
		$('#title').html("Tabel detil angsuran");
		$('#tblAngsuran').html(resp);
	});
}

<!-- function periodeAngsuran(kode, nama){ -->
	<!-- $.post("{/literal}{$host}{literal}keuangan/tag_paralel/periode/select", { -->
		<!-- 'kode': kode -->
	<!-- }, function(resp) { -->
		<!-- $('#title').html("Generate tagihan paralel - "+nama); -->
		<!-- $('#tblAngsuran').html(resp); -->
	<!-- }); -->
<!-- } -->
{/literal}
</script>