<form action="#" class="form-horizontal" id='form_tagihan'>
	<div class="form-body">
		<div class="form-group">
			<!-- <label  class="control-label col-md-3"></label> -->
			<div class="input-group col-md-12">
				<select class="form-control" name="periodeD" id="periodeD" >
					{foreach name=lope from=$periode item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
				</select>
			</div>
		</div>
		<div class="form-group" >
			<label class='control-label col-md-3'>Biaya denda</label>
			<div class='input-group col-md-3'>
				<input class='form-control' name='biaya_1' id='biaya_1' placeholder='Biaya'>
			</div>
			<div class='input-group col-md-4 '>
				<input class='form-control' name='tgl_tempo_1' id='tgl_tempo_1' placeholder='Tanggal tempo (YYYY-MM-DD)'>
			</div>
			<!-- <div class='input-group col-md-2 '> -->
				<!-- <a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a> -->
			<!-- </div> -->
		</div>
		<div class="form-group" >
			<label class='control-label col-md-3'>Biaya Semester Antara</label>
			<div class='input-group col-md-3 '>
				<input class='form-control' name='biaya_2' id='biaya_2' placeholder='Biaya'>
			</div>
			<div class='input-group col-md-4 '>
				<input class='form-control' name='tgl_tempo_2' id='tgl_tempo_2' placeholder='Tanggal tempo (YYYY-MM-DD)'>
			</div>
			<!-- <div class='input-group col-md-2 '> -->
				<!-- <a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a> -->
			<!-- </div> -->
		</div>
		<div class="form-group" >
			<label class='control-label col-md-3'>Biaya Perbaikan</label>
			<div class='input-group col-md-3'>
				<input class='form-control' name='biaya_3' id='biaya_3' placeholder='Biaya'>
			</div>
			<div class='input-group col-md-4'>
				<input class='form-control' name='tgl_tempo_3' id='tgl_tempo_3' placeholder='Tanggal tempo (YYYY-MM-DD)'>
			</div>
			<!-- <div class='input-group col-md-2 '> -->
				<!-- <a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a> -->
			<!-- </div> -->
		</div>
		<div class="form-group" >
			<label class='control-label col-md-3'>Biaya Cuti</label>
			<div class='input-group col-md-3'>
				<input class='form-control' name='biaya_4' id='biaya_4' placeholder='Biaya'>
			</div>
			<div class='input-group col-md-4'>
				<input class='form-control' name='tgl_tempo_4' id='tgl_tempo_4' placeholder='Tanggal tempo (YYYY-MM-DD)'>
			</div>
			<!-- <div class='input-group col-md-2 '> -->
				<!-- <a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a> -->
			<!-- </div> -->
		</div>
		<div class="form-group" >
			<label class='control-label col-md-3'>Biaya KTM</label>
			<div class='input-group col-md-3'>
				<input class='form-control' name='biaya_5' id='biaya_5' placeholder='Biaya'>
			</div>
			<div class='input-group col-md-4'>
				<input class='form-control' name='tgl_tempo_5' id='tgl_tempo_5' placeholder='Tanggal tempo (YYYY-MM-DD)'>
			</div>
			<!-- <div class='input-group col-md-2 '> -->
				<!-- <a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a> -->
			<!-- </div> -->
		</div>
		<div class='input-group col-md-2 '>
			<a class="btnGenerate btn blue btn-sm" href="#" onclick="genTagPar('{$kode}')" ><i class="icon-plus"></i> GENERATE</a>
		</div>
		<div class="col-md-12 col-xs-12">
			<div id="angsuran" class="col-md-12"></div>
		</div>
	</div>
</form>
<script>
{literal}
function genTagPar(kode){	
	$.LoadingOverlay("show");	
	var denda = $('#biaya_1').val();
	var dd_denda = $('#tgl_tempo_1').val();
	var sem_antara = $('#biaya_2').val();
	var dd_sem_antara = $('#tgl_tempo_2').val();
	var perbaikan = $('#biaya_3').val();
	var dd_perbaikan = $('#tgl_tempo_3').val();
	var cuti = $('#biaya_4').val();
	var dd_cuti = $('#tgl_tempo_4').val();
	var ktm = $('#biaya_5').val();
	var dd_ktm = $('#tgl_tempo_5').val();
	
	if(denda == '' && sem_antara == '' && perbaikan == '' && cuti == '' && ktm == ''){
		alert('Biaya tidak boleh kosong seluruhnya!');
		return;
	}
	
	var datastring = $('#form_tagihan').serialize() + "&periode=" + $('#periodeD').val() + "&kode=" + kode + "&denda=1" ;
	$.ajax({
		type: "POST",
		url: "{/literal}{$host}{literal}keuangan/tag_paralel/generate/select",
		data: datastring,
		dataType: "json",
		success: function(data){			
			if(data == 1){
				alert("Tagihan berhasil dibuat.");
				$('.btnGenerate').removeClass('blue').addClass('green');
				$('.btnGenerate').html('<i class="icon-check"></i> Berhasil');
			}else{
				alert(data);
				$('.btnGenerate').removeClass('blue').addClass('red');
				$('.btnGenerate').html('<i class="icon-cross"></i> Gagal');
			}
			setTimeout(function(){
				$('.btnGenerate').removeClass('green').addClass('blue');
				$('.btnGenerate').removeClass('red').addClass('blue');
				$('.btnGenerate').html('<i class="icon-plus"></i> Generate Tagihan');
			}, 1000);
		},
		error: function() {
			alert('error handling here');
		}
	});
	
	$.LoadingOverlay("hide", true);
	
	/*
	$.post("{/literal}{$host}{literal}keuangan/tag_paralel/generate/select", {
		'periode': $('#periodeD').val(),
		'kode': kode,
		'denda': 1, $('#form_tagihan').serialize() 
	}, function(resp) {
		if(resp == 1){
			alert("Tagihan berhasil dibuat.");
			$('.btnGenerate').removeClass('blue').addClass('green');
			$('.btnGenerate').html('<i class="icon-check"></i> Berhasil');
		}else{
			alert(resp);
			$('.btnGenerate').removeClass('blue').addClass('red');
			$('.btnGenerate').html('<i class="icon-cross"></i> Gagal');
		}
		
		setTimeout(function(){
			$('.btnGenerate').removeClass('green').addClass('blue');
			$('.btnGenerate').removeClass('red').addClass('blue');
			$('.btnGenerate').html('<i class="icon-plus"></i> Generate Tagihan');
		}, 1000);
		$.LoadingOverlay("hide", true);
		
	});
	*/
}
{/literal}
</script>
