<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<form action="{$host}master/mDaftarUlang/edit/do" class="form-horizontal" method="post">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-3">Kode</label>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" value="{$pembayaran->code}" disabled>
                <input type="text" value="{$pembayaran->code}" name="kode" hidden>
                <input type="text" value="{$pembayaran->periode_code}" name="periode" hidden>
                <input type="text" value="{$pembayaran->pembayaran}" name="tipePemb" hidden>
            </div>
        </div>        
        <div class="form-group">
            <label class="control-label col-md-3">Periode</label>
            <div class="col-md-8">
                <select class="form-control" id="periode" disabled>
                    {foreach name=loop from=$periode item=row}
                    <option value="{$row->kode}" {if $pembayaran->periode_code eq $row->kode}selected{/if}>{$row->nama}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Nama Pembayaran</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" value="{$pembayaran->nama}" id="nama" name="nama">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Program Studi</label>
            <div class="col-md-8">
                <select class="form-control" id="prodi" name="prodi" disabled>
                    <option value="{$pembayaran->prodiTipe}">{$pembayaran->prodi}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-3">Metod Pembayaran</label>
                    <div class="col-md-8">
                        <select class="form-control" id="pembayaran" name="pembayaran" disabled>
                            {if $pembayaran->pembayaran eq '1'}
                            <option value="1">Lunas</option>
                            {else}
                            <option value="69">Angsuran</option>
                            {/if}
                            <option value="1">Lunas</option>
                            <option value="69">Angsuran</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Peringkat</label>
                    <div class="col-md-6">
                        <select class="form-control" id="peringkat" name="peringkat" disabled>
                            {if $pembayaran->prodiTipe eq '1'}
                            <option value="1">Pertama</option>
                            {else if $pembayaran->prodiTipe eq '2'}
                            <option value="2">Kedua</option>
                            {else}
                            <option value="3">Ketiga</option>
                            {/if}
                            <option value="1">Pertama</option>
                            <option value="2">Kedua</option>
                            <option value="3">Ketiga</option>
                        </select>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Uang Pangkal</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" value="{$pembayaran->uangMasuk1}" id="um" name="um1">
            </div>
        </div>
        <!-- <div class="form-group"> -->
            <!-- <label class="control-label col-md-3">Uang Masuk Rank 2</label> -->
            <!-- <div class="input-group col-md-8"> -->
                <!-- <input type="text" class="biaya form-control" value="{$pembayaran->uangMasuk2}" id="um" name="um2"> -->
            <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
            <!-- <label class="control-label col-md-3">Uang Masuk Rank 3</label> -->
            <!-- <div class="input-group col-md-8"> -->
                <!-- <input type="text" class="biaya form-control" value="{$pembayaran->uangMasuk3}" id="um" name="um3"> -->
            <!-- </div> -->
        <!-- </div> -->
        <div class="form-group">
            <label class="control-label col-md-3">BPP</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" value="{$pembayaran->bpp}" id="bpp" name="bpp">
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-md-3">Jumlah SKS Semester 1</label>
                <div class="input-group col-md-8">
                        <input type="text" class="biaya form-control" value="{$pembayaran->jumlahSks}" placeholder="Jumlah SKS Semester 1" id="jumlahSks" name="jumlahSks">
                </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Biaya total SKS Semester 1</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" value="{$pembayaran->sks}" id="sks" name="sks">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">SPP</label>
            <div class="input-group col-md-8">
                <input type="text" class="biaya form-control" value="{$pembayaran->spp}" id="spp" name="spp">
            </div>
        </div>
		<div class="form-group">
			<label class="control-label col-md-3">Biaya Almamater</label>
			<div class="input-group col-md-8">
				<input type="text" class="form-control" placeholder="Biaya Almamater (Rp.)" id="almamater" name="almamater" value="{$pembayaran->almamater}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Biaya Registrasi</label>
			<div class="input-group col-md-8">
				<input type="text" class="form-control" placeholder="Biaya Registrasi (Rp.)" id="biaya_registrasi" name="biaya_registrasi" value="{$pembayaran->biaya_registrasi}">
			</div>
		</div>
		<!-- <div class="form-group"> -->
			<!-- <label class="control-label col-md-3">Jumlah Semester</label> -->
			<!-- <div class="input-group col-md-8"> -->
				<!-- <input type="text" class="biaya form-control" value="{$pembayaran->jumlah_semester}" placeholder="Jumlah Semester Perkuliahan" id="semester" name="semester"> -->
			<!-- </div> -->
		<!-- </div> -->
        <div class="form-group">
            <label class="control-label col-md-3">Status</label>
            <div class="col-md-6">
                <select class="form-control" id="status" name="status" class="status">
                    {if $pembayaran->status eq '1'}
                    <option value="1">AKTIF</option>
                    {else}
                    <option value="0">TIDAK AKTIF</option>
                    {/if}
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn blue" id="save" value="edit" name="opt">Save <i class="icon-plus"></i>
                </a>
        </div>
</form>

<script>
$(document).ready(function()
	{
    $('.biaya').formatCurrency();
        $('.biaya').blur(function()
        {
            $('.biaya').formatCurrency();
        });
});
</script>