<div class="portlet-body form">
    <form id='form_master_agama' class=" form-horizontal" role="form" method="post">
        {if $editstatus eq 'edit'}
        <input type="text" value="{$data.kode|default:''}" name="id" hidden>
        {/if}
    	<input type="text" value="{$editstatus|default:'add'}" name="editstatus" hidden>
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3">Kode</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="kode" id="kode" value="{$data.kode|default:'02.'}" {if $data}disabled{/if}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">ID/Kode BIG</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="idBig" id="idBig" value="{$data.idBig|default:''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Agama</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="nama" id="nama" value="{$data.nama|default:''}">
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green" id="postData" >Submit</button>
                <!--<button type="cancel" class="btnHide btn default">Cancel</button>-->
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$("#form_master_agama").submit(function(event) {  
    event.preventDefault();
		
    $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/adis_type",$(this).serialize(),function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                $('#form_invent').modal('hide');
                $('.modal-backdrop').hide();
                $('#masterAgama').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
            }
            $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>