<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-3">Prodi</label>
            <div class="col-md-8">
                <select class="form-control" id="prodi" name="prodi" required>
                    <option>-- Pilih Prodi --</option>
					{foreach from=$prodi item=row}
					<option value="{$row->kode}">{$row->nama}</option>
					{/foreach}
                </select>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">Peringkat</label>
            <div class="col-md-6">
                <select class="form-control" id="peringkat" name="peringkat">
                    <option value="1">Pertama</option>
                    <option value="2">Kedua</option>
                    <option value="3">Ketiga</option>
                    <option value="0">Tidak Ada</option>
                </select>
            </div>
        </div>
    </div> -->
</div>
<div class="form-group">
    <label class="control-label col-md-3">Metod Pembayaran</label>
    <div class="col-md-8">
        <select class="form-control" id="pembayaran" name="pembayaran" required>
            <option>-- Metode Pembayaran --</option>
            <option value="1">Lunas</option>
            <!-- <option value="69">Angsuran</option> -->
        </select>
    </div>
</div>
<div id="metodBayar">

</div>

<script type="text/javascript">
{literal}
$('#pembayaran').change(function() {
    val = $(this).attr('value');
    $.post('{/literal}{$host}{literal}master/mJalurUM/metodReguler', {'val': val}, function(resp) {
        $('#metodBayar').html(resp);
    });
});
{/literal}
</script>
