<form action="{$host}master/potonganBppProdi/form" class="form-horizontal" method="post">
	<div class="form-body">
		  <input name="id_potongan" value="{$id_potongan}" hidden>
		  {foreach from=$data item=x}
		  <div class="form-group">
			 <label  class="control-label col-md-5">{$x.nama}</label>
			 <div class="input-group col-md-7">
				<input type="text" class="form-control" placeholder="Nilai Potongan" 
					name="nilai_{$x.kode}" 
					value="{if isset($x.nilai_potongan)}{$x.nilai_potongan}{/if}">
			 </div>
		  </div>
		  {/foreach}	

				  
		</div>
  <div class="modal-footer">
	 <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
	 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Simpan <i class="icon-plus"></i></a>
  </div>
</form>