<div class="portlet-body form">
    <form id='form_module_access' class=" form-horizontal" role="form" method="post">
        {if $editstatus eq 'edit'}
        <input type="text" value="{$data.id|default:''}" name="id" id="dataId" hidden>
        {/if}
    	<input type="text" value="{$editstatus|default:'add'}" name="editstatus" hidden>
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3">Tipe Jenjang</label>
                <div class="col-md-9">
                    <select name="level_user" class="form-control" id="level_user">
                        <option value="">Pilih level user..</option>
                        {foreach from=$level item=row}
                        <option value="{$row.id}" {if $data && $data.level_user eq $row.id}selected{/if}>{$row.level_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Menu Parent</label>
                <div class="col-md-9">
                    <select name="parent_menu" id="parent_menu" class="form-control" onchange="selectSubmenu()">
                        <option value="">Pilih menu..</option>
                        {foreach from=$menu0 item=row}
                        <option value="{$row.id}">{$row.nama_menu}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Sub Menu</label>
                <div class="col-md-9">
                    <select name="sub_menu" class="form-control" id="sub_menu">
                        <option value="">Pilih sub menu..</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-sm green pull-right" id="postData" ><i class="icon-check"></i>Tambah modul</button>
        <br><br>
        <hr>
        <div id ='listmenu'>
            {if isset($listMenu)}
            {foreach from=$listMenu item=row}
            {if $row.parent_id eq 0}
            <a class="btn btn-sm btn-primary" id="modId_{$row.id}" style="margin-bottom: 4px;min-width: 220px;text-align:left;" onclick="removeModul('{$row.id}')">{$row.nama_menu} <i class="icon-remove-sign pull-right"></i></a><br>
            {else}
            <a class="btn btn-xs btn-info" id="modId_{$row.id}" style="margin-bottom: 4px;min-width: 220px;margin-left: 16px;text-align:left;" onclick="removeModul('{$row.id}')">{$row.nama_menu} <i class="icon-remove-sign pull-right"></i></a><br>
            {/if}
            {/foreach}
            {/if}
        </div>
        <!-- <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green" id="postData" >Submit</button>
            </div>
        </div> -->
    </form>
</div>

<script>
{literal}

function selectSubmenu(){
    $.LoadingOverlay("show");
    $.post(hostir+'smb/getDisplayView/select_sub_menu', {'id':$('#parent_menu').val()}, function(resp){
        $.LoadingOverlay("hide", true);
        $('#sub_menu').html(resp);
    });

}

function removeModul(p1){

    if(confirm("Apakah anda akan menghapus access modul?")){
	    var param = {};
        param['editstatus'] = 'edit';
        param['action'] = 'rem_modul';
        param['id'] = $('#dataId').val();
        param['idMenu'] = p1;
        $.LoadingOverlay("show");
        $.post(hostir+'smb/simpandata/smart_menu_privilage', param, function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data berhasil dihapus','info'); 
                $('#modId_'+p1).remove();
                $('#modulPrivilege').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal DIHAPUS - '+resp,'info'); 
            }
            $.LoadingOverlay("hide", true);
        });
    }

}

$("#form_module_access").submit(function(event) {  
    event.preventDefault();
		
    $.LoadingOverlay("show");
		$.post(hostir+"smb/simpandata/smart_menu_privilage_add",$(this).serialize(),function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                if($('#dataId').val()){
                    $.post(hostir+'smb/getDisplayView/reload_list_menu', {'id':$('#dataId').val()}, function(resp_){
                        $('#listmenu').html(resp_);
                    });
                }else{
                    $('#form_invent').modal('hide');
                    $('.modal-backdrop').hide();
                }
                $('#modulPrivilege').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
            }
            $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>