<div class="portlet-body form">
    <form id='form_master_prodi' class=" form-horizontal" role="form" method="post">
        {if $editstatus eq 'edit'}
        <input type="text" value="{$data.kode|default:''}" name="id" hidden>
        {/if}
    	<input type="text" value="{$editstatus|default:'add'}" name="editstatus" hidden>
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3">Kode</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="kode" id="kode" value="{$data.kode|default:''}" {if $data}disabled{/if}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">ID/Kode BIG</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="idBig" id="idBig" value="{$data.idBig|default:''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Nama Program Studi</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="nama" id="nama" value="{$data.nama|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Singkatan Program Studi</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="singkatan" id="singkatan" value="{$data.singkatan|default:''}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tipe Jenjang</label>
                <div class="col-md-9">
                    <select name="jenjang" class="form-control" id="jenjang">
                        <option value="">Pilih jenjang</option>
                        <option value="1" {if $data && $data.jenjang eq 1}selected{/if}>S1</option>
                        <option value="2" {if $data && $data.jenjang eq 2}selected{/if}>S2</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Tipe Lulusan</label>
                <div class="col-md-9">
                    <select name="lulusanType" class="form-control" >
                        <option value="">Pilih jenjang</option>
                        <option value="IPA" {if $data && $data.lulusanType eq 'IPA'}selected{/if}>IPA</option>
                        <option value="IPS" {if $data && $data.lulusanType eq 'IPS'}selected{/if}>IPS</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3">Ketua Program Studi</label>
                <div class="col-md-9">
                    <input class="form-control input-md" name="kaprodi" id="kaprodi" value="{$data.kaprodi|default:''}">
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green" id="postData" >Submit</button>
                <!--<button type="cancel" class="btnHide btn default">Cancel</button>-->
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$("#form_master_prodi").submit(function(event) {  
    event.preventDefault();
		
    $.LoadingOverlay("show");
		$.post("{/literal}{$host}{literal}smb/simpandata/adis_prodi",$(this).serialize(),function(resp){
            if(resp == 1){
                $.messager.alert('Smart - Bakrie','Data Tersimpan','info'); 
                $('#form_invent').modal('hide');
                $('.modal-backdrop').hide();
                $('#masterProdi').datagrid('reload');
            }else{
                $.messager.alert('Smart - Bakrie','Data Gagal Disimpan','info'); 
            }
            $.LoadingOverlay("hide", true);
		});
		
	});
	
{/literal}
</script>