<form action="{$host}master/masterPeriode/edit/do" class="form-horizontal" method="post">
	<div class="form-body">
		<div class="form-group">
			<label class="control-label col-md-3">Kode</label>
			<div class="input-group col-md-6">
				<input type="text" id="kode" name="kode" hidden value="{$periode->id}">
				<input type="text" class="form-control" placeholder="Kode Jalur Seleksi[Automatic]" id="kode"
					name="kode" disabled value="{$periode->id}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Periode</label>
			<div class="col-md-9">
				<select class="form-control" id="periode" name="periode" class="periode">
					<!-- <option value="{$periode->idMaster}">{$periode->periodeMaster}</option> -->
					{foreach name=loop from=$masterPeriode item=row}
					<option value="{$row->kode}" {if $row->kode eq $periode->idMaster}selected{/if}>{$row->nama}
					</option>
					{/foreach}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Date Range</label>
			<div class="col-md-4">
				<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012"
					data-date-format="yyyy-mm-dd">
					<input type="text" class="form-control" name="from" value="{$periode->tanggalMulai}">
					<span class="input-group-addon">to</span>
					<input type="text" class="form-control" name="to" value="{$periode->tanggalSelesai}">
				</div>
				<!-- /input-group -->
				<span class="help-block">Select date range</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Sesi Ke- *</label>
			<div class="input-group col-md-3">
				<input type="text" class="form-control" placeholder="Sesi Ke-" id="sesi" name="sesi" pattern="\d+"
					value="{$periode->sesi}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Nama Periode</label>
			<div class="input-group col-md-9">
				<input type="text" class="form-control" placeholder="[Tahun Mulai]-[Tahun Selesai]-[Jenjang]-[Semester]"
					id="nama" name="nama" value="{$periode->nama}">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Tanggal Pendaftaran</label>
			<div class="col-md-4">
				<div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012"
					data-date-format="yyyy-mm-dd">
					<input type="text" class="form-control" name="tgl_pendaftaran"
						value="{$periode->tanggal_pendaftaran}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Tanggal Tes</label>
			<div class="col-md-4">
				<div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012"
					data-date-format="yyyy-mm-dd">
					<input type="text" class="form-control" name="tgl_tes" value="{$periode->tanggal_tes}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Tanggal Pengumuman</label>
			<div class="col-md-4">
				<div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012"
					data-date-format="yyyy-mm-dd">
					<input type="text" class="form-control" name="tgl_pengumuman"
						value="{$periode->tanggal_pengumuman}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Tanggal Daftar Ulang</label>
			<div class="col-md-4">
				<div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012"
					data-date-format="yyyy-mm-dd">
					<input type="text" class="form-control" name="tgl_daftar_ulang"
						value="{$periode->tanggal_daftar_ulang}">
				</div>
			</div>
		</div>
		{if $USER.jenjang eq 3}
		<div class="form-group">
		   <label  class="control-label col-md-3">Potongan Daftar Ulang (Rp)</label>
		   <div class="input-group col-md-9">
			  <input type="text" class="form-control" placeholder="Potongan gelombang daftar ulang (Rp)" value="{$periode->potongan4x}" id="potongan4x" name="potongan4x" >
		   </div>
		</div>
		{/if}
		{if $USER.jenjang eq 2}
		<div class="form-group">
		  <label  class="control-label col-md-3">Potongan Pembayaran 1X (%)</label>
		  <div class="input-group col-md-9">
			 <input type="text" class="form-control" placeholder="Potongan pembayaran penuh 1x (%)" value="{$periode->potongan1x}" id="potongan1x" name="potongan1x" >
		  </div>
	   </div>
	   <div class="form-group">
		  <label  class="control-label col-md-3">Potongan Pembayaran 4X (Rp)</label>
		  <div class="input-group col-md-9">
			 <input type="text" class="form-control" placeholder="Potongan pembayaran tiap semester 4x (Rp)" value="{$periode->potongan4x}" id="potongan4x" name="potongan4x" >
		  </div>
	   </div><div class="form-group">
		  <label  class="control-label col-md-3">Potongan Pembayaran 24X (RP)</label>
		  <div class="input-group col-md-9">
			 <input type="text" class="form-control" placeholder="Potongan pembayaran tiap bulan 24x (Rp)" id="potongan24x" value="{$periode->potongan24x}" name="potongan24x" >
		  </div>
	   </div>
	   {/if}
		<div class="form-group">
			<label class="control-label col-md-3">Status</label>
			<div class="col-md-9">
				<select class="form-control" id="status" name="status" class="status">
					{if $periode->status eq '1'}
					<option value="1">AKTIF</option>
					{else}
					<option value="0">TIDAK AKTIF</option>
					{/if}
					<option value="1">AKTIF</option>
					<option value="0">TIDAK AKTIF</option>
				</select>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn blue" id="edit" value="edit" name="opt"> Save </a>
		</div>
</form>
<script>
	jQuery(document).ready(function () {
		// initiate layout and plugins
		FormComponents.init();
	});
</script>