                                <form action="{$host}master/periode/edit/do" class="form-horizontal" method="post">
									<div class="form-body">
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Kode</label>
                                             <div class="input-group col-md-6">
												<input type="text" id="kode" name="kode" hidden value="{$periode->kode}">
                                                <input type="text" class="form-control" placeholder="Kode Jalur Seleksi[Automatic]" id="kode" name="kode" disabled value="{$periode->kode}">
                                             </div>
                                          </div>
                                          <div class="form-group">
											<label  class="control-label col-md-3">Jenjang Pendidikan</label>
												<div class="col-md-9">
													<select class="form-control" id="jenjang"  name="jenjang" class="jenjang">
														<option value="1" {if $periode->jenjangType eq '1'}selected{/if}>S1</option>
														<option value="2" {if $periode->jenjangType eq '2'}selected{/if}>S2</option>
														<option value="3" {if $periode->jenjangType eq '3'}selected{/if}>KK</option>
													</select>
												</div>
										  </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Tahun Periode</label>
                                             <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Tahun Mulai" id="startYear" name="startYear" value="{$periode->tahun}">
                                             </div>
											 <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Tahun Selesai" id="endYear" name="endYear" value="{$periode->tahunSelesai}">
                                             </div>
                                          </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Date Range</label>
											  <div class="col-md-4">
												 <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="from" value="{$periode->tanggalMulai}">
													<span class="input-group-addon">to</span>
													<input type="text" class="form-control" name="to" value="{$periode->tanggalSelesai}">
												 </div>
												 <!-- /input-group -->
												 <span class="help-block">Select date range</span>
											  </div>
										   </div>
										  <div class="form-group">
											<label  class="control-label col-md-3">Periode</label>
												<div class="col-md-9">
													<select class="form-control" id="semester"  name="semester" class="semester">
														<option value="1" {if $periode->semester eq 1} selected{/if}>Ganjil</option>
														<option value="2" {if $periode->semester eq 2} selected{/if}>Genap</option>
													</select>
												</div>
										  </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Nama Periode</label>
                                             <div class="input-group col-md-9">
                                                <input type="text" class="form-control" placeholder="[Tahun Mulai]-[Tahun Selesai]-[Jenjang]-[Semester]" id="nama" name="nama" value="{$periode->nama}">
                                             </div>
                                          </div>
										  <div class="form-group">
											<label  class="control-label col-md-3">Status</label>
												<div class="col-md-9">
													<select class="form-control" id="status"  name="status" class="status">
														<option value="1" {if $periode->status eq '1'}selected{/if}>AKTIF</option>
														<option value="0" {if $periode->status eq '0'}selected{/if}>TIDAK AKTIF</option>
													</select>
												</div>
										  </div>
									  <div class="modal-footer">
										 <button type="button" class="btn default" data-dismiss="modal">Close</button>
										 <button type="submit" class="btn blue" id="edit" value="edit" name="opt"> Save </a>
									  </div>
								</form>
<script>
	jQuery(document).ready(function() {       
         // initiate layout and plugins
         FormComponents.init();
	});
</script>