<form action="{$host}master/masterPotongan/{if isset($method)}{$method}{else}add{/if}" class="form-horizontal" method="post">
	<div class="form-body">
		  <div class="form-group">
			 <label  class="control-label col-md-3">Kode</label>
			 {if isset($data.id)}<input name="id" value="{$data.id}" hidden>{/if}
			 {if isset($data.kode_potongan)}<input name="kode_potongan" value="{$data.kode_potongan}" hidden>{/if}
			 <div class="input-group col-md-9">
				<input type="text" class="form-control" placeholder="Kode potongan" name="kode" value="{if isset($data.kode_potongan)}{$data.kode_potongan}{/if}" {if isset($data.kode_potongan)}disabled{/if}>
			 </div>
		  </div>
		  <div class="form-group">
			 <label  class="control-label col-md-3">Nama Potongan</label>
			 <div class="input-group col-md-9">
				<input type="text" class="form-control" placeholder="Nama potongan" name="nama" value="{if isset($data.nama_potongan)}{$data.nama_potongan}{/if}">
			 </div>
		  </div>
		  {foreach from=$paramBiaya item=x}
		  <div class="form-group">
			 <label  class="control-label col-md-3">{$x.nama_biaya}</label>
			 <div class="input-group col-md-4">
				<input type="text" class="form-control" placeholder="Nilai" 
					name="nilai_{$x.kode}{if isset($x.id_biaya)}_{$x.id_biaya}{/if}" 
					value="{if isset($x.nilai)}{$x.nilai}{/if}">
			 </div>
			 <div class="col-md-5">
				<select class="form-control" id="tipe"  name="tipe_{$x.kode}{if isset($x.id_biaya)}_{$x.id_biaya}{/if}">							
					{foreach from=$tipe item=row}
						<option value="{$row.id}" {if isset($x.tipe)}{if $row.id eq $x.tipe}selected{/if}{/if}>{$row.nama_potongan}</option>
					{/foreach}							
				</select>
			 </div>
		  </div>
		  {/foreach}	

				  
		</div>
  <div class="modal-footer">
	 <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
	 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Simpan <i class="icon-plus"></i></a>
  </div>
</form>