<form action="{$host}master/potonganSemuaProdi/form" class="form-horizontal" method="post">
	<div class="form-body">
		  <input name="id_potongan" value="{$id_potongan}" hidden>
		  <div class="form-group">
			 <label  class="control-label col-md-5">Potongan Uang Pangkal Semua Prodi</label>
			 <div class="input-group col-md-7">
				<input type="text" class="form-control" placeholder="Nilai biaya uang pangkal semua prodi" 
					name="nilai" value="{if isset($data)}{$data.nilai_potongan}{/if}">
			 </div>
		  </div>

				  
		</div>
  <div class="modal-footer">
	 <button type="button" class="btn default" data-dismiss="modal">Keluar</button>
	 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Simpan <i class="icon-plus"></i></a>
  </div>
</form>