
			<div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box card">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i>Table Periode Gelombang SMB</div>
                     <div class="actions">
                        <a class="btn blue" href="#add" data-toggle="modal"><i class="icon-pencil"></i> Add</a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table  table-bordered table-advance table-hover" id="sample_editable_1">
                        <thead>
                           <tr>
                              <th>Tahun</th>							  
                              <th>Nama Periode</th>								  
                              <th>Tanggal Periode</th>						  
							  <th>Tanggal Kegiatan</th>	
							  {if $USER.jenjang eq '2'  || $USER.jenjang eq '99'}							  
							  <th>Potongan DU MM</th>			
							  {/if}					  
							  {if $USER.jenjang eq '3'  || $USER.jenjang eq '99'}							  
							  <th>Potongan DU KK</th>			
							  {/if}					  
                              <th width='5%'>Status</th>
                              <th width='10%'>Action</th>
                           </tr>
                        </thead>
                        <tbody>
						{foreach name=loop from=$sql item=row}
                           <tr class="{if $row->status eq '1'}active{/if}">
                              <td>{$row->tahun}</td>
							  <td>{$row->nama}</td>
							  <td>{$row->tanggalMulai|date_format:"%d-%m-%Y"}<br> s/d {$row->tanggalSelesai|date_format:"%d-%m-%Y"}</td>
							  <td><small>
								Tgl Pendaftaran : <u>{$row->tanggal_pendaftaran|date_format:"%d-%m-%Y"}</u><br>
								Tgl Tes : <u>{$row->tanggal_tes|date_format:"%d-%m-%Y"}</u><br>
								Tgl Pengumuman : <u>{$row->tanggal_pengumuman|date_format:"%d-%m-%Y"}</u><br>
								Tgl Daftar Ulang : <u>{$row->tanggal_daftar_ulang|date_format:"%d-%m-%Y"}</u></small>
							  </td>
							  {if $USER.jenjang eq '2' || $USER.jenjang eq '99'}	
							  <td><small>
								Potongan 1x : {$row->potongan1x}%<br>
								Potongan 4x : Rp {$row->potongan4x|number_format:0:",":"."}<br>
								Potongan 24x : Rp {$row->potongan24x|number_format:0:",":"."}<br></small>
							  </td>
							  {/if}
							  {if $USER.jenjang eq '3' || $USER.jenjang eq '99'}	
							  <td><small>
								Potongan  : Rp {$row->potongan4x|number_format:0:",":"."}<br>
							  </td>
							  {/if}
							  <td>
								{if $row->status eq '1'}
									<a class="nonaktif btn btn-xs btn-default" href="#" name="delete" value="{$row->id}">AKTIF</a>
								{else}
									<a class="aktif btn btn-xs btn-default" href="#" name="delete" value="{$row->id}">NON AKTIF</a>
								{/if}</td>
							  <td>
								  <a class="editer btn btn-xs btn-primary" href="#formEdit" data-toggle="modal" name="edit" value="{$row->id}">Edit</a>
								  <a class="deleter btn btn-xs btn-danger" href="#verifikasi" data-toggle="modal" name="delete" value="{$row->id}">Delete</a>
							  </td>
                           </tr>
						{/foreach}
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
					<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog modal-wide">
                           <div class="modal-content card">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Sesi Periode</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{$host}master/masterPeriode/add" class="form-horizontal" method="post">
									<div class="form-body">
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Kode</label>
                                             <div class="input-group col-md-6">
                                                <input type="text" class="form-control" placeholder="Kode Jalur Seleksi[Automatic]" id="kode" name="kode" disabled>
                                             </div>
                                          </div>
										  <div class="form-group">
											<label  class="control-label col-md-3">Periode</label>
												<div class="col-md-9">
													<select class="form-control" id="periode"  name="periode" class="periode">
													{foreach name=loop from=$masterPeriode item=row}
														<option value="{$row->kode}">{$row->nama}</option>
													{/foreach}
													</select>
												</div>
										  </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Date Range</label>
											  <div class="col-md-4">
												 <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="from">
													<span class="input-group-addon">to</span>
													<input type="text" class="form-control" name="to"  >
												 </div>
												 <!-- /input-group -->
												 <span class="help-block">Select date range</span>
											  </div>
										   </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Sesi Ke-*</label>
                                             <div class="input-group col-md-3">
                                                <input type="text" class="form-control" placeholder="Sesi Ke-" id="sesi" name="sesi" pattern="\d+" required>
                                             </div>
                                          </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Nama Periode</label>
                                             <div class="input-group col-md-9">
                                                <input type="text" class="form-control" placeholder="[Tahun Mulai]-[Tahun Selesai]-[Jenjang]-[Semester]" id="nama" name="nama" required>
                                             </div>
                                          </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Tanggal Pendaftaran</label>
											  <div class="col-md-4">
												 <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="tgl_pendaftaran" value="">
												 </div>
											  </div>
										   </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Tanggal Tes</label>
											  <div class="col-md-4">
												 <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="tgl_tes" value="">
												 </div>
											  </div>
										   </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Tanggal Pengumuman</label>
											  <div class="col-md-4">
												 <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="tgl_pengumuman" value="">
												 </div>
											  </div>
										   </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Tanggal Daftar Ulang</label>
											  <div class="col-md-4">
												 <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="tgl_daftar_ulang" value="">
												 </div>
											  </div>
										   </div>
										   {if $USER.jenjang eq 3}
											<div class="form-group">
											<label  class="control-label col-md-3">Potongan Daftar Ulang (Rp)</label>
											<div class="input-group col-md-9">
												<input type="text" class="form-control" placeholder="Potongan gelombang daftar ulang (Rp)"  id="potongan4x" name="potongan4x" >
											</div>
											</div>
											{/if}
										   {if $USER.jenjang eq '2'}		
										  <div class="form-group">
											<label  class="control-label col-md-3">Potongan Pembayaran 1X (%)</label>
											<div class="input-group col-md-9">
											   <input type="text" class="form-control" placeholder="Potongan pembayaran penuh 1x (%)" id="potongan1x" name="potongan1x" >
											</div>
										 </div>
										 <div class="form-group">
											<label  class="control-label col-md-3">Potongan Pembayaran 4X (Rp)</label>
											<div class="input-group col-md-9">
											   <input type="text" class="form-control" placeholder="Potongan pembayaran tiap semester 4x (Rp)" id="potongan4x" name="potongan4x" >
											</div>
										 </div><div class="form-group">
											<label  class="control-label col-md-3">Potongan Pembayaran 24X (RP)</label>
											<div class="input-group col-md-9">
											   <input type="text" class="form-control" placeholder="Potongan pembayaran tiap bulan 24x (Rp)" id="potongan24x" name="potongan24x" >
											</div>
										 </div>
										 {/if}
										  <div class="form-group">
											<label  class="control-label col-md-3">Status</label>
												<div class="col-md-9">
													<select class="form-control" id="status"  name="status" class="status">
														<option value="1">AKTIF</option>
														<option value="0">TIDAK AKTIF</option>
													</select>
												</div>
										  </div>
									  <div class="modal-footer">
										 <button type="button" class="btn default" data-dismiss="modal">Close</button>
										 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Tambah <i class="icon-plus"></i></a>
									  </div>
								</form>
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                    </div>
				</div>
				</div>
					<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog modal-wide">
                           <div class="modal-content card">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Edit Periode Seleksi</h4>
                              </div>
                              <div class="modal-body">
								<div id="form"></id>							  
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Confirmation</h4>
                              </div>
							  <div id="verifikasiRuang">
							  </div>
                           </div>
                        </div>
                    </div>
<script>
jQuery(document).ready(function() {       
         // initiate layout and plugins
         FormComponents.init();
	});
{literal}
	$(".editer").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPeriode/edit", {'opt':opt, 'val':val},function(resp){
			$('#form').html(resp);
		});
	});
	});
{/literal}
{literal}
$(".deleter").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPeriode/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
{literal}
$(".nonaktif").each(function (i, v){
	$(this).click( function() {	
			id = "nonaktif";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPeriode/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
{literal}
$(".aktif").each(function (i, v){
	$(this).click( function() {	
			id = "aktif";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPeriode/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
</script>