		 <div class="row">
            <div class="col-sm-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box card">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i>Table Jalur Seleksi</div>
                     <div class="actions">
                        <a class="btn blue" href="#add" data-toggle="modal"><i class="icon-pencil"></i> Add</a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table table-striped table-bordered table-hover" id="sample_2">
                        <thead>
                           <tr><th>Kode</th>
                              <th >Jalur Seleksi</th>
                              <th >File SK</th>
							  <th >Edit</th>
							  <th >Delete</th>
                           </tr>
                        </thead>
                        <tbody>
						{foreach name=loop from=$sql item=row}
                           <tr class="odd gradeX">
                              <td>{$row->kode}</td>
                              <td >{$row->nama}</td>
                              <td><a href="{$uri}{$row->fileSk}">{$row->fileSk}</a></td>
							  <td><a class="editing" href="#formEdit" data-toggle="modal" name="edit" value="{$row->kode}">Edit</a></td>
                              <td><a class="deleting" href="#verifikasi" data-toggle="modal" name="delete" value="{$row->kode}">Delete</a></td>
                           </tr>
						{/foreach}
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
         </div>
					 <div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Jalur Seleksi</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{$host}master/masterJalur/add" enctype="multipart/form-data" class="form-horizontal" method="post">
									<div class="form-body">
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Kode</label>
                                             <div class="input-group col-md-6">
                                                <input type="text" class="form-control" placeholder="Kode Jalur Seleksi" id="kode" name="kode" maxlength=2>
                                             </div>
                                          </div>
                                          <div class="form-group">
                                             <label  class="control-label col-md-3">Jalur</label>
                                             <div class="input-group col-md-9">
                                                <input type="text" class="form-control" placeholder="Jalur Seleksi" id="nama" name="nama">
                                             </div>
                                          </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">No. SK</label>
                                             <div class="input-group col-md-6">
                                                <input type="text" class="form-control" placeholder="No. SK" id="nosk" name="nosk">
                                             </div>
                                          </div>
										  <div class="form-group">									
											  <label for="filesk" class="control-label col-md-3">File SK</label>
											  <div class="input-group col-md-9">
												  <input type="file" id="filesk" name="filesk">
												  <p class="help-block">Lampirkan Surat Keputusan, Format : pdf|jpg|png|gif</p>
											  </div>
										  </div>								</div>
								  <div class="modal-footer">
									 <button type="button" class="btn default" data-dismiss="modal">Close</button>
									 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Tambah <i class="icon-plus"></i></a>
								  </div>
								</form>
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Edit Jalur Seleksi</h4>
                              </div>
                              <div class="modal-body">
								<div id="formJalur"></id>							  
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Confirmation</h4>
                              </div>
							  <div id="verifikasiRuang">
							  </div>
                           </div>
                        </div>
                    </div>
<script>
{literal}
	$(".editing").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterJalur/edit", {'opt':opt, 'val':val},function(resp){
			$('#formJalur').html(resp);
		});
	});
	});
{/literal}
{literal}
$(".deleting").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterJalur/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
</script>