        
         <!-- END PAGE HEADER-->
         <!-- BEGIN PAGE CONTENT-->
         <div class="row profile">
            <div class="col-md-12">
		
               <div class="tabbable tabbable-custom tabbable-full-width">
                   <ul class="nav nav-tabs">
                   <li class="active"><a href="#tab_1_1" data-toggle="tab">S1 reguler</a></li>
                   <li class=""><a href="#tab_1_2" data-toggle="tab">S1 Karyawan</a></li>
                   <li class=""><a href="#tab_1_3" data-toggle="tab">Magister</a></li>
                </ul>
                <div class="tab-content">
                   <div class="tab-pane active" id="tab_1_1">
                      <!--BEGIN TABS-->
                     <form action="{$host}master/welcome/submit" method="POST" class="form-horizontal form-bordered">
                        <div class="form-body">
                           <div class="form-group">
                              <label class="control-label col-md-2">Welcome Text</label>
                              <div class="col-md-10">
                                 <input name="jenjang" value="1" type="hidden">
                                 <textarea class="wysihtml5 form-control" rows="12" name="welcome_text">{$data.welcome_text|default:''}</textarea>
                              </div>
                           </div>
                        </div>

                        <div class="form-actions fluid">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Submit</button>
                                    <button type="button" class="btn default">Cancel</button>                              
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>

                     <!--END TABS-->
                   </div>
                   
                   <div class="tab-pane " id="tab_1_2">
                     <form action="{$host}master/welcome/submit" method="POST" class="form-horizontal form-bordered">
                        <div class="form-body">
                           <div class="form-group">
                              <label class="control-label col-md-2">Welcome Text</label>
                              <div class="col-md-10">
                                 <input name="jenjang" value="1.K" type="hidden">
                                 <textarea class="wysihtml5 form-control" rows="12" name="welcome_text">{$data.welcome_text_kk|default:''}</textarea>
                              </div>
                           </div>
                        </div>

                        <div class="form-actions fluid">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Submit</button>
                                    <button type="button" class="btn default">Cancel</button>                              
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
                   <div class="tab-pane " id="tab_1_3">
                     <form action="{$host}master/welcome/submit" method="POST" class="form-horizontal form-bordered">
                        <div class="form-body">
                           <div class="form-group">
                              <label class="control-label col-md-2">Welcome Text</label>
                              <div class="col-md-10">
                                 <input name="jenjang" value="2" type="hidden">
                                 <textarea class="wysihtml5 form-control" rows="12" name="welcome_text">{$data.welcome_text_mm|default:''}</textarea>
                              </div>
                           </div>
                        </div>

                        <div class="form-actions fluid">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Submit</button>
                                    <button type="button" class="btn default">Cancel</button>                              
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>

                </div>
             </div>
               
            </div>
         </div>
         <!-- END PAGE CONTENT-->
      </div>
<script type="text/javascript" src="{$host}assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
<script type="text/javascript" src="{$host}assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script>
      if (!jQuery().wysihtml5) {
         return;
      }

      if ($('.wysihtml5').size() > 0) {
         $('.wysihtml5').wysihtml5({
               "stylesheets": ["{$host}assets/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
         });
      }
</script>