 <div class="row">
	<div class="col-sm-12">
	   <!-- BEGIN EXAMPLE TABLE PORTLET-->
	   <div class="portlet box card">
		  <div class="portlet-title">
			 <div class="caption">Table Master Potongan Admisi</div>
			 <div class="actions">
				<a class="btn btn-xs btn-info" href="#add" data-toggle="modal"><i class="icon-plus"></i> Tambah baru</a>
			 </div>
		  </div>
		  <div class="portlet-body">
			 <table class="table table-striped table-bordered table-hover" id="sample_2">
				<thead>
				   <tr><th>Kode</th>
					  <th >Nama Potongan</th>
					  <th >Nilai Potongan</th>
					  <th >Action</th>
				   </tr>
				</thead>
				<tbody>
				{foreach name=loop from=$query item=row}
				   <tr class="odd gradeX">
					  <td width="10%">{$row.kode_potongan}</td>
					  <td width="60%" >{$row.nama_potongan}</td>
					  <td width="15%">
						{foreach from=$detil item=a}
							{if $a.kode_potongan eq $row.kode_potongan}
								{if $a.nilai neq 0}
								{$a.nilai}{$a.lambang} dari {$a.kode_biaya}<br>
								{/if}
							{/if}
						{/foreach}
					  </td>
					  <td width="15%">
						<a class="editing btn btn-xs btn-default" href="#formEdit" data-toggle="modal" name="edit" value="{$row.id}"><i class="icon-pencil"></i> Edit</a> 
						<a class="deleting btn btn-xs btn-default" href="#verifikasi" data-toggle="modal" name="delete" value="{$row.id}"><i class="icon-trash"></i> Delete</a>
						<a class="potongan btn btn-xs btn-default"  href="#formPotonganProdi" data-toggle="modal" name="potongan" value="{$row.id}"><i class="icon-plus"></i> Potongan BPP Prodi </a>
						<a class="potonganAll btn btn-xs btn-default"  href="#formPotonganProdi" data-toggle="modal" name="potonganAll" value="{$row.id}"><i class="icon-plus"></i> Uang Pangkal Semua Prodi </a>
					  </td>
				   </tr>
				{/foreach}
				</tbody>
			 </table>
		  </div>
	   </div>
	   <!-- END EXAMPLE TABLE PORTLET-->
	</div>
 </div>
 <div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Tambah Potongan Admisi</h4>
		  </div>
		  <div class="modal-body" >
			{include file="master/formPotongan.html"}
			
		  </div>
	   </div>
	  </div>
	   <!-- /.modal-content -->
	</div>
</div>
<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Edit Potongan Admisi</h4>
		  </div>
		  <div class="modal-body">
			<div id="formPotonganEdit"></id>							  
		  </div>
	   </div>
	  </div>
	   <!-- /.modal-content -->
	</div>
</div>
<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Confirmation</h4>
		  </div>
		  <div id="verifikasiForm">
		  </div>
	   </div>
	</div>
</div>

 <div class="modal fade" id="formPotonganProdi" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
	   <div class="modal-content">
		  <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			 <h4 class="modal-title">Tambah Potongan Admisi</h4>
		  </div>
		  <div class="modal-body" id='body_potongan'>
			
		  </div>
	   </div>
	  </div>
	   <!-- /.modal-content -->
</div>
<script>
{literal}
	$(".editing").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPotongan/edit", {'opt':opt, 'val':val},function(resp){
			$('#formPotonganEdit').html(resp);
		});
	});
	});
	
$(".deleting").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterPotongan/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiForm').html(resp);
		});
	});
});
	
$(".potongan").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/potonganBppProdi", {'opt':opt, 'id_potongan':val},function(resp){
			$('#body_potongan').html(resp);
		});
	});
});
	
$(".potonganAll").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/potonganSemuaProdi", {'opt':opt, 'id_potongan':val},function(resp){
			$('#body_potongan').html(resp);
		});
	});
});
{/literal}
</script>