
			<div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box card">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i>Table Periode Master SMB</div>
                     <div class="actions">
                        <a class="btn blue" href="#add" data-toggle="modal"><i class="icon-pencil"></i> Add</a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                           <tr>
                              <th>Tahun</th>
                              <th>Periode</th>	
                              <th>Jenjang Studi</th>							  
                              <th>Nama Periode</th>								  
                              <th>Tanggal Periode</th>							  
                              <th>Status</th>
                              <th>Edit</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
						{foreach name=loop from=$sql item=row}
                           <tr class="{if $row->status eq '1'} active{/if}">
                              <td>{$row->tahun} - {$row->tahunSelesai}</td>
							  <td>{if $row->semester eq 1}Ganjil{else}Genap{/if}</td>
							  <td>{if $row->jenjangType eq '1'}S1{else if $row->jenjangType eq '2'}S2{else if $row->jenjangType eq '3'}KK{/if}</td>
							  <td>{$row->nama}</td>
							  <td>{$row->tanggalMulai|date_format:"%d-%m-%Y"} s/d {$row->tanggalSelesai|date_format:"%d-%m-%Y"}</td>
							  <td>
								{if $row->status eq '1'}
									<a class="nonaktif" href="#" name="delete" value="{$row->kode}">AKTIF</a>
								{else}
									<a class="aktif" href="#" name="delete" value="{$row->kode}">NON AKTIF</a>
								{/if}</td>
                              <td><a class="editer" href="#formEdit" data-toggle="modal" name="edit" value="{$row->kode}">Edit</a></td>
                              <td><a class="deleter" href="#verifikasi" data-toggle="modal" name="delete" value="{$row->kode}">Delete</a></td>
                           </tr>
						{/foreach}
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
					<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Jalur Seleksi</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{$host}master/periode/add" class="form-horizontal" method="post">
									<div class="form-body">
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Kode</label>
                                             <div class="input-group col-md-6">
                                                <input type="text" class="form-control" placeholder="Kode Jalur Seleksi[Automatic]" id="kode" name="kode" disabled>
                                             </div>
                                          </div>
                                          <div class="form-group">
											<label  class="control-label col-md-3">Jenjang Pendidikan</label>
												<div class="col-md-9">
													<select class="form-control" id="jenjang"  name="jenjang" class="jenjang">
														<option value="1">S1</option>
														<option value="2">S2</option>
														<option value="3">KK</option>
													</select>
												</div>
										  </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Tahun Periode</label>
                                             <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Tahun Mulai" id="startYear" name="startYear">
                                             </div>
											 <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Tahun Selesai" id="endYear" name="endYear">
                                             </div>
                                          </div>
										  <div class="form-group">
											  <label class="control-label col-md-3">Date Range</label>
											  <div class="col-md-4">
												 <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
													<input type="text" class="form-control" name="from">
													<span class="input-group-addon">to</span>
													<input type="text" class="form-control" name="to"  >
												 </div>
												 <!-- /input-group -->
												 <span class="help-block">Select date range</span>
											  </div>
										   </div>
										  <div class="form-group">
											<label  class="control-label col-md-3">Periode</label>
												<div class="col-md-9">
													<select class="form-control" id="semester"  name="semester" class="semester">
														<option value="1">Ganjil</option>
														<option value="2">Genap</option>
													</select>
												</div>
										  </div>
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Nama Periode</label>
                                             <div class="input-group col-md-9">
                                                <input type="text" class="form-control" placeholder="[Tahun Mulai]-[Tahun Selesai]-[Jenjang]-[Semester]" id="nama" name="nama">
                                             </div>
                                          </div>
										  <div class="form-group">
											<label  class="control-label col-md-3">Status</label>
												<div class="col-md-9">
													<select class="form-control" id="status"  name="status" class="status">
														<option value="1">AKTIF</option>
														<option value="0">TIDAK AKTIF</option>
													</select>
												</div>
										  </div>
									  <div class="modal-footer">
										 <button type="button" class="btn default" data-dismiss="modal">Close</button>
										 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Tambah <i class="icon-plus"></i></a>
									  </div>
								</form>
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                    </div>
				</div>
				</div>
					<div class="modal fade" id="formEdit" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Edit Periode Seleksi</h4>
                              </div>
                              <div class="modal-body">
								<div id="form"></id>							  
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Confirmation</h4>
                              </div>
							  <div id="verifikasiRuang">
							  </div>
                           </div>
                        </div>
                    </div>
<script>
jQuery(document).ready(function() {       
         // initiate layout and plugins
         FormComponents.init();
	});
{literal}
	$(".editer").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/periode/edit", {'opt':opt, 'val':val},function(resp){
			$('#form').html(resp);
		});
	});
	});
{/literal}
{literal}
$(".deleter").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/periode/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
{literal}
$(".nonaktif").each(function (i, v){
	$(this).click( function() {	
			id = "nonaktif";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/periode/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
{literal}
$(".aktif").each(function (i, v){
	$(this).click( function() {	
			id = "aktif";
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/periode/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			location.reload();
		});
	});
});
{/literal}
</script>