        
         <!-- END PAGE HEADER-->
         <!-- BEGIN PAGE CONTENT-->
         <div class="row profile">
            <div class="col-md-12">
               <!--BEGIN TABS-->
               <div class="tabbable tabbable-custom tabbable-full-width">
                  <ul class="nav nav-tabs">
                     <li class="active"><a href="#tab_1_3" data-toggle="tab">Deskripsi</a></li>
                     <li><a href="#tab_1_6" data-toggle="tab">Kontak</a></li>
                  </ul>
                  <div class="tab-content">
                     <!--tab_1_2-->
                     <div class="tab-pane active" id="tab_1_3">
                        <div class="row profile-account">
                           <div class="col-md-3">
                              <ul class="ver-inline-menu tabbable margin-bottom-10">
                                 <li class="active">
                                    <a data-toggle="tab" href="#tab_1-1">
                                    <i class="icon-cog"></i> 
                                    Universitas Bakrie
                                    </a> 
                                    <span class="after"></span>                                    
                                 </li>
                                 <li ><a data-toggle="tab" href="#tab_2-2"><i class="icon-picture"></i> Lokasi</a></li>
                              </ul>
                           </div>
                           <div class="col-md-9">
                              <div class="tab-content">
                                 <div id="tab_1-1" class="tab-pane active">
                                    <form role="form" action="#">
                                       <div class="form-group">
                                          <label class="control-label">Kode DIKTI</label>
                                          <input type="text" placeholder="John" class="form-control" disabled value=""/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Nama</label>
                                          <input type="text" placeholder="Doe" class="form-control" disabled value="Universitas Bakrie"/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Singkatan</label>
                                          <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control" disabled value="UB"/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Alamat</label>
                                          <input type="text" placeholder="Design, Web etc." class="form-control" disabled value=""/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Kabupaten Kota</label>
                                          <input type="text" placeholder="Web Developer" class="form-control" disabled value="Jakarta Selatan"/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">Propinsi</label>
                                           <input type="text" placeholder="Web Developer" class="form-control" disabled value="DKI Jakarta"/>
                                       </div>
                                       <div class="form-group">
                                          <label class="control-label">kode Pos</label>
                                          <input type="text" placeholder="Web Developer" class="form-control" disabled value=""/>
                                       </div>
                                    </form>
                                 </div>
                                 <div id="tab_2-2" class="tab-pane">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                    <form action="#" role="form">
                                       <div class="form-group">
                                          <div class="thumbnail" style="width: 310px;">
                                             <img src="http://www.placehold.it/310x170/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                          </div>
                                          <div class="margin-top-10 fileupload fileupload-new" data-provides="fileupload">
                                             <div class="input-group input-group-fixed">
                                                <span class="input-group-btn">
                                                <span class="uneditable-input">
                                                <i class="icon-file fileupload-exists"></i> 
                                                <span class="fileupload-preview"></span>
                                                </span>
                                                </span>
                                                <span class="btn default btn-file">
                                                <span class="fileupload-new"><i class="icon-paper-clip"></i> Select file</span>
                                                <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                                                <input type="file" class="default" />
                                                </span>
                                                <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Remove</a>
                                             </div>
                                          </div>
                                          <span class="label label-danger">NOTE!</span>
                                          <span>
                                          Attached image thumbnail is
                                          supported in Latest Firefox, Chrome, Opera, 
                                          Safari and Internet Explorer 10 only
                                          </span>
                                       </div>
                                       <div class="margin-top-10">
                                          <a href="#" class="btn green">Submit</a>
                                          <a href="#" class="btn default">Cancel</a>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <!--end col-md-9-->                                   
                        </div>
                     </div>
                     <!--end tab-pane-->
                     <!--end tab-pane-->
                     <div class="tab-pane" id="tab_1_6">
                        <div class="row">
                           <div class="col-md-3">
                              <ul class="ver-inline-menu tabbable margin-bottom-10">
                                 <li class="active">
                                    <a data-toggle="tab" href="#tab_1">
                                    <i class="icon-briefcase"></i> 
                                    Kontak
                                    </a> 
                                    <span class="after"></span>                                    
                                 </li>
                              </ul>
                           </div>
                           <div class="col-md-9">
                              <div class="tab-content">
                                 <div id="tab_1" class="tab-pane active">
                                    <div id="accordion1" class="panel-group">
                                       <div class="panel panel-default">
                                          <div class="panel-heading">
                                             <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                                Telepon
                                                </a>
                                             </h4>
                                          </div>
                                          <div id="accordion1_1" class="panel-collapse collapse  in">
                                             <div class="panel-body">
                                                +62 21 7918 1188 ext. 200 , 888
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-default">
                                          <div class="panel-heading">
                                             <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                                Fax
                                                </a>
                                             </h4>
                                          </div>
                                          <div id="accordion1_2" class="panel-collapse collapse">
                                             <div class="panel-body">
                                                +62 21 799 3375
                                          </div>
                                       </div>
                                       <div class="panel panel-success">
                                          <div class="panel-heading">
                                             <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                                                Email
                                                </a>
                                             </h4>
                                          </div>
                                          <div id="accordion1_3" class="panel-collapse collapse">
                                             <div class="panel-body">
											 info@bakrie.co.id
                                             </div>
                                          </div>
                                       </div>
                                       <div class="panel panel-warning">
                                          <div class="panel-heading">
                                             <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                                                Our Homepage
                                                </a>
                                             </h4>
                                          </div>
                                          <div id="accordion1_4" class="panel-collapse collapse">
                                             <div class="panel-body">
												www.bakrie.co.id
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--end tab-pane-->
                  </div>
               </div>
               <!--END TABS-->
            </div>
         </div>
         <!-- END PAGE CONTENT-->
      </div>
      <!-- END PAGE -->    
   </div>
   <!-- END CONTAINER -->
   <!-- BEGIN FOOTER -->
   <div class="footer">
      <div class="footer-inner">
         2013 &copy; Metronic by keenthemes.
      </div>
      <div class="footer-tools">
         <span class="go-top">
         <i class="icon-angle-up"></i>
         </span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->   
   <script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>    
   <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
   <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
   <script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
   <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
   <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
   <!-- END CORE PLUGINS -->
   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <script type="text/javascript" src="assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
   <!-- END PAGE LEVEL PLUGINS -->
   <!-- BEGIN PAGE LEVEL SCRIPTS -->
   <script src="assets/scripts/app.js"></script>      
   <!-- END PAGE LEVEL SCRIPTS -->
   <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>