
			<div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box card">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-user"></i>Table Jabatan</div>
                     <div class="actions">
                        <a href="#add" data-toggle="modal" class="btn blue"><i class="icon-pencil"></i> Add</a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                           <tr>
                              <th>Kode</th>
                              <th>Jabatan</th>	
                              <th>Singkatan</th>	
                              <th>Edit</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
						{foreach name=loop from=$sql item=row}
                           <tr >
                              <td>{$row->kode}</td>
							  <td>{$row->nama}</td>
							  <td>{$row->singkatan}</td>
                              <td><a class="editing" href="#editing" data-toggle="modal" value="{$row->kode}" name="edit">Edit</a></td>
                              <td><a class="deleting" href="#verifikasi" data-toggle="modal" value="{$row->kode}" name="delete">Delete</a></td>
                           </tr>
						{/foreach}
                        </tbody>
                     </table>
                  </div>
               </div>
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
					<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Jabatan</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{$host}master/masterJabatan/add" class="form-horizontal" method="post">
									<div class="form-body">
										  <div class="form-group">
                                             <label  class="control-label col-md-3">Kode</label>
                                             <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Kode Jabatan" id="kode" name="kode">
                                             </div>
                                          </div>
                                          <div class="form-group">
                                             <label  class="control-label col-md-3">Jabatan</label>
                                             <div class="input-group col-md-9">
                                                <input type="text" class="form-control" placeholder="Nama Jabatan" id="jab" name="jab">
                                             </div>
                                          </div><div class="form-group">
                                             <label  class="control-label col-md-3">Singkatan</label>
                                             <div class="input-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Singkatan" id="singkatan" name="singkatan">
                                             </div>
                                          </div>
									</div>
								  <div class="modal-footer">
									 <button type="button" class="btn default" data-dismiss="modal">Close</button>
									 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Tambah <i class="icon-plus"></i></a>
								  </div>
								</form>
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div class="modal fade" id="editing" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Edit Jabatan</h4>
                              </div>
                              <div class="modal-body">
                                <div id="formJabatan"></div>
                              </div>
                           </div>
						  </div>
                           <!-- /.modal-content -->
                        </div>
					</div>
					<div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Confirmation</h4>
                              </div>
							  <div id="verifikasiRuang">
							  </div>
                           </div>
                        </div>
                    </div>
<script>
	jQuery(document).ready(function() {     
         TableEditable.init();
      });
{literal}
	$(".editing").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterJabatan/edit", {'opt':opt, 'val':val},function(resp){
			$('#formJabatan').html(resp);
		});
	});
	});
{/literal}
{literal}
$(".deleting").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterJabatan/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
</script>