
<script>
		  
            $(function () {
                $('#data-table').dataTable({
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                   });
            });
            $(function () {
                $('.tbl-simple').dataTable({
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                });
            });
			
			$(function () {
			$(".tbl-paper-theme").tablecloth({
          theme: "paper"
		   });
			});
			
		$(function () {
			$(".tbl-dark-theme").tablecloth({
          theme: "dark"
		   });
		});
			$(function () {
                $('.tbl-paper-theme,.tbl-dark-theme').dataTable({
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                });
	

            });
</script>	


					<div class="primary-head">
						<h3 class="page-header">Master Departemen</h3>
					</div>
					<div class="content-widgets light-gray">
						<div class="widget-head bondi-blue">
							<h3>Daftar Departemen Univ. Bakrie
								<a href="{$host}home/proyekForm/tambah" id="tambah" style="float:right"><i class="icon-plus "></i></a>
							</h3>
						</div>
						<div class="widget-container" >	
							<table class="responsive table table-striped table-bordered" id="data-table" >
							<thead>
							<tr>
								<th>
									 ID
								</th>
								<th>
									 Nama Departemen
								</th>
								<td class="action" ></td>
							</tr>
							</thead>
							<tbody>
							{foreach name=loop from=$depart item=row}
							<tr>
								<td>
									 {$row->acadept_uid}
								</td>								
								<td>
									 {$row->description}
								</td>								
								<td class="center">
									 <div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li>
											<a href="#" name="edit" id="edit">Edit</a>
											</li>
											<li>
											<a href="#" value="hapus">Hapus</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>	
							{/foreach}
							</tbody>
							</table>
						</div>
					</div>

	<script type="text/javascript">
	{literal}
		$(document).ready(function(){
		id_proyek = $('#id_proyek').text();
			$('#edit').click(function(){
				$.post("{/literal}{$host}{literal}home/proyekForm", {'id':id_proyek});
				});
			});
	{/literal}{literal}
		$("#tambah").off();
		$("#tambah").on("click",function(e){
            $.post("{/literal}{$host}{literal}home/proyekForm/tambah",{},function(resp){
                $('#isi').html(resp);			
            });
        });
	{/literal}
	</script>