						<div class="row">
                           <div class="col-md-12">
                              <div class="add-portfolio">
                                 <span>{$gdg->nama}, Universitas Bakrie</span>  	
								 <a class=" btn default" href="#add" data-toggle="modal" style="float:right">
									Tambah <i class="icon-plus"></i>
								 </a> 
                              </div>
                           </div>
                        </div>
			<div class="col-md-12 row">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet box card">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-edit"></i>Tabel Ruangan</div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                           <tr>
                              <th>Kode</th>
                              <th>Nama</th>
                              <th>Lantai</th>
                              <th>Kapasitas Ruangan</th>
                              <th>Kapasitas Ujian</th>
                              <th>Edit</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
						{foreach name=loop from=$ruang item=row}
                           <tr >
                              <td>{$row->kode}</td>
                              <td>{$row->nama}</td>
                              <td>{$row->lantai}</td>
                              <td>{$row->kursiUmum}</td>
                              <td>{$row->kursiTes}</td>
                              <td><a class="edites" href="#editRuang" data-toggle="modal" value="{$row->kode}" name="edit">Edit</a></td>
                              <td><a class="deletes" href="#verifikasi" data-toggle="modal" value="{$row->kode}" name="delete">Delete</a></td>
                           </tr>
						{/foreach}
                        </tbody>
                     </table>
                  </div>
               </div> 
               <!-- END EXAMPLE TABLE PORTLET-->
            </div>
					<div class="modal fade" id="add" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Ruangan Gedung</h4>
                              </div>
								  <div class="modal-body">
									<div class="modal-body">
										<form action="{$host}master/masterRuang/add" class="form-horizontal" method="post">
											<div class="form-body">
												  <div class="form-group">
													 <label  class="control-label col-md-3">Pilih Gedung</label>
													 <div class="col-md-9">
														<select class="form-control" id="props"  name="gedung" class="gedung">
															{foreach name=loop from=$sql item=row} 
																<option value="{$row->kode}">{$row->nama}</option>
															{/foreach}
														</select>
													 </div>
												  </div>
												  <div class="form-group">
													 <label  class="control-label col-md-3">Kode Ruang</label>
													 <div class="input-group col-md-6">
														<input type="text" class="form-control" placeholder="Kode Ruang" id="kode" name="kode">
													 </div>
												  </div>
												  <div class="form-group">
													 <label  class="control-label col-md-3">Nama Ruang</label>
													 <div class="input-group col-md-9">
														<input type="text" class="form-control" placeholder="Nama Ruang" id="ruang" name="ruang">
													 </div>
												  </div>
												  <div class="form-group">
													 <label  class="control-label col-md-3">Lantai</label>
													 <div class="input-group col-md-9">
														<input type="text" class="form-control" placeholder="Posisi Lantai" id="lantai" name="lantai">
													 </div>
												  </div>
												  <div class="form-group">
													 <label  class="control-label col-md-3">Kursi Umum</label>
													 <div class="input-group col-md-9">
														<input type="text" class="form-control" placeholder="Jumlah Kursi Umum" id="umum" name="umum">
													 </div>
												  </div>
												  <div class="form-group">
													 <label  class="control-label col-md-3">Kursi Tes</label>
													 <div class="input-group col-md-9">
														<input type="text" class="form-control" placeholder="Jumlah Kursi Tes" id="tes" name="tes">
													 </div>
												  </div>
											</div>
										  <div class="modal-footer">
											 <button type="button" class="btn default" data-dismiss="modal">Close</button>
											 <button type="submit" class="btn blue" id="save" value="save" name="opt"> Tambah <i class="icon-plus"></i></a>
										  </div>
										</form>
									</div>
								</div>
                              </div>
                           </div>
                           <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                     </div>
					 <div class="modal fade" id="editRuang" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Tambah Ruangan Gedung</h4>
                              </div>
								  <div class="modal-body">
									<div id="formRuang"></id>	
								  </div>
								</div>
							</div>
						</div>
					</div>
					 <div id="verifikasi" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                 <h4 class="modal-title">Confirmation</h4>
                              </div>
							  <div id="verifikasiRuang">
							  </div>
                           </div>
                        </div>
                    </div>
<script>
{literal}
$(".edites").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterRuang/edit", {'opt':opt, 'val':val},function(resp){
			$('#formRuang').html(resp);
		});
	});
});
{/literal}
{literal}
$(".deletes").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
		$.post("{/literal}{$host}{literal}master/masterRuang/delete", {'opt':opt, 'val':val},function(resp){
			$('#verifikasiRuang').html(resp);
		});
	});
});
{/literal}
</script>