
{if $jenjang eq 1}
	<div class="alert alert-bakrie" >
		<div class='row row-in'>
			<label>Terima Kasih telah Melakukan Pendaftaran di Aplikasi SMART Universitas Bakrie 
				<br>Anda Mendaftar pada Jalur <b>{$cmb->jalur_penerimaan}</b> Nomor pendaftaran Anda adalah <b>{$cmb->no_smb}</b></label>
		</div>
	</div>

	<div class="alert alert-info" >
		<div class='row row-in'>
			{if $cmb->upload_rapor eq 1 && $cmb->approval_rapor eq 0}
			<label>Anda telah mengisi dan mengupload nilai rapor. Mohon menunggu, data sedang diproses.</label>
			{/if}
			{if $cmb->stsApplyPaid eq 1 && $cmb->stsApplyPaidConfirm eq 0}
			<label>Terima Kasih telah melakukan pembayaran biaya pendaftaran. Mohon menunggu, data sedang diproses.</label>
			{/if}
			{if $cmb->stsEventConfirm eq 1 &&  $cmb->stsResultConfirm eq 0}
			<label>Biaya pendaftaran telah diproses, silahkan melihat jadwal tes Anda.</label>
			{/if}
			{if $cmb->stsResultConfirm eq 1 && $cmb->stsReapplyPaid eq 0}
			<label>Hasil seleksi telah sudah tersedia, silahkan melihat hasil seleksi Anda.</label>
			{/if}
			{if $cmb->stsReapplyPaid eq 1 && $cmb->stsReapplyPaidConfirm eq 0}
			<label>Terima Kasih telah melakukan pembayaran biaya daftar ulang. Mohon menunggu, data sedang diproses.</label>
			{/if}
		</div>
	</div>
{elseif $jenjang eq 2}
			
	{if $cmb->stsApplyPaid eq 1 && $cmb->stsApplyPaidConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih telah melakukan pembayaran biaya pendaftaran. Mohon menunggu, data sedang diproses.
			</div>
		</div>
	</div>
	{/if}
			
	{if $cmb->stsReapplyPaid eq 1 && $cmb->stsReapplyPaidConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih telah melakukan pembayaran biaya daftar ulang. 
				<br>Mohon menunggu, data sedang diproses.
				{if $cmb->stsPribadiConfirm eq 0}
				<br>Silahkan melanjutkan ke proses berikutnya untuk melengkapi Data Akademik<br>
				<br><a href="{$host}portal/formulir" class="btn btn-info btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-pencil"></i> Data Akademik</a>
				{/if}
			</div>
		</div>
	</div>
	{/if}

	{if $cmb->stsReapplyPaid eq 0 && $cmb->tolakDU eq 1}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Pembayaran Daftar Ulang ditolak oleh Admin. 
				<br>Silahkan upload kembali bukti bayar Anda<br>
				<br><a href="{$host}portal/formMagisterDu" class="btn btn-success btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-pencil"></i> Bukti Bayar</a>
			</div>
		</div>
	</div>
	{/if}
				
	{if $cmb->stsEventConfirm eq 1 &&  $cmb->stsResultConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih biaya pendaftaran formulir Anda pada 
				<br>Program Kelas Karyawan Universitas Bakrie,
				<br>telah kami terima, silahkan mengatur Tes TPA Anda <br>
				<br><a href="{$host}portal/jadwalMagister" class="btn btn-info btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-calendar"></i> Setting Jadwal</a>
			</div>
		</div>
	</div>
	{/if}
		
	{if $cmb->verifikasi_forlap neq 1 }
	<div class="alert alert-bakrie text-center" style="background-color: #ff7348;border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row row-in'>
			<div class="col-md-12">
				Terima Kasih telah Melakukan Pendaftaran  
				<br>Program {$cmb->progdi} Universitas Bakrie,
				<br>kami akan segera memverifikasi data Anda
				<br>Sebelum Anda dapat melanjutkan ke proses selanjutnya
				<!-- <br>Anda Mendaftar pada Jalur <b>{$cmb->jalur_penerimaan}</b> Nomor pendaftaran Anda adalah <b>{$cmb->no_smb}</b> -->
			</div>
		</div>
	</div>
	{else if $cmb->verifikasi_forlap eq 1  && $cmb->stsApplyPaid neq 1}
	<div class="alert alert-bakrie text-center" style="background-color: #ff7348;border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row row-in'>
			<div class="col-md-12">
				Terima Kasih telah menunggu,  
				<br>data Forlap Anda telah diverifikasi
				<br>Silahkan melanjutkan ke proses selanjutnya<br>
				<br><a href="{$host}portal/payment" class="btn btn-success waves-effect  btn-md ">Pembayaran Formulir </a>
			</div>
		</div>
	</div>
	{/if}
{elseif $jenjang eq 3}
			
	{if $cmb->stsApplyPaid eq 1 && $cmb->stsApplyPaidConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih telah melakukan pembayaran biaya pendaftaran. Mohon menunggu, data sedang diproses.
			</div>
		</div>
	</div>
	{/if}
			
	{if $cmb->stsReapplyPaid eq 1 && $cmb->stsReapplyPaidConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih telah melakukan pembayaran biaya daftar ulang. 
				<br>Mohon menunggu, data sedang diproses.
				{if $cmb->stsPribadiConfirm eq 0}
				<br>Silahkan melanjutkan ke proses berikutnya untuk melengkapi Data Akademik<br>
				<br><a href="{$host}portal/formulir" class="btn btn-info btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-pencil"></i> Data Akademik</a>
				{/if}
			</div>
		</div>
	</div>
	{/if}

	{if $cmb->stsReapplyPaid eq 0 && $cmb->tolakDU eq 1}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Pembayaran Daftar Ulang ditolak oleh Admin. 
				<br>Silahkan upload kembali bukti bayar Anda<br>
				<br><a href="{$host}portal/formDaftarUlangKK" class="btn btn-success btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-pencil"></i> Bukti Bayar</a>
			</div>
		</div>
	</div>
	{/if}
				
	{if $cmb->stsEventConfirm eq 1 &&  $cmb->stsResultConfirm eq 0}
	<div class="alert alert-bakrie text-center" style="border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row '>
			<div class="col-md-12">
				Terima Kasih biaya pendaftaran formulir Anda pada 
				<br>Program {$cmb->progdi} Universitas Bakrie,
				<br>telah kami terima, silahkan mengatur Tes TPA & 
				<br>jadwal wawancara Anda <br>
				<br><a href="{$host}portal/jadwalkk" class="btn btn-info btn-rounded waves-effect waves-light  btn-md "> <i class="fa fa-calendar"></i> Setting Jadwal</a>
			</div>
		</div>
	</div>
	{/if}
		
	{if $cmb->verifikasi_forlap neq 1 }
	<div class="alert alert-bakrie text-center" style="background-color: #ff7348;border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row row-in'>
			<div class="col-md-12">
				Terima Kasih telah Melakukan Pendaftaran  
				<br>Program Kelas Karyawan Universitas Bakrie,  <!-- {$cmb->progdi} -->
				<br>kami akan segera memverifikasi data Anda
				<br>Sebelum Anda dapat melanjutkan ke proses selanjutnya
				<!-- <br>Anda Mendaftar pada Jalur <b>{$cmb->jalur_penerimaan}</b> Nomor pendaftaran Anda adalah <b>{$cmb->no_smb}</b> -->
			</div>
		</div>
	</div>
	{else if $cmb->verifikasi_forlap eq 1  && $cmb->stsApplyPaid neq 1}
	<div class="alert alert-bakrie text-center" style="background-color: #ff7348;border: 0px; padding: 32px 16px 32px 16px;">
		<div class='row row-in'>
			<div class="col-md-12">
				Terima Kasih telah menunggu,  
				<br>data Forlap Anda telah diverifikasi
				<br>Silahkan melanjutkan ke proses selanjutnya<br>
				<br><a href="{$host}portal/payment" class="btn btn-success waves-effect  btn-md ">Pembayaran Formulir </a>
			</div>
		</div>
	</div>
	{/if}
{/if}
{include file='portal/tiles.html'}
<img src="{$host}assets/eliteadmin/plugins/images/alert2.png" alt="alert" class="img-responsive model_img" id="sa-tolak" hidden>
<img src="{$host}assets/eliteadmin/plugins/images/alert2.png" alt="alert" class="img-responsive model_img" id="sa-tolak-mm" hidden>
<img src="{$host}assets/eliteadmin/plugins/images/alert2.png" alt="alert" class="img-responsive model_img" id="sa-tolak-kk" hidden>
<img src="{$host}assets/eliteadmin/plugins/images/alert2.png" alt="alert" class="img-responsive model_img" id="sa-forlap-tolak" hidden>
{if $cmb->nim}
<div class='row'>
	<div class="col-sm-12">
		<div class='white-box col-md-12' style='background:#e6e6e6;'>
			<div class='col-md-6 row-in text-left'  id="card_name" style="padding-left: 0px;padding-right: 0px;">
				<div class='col-md-12' style='margin-left:0px;margin-right:0px;padding-left: 0px;padding-right: 0px;'><img src='{$host}assets/images/id_card/header.jpg' width='100%' ></div>
				<div class='col-md-9' style="padding-left: 0px;padding-right: 0px;">
					<div class='col-md-12' style='background:#fff;padding-top:12px;padding-left:32px;padding-right:32px;height:125px;'>
						<h4>Mahasiswa</h4>
						<h1 style='color:#6b1314;'>{$cmb->nama_panggilan}</h1>
					</div>
				</div>
				<div class='col-md-3' style="background:#78787A;margin-left:0px;position: relative;text-align: center;color: black;padding-left: 0px;padding-right: 0px;">				
					<a class="profile-edit" data-toggle="modal" href="#edit-image" title='Click to change'>
						{if $cmb->foto neq ''}
						<img src='{$host}assets/upload/foto/{$cmb->foto}' width='100%' height='125px;'>
						{else}
						<img src='{$host}assets/files/pic.png' width='100%' height='125px;'>
						<label style='position: absolute;
							  top: 50%;
							  left: 50%;
							  transform: translate(-50%, -50%);'>Click to change</label>
						{/if}
					</a>
				</div>
				<div class='col-md-12' style="padding-left: 0px;padding-right: 0px;">
					<div class='col-md-12' style='background:#6b1314;height:55px;padding-left:32px;padding-top:8px;'>	
						<div class='col-md-6'>
							<font style='color:#fff'>{$nama}</font><br>
							<font style='color:#fff'>{$cmb->nim}</font>
						</div>
						<div class='col-md-6 text-right'>
							<h5 style='color:#fff;font-size:14xp;'>{$cmb->progdi}</h5>
						</div>
					</div>
				</div>
			</div>
			{*
			<div class='col-md-6 row-in text-left'  id="card_name">
				<div class='col-md-12' style='margin-left:0px;margin-right:0px;'><img src='{$host}assets/images/id_card/header.jpg' width='100%' ></div>
				<div class='col-md-9' >
					<div class='col-md-12' style='background:#fff;padding-top:12px;padding-left:32px;padding-right:32px;height:125px;'>
						<h4>Mahasiswa
							<h1 style='color:#6b1314;'>{$cmb->nama_panggilan}</h1>
						</h4>
					</div>
				</div>
				<div class='col-md-3'style='background:#78787A;margin-left:-8px;position: relative;text-align: center;color: black;'>				
					<a class="profile-edit" data-toggle="modal" href="#edit-image" title='Click to change'>
						{if $cmb->foto neq ''}
						<img src='{$host}assets/upload/foto/{$cmb->foto}' width='100%' height='125px;' >
						{else}
						<img src='{$host}assets/files/pic.png' width='100%' height='125px;'>
						<label style='position: absolute;
							  top: 50%;
							  left: 50%;
							  transform: translate(-50%, -50%);'>Click to change</label>
						{/if}
					</a>
				</div>
				<div class='col-md-12'>
					<div class='col-md-12' style='background:#6b1314;height:55px;padding-left:32px;padding-top:8px;'>	
						<div class='col-md-6'>
							<font style='color:#fff'>{$cmb->nama_cm}</font><br>
							<font style='color:#fff'>{$cmb->nim}</font>
						</div>
						<div class='col-md-6 text-right'>
							<h4 style='color:#fff'>{$cmb->progdi}</h4>
						</div>
					</div>
				</div>
			</div>
			*}
			<div class='col-md-6'>
				<p>Selamat, Anda sudah menjadi mahasiswa <br>
				Program Studi {$cmb->progdi} Universitas Bakrie<br>
				Nomor Induk Mahasiswa (NIM) <b>{$cmb->nim}</b></p>
				
				<a href='javascript:;' onclick='print_card({$cmb->nim})' class='btn btn-info'>Print ID Card</a>
			</div>
		</div>
	</div>
</div>
{/if}
{if $cmb->sts_berkas eq 1}
{include file='portal/calendar.html'}
{/if}

<div class="modal fade" id="edit-image" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Change Photo</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
					<form action="{$host}portal/editProfil/edit/do" class="form-horizontal" method="post" enctype="multipart/form-data">
						<div class="form-body">
							<div class="form-group">
								<div class="form-group">
									<label class="control-label col-md-3" style="text-align:left;">Upload Foto</label>
									<div class="col-md-9">
										<input name="kode" value="{$cmb->foto}" hidden>
										<input type="file" name="poto" required>
										<p class="help-block"><h4>Ketentuan upload foto :</h4></p>
										<p class="help-block"><b>Mahasiswa Laki-laki :</b></p>
										<p class="help-block">1. Kemeja Putih (Berkerah)</p>
										<p class="help-block">2. Tanpa Dasi</p>
										<p class="help-block">3. Rambut Disisir Rapih</p>
										<p class="help-block">4. Background Foto Berwarna Putih</p>
										<p class="help-block"><b>Mahasiswa Perempuan :</b></p>
										<p class="help-block">1. Kemeja Putih (Berkerah)</p>
										<p class="help-block">2. Tanpa Dasi</p>
										<p class="help-block">3. Bila berhijab, menggunakan Hijab Abu-Abu</p>
										<p class="help-block">4. Bila tidak berhijab, rambut disisir rapih</p>
										<p class="help-block">5. Background Foto Berwarna Putih</p>
										<p class="help-block">Format : jpg|png, Best Size : 400px*600px</p>
										<p class="help-block"><b>Batas Waktu penguploadan foto adalah {$cmb->periodeEndDate|date_format:'%d-%m-%Y'}, Bila Foto tidak sesuai dengan 
											Ketentuan di atas maka Kartu Tanda Mahasiswa Tidak Akan Dicetak</b></p>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn blue" name="opt" value="foto">Update <i class="icon-plus"></i>
							</button>
						</div>
					</form>
				</div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
function print_card(nim){
	var pdf = new jsPDF('l', 'in', 'credit-card');
	pdf.internal.scaleFactor = 30;
	pdf.addHTML(document.getElementById("card_name"),function() {
		pdf.save(nim+'.pdf');
	});
}

function print_(){
	var canvasToImage = function(canvas){
        var img = new Image();
        var dataURL = canvas.toDataURL('image/png');
        img.src = dataURL;
        return img;
    };
	
	var canvasShiftImage = function(oldCanvas,shiftAmt){
        shiftAmt = parseInt(shiftAmt) || 0;
        if(!shiftAmt){ return oldCanvas; }
        
        var newCanvas = document.createElement('canvas');
        newCanvas.height = oldCanvas.height - shiftAmt;
        newCanvas.width = oldCanvas.width;
        var ctx = newCanvas.getContext('2d');
        
        var img = canvasToImage(oldCanvas);
        ctx.drawImage(img,0, shiftAmt, img.width, img.height, 0, 0, img.width, img.height);
        
        return newCanvas;
    };
	
	var canvasToImageSuccess = function(canvas){
        var pdf = new jsPDF('l','px', 'credit-card'),
            pdfInternals = pdf.internal,
            pdfPageSize = pdfInternals.pageSize,
            pdfScaleFactor = pdfInternals.scaleFactor,
            pdfPageWidth = pdfPageSize.width,
            pdfPageHeight = pdfPageSize.height,
            totalPdfHeight = 0,
            htmlPageHeight = canvas.height,
            htmlScaleFactor = canvas.width / (pdfPageWidth * pdfScaleFactor),
            safetyNet = 0;
        
        while(totalPdfHeight < htmlPageHeight && safetyNet < 15){
            var newCanvas = canvasShiftImage(canvas, totalPdfHeight);
            pdf.addImage(newCanvas, 'png', 0, 0, pdfPageWidth, 0, null, 'NONE');
            
            totalPdfHeight += (pdfPageHeight * pdfScaleFactor * htmlScaleFactor);
            
            if(totalPdfHeight < htmlPageHeight){
                pdf.addPage();
            }
            safetyNet++;
        }
        
        pdf.save('test.pdf');
    };
    
    html2canvas(document.getElementById("card_name"), {
        onrendered: function(canvas){
            canvasToImageSuccess(canvas);
        }
    });
}
</script>