
<!-- BEGIN FORM-->
<div class="row">
	<div class="col-md-12">
		<div class="white-box col-md-12">
			<div class="invoice">
		
			<div class="col-md-6 text-right">
				<img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/>
			</div>
			<div class="col-md-6 text-left" style="text-align: center;">
				<h4>| INVOICE DAFTAR ULANG</h4>
			<br>
			<br>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-10" style="background-color:#f0f0f0;padding:32px;">
				<div class="col-md-3" style="text-align:right;"><label>{if $jenjang eq 1}Nama Siswa{else}Full name{/if}</label></div>
				<div class="col-md-9">
					<label>: {$prof->nama_cm}</label>
					<input value="{$prof->kode_smb}" name="kode" hidden>
					<input value="{$prof->kode_jalur}" name="kode_jalur" id="jalur" hidden>
					<input value="{$kode_pilihan_biaya}" name="kode_pilihan_biaya" id="kodePaidType" hidden>
				</div>
				<div class="col-md-3" style="text-align:right;"><label>Nomor Registrasi</label></div>
				<div class="col-md-9">
					<label>: {$prof->no_smb}</label>
				</div>
				<div class="col-md-3" style="text-align:right;"><label>Program Studi</label></div>
				<div class="col-md-9">
					<label>: {$prof->progdi}</label>
				</div>
				<div class="col-md-3" style="text-align:right;"><label>Kateogori Beasiswa</label></div>
				<div class="col-md-9">
					<label>: {$keu_user->nama_potongan|lower|ucfirst}</label>
				</div>
				<div class="col-md-3" style="text-align:right;"><label>Batas Pembayaran</label></div>
				<div class="col-md-9">
					<label>: {$keu_user->tanggal_daftar_ulang|date_format:"%d-%m-%Y"}</label>
					<br>
					<br>
				</div>
				
				<div class="col-md-1" ></div>
				<div class="col-md-10">	
					<div class="col-sm-12" style="background-color:#6B1314;color:#fff"><label>Biaya Pendidikan Semester 1</label></div>
						
					{if isset($promo)}
					{foreach from=$detil_potongan item=y key=k}	
						{if $jenjang eq 2 && $y.kode_biaya eq 'BPP'}
						{else}
						<a class="list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}{$y.nama_biaya}{else}{$y.fee_name}{/if}
								{if $y.nama_biaya eq 'BPP'}<font class="small text-muted" hidden>(dibayarkan pada tagihan pertama)</font>{/if}
							</label>
							<label >:
								{if $y.nilai neq 0}
									{if $y.kode_biaya eq 'UM'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.uang_masuk}</font></strike></font> Rp <font class="biaya"> {$biayaSale.UM}</font>{/if}
									{if $y.kode_biaya eq 'SPP'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.spp}</font></strike></font>  Rp <font class="biaya"> {$biayaSale.SPP}</font>{/if}
									{if $y.kode_biaya eq 'BPP'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.bpp}</font></strike></font> Rp <font class="biaya"> {$biayaSale.BPP}</font>{/if}
									{if $y.kode_biaya eq 'SKS'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.sks}</font></strike></font> Rp <font class="biaya"> {$biayaSale.SKS}</font>{/if}
									{if $y.kode_biaya eq 'JA'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.almamater}</font></strike></font> Rp <font class="biaya"> {$biayaSale.JA}</font>{/if}
									{if $y.kode_biaya eq 'REG'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.biaya_registrasi}</font></strike></font> Rp <font class="biaya"> {$biayaSale.REG}</font>{/if}
								{else}										
									{if $y.kode_biaya eq 'UM'}Rp <font class="biaya"> {$biaya.uang_masuk}</font>{/if}
									{if $y.kode_biaya eq 'SPP'}Rp <font class="biaya"> {$biaya.spp}</font>{/if}
									{if $y.kode_biaya eq 'BPP'}Rp <font class="biaya"> {$biaya.bpp}</font>{/if}
									{if $y.kode_biaya eq 'SKS'}Rp <font class="biaya"> {$biaya.sks}</font>{/if}
									{if $y.kode_biaya eq 'REG'}Rp <font class="biaya"> {$biaya.biaya_registrasi}</font>{/if}
									{if $y.kode_biaya eq 'JA'}Rp <font class="biaya"> {$biaya.almamater}</font>{/if}
									
								{/if}
							</label>
						</a>	
						{/if}
					{/foreach}
					{else}
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}Uang Pangkal{else}Admission Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.uang_masuk}</font></label>
						</a>
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}SPP{else}Education allowance fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.spp}</font></label>
						</a>
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}Jaket Almamater{else}{/if}</label><label>: Rp <font class="biaya"> {$biaya.almamater}</font></label>
						</a>
						{if $jenjang eq 1}
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">BPP<p class="small text-muted" hidden>Dibayarkan pada tagihan pertama</p></label><label>: Rp <font class="biaya"> {$biaya.bpp}</font></label>
						</a>
						{/if}
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}SKS{else}Credit Cource Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.sks}</font> (Rp 350.000/SKS)</label>
						</a>
						<a class="man list-group-item" style="background-color:#f0f0f0;padding:0px;">
							<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}Registrasi{else}Registration Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.biaya_registrasi}</font></label>
						</a>
					{/if}
					<a class="man list-group-item bg-grey" style="background-color:#adadad;padding:0px;">
						<label class="col-md-4" style="text-align:right;">{if $jenjang eq 1}Total Biaya Semester 1{else}Total education fee{/if}</label>
						<label>:
							{if isset($promo)}
								<font class="text-danger"><strike>Rp <font class="biaya"> {$biayaSale.totalBiaya}</font></strike></font> Rp <font class="biaya"> {$biayaSale.total2}</font>
							{else}Rp <font class="biaya"> {$biaya.biaya_total}</font>{/if}
						</label>
					</a>
					
				</div>
				<div class="col-md-1"></div>
				
				<div class="col-md-3" style="text-align:right;"><br><label>Pembayaran dapat ditransfer melalui rekening :</label></div>
				<div class="col-md-9"><br><label  style="background-color:#fff;padding:8px;">
					Bank Permata ,A/N Universitas Bakrie, 070.162.7415 <br>
					Bank BCA, A/N Yayasan Pendidikan Bakrie, 5055.026464  <br>
					Bank Mandiri Syariah, A/N Yayasan Pendidikan Bakrie, 065.001.515.7 <br>
					Bayar diloket Universitas Bakrie</label>
				</div>
				
			</div>
			<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>
