<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<!-- BEGIN FORM-->
<div class="portlet light bordered form-fit">	
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-blue-hoki bold uppercase">{if $jenjang eq 1}Form pembayaran daftar ulang{else}Re-registration form{/if}</span>
		</div>
	</div>
	<div class="portlet-body form" >
		<form action="#" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
			<div class="form-body" style="font-size:bold">
                <!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">DATA DIRI</h3> -->
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Nama Lengkap{else}Full name{/if}
                    </label>
					</div>
                    <div class="col-md-10">
                        <label>{$prof->nama_cm}</label>
                        <input value="{$prof->kode_smb}" name="kode" hidden>
                        <input value="{$prof->kode_jalur}" name="kode_jalur" id="jalur" hidden>
                        <input value="{$kode_pilihan_biaya}" name="kode_pilihan_biaya" id="kodePaidType" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}No Registrasi{else}Registration number{/if}
						</label>
					</div>
                    <div class="col-md-10">
                        <label>{$prof->no_smb}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Program Studi{else}Major/Concentration{/if}
                   </label></div><div class="col-md-10">
                        <label>{$prof->progdi}</label>
                    </div>
                </div>
				{if $jenjang eq 1}
                <div class="form-group">
                    <div class="col-md-2"><label>Jalur Masuk</label></div>
					<div class="col-md-10">
                        <label>{$prof->n_jalur}</label>
                    </div>
                </div>
                {/if}
            </div>
            <div class="form-body">
                <h4 class="form-sectionn form-group control-label caption-subject font-green-haze bold" style="padding:20px;text-align:left">{if $jenjang eq 1}Transaksi Pembayaran{else}Paymant Transaction{/if}</h4>
				
				<div class="form-group">
					<div class="col-md-2">
						<label class="text-danger">{if $jenjang eq 1}Kategori{else}Discount{/if}</label>
					</div>
					<div class="col-md-10">
						<label class="text-danger col-md-10">
							{if isset($promo)}{$promo.nama_potongan} ( 
								{foreach from=$detil_potongan item=y key=k name=foo}
									{if $y.nilai neq 0}
										{if $k eq 1},{/if}										
										{$y.nilai}
										{if $y.tipe eq 1}%{/if} 
										{$y.nama_biaya} 
										{if $k neq 0 && $k neq 3},{/if}
									{/if}
								{/foreach} )								
							<p class="small text-muted" hidden>Berlaku pada periode tanggal : {$promo.tanggal_mulai|date_format:"%e %B %Y"} - {$promo.tanggal_akhir|date_format:"%e %B %Y"}</p>
							{else}Anda tidak mendapatkan potongan biaya{/if}
						</label>
					</div>
				</div>
				<div class="form-group">
                    <div class="col-md-2">
						<label>{if $jenjang eq 1}Komponen Biaya{else}List Fee{/if}</label>
					</div>
					<div class="col-md-10">
						<div class="col-md-12">	
							<a class="man list-group-item bg-blue">
								<label>{if $jenjang eq 1}Biaya Pendidikan Semester 1{else}Education Fee{/if}</label>
							</a>
							{if $jalur eq 'KP'}
							<a class="man list-group-item">
								<label class="col-md-4">Daftar Ulang</label><label>: Rp <font class="biaya"> {$biaya.daftar_ulang_kp}</font></label>
							</a>
							{/if}
							{if isset($promo)}
							{foreach from=$detil_potongan item=y key=k}	
								{if $jenjang eq 2 && $y.kode_biaya eq 'BPP'}
								{else}
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}{$y.nama_biaya}{else}{$y.fee_name}{/if}
										{if $y.nama_biaya eq 'BPP'}<font class="small text-muted" hidden>(dibayarkan pada tagihan pertama)</font>{/if}
									</label>
									<label >:
										{if $y.nilai neq 0}
											{if $y.kode_biaya eq 'UM'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.uang_masuk}</font></strike></font> Rp <font class="biaya"> {$biayaSale.UM}</font>{/if}
											{if $y.kode_biaya eq 'SPP'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.spp}</font></strike></font>  Rp <font class="biaya"> {$biayaSale.SPP}</font>{/if}
											{if $y.kode_biaya eq 'SKS'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.sks}</font></strike></font> Rp <font class="biaya"> {$biayaSale.SKS}</font>{/if}
											{if $y.kode_biaya eq 'BPP'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.bpp}</font></strike></font> Rp <font class="biaya"> {$biayaSale.BPP}</font>{/if}
											{if $y.kode_biaya eq 'JA'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.almamater}</font></strike></font> Rp <font class="biaya"> {$biayaSale.JA}</font>{/if}
											{if $y.kode_biaya eq 'REG'} <font class="text-danger"><strike>Rp <font class="biaya"> {$biaya.biaya_registrasi}</font></strike></font> Rp <font class="biaya"> {$biayaSale.REG}</font>{/if}
										{else}										
											{if $y.kode_biaya eq 'UM'}Rp <font class="biaya"> {$biaya.uang_masuk}</font>{/if}
											{if $y.kode_biaya eq 'SPP'}Rp <font class="biaya"> {$biaya.spp}</font>{/if}
											{if $y.kode_biaya eq 'SKS'}Rp <font class="biaya"> {$biaya.sks}</font>{/if}
											{if $y.kode_biaya eq 'BPP'}Rp <font class="biaya"> {$biaya.bpp}</font>{/if}
											{if $y.kode_biaya eq 'JA'}Rp <font class="biaya"> {$biaya.almamater}</font>{/if}
											{if $y.kode_biaya eq 'REG'}Rp <font class="biaya"> {$biaya.biaya_registrasi}</font>{/if}
											
										{/if}
									</label>
								</a>	
								{/if}
							{/foreach}
							{else}
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}SPP{else}Education allowance fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.spp}</font></label>
								</a>
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}Uang Pangkal{else}Admission Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.uang_masuk}</font></label>
								</a>
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}Jaket Almamater{else}{/if}</label><label>: Rp <font class="biaya"> {$biaya.almamater}</font></label>
								</a>
								{if $jenjang eq 1}
								<a class="man list-group-item">
									<label class="col-md-4">BPP<p class="small text-muted" hidden>Dibayarkan pada tagihan pertama</p></label><label>: Rp <font class="biaya"> {$biaya.bpp}</font></label>
								</a>
								{/if}
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}SKS{else}Credit Cource Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.sks}</font> (Rp 350.000/SKS)</label>
								</a>
								<a class="man list-group-item">
									<label class="col-md-4">{if $jenjang eq 1}Registrasi{else}Registration Fee{/if}</label><label>: Rp <font class="biaya"> {$biaya.biaya_registrasi}</font></label>
								</a>
							{/if}
							<a class="man list-group-item bg-grey">
								<label class="col-md-4">{if $jenjang eq 1}Total Biaya Semester 1{else}Total education fee{/if}</label>
								<label>:
									{if isset($promo)}
										<font class="text-danger"><strike>Rp <font class="biaya"> {$biayaSale.totalBiaya}</font></strike></font> Rp <font class="biaya"> {$biayaSale.total2}</font>
									{else}Rp <font class="biaya"> {$biaya.biaya_total}</font>{/if}
								</label>
							</a>
							{*
							{if $jalur neq 'KP'}
							<a class="man list-group-item bg-grey">
								<label class="col-md-4">{if $jenjang eq 1}Total Biaya Semester 1{else}1st Semester fee{/if}</label>
								<label>: 
								{if isset($promo)}
									<font class="text-danger"><strike>Rp <font class="biaya"> {$biayaSemester1}</font></strike></font> Rp <font class="biaya"> {$biayaSale.biayaSemester1}</font>
								{else}
									Rp <font class="biaya"> {$biayaSemester1}</font>
								{/if}
								</label>
							</a>
							
							{/if}
							*}
						</div>
					</div>
				</div>
				
				{*
				<div class="form-group" {if $jalur eq 'KP'}style="display:none"{/if}>
                    <div class="col-md-2"><label>{if $jenjang eq 1}Pilihan Pembayaran{else}Paymant Method{/if}
						</label>
					</div>
                    <div class="col-md-10" >
						<div class="radio-list">
							<label class="radio-inline">
                                <input type="radio" name="metodBayar" class="mBayar" value="1" {if $paramBiaya->metode eq 1}checked="true"{/if} disabled>{if $jenjang eq 1} 1x Bayar{else} One time{/if}
							</label>							
							<label class="radio-inline">
                                <input type="radio" name="metodBayar" class="mBayar" value="2" {if $paramBiaya->metode eq 2}checked="true"{/if} disabled>{if $jenjang eq 1} 2x Bayar{else} Two times{/if}
							</label>
							<label class="radio-inline">
                                <input type="radio" name="metodBayar" class="mBayar" value="5" {if $paramBiaya->metode eq 5}checked="true"{/if} disabled>{if $jenjang eq 1} Angsuran (5x){else} Five times{/if}
							</label>							
						</div>
                    </div>
                </div>		
				<div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}List detail biaya{else}Fee detail{/if}</label></div>
                    <div class="col-md-10 detilBiayaTagihan" >
						
					</div>
				</div>
				*}
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Tagihan Re-registrasi{else}Total Payment{/if}
                    </label></div><div class="col-md-10" >
                        <input type="text" class="biaya form-control"  value="{$transaksi.totalBiayaDaftarUlang}" disabled>
                    </div>
                </div>
                <div class="detailBiaya ">
                </div>		
                
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Tanggal Pembayaran{else}Date of Payment{/if}
                    </label></div><div class="col-md-10" >
                        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" name="tanggalBayar" placeholder="" style="text-align: left;" value="{$transaksi.tanggal_trans}" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Jenis Pembayaran{else}Type of Payment{/if}
                    </label></div><div class="col-md-10" >
                        <select class="form-control" name="typeTrans" id="typeTrans" disabled>
                            <option>Pilih Tipe Pembayaran..</option>
                            {foreach name=loop from=$typeBayar item=row}
                            <option value="{$row->kode}" {if $row->kode eq $transaksi.kode_typeTrans} selected{/if}>{$row->nama}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}No Kartu ATM{else}ATM Car Number{/if}
                    </label></div><div class="col-md-10" >
                        <input type="text" class="form-control" name="noAtmCard" id="noAtmCard"  value="{$transaksi.noAtmCardDaftarulang}" disabled required>
                        <p class="help-block" style="display:none;" id="helpAtm">{if $jenjang eq 1}Masukan 4 digit akhir nomor kartu ATM Anda. (Bukan No. Rekening){else}Entry last 4 digits behind debit/credit card{/if}</p>
                        <p class="help-block" style="display:none;" id="helpAtmno">{if $jenjang eq 1}Lewati jika transaksi pembayaran Tunai/Tunai Via Bank{else}Skip this field{/if}</p>
                    </div>
                </div>
				<div class="form-group">
				   <div class="col-md-2"><label>{if $jenjang eq 1}Rekening Tujuan{else}Destination Account number{/if}
				   </label></div>
				   <div class="col-md-5" >							  
						  <select  class="form-control" name="bankAkun" disabled>
								 <option>{if $jenjang eq 1}Pilih Tipe Rekening tujuan..{else}Select..{/if}</option>
								 <option value="070.162.7415" {if $transaksi.reapplyBankAccountType eq '070.162.7415'}selected{/if}>Bank Permata (070.162.7415)</option>
								 <option value="5055.026464" {if $transaksi.reapplyBankAccountType eq '5055.026464'}selected{/if}>Bank BCA (5055.026464)</option>
								 <option value="065.0010515.7" {if $transaksi.reapplyBankAccountType eq '065.0010515.7'}selected{/if}>Bank Mandiri Syariah (065.0010515.7)</option>
						  </select>
				   </div>
				</div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Nama Rek. Pengirim{else}Sender of Account name{/if}
                    </label></div><div class="col-md-10" >
                        <input type="text" class="form-control" name="nama_rek_cmb" id="nama_rek_cmb" value="{$transaksi.namaRekPengirimDaftarUlang}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"><label>{if $jenjang eq 1}Bukti Pembayaran{else}Upload Payment Receipt{/if}
                    </label></div><div class="col-md-10" >
                        <a href="{$host}/assets/upload/bukti_bayar/{$transaksi.buktiBayarDaftarUlang}" class="btn btn-small default">{$transaksi.buktiBayarDaftarUlang}</a>
                        <!-- <p class="help-block">Format : pdf|jpg|png|gif</p> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn dark" data-dismiss="modal" onClick="window.history.back();"><i class=" icon-chevron-left"></i> Back</button> -->
                    <!-- <button type="submit" class="btn green" id="save" value="save" name="opt">Save <i class="icon-ok"></i> -->
                </button>
                </div>
            </div>
		</form>
	</div>
</div>
<script>
{literal}
$(document).ready(function() {
    $('.biaya').formatCurrency();
	option = $('.mBayar').attr('name');
	metode = $('.mBayar').attr('value');
	kodePaidType = $('#kodePaidType').attr('value');
	jalur = $('#jalur').attr('value');
	listDetailBiaya(option, {/literal}{$paramBiaya->metode}{literal}, kodePaidType, jalur);
});

function listDetailBiaya(option, metode, kodePaidType, jalur){
	$.post("{/literal}{$host}{literal}portal/detilTagihan/true/{/literal}{$promo.promoByAdmin}{literal}", {
			'option':option, 
			'metode':metode, 
			'jalur':jalur, 
			'kodePaidType':kodePaidType,
			'jenjang':'{/literal}{$jenjang}{literal}',
			'periode':'{/literal}{$periode}{literal}',
			'kode_promo':'{/literal}{$promo.kode_potongan}{literal}',
			'jalur':jalur
		}, function(resp){
			$('.detilBiayaTagihan').fadeIn( "slow" ).html(resp);
	});
}
	

{/literal}
{literal}
$("#typeTrans").change(function(){	
	val = $(this).val();
        
	//alert (val);
	if (val == '04.2' || val == '04.4'){
		document.getElementById('helpAtmno').style.display = 'none';
		document.getElementById('helpAtm').style.display = 'block';
		$("#noAtmCard").prop('disabled', false);
	}else{
		document.getElementById('helpAtmno').style.display = 'block';
		document.getElementById('helpAtm').style.display = 'none';
		$("#noAtmCard").prop('disabled', true);
		<!-- $("#noAtmCard").prop('maxlength', '16'); -->
		
	}
	if (val == '04.3'){
		$("#no_rek_cmb").prop('required', false);
		$("#nama_rek_cmb").prop('required', false);
		$("#bukti").prop('required', false);
	}else{
		$("#no_rek_cmb").prop('required', true);
		$("#nama_rek_cmb").prop('required', true);
		$("#bukti").prop('required', true);
	}
});	
{/literal}
</script>
