
	<form action="{$host}portal/saveAlamat/save" class="form" id="form_sample_2" method="post" enctype="multipart/form-data">
    <!-- <div class="portlet box grey"> -->
        <!-- <div class="portlet-body form" style="border-top: 1px double #4682B4;"> -->
            <div class="form-body" style="font-size:bold">
                
                <div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nomor NIK (KTP)
							</label>
							<div class="col-md-8">
								<input disabled type="text" class="form-control" name="no_id" value="{$alamat->nomorKtp}" required>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Agama
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="agama" id="agama" disabled>
                                    <option value="{$alamat->agamaType}">{$alamat->agama}</option>
                                </select>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nama Lengkap
							</label>
							<div class="col-md-8">
								<input disabled name="kode" value="{$kode}" hidden>
								<input disabled type="text" class="form-control" name="nama" value="{$cmb->nama_cm}" id="nama" required>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Nomor HP
                            </label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control" id="nomorHP" name="nomorHP" value="{$cmb->rumahCell}" required>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nama Panggilan
							</label>
							<div class="col-md-8">
								<input disabled name="kode" value="{$kode}" hidden>
								<input disabled type="text" class="form-control" name="nama_panggilan" value="{$alamat->nama_panggilan}" id="nama_panggilan" required>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Propinsi
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="propinsi" id="propinsi" disabled>
                                    <option value="{$alamat->rumahProp}">{$alamat->propRumah}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Tempat Lahir
                            </label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control" name="tempatLahir"  value="{$alamat->tempatLahir}" required>
                                <span class="help-block">Sesuai dengan ijazah terakhir</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kabupaten/Kota
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kabkota" id="kabkota" disabled>
										<option value="{$alamat->rumahKabKota}">{$alamat->kabkotaRumah}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {*
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Tanggal Lahir
                            </label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control input-medium mydatepicker" name="tanggalLahir" value="{$alamat->tanggalLahir|date_format:'%d-%m-%Y'}" placeholder='dd-mm-yyyy' required>
							</div>
                        </div>
                    </div>
                    *}
                    
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Tanggal Lahir
                            </label>
                            <div class="col-md-2">
                                <select name="date_" class="form-control input-small" disabled>
                                    {section name=foo loop=31}
                                        <option value="{$smarty.section.foo.iteration}" {if $alamat->tanggalLahir|date_format:'%d' eq $smarty.section.foo.iteration}selected{/if}>{$smarty.section.foo.iteration}</option>
                                    {/section}
                                </select>
							</div>
                            <div class="col-md-2">
                                <select name="month_" class="form-control input-small" disabled>
                                    {section name=foo loop=12}
                                        <option value="{$smarty.section.foo.iteration}" {if $alamat->tanggalLahir|date_format:'%m' eq $smarty.section.foo.iteration}selected{/if}>{$smarty.section.foo.iteration}</option>
                                    {/section}
                                </select>
                            </div>
                            {assign var=thisyear value=$smarty.now|date_format:"%Y"}
                            {assign var=minYear value=$thisyear-20}
                            {assign var=maxYear value=$thisyear-13}
                            <div class="col-md-4">
                                <select name="year_" class="form-control input-small" disabled>
                                    {section name=yearValue start=$minYear loop=$maxYear step=1}
                                        <option value="{$smarty.section.yearValue.index}" {if $alamat->tanggalLahir|date_format:'%Y' eq $smarty.section.yearValue.index}selected{/if}>{$smarty.section.yearValue.index}</option>
                                    {/section}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kode Pos
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kodepos" id="kodepos" disabled>
									<option value="{$alamat->rumahKodePos}">{$alamat->kodeposRumah}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Jenis Kelamin
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="gender" id="gender" disabled>
                                    <option value="03.P" {if $alamat->genderType eq '03.P'}selected{/if}>Pria</option>
                                    <option value="03.W" {if $alamat->genderType eq '03.W'}selected{/if}>Wanita</option>
                                </select>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Alamat Rumah
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control placeholder-no-fix" id="occupation" name="occupation" rows="4" disabled>{$cmb->rumahAlamat}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
				
				
            </div>
        <!-- </div>
    </div> -->
	</form>
	</div>
</div>

<!-- <button class="btn default"  id="foo">View Demo</button> -->
						  
<script>
$("#propinsi").change(function(){
    kabkota();
});

$("#kabkota").change(function(){
    kodepos();
});
</script>