<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Upload File Kelengkapan Dokumen Asli atau Dokumen yang Telah Dilegalisir</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/dokumen/add" class="formPendidikan form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-body col-md-12">
					<div class="form-group">
						<label class="control-label col-md-5" >Foto <span class='required'>*</span>
						</label>
						<div class="col-md-6">
							{if isset($cmb->foto)}<a class="btn btn-sm" target="_blank" href='{$host}assets/upload/foto/{$cmb->foto}'>{$cmb->foto}</a>{/if}
							<span class="help-block text-danger bold"><a class="btn btn-sm btn-info profile-edit" data-toggle="modal" href="#edit-image" title='Ketentuan Foto'><i class="fa fa-info-circle"></i> Click to Upload</a></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Akta Kelahiran<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="akta" id="akta_file"  {if isset($berkas.akta)}hidden disabled{/if}>
							{if isset($berkas.akta)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.akta}'>{$berkas.akta}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('akta_file')"><i class="fa fa-times"></i></a>{/if} 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >KTP<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="id_card" id="idcard_file"  {if isset($berkas.id_card)}hidden disabled{/if}>
							{if isset($berkas.id_card)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.id_card}'>{$berkas.id_card}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('idcard_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >KTP Orang Tua/Wali<span class='required'>*</span></label>
						<div class="col-md-6">
							
							<input type="file" name="ktp_ortu" id="ktportu_file"  {if isset($berkas.ktp_ortu)}hidden disabled{/if}>
							{if isset($berkas.ktp_ortu)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.ktp_ortu}'>{$berkas.ktp_ortu}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('ktportu_file')"><i class="fa fa-times"></i></a>{/if} 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Surat Keterangan<br> Catatan Kepolisian (SKCK)<span class='required'>*</span></label>
						<div class="col-md-6">
							
							<input type="file" name="skck" id="skck_file"  {if isset($berkas.skck)}hidden disabled{/if}>
							{if isset($berkas.skck)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.skck}'>{$berkas.skck}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('skck_file')"><i class="fa fa-times"></i></a>{/if} 
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Surat Keterangan<br> Bebas Narkoba<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="skbn" id="skbn_file"  {if isset($berkas.skbn)}hidden disabled{/if}>
							{if isset($berkas.skbn)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.skbn}'>{$berkas.skbn}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('skbn_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Surat Keterangan Sehat<br> dari Puskesmas/ RS<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="sks" id="sks_file"  {if isset($berkas.sks)}hidden disabled{/if}>
							{if isset($berkas.sks)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.sks}'>{$berkas.sks}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('sks_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Surat Keterangan Tidak Buta Warna<br> dari Puskesmas/ RS<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="sktbw" id="sktbw_file"  {if isset($berkas.sktbw)}hidden disabled{/if}>
							{if isset($berkas.sktbw)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.sktbw}'>{$berkas.sktbw}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('sktbw_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Kartu Keluarga<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="kk" id="kk_file" {if isset($berkas.kk)}hidden disabled{/if}>
							{if isset($berkas.kk)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.kk}'>{$berkas.kk}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('kk_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Rapor Kelas 10 Sem. 1<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="rapor101" id="rapor101_file" {if isset($berkas.rapor101)}hidden disabled{/if}>
							{if isset($berkas.rapor101)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.rapor101}'>{$berkas.rapor101}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('rapor101_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Rapor Kelas 10 Sem. 2<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="rapor102" id="rapor102_file" {if isset($berkas.rapor102)}hidden disabled{/if}>
							{if isset($berkas.rapor102)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.rapor102}'>{$berkas.rapor102}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('rapor102_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Rapor Kelas 11 Sem. 1<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="rapor111" id="rapor111_file" {if isset($berkas.rapor111)}hidden disabled{/if}>
							{if isset($berkas.rapor111)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.rapor111}'>{$berkas.rapor111}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('rapor111_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-5" >Rapor Kelas 11 Sem. 2<span class='required'>*</span></label>
						<div class="col-md-6">
							<input type="file" name="rapor112" id="rapor112_file" {if isset($berkas.rapor112)}hidden disabled{/if}>
							{if isset($berkas.rapor112)}<a href='{$host}assets/upload/pemberkasan/{$nomor}/{$berkas.rapor112}'>{$berkas.rapor112}</a> <a class="btn btn-xs btn-danger" href="javascript:;" onclick="onHideShow('rapor112_file')"><i class="fa fa-times"></i></a> {/if}
						</div>
					</div>
					<div class="form-group">
						<span class="control-label col-md-5" >FORMAT : JPG | JPEG | PNG | PDF | GIF</span>
					</div>
					{if !isset($berkas.is_done)}
					<div class="alert alert-bakrie-dark">
						<input type="checkbox" name="okekah" value="setuju"> Saya menyatakan bahwa data di Atas adalah benar.
					</div>
					{/if}
				</div>
				<div class="modal-footer">
					{if !isset($berkas.is_done)}
					<button type="reset" class="btn btn-inverse waves-effect waves-light" >Reset </button>
					<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10" name='opt' value='save'>Simpan <i class="icon-ok"></i></button>
					{/if}
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="edit-image" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Change Photo</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
					<form action="{$host}portal/editProfil/edit/do" class="form-horizontal" method="post" enctype="multipart/form-data">
						<div class="form-body">
							<div class="form-group">
								<div class="form-group">
									<label class="control-label col-md-3" style="text-align:left;">Upload Foto</label>
									<div class="col-md-9">
										<input name="kode" value="{$cmb->foto}" hidden>
										<input name="page" value="dokumen" hidden>
										<input type="file" name="poto" required>
										<p class="help-block"><h4>Ketentuan upload foto :</h4></p>
										<p class="help-block"><b>Mahasiswa Laki-laki :</b></p>
										<p class="help-block">1. Kemeja Putih (Berkerah)</p>
										<p class="help-block">2. Tanpa Dasi</p>
										<p class="help-block">3. Rambut Disisir Rapih</p>
										<p class="help-block">4. Background Foto Berwarna Putih</p>
										<p class="help-block"><b>Mahasiswa Perempuan :</b></p>
										<p class="help-block">1. Kemeja Putih (Berkerah)</p>
										<p class="help-block">2. Tanpa Dasi</p>
										<p class="help-block">3. Bila berhijab, menggunakan Hijab Abu-Abu</p>
										<p class="help-block">4. Bila tidak berhijab, rambut disisir rapih</p>
										<p class="help-block">5. Background Foto Berwarna Putih</p>
										<p class="help-block">Format : jpg|png, Best Size : 400px*600px</p>
										<p class="help-block"><b>Batas Waktu penguploadan foto adalah {$cmb->periodeEndDate|date_format:'%d-%m-%Y'}, Bila Foto tidak sesuai dengan 
											Ketentuan di atas maka Kartu Tanda Mahasiswa Tidak Akan Dicetak</b></p>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn blue" name="opt" value="foto">Update <i class="icon-plus"></i>
							</button>
						</div>
					</form>
				</div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
	var stsBerkas = '{$berkas.is_done}';
	if(stsBerkas == 1){
		$('.btn-danger').hide();
	}

	function onHideShow(p){

		var attr = $('#'+p).attr('hidden');

		if (typeof attr !== typeof undefined && attr !== false) {
			$('#'+p).removeAttr('hidden');
			$('#'+p).removeAttr('disabled');
		}else{
			$('#'+p).attr('hidden', true);
			$('#'+p).attr('disabled', true);
		}
	}
</script>