<script>var hostir = '{$host}';</script>
<script>var jenjang_ = '{$jenjang}';</script>
<!-- Bootstrap Core JavaScript -->
<script src="{$host}assets/eliteadmin/bootstrap/dist/js/tether.min.js"></script>
<script src="{$host}assets/eliteadmin/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
<!--slimscroll JavaScript -->
<script src="{$host}assets/eliteadmin/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="{$host}assets/eliteadmin/js/waves.js"></script>
<!--Counter js -->
<script src="{$host}assets/eliteadmin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
<!--Morris JavaScript -->
<!-- <script src="{$host}assets/eliteadmin/plugins/bower_components/raphael/raphael-min.js"></script> -->
<!-- <script src="{$host}assets/eliteadmin/plugins/bower_components/morrisjs/morris.js"></script> -->
<!-- Custom Theme JavaScript -->
<script src="{$host}assets/eliteadmin/js/custom.min.js"></script>
<!-- <script src="{$host}assets/eliteadmin/js/dashboard1.js"></script> -->
<!-- Sparkline chart JavaScript -->
<script src="{$host}assets/eliteadmin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/toast-master/js/jquery.toast.js"></script>

<!-- Date Picker Plugin JavaScript -->
<script src="{$host}assets/eliteadmin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Sweet-Alert  -->
<script src="{$host}assets/eliteadmin/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>
<script src="{$host}assets/eliteadmin/js/jquery.PrintArea.js" type="text/JavaScript"></script>

{if $site eq 'calendar' or $site eq 'beranda'}
<script src="{$host}assets/eliteadmin/plugins/bower_components/calendar/jquery-ui.min.js"></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/moment/moment.js"></script>
<script src='{$host}assets/eliteadmin/plugins/bower_components/calendar/dist/fullcalendar.min.js'></script>
<script src="{$host}assets/eliteadmin/plugins/bower_components/calendar/dist/cal-init.js"></script>
{/if}

<script src="{$host}assets/v.4/global/plugins/countdown/jquery.countdown.min.js" type="text/javascript"></script>
<script src="{$host}assets/v.4/admin/pages/scripts/coming-soon.js" type="text/javascript"></script>


<script>var isTolak = "{$cmb->tolakPendaftaran}";</script>
<script>var isTolakDU = "{$cmb->tolakDU}";</script>
<script>var isVerifiedForlap = "{$cmb->verifikasi_forlap}";</script>


<script>var pesanTolakForlap = "{$cmb->tolak_forlap_msg}";</script>
<script>var pesanTolakPayment = isTolak == 1 ? "{$cmb->pesanTolakP}".trim() : isTolakDU == 1 ? "{$cmb->pesanTolakDU}".trim() : '-' ;</script>

{if $site eq 'formulir' }
	{if $site eq 'formulir'}
	<script>var datacmb = JSON.stringify({$json_cmb});</script>
	{else}
	<script>var datacmb = null;</script>

	{/if}
	
	<script src="{$host}assets/js/formulir.js" type="text/JavaScript"></script>
{/if}

<script type="text/javascript">
{literal}


var replacements = {'\\\\': '\\', '\\n': '\n', '\\"': '"'};
function slashUnescape(contents) {
    return contents.replace(/\\(\\|n|")/g, function(replace) {
        return replacements[replace];
    });
}
function slashEscape(contents) {
    return contents
        .replace(/\\/g, '\\\\')
        .replace(/"/g, '\\"')
        .replace(/\n/g, '\\n');
}

$(document).ready(function() {

    $('.biaya').formatCurrency();

	if(jenjang_ == '1'){
		if(isTolak == 1){$("#sa-tolak").trigger( "click" );}
		if(isTolakDU == 1){$("#sa-tolak").trigger( "click" );}
	}else if(jenjang_ == '2'){
		if(isTolak == 1){$("#sa-tolak-mm").trigger( "click" );}
		if(isTolakDU == 1){$("#sa-tolak-mm").trigger( "click" );}
		if(isVerifiedForlap == 2){$("#sa-forlap-tolak").trigger( "click" );}
	}else if(jenjang_ == '3'){
		if(isTolak == 1){$("#sa-tolak-kk").trigger( "click" );}
		if(isTolakDU == 1){$("#sa-tolak-kk").trigger( "click" );}
		if(isVerifiedForlap == 2){$("#sa-forlap-tolak").trigger( "click" );}
	}
	
	
	$("#print").click(function() {
		var mode = 'iframe'; //popup
		var close = mode == "popup";
		var options = {
			mode: mode,
			popClose: close
		};
		$("div.printableArea").printArea(options);
	});
		
	if (current_page == 'proses_seleksi'){
		{/literal}
		ComingSoon.init({$periode_user.tanggal_pengumuman|date_format:'%Y'},{$periode_user.tanggal_pengumuman|date_format:'%m'},{$periode_user.tanggal_pengumuman|date_format:'%d'});
		{literal}
	}
	
	if((current_page == 'calendar') || (current_page == 'beranda')){
		{/literal}
			var tgl_calender = {if isset($tgl_cal)}{$tgl_cal}{else}''{/if};
			$.CalendarApp.init(tgl_calender);
		{literal}
	}
	
});


// Date Picker
jQuery('.mydatepicker, #datepicker').datepicker();
jQuery('#datepicker-autoclose').datepicker({
	autoclose: true,
	todayHighlight: true
});
{/literal}
</script>
<!--Style Switcher -->
<script src="{$host}assets/eliteadmin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>