<div class="alert alert-info" >
	<div class='row row-in'>
			Terima kasih, Anda telah menyelesaikan proses penyimpanan Bukti Bayar, Data Akademik dan Data Asuransi.
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="white-box ">
			<h3 class="box-title m-b-0">Bukti Pembayaran Daftar Ulang</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
		<form >
			<div class="form-body" style="font-size:bold">
				<!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">DATA DIRI</h3> -->
				
				<input name="paramBiaya" id="paramBiaya" value="{$paramBiaya}" hidden>
		
				<input value="{$prof->kode_smb}" name="kode" hidden>
				<input value="{$prof->kode_jalur}" name="kode_jalur" id="jalur" hidden>
				<input value="{$kode_pilihan_biaya}" name="kode_pilihan_biaya" id="kodePaidType" hidden>
				
			
				<div class="form-group row">
				   <div class="col-form-label col-3"><label>Metode Pembayaran
						<span class="required">*</span>
				   </label></div>
				   <div class="col-9" >						  
							  <select  class="form-control" name="bankAkun" disabled>
									 <option>{if $jenjang eq 1}Pilihan Tipe Pembayaran..{else}Select..{/if}</option>
									 <option value="070.162.7415" {if $detailpay.reapplyBankAccountType eq '070.162.7415'} selected{/if}>070.162.7415 Bank Permata, A/N Universitas Bakrie</option>
									 <option value="5055.026464" {if $detailpay.reapplyBankAccountType eq '5055.026464'} selected{/if}>5055.026464 Bank BCA, A/N Yayasan Pendidikan Bakrie</option>
									 <option value="065.0010515.7" {if $detailpay.reapplyBankAccountType eq '065.0010515.7'} selected{/if}>065.0010515.7 Bank Mandiri Syariah, A/N Yayasan Pendidikan Bakrie</option>
									 <option value="loket" {if $detailpay.reapplyBankAccountType eq 'loket'} selected{/if}>Bayar di Loket Universitas Bakrie</option>
							  </select>
				   </div>
				</div>
				
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Jumlah Pembayaran
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="biaya form-control" name="jumlahBayar" id="jumlahBayar" value="{$detailpay.reapplyBankTransferAmount}" disabled>
					</div>
				</div>	
				
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Tanggal Pembayaran
						<span class="required">*</span>
					</label></div><div class="col-9" >
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggalBayar" size="16" value="{$detailpay.reapplyBankTransferTime}" disabled>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Nama & Nomor Rekening Pengirim
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="form-control" name="nama_rek_cmb" id="nama_rek_cmb"  value="{$detailpay.namaRekPengirimDaftarUlang}" disabled>
					</div>
				</div>
				{*
				<div class="form-group row">
					<div class="col-form-label col-3"><label>No KTP Mahasiswa
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="form-control" name="no_ktp" id="no_ktp" value="{$detailpay.nomorKtp|default:''}" disabled>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-form-label col-3"><label>Nama Ibu Kandung
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<input type="text" class="form-control" name="nama_ibu" id="nama_ibu" value="{$detailpay.ibuNama|default:''}" disabled>
					</div>
				</div>
				*}
				<div class="form-group row">
					<div class="col-form-label col-3"><label>{if $jenjang eq 1}Bukti Pembayaran{else}Upload Payment Receipt{/if}
						<span class="required">*</span>
					</label></div><div class="col-9" >
						<a href="{$host}assets/upload/bukti_bayar/{$detailpay.buktiBayarDaftarUlang}" target='_blank'>{$detailpay.buktiBayarDaftarUlang}</a>
					</div>
				</div>
				
				
				<label>Persyaratan Mahasiswa Baru Universitas Bakrie :</label>
				<br>
				<br>
				<ul type="1">
					<li>Membayar biaya pendidikan yang telah ditetapkan oleh Universitas Bakrie;</li>
					<li>Menyelesaikan persyaratan akademik dan persyaratan administrasi;</li>
					<li>Mengikuti peraturan yang berlaku di Universitas Bakrie;</li>
					<li>Apabila mengundurkan diri, akan mengikuti ketentuan pengunduran diri sebagai berikut:
						<br>
						<br>
						<br>
						<table width='100%' border='1'> 
							<tr>
								<td  style='padding:15px;' width='40%'><label>Biaya Keterangan</label></td>
								<td  style='padding:15px;' width='60%'><label>Kriteria Pengembalian</label></td>
							</tr>
							<tr>
								<td  style='padding:15px;vertical-align:top;' align='top'>
									<p>Biaya yang dikembalikan hanya jika:</p>
									<ul type="1">
										<li>Tidak Lulus SMA / Sederajat (UN).</li>
										<li>Diterima di PTN sebagai berikut: Universitas Indonesia, Universitas Gadjah Mada, Universitas Diponegoro, Universitas Airlangga, Universitas Padjadjaran, Universitas Brawijaya, Institut Teknologi Bandung, Institut Teknologi 10 November, 
											Institut Pertanian Bogor MELALUI JALUR SNMPTN dan SBMPTN.</li>
									</ul>
								</td>
								<td  style='padding:15px;'>
									<p>Biaya yang dikembalikan hanya jika:</p>
									<ul type="1">
										<li>Dikenakan biaya administrasi sebesar 50% dari total biaya yang harus dibayarkan</li>
										<li>Mengirimkan surat pengunduran diri (yang telah ditandatangani oleh calon mahasiswa yang bersangkutan & orang tua diatas materai) melalui email ke admisi@bakrie.ac.id atau melalui pos</li>
										<li>Selambat-lambatnya sebelum hari pelaksanaan Orientasi Kampus/UB’s Week</li>
										<li>Selain 3 butir kriteria pengembalian biaya, maka seluruh biaya yang telah disetorkan tidak dapat dikembalikan lagi.</li>
									</ul>
								</td>
							</tr>
						</table>					
					</li>
				</ul>
				
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<script>
	

</script>