<div class="portlet light bordered">
	<div class="portlet-body form">
		<form class="formPrestasi form-horizontal" id="prestasi" method="post" enctype="multipart/form-data">
		 <div class="form-body">
			
			<div id="prestasi">
				<div class="tblPrestasi ">
					<!-- Table untuk menampilkan keluarga -->
					<div class="col-md-12">
						 <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							   <tr>
								  <th>Nama Penghargaan</th>
								  <th>Intuisi Pemberi</th>
								  <th>Tahun</th>				  
								  <th>Hapus</th>
							   </tr>
							</thead>
							<tbody>
							{foreach name=loop from=$prestasi item=row}
							   <tr >
								  <td>{$row->namaPrestasi}</td>
								  <td>{$row->namaInstitusi}</td>
								  <td>{$row->tahun}</td>
								  <td><a class="deletePres delete" data-toggle="modal" href="#" value="{$row->kode}" name="delete">Delete</a></td>
							   </tr>
							{/foreach}
							</tbody>
						 </table>
					</div>
				</div>
			{if $cmb->stsPribadiConfirm eq '0'}
			<div  id="formEd" class="col-md-12">

					{if $cmb->jalur eq 'JP'}		
					<div class="panel panel-info">
					  <div class="panel-heading">
						 <h3 class="panel-title">Catatan Upload Berkas</h3>
					  </div>
					  <div class="panel-body">
						 <ul>
							<li>Ukuran file yang diizinkan adalah maksimal <strong>5 MB</strong>.</li>
							<li>Tipe file yang diizinkan (<strong>JPG, GIF, PNG, JPEG, PDF</strong>).</li>
							<li>Bukti penghargaan wajib dilampirkan bagi Anda yang melalui jalur prestasi</li>
							<li>Prestasi yang dimasukkan maksimal sebanyak 6 prestasi</li>
							<li>Berkas diatas dibutuhkan untuk tahapan seleksi berkas jalur prestasi, harap Anda mencantumkan dengan format yang diminta.</li>
						 </ul>
					  </div>
				   </div>
				   {/if}
					<div class="col-md-12">
						<div class="form-group">
						   <label class="control-label col-md-3" style="text-align:left;">Nama Penghargaan<span class="required">*</span></label>
						   </label>
						   <div class="col-md-9" >
								<input name="kode" value="{$kode}" hidden>
								<input name="id" value="tambahPres" hidden>
								<input type="text" class="form-control" name="namaPres" id="nama" required>											   
						   </div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
						   <label class="control-label col-md-3" style="text-align:left;">Instuisi Pemberi<span class="required">*</span></label>
						   </label>
						   <div class="col-md-9" >
								<input type="text" class="form-control" name="instPres" required>	
						   </div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
						   <label class="control-label col-md-3" style="text-align:left;">Tahun<span class="required">*</span></label>
						   </label>
						   <div class="col-md-2">
								<input type="text" class="form-control" name="tahun" required>	
						   </div>
						</div>
					</div>
					{if $cmb->jalur eq 'JP'}	
					<div class="col-md-12">							
					   <div class="form-group">
						  <label class="control-label col-md-3" style="text-align:left;">Bukti Penghargaan<span class="required">*</span></label>
						  <div class="col-md-9">
							 <div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="input-group">
								   <span class="input-group-btn">
								   <span class="uneditable-input">
								   <i class="icon-file fileupload-exists"></i> 
								   <span class="fileupload-preview"></span>
								   </span>
								   </span>
								   <span class="btn default btn-file">
								   <span class="fileupload-new"><i class="icon-paper-clip"></i> Pilih file</span>
								   <span class="fileupload-exists"><i class="icon-undo"></i></span>
								   <input name="file_prestasi" type="file" class="default" required/>
								   </span>
								   <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i></a>
								</div>
							 </div>
						  </div>
					   </div>
					</div>
				   {/if}	
			 </div>
			{/if}
			</div>
			</div>
			<div class="modal-footer">
				{if $cmb->stsPribadiConfirm eq '0'}
				<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10"> Simpan <i class="icon-ok"></i></button>
				{/if}
			</div>
		</form>
		<div class="clearfix"></div><br>
		<form action="#" class="formOrg form-horizontal" method="post">
		 <div class="form-body">
		  <div id="organisasi">
			<div class="tblOrg tab-pane row" style="margin: 0 10px;">
				<!-- Table untuk menampilkan keluarga -->
				<div class="col-md-12">
					 <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
						<thead>
						   <tr>
							  <th>Nama Kegiatan</th>
							  <th>Tempat</th>
							  <th>Jabatan</th>	
							  <th>Tahun Mulai</th>
							  <th>Tahun Selesai</th>			  
							  <th>Hapus</th>
						   </tr>
						</thead>
						<tbody>
						{foreach name=loop from=$organisasi item=row}
						   <tr >
							  <td>{$row->namaKegiatan}</td>
							  <td>{$row->tempat}</td>
							  <td>{$row->jabatan}</td>
							  <td>{$row->dariTahun}</td>
							  <td>{$row->sampaiTahun}</td>
							  <td><a class="deleteOrg delete" data-toggle="modal" href="#" value="{$row->kode}" name="delete">Delete</a></td>
						   </tr>
						{/foreach}
						</tbody>
					 </table>
				</div>
			</div>
		{if $cmb->stsPribadiConfirm eq '0'}
		<div  id="formEd" class="col-md-12">
				<div class="col-md-12">
					<div class="form-group">
					   <label class="control-label col-md-3" style="text-align:left;">Nama Kegiatan
					   </label>
					   <div class="col-md-9" >
							<input name="kode" value="{$kode}" hidden>
							<input name="id" value="tambahOrg" hidden>
							<input type="text" class="form-control" name="namaOrg" id="nama" required>											   
					   </div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
					   <label class="control-label col-md-3" style="text-align:left;">Tempat
					   </label>
					   <div class="col-md-9" >
							<input type="text" class="form-control" name="tempatOrg" required>	
					   </div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
					   <label class="control-label col-md-3" style="text-align:left;">Jabatan
					   </label>
					   <div class="col-md-9" >
							<input type="text" class="form-control" name="jabatanOrg" required>	
					   </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					   <label class="control-label col-md-6" style="text-align:left;">Tahun Mulai
					   </label>
					   <div class="col-md-6">
							<input type="number" class="form-control" name="mulaiOrg" required>	
					   </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					   <label class="control-label col-md-6" style="text-align:left;">Tahun Selesai
					   </label>
					   <div class="col-md-6">
							<input type="number" class="form-control" name="selesaiOrg" required>	
					   </div>
					</div>
				</div>	
		 </div>
		{/if}
		</div>
		</div>
		<div class="modal-footer">
			{if $cmb->stsPribadiConfirm eq '0'}
			<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10"> Simpan <i class="icon-ok"></i></button>
			{/if}
		</div>
		</form>
		<div class="clearfix"></div>
		<hr>
		<form class="konfirmForm  " method="post" action="{$host}portal/formulir/konfirm">
			<div class="" style="">
			<ul class="" style="left:0">
			  <li class="">
				 <div class="timeline-body" style="margin-left:0">
					<!-- <h2>Konfirmasi Form Pendaftaran</h2> -->
					<div class="timeline-content">
					<p>Centang jika Anda sudah yakin diisi dengan benar.</p> 
					</div>
					<div class="timeline-footer">														  
					{if $cmb->stsPribadiConfirm eq '1'}
						<input type="radio"  disabled checked> Setuju<br>
						<input type="radio"  disabled> Batal<br>
						<input type="text"  hidden>
						<input type="text" hidden>  
					{else}
						<input type="radio" name="konfirm" value="setuju" required> Setuju<br>
						<input type="radio" name="konfirm" value="tidak" required> Batal<br>
						<input type="text" name="id"  value="akhir" hidden>
						<input type="text" name="kode"  value="{$kode}" hidden>
						<br>
					   <button type="submit" class="btn btn-default nav-link">
						Lanjut ke Data Asuransi <i class="fa fa-arrow-right"></i>                             
					   </button>  
					{/if}
					</div>
				 </div>
			  </li>
			</ul>
			</div>
			<div class="form-footer">
			</div>	
		</form>
	</div>
</div>
<script>

{literal}
jQuery(document).ready(function() {	
	var  stsConfirm = "{/literal}{$cmb->stsPribadiConfirm}{literal}";
	if (stsConfirm == 0 ){
		<!-- toastr.info('Silahkan lengkapi daftar PRESTASI & ORGANISASI Anda. Kemudian Submit formulir pendaftaran.'); -->
	}else
	if (stsConfirm == 1 ){
		<!-- toastr.info('Anda sudah melengkapi formulir pendaftaran, Silahkan ke menu Jadwal Ujian untuk melihat jadwal ujian Anda.'); -->
		
	}
});
{/literal}
{literal}
$("form#prestasi").submit(function() {
    var formData = new FormData($(this)[0]);
    $.ajax({
        url: "{/literal}{$host}{literal}portal/formulir/prestasi/add",
        type: 'POST',
        data: formData,
        async: false,
        success: function (data) {
            $('.tblPrestasi').html(data);
        },
        cache: false,
        contentType: false,
        processData: false
    });
	$('.formPrestasi').trigger("reset");

    return true;
});
{/literal}
{literal}
$(".formOrg").submit( function() {	

		$.post("{/literal}{$host}{literal}portal/formulir/prestasi/add",$(this).serialize(),function(resp){
			$('.tblOrg').html(resp);
		});
		$('.formOrg').trigger("reset");
		return false;
		
	});
	
{/literal}

{literal}
$(".deletePres").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
			id= "tambahPres";
		$.post("{/literal}{$host}{literal}portal/formulir/prestasi/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			id= "tambahPres";
			$.post("{/literal}{$host}{literal}portal/formulir/prestasi",{'id':id},function(resp){
					$('.tblPrestasi').html(resp);
				});	
		});
	});
});
{/literal}


{literal}
$(".deleteOrg").each(function (i, v){
	$(this).click( function() {	
			opt = $(this).attr("name");
			val = $(this).attr("value");
			id= "tambahOrg";
		$.post("{/literal}{$host}{literal}portal/formulir/prestasi/delete", {'opt':opt, 'val':val, 'id':id},function(resp){
			id= "tambahOrg";
			$.post("{/literal}{$host}{literal}portal/formulir/prestasi",{'id':id},function(resp){
					$('.tblOrg').html(resp);
				});	
		});
	});
});
{/literal}
</script>