<div class="portlet light bordered">
	<div class="portlet-body form">
	<div class="tblPendidikan row">
		<!-- Table untuk menampilkan keluarga -->
		<div class="col-md-12">
			<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
				<thead>
					<tr>
						<th>NISN/NIM</th>
						<th>Jenjang</th>
						<th>Asal Sekolah/PT</th>
						<th>Tahun Lulus</th>
						<th>Jurusan/Prodi</th>
						<th>Nilai UN/IPK</th>
					</tr>
				</thead>
				<tbody>
					{foreach name=loop from=$eduList item=row}
					<tr>
						<td>{$row->nisn_nim}</td>
						<td>{$row->sekolahNama} {$row->sekolahTipe}</td>
						<td>{if $jenjang eq 1}{$row->sekolah}{else}{$row->lulusAsal}{/if}</td>
						<td>{$row->tahunLulus}</td>
						<td>{$row->jurusan}</td>
						<td>{$row->nilai}</td>
					</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
	<form action="{$host}portal/formulir/pendidikan/add" class="formPendidikan form-horizontal" method="post" enctype="multipart/form-data">
		<div class="form-body">
			<h3 class="form-section text-primary">Riwayat Pendidikan</h3>
			<div id="formEd row col-md-12">
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Asal Sekolah/PT
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<input name="kode" value="{$kode}" hidden>
							<input name="id" value="tambah" hidden>
							{if $jenjang eq 1}
							<input type="text" class="form-control" name="namaSekolah" id="nama" value="{if isset($eduData->sekolah)}{$eduData->sekolah}{/if}" required>
							{else}
							<input type="text" class="form-control" name="namaSekolah" id="nama" value="{if isset($eduData->lulusAsal)}{$eduData->lulusAsal}{/if}" required>
							{/if}
						</div>
					</div>
				</div>
                <div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Jurusan/Prodi
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="jurusan" value="{if isset($eduData->jurusan)}{$eduData->jurusan}{/if}" required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">NISN/NIM
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="nisn" value="{if isset($eduData->nisn_nim)}{$eduData->nisn_nim}{/if}" required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Tahun Lulus
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<input type="number" class="form-control" name="tahunLulus" value="{if isset($eduData->tahunLulus)}{$eduData->tahunLulus}{/if}" required>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Jenis Pendidikan
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<select class="form-control" name="pendType" id="pendType" required>
								{foreach name=loop from=$eduSMA item=row}
								<option value="{$row->kode}">{$row->nama}</option>
								{/foreach}
							</select>
							<br>
							<input type="radio" name="sekType" value="09.1" required> Negeri
							<br>
							<input type="radio" name="sekType" value="09.2" required> Swasta
						</div> 
					</div>    
				</div>
				<div class="col-md-6">     
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Nilai UN/IPK
							<span class="required">*</span>
						</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="nilai" required>
						</div>
					</div>
				</div>  
				<div class="col-md-6">
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Propinsi
						</label>
						<div class="col-md-8">
							<select class="form-control" name="prop" id="prop">
								<option value="">--Pilih Propinsi--</option>
								{foreach name=loop from=$wil item=row}
								<option value="{$row->kode}">{$row->nama}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Kabupaten/Kota
						</label>
						<div class="col-md-8">
							<select class="form-control" name="kab" id="kab">
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-4" style="text-align:left;">Kode Pos
						</label>
						<div class="col-md-8">
							<select class="form-control" name="kpos" id="kpos">
							</select>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn btn-inverse waves-effect waves-light" >Reset </button>
			<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10">Simpan <i class="icon-ok"></i></button>
		</div>
	</form>
	</div>
</div>
<script>
{literal}
jQuery(document).ready(function() {	
	var statusEdu = "{/literal}{$cmb->statusPend}{literal}";
	if (statusEdu == 0){
		<!-- toastr.info('Silahkan Perbaharui riwayat Pendidikan Anda'); -->
	}
});
{/literal}


$("#prop").change(function(){
    kabkota();
	kodepos();
});

$("#kab").change(function(){
    
	kodepos();
});
{literal}
function kabkota(){
	$.post("{/literal}{$host}{literal}portal/selectKabKota",{
					'propinsi':$('#prop').val()				
				},function(resp){
                $('select#kab').html(resp);
            });
	
	kodepos();
}
{/literal}

{literal}
function kodepos(){
	$.post("{/literal}{$host}{literal}portal/selectKodePos",{
					'kabkota':$('#kab').val()				
				},function(resp){
                $('select#kpos').html(resp);
            });
}
{/literal}

</script>