
 {if $cmb->stsPribadiConfirm neq 1}
<div class="alert alert-bakrie" >
	<div class='row row-in'>
			Lengkapi form data Akademik berikut untuk menyelesaikan proses penyimpanan bukti bayar Daftar Ulang Anda. 
	</div>
</div>
{/if}
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<ul class="nav nav-tabs">
				<li class="datadiri">
					<a href="#tab_1" data-toggle="tab" id="data_diri" class="{if $cmb->statusAlamat eq '1'}detailAlamat{else}formAlamat{/if}">
					Data Siswa </a>
				</li>
				<!-- <li class="orangtua"> -->
					<!-- <a href="#tab_1" data-toggle="tab" id="orang_tua" class="{if $cmb->statusKeluarga eq '0'}formKeluarga{else}detailKeluarga{/if}"> -->
					<!-- Orang Tua/Wali </a> -->
				<!-- </li> -->
				<li class="pendidikan">
					<a href="#tab_1" data-toggle="tab" id="pendidikan" class="{if $cmb->statusPend eq '0'}formPendidikan{else}formPendidikan{/if}">
					Data Sekolah </a>
				</li>
				<li class="prestasi">
					<a href="#tab_1" data-toggle="tab" id="prestasi" class="{if $cmb->stsPribadiConfirm eq '1'}formPrestasi{else}formPrestasi{/if}">
					Prestasi & Organisasi</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="tab_1">
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
 <div class="col-md-12" id="konten">
	<!-- konten tiap halaman form untuk formulir -->
 </div>
<button  class="btnSauConfirm btn default" data-toggle="modal" data-target="#sauConfirm" style="display:none">View Demo</button>                                        
<div class="modal fade" id="sauConfirm" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             <h4 class="modal-title">Konfirmasi Saudara</h4>
          </div>
          <div class="modal-body">
             Apakah Anda Memiliki Saudara Kandung yang Pernah atau Sedang Berkuliah di Universitas Bakrie?
          </div>
          <div class="modal-footer">
             <button type="button" class="btn blue" data-dismiss="modal" onclick="confirmSaudara('keluarga','detailKeluarga')">Ya</button>
             <button type="button" class="btn default" data-dismiss="modal" onclick="confirmSaudara('keluarga','saudara')">Tidak</button>
          </div>
       </div>
       <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<button  class="btnSauYakin btn default" data-toggle="modal" data-target="#sauYakin" style="display:none">View Demo</button>                                        
<div class="modal fade" id="sauYakin" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             <h4 class="modal-title">Konfirmasi Saudara</h4>
          </div>
          <div class="modal-body">
             Apakah Anda Sudah Yakin dengan data Saudara Kandung Anda yang berkuliah di Universitas Bakrie?
          </div>
          <div class="modal-footer">
             <button type="button" class="btn default" data-dismiss="modal" onclick="confirmSaudara('keluarga','saudara')">Ya</button>
             <button type="button" class="btn blue" data-dismiss="modal" onclick="confirmSaudara('keluarga','detailKeluarga')">Tidak</button>
          </div>
       </div>
       <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<input id="statusTab" value="{$idTab}" hidden>
<script>

</script>