
<script src="{$host}assets/js/customjs.js"></script>
{if $cmb->stsReapplyPaid neq 1}
<div class="alert alert-bakrie" >
	<div class='row row-in'>
			Lengkapi form Data Asuransi berikut untuk menyelesaikan proses penyimpanan bukti bayar Daftar Ulang Anda. 
	</div>
</div>
{/if}
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Data Asuransi</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/asuransi/add" class="formPendidikan form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-body col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label class=" col-md-5" style="text-align:left;">Nama Ibu Kandung
								<span class="required">*</span>
							</label>
							<div class="col-md-7">
								<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->ibuNama}" disabled {/if} required type="text" class="form-control" name="namaIbu" id="namaIbu">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">No HP orang tua
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
									<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->ibuCell}" disabled {/if} required type="text" class="form-control" name="hpIbu" id="hpIbu" value="">
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Nama Ayah/Wali
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->ayahNama}" disabled {/if} required type="text" class="form-control" name="namaAyah" id="namaAyah" >
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Propinsi
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<select class="form-control" name="propIbu" id="propinsi" required {if $ortu->statusKeluarga eq 1}disabled{/if}>
										{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuPropNama}</option>{else}
												<option value="">--Pilih Propinsi--</option>
												{foreach name=loop from=$wil item=row}
												<option value="{$row->kode}" >{$row->nama}</option>
												{/foreach}
										{/if}
										</select>
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Pendidikan
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->pendidikan}" disabled {/if} required type="text" class="form-control" name="pendidikan" id="pendidikan">
								</div>
						</div>
					</div>
					<div class="col-md-6">
							<div class="form-group">
									<label class=" col-md-5" style="text-align:left;">Kab/Kota
								<span class="required">*</span>
									<span class="required">*</span>
									</label>
									<div class="col-md-7">
											<select class="form-control" name="kabIbu" id="kabkota" {if $ortu->statusKeluarga eq 1}disabled{/if}>
											{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuKabNama}</option>{/if}	
											</select>
									</div>
							</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Pekerjaan
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->pekerjaan}" disabled {/if} required type="text" class="form-control" name="pekerjaan" id="pekerjaan">
								</div>
						</div>
					</div>
				<div class="col-md-6">
					<div class="form-group">
							<label class=" col-md-5" style="text-align:left;">Kode Pos
							<span class="required">*</span>
							</label>
							<div class="col-md-7">
									<select class="form-control" name="kposIbu" id="kodepos" {if $ortu->statusKeluarga eq 1}disabled{/if}>
										{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuKodePosNama}</option>{/if}		
									</select>
							</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Alamat
							<span class="required">*</span></label>
								<div class="col-md-7">
										<textarea class="form-control " name="alamatIbu" rows="5" id="alamatIbu" {if $ortu->statusKeluarga eq 1}disabled{/if}>{if $ortu->ibuAlamat}{$ortu->ibuAlamat}{/if}</textarea>
								</div>
						</div>
				</div>
				<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Yang membiayai kuliah
							<span class="required">*</span></label>
							<div class="col-md-7">
								<input  {if $ortu->statusKeluarga eq 1}value="{$ortu->sumber_biaya}" disabled {/if} required type="text" class="form-control" name="sumber_biaya" id="sumber_biaya">
							</div>
						</div>
				</div>
				{if $ortu->statusKeluarga neq 1}
				<div class="col-md-12 alert alert-bakrie-dark">
					<input type="checkbox" name="okekah" value="setuju"> Saya menyatakan bawah data di atas adalah data yg bisa di hubungi dalam keadaan darurat.
				</div>
				{/if}
				</div>
				<div class="modal-footer">
					{if $ortu->statusKeluarga neq 1}
					<button type="reset" class="btn btn-inverse waves-effect waves-light" >Reset </button>
					<button type="submit" class="tambah btn btn-success waves-effect waves-light m-r-10">Simpan <i class="icon-ok"></i></button>
					{/if}
				</div>
			</form>
		</div>
	</div>
</div>
<script>

$("#propinsi").change(function(){
    kabkota();
});

$("#kabkota").change(function(){
    kodepos();
});

</script>