
	<form action="{$host}portal/saveAlamat/save" class="form" id="form_sample_2" method="post" enctype="multipart/form-data">
    <!-- <div class="portlet box grey"> -->
        <!-- <div class="portlet-body form" style="border-top: 1px double #4682B4;"> -->
            <div class="form-body" style="font-size:bold">
                
                <div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nomor NIK (KTP)
							</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="no_id" required>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Agama
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="agama" id="agama" required>
                                    {foreach name=loop from=$religion item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nama Lengkap
							</label>
							<div class="col-md-8">
								<input name="kode" value="{$kode}" hidden>
                                <input type="text" class="form-control" name="nama" value="{$cmb->nama_cm}" id="nama" required>
                                <small class="help-block text-danger bold">Wajib mengisi nama sesuai dengan data yg tertera pada ijasah terakhir</small>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Nomor HP
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="nomorHP" name="nomorHP" value="{$cmb->rumahCell}" required>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="control-label col-md-4" style="text-align:left;">Nama Panggilan
							</label>
							<div class="col-md-8">
								<input name="kode" value="{$kode}" hidden>
								<input type="text" class="form-control" name="nama_panggilan" value="" id="nama_panggilan" required>
                                <small class="help-block text-danger bold">Akan tercantum di KTM</small>
							</div>
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Propinsi
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="propinsi" id="propinsi" required>
                                    <option value="">Pilih propinsi</option>
                                    {foreach name=loop from=$wil item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Tempat Lahir
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="tempatLahir" value="{$cmb->tempatLahir}" required>
                                <small class="help-block text-danger bold">Sesuai dengan ijazah terakhir</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kabupaten/Kota
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kabkota" id="kabkota" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Tanggal Lahir
                            </label>
                            <div class="col-md-2">
                                <!-- <input type="text" class="form-control input-medium mydatepicker" name="tanggalLahir" value="" placeholder='dd-mm-yyyy' required> -->
                                <select name="date_" class="form-control input-small">
                                    {section name=foo loop=31}
                                        <option value="{$smarty.section.foo.iteration}">{$smarty.section.foo.iteration}</option>
                                    {/section}
                                </select>
							</div>
                            <div class="col-md-2">
                                <select name="month_" class="form-control input-small">
                                    {section name=foo loop=12}
                                        <option value="{$smarty.section.foo.iteration}">{$smarty.section.foo.iteration}</option>
                                    {/section}
                                </select>
                            </div>
                            {assign var=thisyear value=$smarty.now|date_format:"%Y"}
                            {if $jenjang eq 1}{assign var=minYear value=$thisyear-20}{else}{assign var=minYear value=$thisyear-50}{/if}
                            {if $jenjang eq 1}{assign var=maxYear value=$thisyear-13}{else}{assign var=maxYear value=$thisyear-13}{/if}
                            <div class="col-md-4">
                                <select name="year_" class="form-control input-small">
                                    {section name=yearValue start=$minYear loop=$maxYear step=1}
                                        <option value="{$smarty.section.yearValue.index}">{$smarty.section.yearValue.index}</option>
                                    {/section}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kode Pos
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kodepos" id="kodepos" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Jenis Kelamin
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="gender" id="gender" required>
                                    <option value="03.P">Pria</option>
                                    <option value="03.W">Wanita</option>
                                </select>
                            </div>
                        </div>
                    </div>
					<div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Alamat Rumah
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control placeholder-no-fix" id="occupation" name="occupation" rows="4" required>{$cmb->rumahAlamat}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
				
				{*
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Upload Foto
                            </label>
                            <div class="col-md-8">
                                <input type="file" name="poto">
								<span class="help-block">Ukuran file yang diizinkan adalah maksimal <strong>10 MB</strong>.</span>
								<span class="help-block">Tipe file yang diizinkan (<strong>JPG, GIF, PNG, JPEG</strong>).</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Jenis Kelamin
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="gender" id="gender" required>
                                    {foreach name=loop from=$sex item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section text-primary" >Alamat Rumah
                </h3>
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">No telp rumah
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="telRumah" value="" id="telRumah">
                            </div>
                        </div>
                    </div>
                </div>
				
                <h3 class="form-section text-primary">Alamat Orang Tua/Surat
                    <input type="checkbox" name="sama" id="sama">
                    <label class="text-danger">Centang jika alamat surat Anda sama dengan alamat di atas.</label>
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Alamat Surat
                            </label>
                            <div class="col-md-8">
                                <textarea class="form-control placeholder-no-fix" name="occupationsur" rows="4" id="occupationsur" required>{$cmb->suratAlamat}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Propinsi
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="propinsi2" id="propinsi" required>
                                    <option>-- Pilih Propinsi --</option>
                                    {foreach name=loop from=$wil item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kab./Kota
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kabkota2" id="kabkota" required>
                                    <option>-- Pilih Kabupaten --</option>
                                    {foreach name=loop from=$kab item=row}
                                    <option value="{$row->kode}">{$row->nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">Kode Pos
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" name="kodepos2" id="kodepos" required>
                                    <option>-- Pilih Kode Pos --</option>
                                    {foreach name=loop from=$kodepos item=row}
                                    <option value="{$row->kode}">{$row->kodepos}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">No Handphone
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="nomorHPOrtu" id="nomorHPOrtu" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4" style="text-align:left;">No Telp Rumah
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="telRumah2" value="" id="telRumah2">
                            </div>
                        </div>
                    </div>
                </div>
				*}
                <div class="modal-footer">
                    <button type="reset" class="btn btn-inverse waves-effect waves-light" >Reset </button>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt">Simpan <i class="icon-save"></i>
                    </button>
                </div>
            </div>
        <!-- </div>
    </div> -->
	</form>
	</div>
</div>

<!-- <button class="btn default"  id="foo">View Demo</button> -->
						  
<script>
$("#propinsi").change(function(){
    kabkota();
});

$("#kabkota").change(function(){
    kodepos();
});
</script>