<div class="col-md-12 note note-warning"  style="text-align:center;">
		<h3>SELAMAT</h3>Biaya pendaftaran Anda GRATIS, silahkan melanjutkan tahapan berikutnya dengan menekan tombol di bawah ini :
		<br>
		<input id="kode_gratis" value="{$kode_gratis}" hidden>
	<br>
	   <button class="btn default" style="text-align:center;" onclick="submit_gratis()">
		Gratis Biaya Pendaftaran Senilai Rp 200.000,00 <i class='icon-arrow-right '></i>
	   </button>  
</div>


<script>	
function submit_gratis(){
{literal}
	$.ajax({
		type: "POST",
		url: "{/literal}{$host}{literal}portal/submit_gratis",
		data: {'kode_voucher':'GRATIS', 'kode_gratis':$('#kode_gratis').val()},
		dataType: "json",
		success: function(data) {
			if(data == 1){
				alert("Voucher berhasil digunakan!");
				window.location.reload();
			}else if(data == 2){
				alert("Transaksi gagal, data tidak sesuai!");
			}else if(data == 3){
				alert("Voucher sudah expired!");
			}else if(data == 4){
				alert("Voucher tidak ada!");
			}
		},
		error: function() {
			alert('error handling here');
		}
	});
}
{/literal}

</script>