<div class="alert alert-bakrie" >
	<div class='row row-in'>
			Terima Kasih telah Melakukan Pendaftaran di Aplikasi SMART Universitas Bakrie <br>Anda Mendaftar pada Jalur {$cmb->jalur_penerimaan} Nomor pendaftaran Anda adalah {$cmb->no_smb}
	</div>
</div>

<div class="row ">
	<div class="col-md-12">
		<div class="white-box"  style="background-color:#F58634;color:#fff">
			<div class="promo-page">
				<!-- BEGIN PAGE CONTENT-->
				<div class="block-carousel">
					<div id="promo_carousel" class="carousel slide">
					{if $hasil->lulusTidak eq '1'}
						<div class="container">
							<div class="carousel-inner">
								<div class="active item">
									<div class="row">
										{if $jenjang eq 1}
										<div class="col-md-6 margin-bottom-20 margin-top-20">
											{if isset($hasil->kode_potongan)}
											<h1 style="color:#fff">Selamat Kamu mendapat<br>
											<b>Potongan {$hasil->nama_potongan|lower|ucfirst}!</b></h1>
											{/if}
											<br>
											<label>Selamat <b>{$hasil->student}</b>, Anda telah lulus <br>Seleksi Ujian Masuk Universitas Bakrie <br>
											untuk program studi <b>{$hasil->progdi}</b>
											<br>
											<br>
											<br>
											Silahkan lakukan pendaftaran ulang untuk masuk <br>tahap berikutnya</label>
											<br>
											<br>
											<br>
											
										</div>
										{else}
										
										{/if}
										<!-- <div class="col-md-5 animated rotateInDownLeft">
											<a href="index.html"><img src="{$host}assets/img/man-winner.png" alt="" class="img-responsive"></a>
										</div> -->
										<div class="col-md-6">
											<a href="#"><img src="{$host}assets/images/selamat2.png" alt="" class="img-responsive"></a>
										</div>
									</div>
								</div>
							</div><!-- 
							<a class="carousel-control left" href="#promo_carousel" data-slide="prev">
							<i class="m-icon-big-swapleft"></i>
							</a>
							<a class="carousel-control right" href="#promo_carousel" data-slide="next">
							<i class="m-icon-big-swapright"></i>
							</a> -->
							<!-- Indicators --><!-- 
							<ol class="carousel-indicators">
								<li data-target="#promo_carousel" data-slide-to="0" class="active"></li>
								<li data-target="#promo_carousel" data-slide-to="1"></li>
							</ol> -->
						</div>
				{*
					{else}
						<div class="container">
							<div class="carousel-inner">
								<div class="active item">
									<div class="row">
										<div class="col-md-5">
											<a href="index.html"><img src="{$host}assets/img/woman.png" alt="" class="img-responsive"></a>
										</div>
										<div class="col-md-7 margin-bottom-20 margin-top-20">
										<h3>Mohon Maaf,</h3>
										<p>Terima kasih atas kepercayaan Saudara <b>{$hasil->student}</b> untuk mengikuti Seleksi Mahasiswa Baru</p>
										<p>di Universitas Bakrie.</p>
										<p>Setelah meninjau hasil tes dan wawancara Saudara pada Seleksi Mahasiswa Baru, yang meliputi</p>
										<p>aspek kemampuan kognitif, minat, motivasi, keterampilan, dan kepribadian, dengan berat hati kami</p>
										<p><b>belum dapat menerima Saudara sebagai mahasiswa Universitas Bakrie </b></p>
										<br/>
										<p>Semoga Anda dapat meraih kesuksesan sesuai dengan yang telah dicita-citakan, di mana pun berada.</p>
										</div>
									</div>
								</div>
							</div><!-- 
							<a class="carousel-control left" href="#promo_carousel" data-slide="prev">
							<i class="m-icon-big-swapleft"></i>
							</a>
							<a class="carousel-control right" href="#promo_carousel" data-slide="next">
							<i class="m-icon-big-swapright"></i>
							</a> -->
							<!-- Indicators --><!-- 
							<ol class="carousel-indicators">
								<li data-target="#promo_carousel" data-slide-to="0" class="active"></li>
								<li data-target="#promo_carousel" data-slide-to="1"></li>
							</ol> -->
						</div>
				*}
					{/if}
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
	</div>
</div>