<nav class="navbar navbar-default navbar-static-top m-b-0">
	<div class="navbar-header">
		<!-- .Logo -->
		<div class="top-left-part">
			<a class="logo" href="index.html">
				<!--This is logo icon--><img src="{$host}assets/images/logo_bakrie.gif" alt="home" class="light-logo" width='80%'/></a>
		</div>
		<ul class="nav navbar-top-links navbar-left hidden-xs">
			<li>
				<a href="javascript:void(0)" class="logotext">
					<!--<img src="{$host}assets/eliteadmin/plugins/images/eliteadmin-small-text.png" alt="home" class="light-logo" alt="home" /> -->
					| SMART
				</a>
			</li>
		</ul>
		<!-- /.Logo -->
		<!-- top right panel -->
		<ul class="nav navbar-top-links navbar-right pull-right">
			
			<!-- .dropdown -->
			<li class="dropdown">
				<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{$host}{if $cmb->foto eq ''}assets/img/ava.png{else}assets/upload/foto/{$cmb->foto}{/if}" alt="user-img" height="35" class="img-circle"><b class="hidden-xs">{$nama}</b> </a>
				<ul class="dropdown-menu dropdown-user animated flipInY">
					<!-- <li><a href="#"><i class="ti-user"></i> My Profile</a></li> -->
					<!-- <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li> -->
					<!-- <li><a href="#"><i class="ti-email"></i> Inbox</a></li> -->
					<!-- <li role="separator" class="divider"></li> -->
					<!-- <li role="separator" class="divider"></li> -->
					<li><a href="{$host}portal/editDataMahasiswa"><i class="ti-settings"></i> Edit Profil</a></li>
					<li><a href="{$host}portal/profil"><i class="ti-settings"></i> Change Password</a></li>
					<li><a href="{$host}site/logout"><i class="fa fa-power-off"></i> Logout</a></li>
				</ul>
				<!-- /.dropdown-user -->
			</li>
			<!-- /.dropdown -->
			<!-- .right toggle -->
			<li class="right-side-toggle"><a class="waves-effect waves-light" href="{$host}site/logout"><i class="ti-arrow-right"></i></a></li>
			<!-- /.right toggle -->
		</ul>
		<!-- top right panel -->
	</div>
</nav>