<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
		<label>Jurusan di Sekolah : {$cmb->jurusan}</label>
		<br>
		<br>
		<form id="raporForm" method="POST"  enctype="multipart/form-data" class='form'>
			<input   name="jurusan" id="jurusan" value="{$cmb->jurusan}" hidden>		
			{if $cmb->jurusan neq 'SMK'}
			<div class='row'>
				<div class="card card-outline-secondary col-sm-12"  style='background-color:#e6e6e6;color:black;'>				
					<div class="table-responsive " >
					<table class="table">
						<thead>
						</thead>
							<tr ><th colspan='5' class='text-danger'>DAFTAR NILAI UMUM</th></tr>
							<tr >
								<th></th>
								<th colspan='2' style='text-align:center;' >Kelas 10</th>
								<th colspan='2' style='text-align:center;'>Kelas 11</th>
							</tr>
						<tr border='0'>
							<th width="15%"></th>
							<th style='text-align:center;' >Sem. 1</th>
							<th style='text-align:center;' >Sem. 2</th>
							<th style='text-align:center;' >Sem. 1</th>
							<th style='text-align:center;' >Sem. 2</th>
						</tr>
						<tr>
							<th width="25%">Matematika</th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="mat_1_1" id="mat_1_1" value="{if isset($nilai.mat_1_1.nilai)}{$nilai.mat_1_1.nilai}{else}0{/if}"  onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="mat_1_2" id="mat_1_2" value="{if isset($nilai.mat_1_2.nilai)}{$nilai.mat_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="mat_2_1" id="mat_2_1" value="{if isset($nilai.mat_2_1.nilai)}{$nilai.mat_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;'  type="text" class="form-control" name="mat_2_2" id="mat_2_2"  value="{if isset($nilai.mat_2_2.nilai)}{$nilai.mat_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
						</tr>
						<tr>
							<th width="25%">Inggris</th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="ing_1_1" id="ing_1_1" value="{if isset($nilai.ing_1_1.nilai)}{$nilai.ing_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="ing_1_2" id="ing_1_2" value="{if isset($nilai.ing_1_2.nilai)}{$nilai.ing_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="ing_2_1" id="ing_2_1" value="{if isset($nilai.ing_2_1.nilai)}{$nilai.ing_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
							<th><input  maxlength="2" style='text-align:center;' type="text" class="form-control" name="ing_2_2" id="ing_2_2"  value="{if isset($nilai.ing_2_2.nilai)}{$nilai.ing_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
						</tr>
					</table>
					</div>
				</div>	
			</div>
			<br>
			<div class="row">
				<div class="card card-outline-secondary col-sm-6" style='background-color:#e6e6e6;color:black;'>				
					<div class="table-responsive" >
						<table class="table" >
								<tr><th colspan='5' class='text-danger'>JURUSAN IPA</th></tr>
								<tr>
									<th></th>
									<th colspan='2' style='text-align:center;' >Kelas 10</th>
									<th colspan='2' style='text-align:center;'>Kelas 11</th>
								</tr>
								<tr border='0'>
									<th width="15%"></th>
									<th style='text-align:center;' >Sem. 1</th>
									<th style='text-align:center;' >Sem. 2</th>
									<th style='text-align:center;' >Sem. 1</th>
									<th style='text-align:center;' >Sem. 2</th>
								</tr>
								<tr>
									<th width="15%">Fisika</th>
									<th ><input  maxlength="2" type="text" class="form-control" name="fis_1_1" id="fis_1_1" value="{if isset($nilai.fis_1_1.nilai)}{$nilai.fis_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="fis_1_2" id="fis_1_2" value="{if isset($nilai.fis_1_2.nilai)}{$nilai.fis_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="fis_2_1" id="fis_2_1" value="{if isset($nilai.fis_2_1.nilai)}{$nilai.fis_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="fis_2_2" id="fis_2_2"  value="{if isset($nilai.fis_2_2.nilai)}{$nilai.fis_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								</tr>
								<tr>
									<th width="15%">Biologi</th>
									<th><input  maxlength="2" type="text" class="form-control" name="bio_1_1" id="bio_1_1" value="{if isset($nilai.bio_1_1.nilai)}{$nilai.bio_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="bio_1_2" id="bio_1_2" value="{if isset($nilai.bio_1_2.nilai)}{$nilai.bio_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="bio_2_1" id="bio_2_1" value="{if isset($nilai.bio_2_1.nilai)}{$nilai.bio_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="bio_2_2" id="bio_2_2"  value="{if isset($nilai.bio_2_2.nilai)}{$nilai.bio_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								</tr>
								<tr>
									<th width="15%">Kimia</th>							
									<th><input  maxlength="2" type="text" class="form-control" name="kim_1_1" id="kim_1_1" value="{if isset($nilai.kim_1_1.nilai)}{$nilai.kim_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="kim_1_2" id="kim_1_2" value="{if isset($nilai.kim_1_2.nilai)}{$nilai.kim_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="kim_2_1" id="kim_2_1" value="{if isset($nilai.kim_2_1.nilai)}{$nilai.kim_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
									<th><input  maxlength="2" type="text" class="form-control" name="kim_2_2" id="kim_2_2"  value="{if isset($nilai.kim_2_2.nilai)}{$nilai.kim_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								</tr>
					</table>
					</div>
				</div>		
				<div class="card card-outline-secondary col-sm-6" style='background-color:#e6e6e6;color:black;'>				
					<div class="table-responsive" >
						<table class="table" >
							<tr ><th colspan='5' class='text-danger'>JURUSAN IPS, BAHASA dan LAINNYA</th></tr>
							<tr>
								<th></th>
								<th colspan='2' style='text-align:center;' >Kelas 10</th>
								<th colspan='2' style='text-align:center;'>Kelas 11</th>
							</tr>
							<tr border='0'>
								<th width="15%"></th>
								<th style='text-align:center;' >Sem. 1</th>
								<th style='text-align:center;' >Sem. 2</th>
								<th style='text-align:center;' >Sem. 1</th>
								<th style='text-align:center;' >Sem. 2</th>
							</tr>
							<tr>
								<th width="15%">Ekonomi</th>
								<th><input  maxlength="2" type="text" class="form-control" name="eko_1_1" id="eko_1_1" value="{if isset($nilai.eko_1_1.nilai)}{$nilai.eko_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="eko_1_2" id="eko_1_2" value="{if isset($nilai.eko_1_2.nilai)}{$nilai.eko_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="eko_2_1" id="eko_2_1" value="{if isset($nilai.eko_2_1.nilai)}{$nilai.eko_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="eko_2_2" id="eko_2_2"  value="{if isset($nilai.eko_2_2.nilai)}{$nilai.eko_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
							</tr>
							<tr>
								<th width="15%">Sosiologi</th>
								<th><input  maxlength="2" type="text" class="form-control" name="sos_1_1" id="sos_1_1" value="{if isset($nilai.sos_1_1.nilai)}{$nilai.sos_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="sos_1_2" id="sos_1_2" value="{if isset($nilai.sos_1_2.nilai)}{$nilai.sos_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="sos_2_1" id="sos_2_1" value="{if isset($nilai.sos_2_1.nilai)}{$nilai.sos_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="sos_2_2" id="sos_2_2"  value="{if isset($nilai.sos_2_2.nilai)}{$nilai.sos_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
							</tr>
							<tr>
								<th width="15%">Geografi</th>
								<th><input  maxlength="2" type="text" class="form-control" name="geo_1_1" id="geo_1_1" value="{if isset($nilai.geo_1_1.nilai)}{$nilai.geo_1_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="geo_1_2" id="geo_1_2" value="{if isset($nilai.geo_1_2.nilai)}{$nilai.geo_1_2.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="geo_2_1" id="geo_2_1" value="{if isset($nilai.geo_2_1.nilai)}{$nilai.geo_2_1.nilai}{else}0{/if}" onchange="calculate()"></th>
								<th><input  maxlength="2" type="text" class="form-control" name="geo_2_2" id="geo_2_2"  value="{if isset($nilai.geo_2_2.nilai)}{$nilai.geo_2_2.nilai}{else}0{/if}" onchange="calculate()"></th>
							</tr>
							<!-- <tr><th colspan="7"></th></tr> -->
							<!-- <tr class='danger'> -->
								<!-- <th colspan='4' >Nilai Rata-Rata</th> -->
								<!-- <th colspan='3' style='text-align:right;'> -->
									<!-- <label id="total_label">{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}</label> -->
									<!-- <input  maxlength="2" name="nilai_rata_rata_akhir"  id="nilai_rata_rata_akhir" value="{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}" hidden> -->
								<!-- </th> -->
							<!-- </tr> -->
						</table>
					</div>
				</div>
			</div>
			<div class='row'>
					<table  class="table" >
						<tr><th colspan="7"></th></tr>
						<tr class='danger' style='background:#e6e6e6;'>
							<th colspan='5' >Nilai Rata-Rata</th>
							<th colspan='2' style='text-align:right;'>
								<label id="total_label">{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}</label>
								<input  name="nilai_rata_rata_akhir"  id="nilai_rata_rata_akhir" value="{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}" hidden>
							</th>
						</tr>
					</table>
				<br>
			</div>
			{/if}
			<br>
				{if $cmb->jurusan eq 'SMK'}
				<div class="form-group">
				   <label class="col-md-3" >File Rapor Kelas 10 Sem. 1</label>
					<div class="col-md-3">
						{if $cmb->file_rapor_10_1}
							<a href="{$host}assets/upload/rapor/{$cmb->file_rapor_10_1}" target="_blank">{$cmb->file_rapor_10_1}</a>
						{else}
						<input  maxlength="2" type="file" class="" id="rapor" name="file_rapor_10_1" value="" required>
						{/if}
					</div>
				   <label class="col-md-3" >File Rapor Kelas 10 Sem. 2</label>
					<div class="col-md-3">
						{if $cmb->file_rapor_10_2}
							<a href="{$host}assets/upload/rapor/{$cmb->file_rapor_10_2}" target="_blank">{$cmb->file_rapor_10_2}</a>
						{else}
						<input  maxlength="2" type="file" class="" id="rapor" name="file_rapor_10_2" value="" required>
						{/if}
					</div>
				</div><br>
				<div class="form-group">
				   <label class="col-md-3" >File Rapor Kelas 11 Sem. 1</label>
					<div class="col-md-3">
						{if $cmb->file_rapor_11_1}
							<a href="{$host}assets/upload/rapor/{$cmb->file_rapor_11_1}" target="_blank">{$cmb->file_rapor_11_1}</a>
						{else}
						<input  maxlength="2" type="file" class="" id="rapor" name="file_rapor_11_1" value="" required>
						{/if}
					</div>
				   <label class="col-md-3" >File Rapor Kelas 11 Sem. 2</label>
					<div class="col-md-3">
						{if $cmb->file_rapor_11_2}
							<a href="{$host}assets/upload/rapor/{$cmb->file_rapor_11_2}" target="_blank">{$cmb->file_rapor_11_2}</a>
						{else}
						<input  maxlength="2" type="file" class="" id="rapor" name="file_rapor_11_2" value="" required>
						{/if}
					</div>
				</div>
				<br>
				{/if}
				<p>
				Dengan ini saya  menyatakan Nilai Rapor di atas adalah benar dan jika di kemudian hari ditemukan bahwa data-data tersebut tidak benar, 
				<br>maka Universitas Bakrie berhak mencabut status saya sebagai mahasiswa atau mencabut beasiswa yang diberikan.
				</p>
				<br>
				<br>
				<br>
														
			  <div class="modal-footer">
					 <button type="reset" class="btn btn-default btn-rounded" data-dismiss="modal">Reset</button>
					 {if $cmb->jurusan neq 'SMK'}<button type="button" class="btn btn-info btn-rounded" onclick="calculate()">Hitung</button>{/if}
					 <button type="submit" class="btn btn-success btn-rounded" > Kirim <i class="icon-save"></i></button>
			  </div>
		</form>
		</div>
	</div>
</div>
</div>
<script>
{literal}
	$("form#raporForm").submit(function(e) {
		e.preventDefault();    
		
		$('body').loading({
		  stoppable: true
		});
		
		calculate();
		var formData = new FormData(this);
		
		if($('#rapor').val() == ""){
			alert("File rapor tidak boleh kosong!");
			$( "#rapor" ).focus();
			return;
		}
		
		if($('#rata_rata_rapor').val() == 0){
			alert("Niali rata-rata rapor 0, click hitung untuk update nilai rata-rata Anda!");
			$( "#rata_rata_rapor" ).focus();
			return;
		}
		
		$.ajax({
			type: "POST",
			url: "{/literal}{$host}{literal}portal/simpan_rapor",
			data: formData,
			success: function(data) {
			
				$('body').loading('stop');
				
				if(data == 1){
					alert("Berhasil menyimpan data!")
					location.reload();
				}else if(data == 0){
					alert("Gagal menyimpan data!");
				}else if(data == 7){
					alert("Penyimpanan gagal, perubahan nilai rapor hanya dapat dilakukan 1 kali.")
				}else{
					alert(data);
				}
			},
			error: function() {
			
				$('body').loading('stop');
				alert('error handling here');
			},
			cache: false,
			contentType: false,
			processData: false
		});
	
	});
{/literal}
	function calculate(){
		jurusan = $("#jurusan").val();
		// Matematika
		matK1S1 = $('#mat_1_1').val();matK1S2 = $('#mat_1_2').val();
		matK2S1 = $('#mat_2_1').val();matK2S2 = $('#mat_2_2').val();
		// Inggris
		ingK1S1 = $('#ing_1_1').val();ingK1S2 = $('#ing_1_2').val();
		ingK2S1 = $('#ing_2_1').val();ingK2S2 = $('#ing_2_2').val();
		// Fisika
		fisK1S1 = $('#fis_1_1').val();fisK1S2 = $('#fis_1_2').val();
		fisK2S1 = $('#fis_2_1').val();fisK2S2 = $('#fis_2_2').val();
		// Biologi
		bioK1S1 = $('#bio_1_1').val();bioK1S2 = $('#bio_1_2').val();
		bioK2S1 = $('#bio_2_1').val();bioK2S2 = $('#bio_2_2').val();
		// Kimia
		kimK1S1 = $('#kim_1_1').val();kimK1S2 = $('#kim_1_2').val();
		kimK2S1 = $('#kim_2_1').val();kimK2S2 = $('#kim_2_2').val();
		// Ekonomi
		ekoK1S1 = $('#eko_1_1').val();ekoK1S2 = $('#eko_1_2').val();
		ekoK2S1 = $('#eko_2_1').val();ekoK2S2 = $('#eko_2_2').val();
		// Sosiologi
		sosK1S1 = $('#sos_1_1').val();sosK1S2 = $('#sos_1_2').val();
		sosK2S1 = $('#sos_2_1').val();sosK2S2 = $('#sos_2_2').val();
		// Sosiologi
		geoK1S1 = $('#geo_1_1').val();geoK1S2 = $('#geo_1_2').val();
		geoK2S1 = $('#geo_2_1').val();geoK2S2 = $('#geo_2_2').val();
		
		matNilaiTotal = parseInt(matK1S1)+parseInt(matK1S2)+parseInt(matK2S1)+parseInt(matK2S2);
		ingNilaiTotal = parseInt(ingK1S1)+parseInt(ingK1S2)+parseInt(ingK2S1)+parseInt(ingK2S2);
		fisNilaiTotal = parseInt(fisK1S1)+parseInt(fisK1S2)+parseInt(fisK2S1)+parseInt(fisK2S2);
		bioNilaiTotal = parseInt(bioK1S1)+parseInt(bioK1S2)+parseInt(bioK2S1)+parseInt(bioK2S2);
		kimNilaiTotal = parseInt(kimK1S1)+parseInt(kimK1S2)+parseInt(kimK2S1)+parseInt(kimK2S2);
		ekoNilaiTotal = parseInt(ekoK1S1)+parseInt(ekoK1S2)+parseInt(ekoK2S1)+parseInt(ekoK2S2);
		sosNilaiTotal = parseInt(sosK1S1)+parseInt(sosK1S2)+parseInt(sosK2S1)+parseInt(sosK2S2);
		geoNilaiTotal = parseInt(geoK1S1)+parseInt(geoK1S2)+parseInt(geoK2S1)+parseInt(geoK2S2);
		
		var totalRataRata = 0;
		
		matNilaiTotal = parseInt(matNilaiTotal)/4;
		ingNilaiTotal = parseInt(ingNilaiTotal)/4;
		
		kimNilaiTotal = parseInt(kimNilaiTotal)/4;
		bioNilaiTotal = parseInt(bioNilaiTotal)/4;
		fisNilaiTotal = parseInt(fisNilaiTotal)/4;
		
		ekoNilaiTotal = parseInt(ekoNilaiTotal)/4;
		sosNilaiTotal = parseInt(sosNilaiTotal)/4;
		geoNilaiTotal = parseInt(geoNilaiTotal)/4;
		
		totalRataRata = parseInt(matNilaiTotal) + parseInt(ingNilaiTotal);
		
		ipaTotal = parseInt(fisNilaiTotal) + parseInt(bioNilaiTotal) + parseInt(kimNilaiTotal);
		ipsTotal = parseInt(ekoNilaiTotal) + parseInt(sosNilaiTotal) + parseInt(geoNilaiTotal);
		
		if(jurusan == 'IPA'){
			totalRataRata = parseInt(totalRataRata) + parseInt(ipaTotal);
		}else{
			totalRataRata = parseInt(totalRataRata) + parseInt(ipsTotal);
		}
		
		totalRataRata = parseInt(totalRataRata)/5;
		
		$("#total_label").text(totalRataRata);
		$("#nilai_rata_rata_akhir").val(totalRataRata);
		
		
	}
</script>