<div class="alert alert-bakrie" >
	<div class='row row-in'>
		<label>Terima Kasih telah Melakukan Pendaftaran di Aplikasi SMART Universitas Bakrie <br>Anda Mendaftar pada Jalur {$cmb->jalur_penerimaan} Nomor pendaftaran Anda adalah {$cmb->no_smb}</label>
	</div>
</div>
{if $transPaid->stsApplyPaidConfirm eq 0}
<div class="alert alert-danger" >
	<div class='row row-in'>
		Terima kasih telah melakukan pembayaran, transaksi anda menunggu konfirmasi dari bagian keuangan Universitas Bakrie.
	</div>
</div>
{else}
<div class="alert alert-danger" >
	<div class='row row-in'>
		Terima Kasih,  pembayaran pendaftaran Anda telah kami terima.
	</div>
</div>
{/if}
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Bukti Pembayaran Transfer</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="#"  class="form class="form" >	
					<!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">DATA DIRI</h3> -->					
					<div class="form-group row">
					   <label class="col-form-label col-3" >Metode Pembayaran
					   </label>
					   <div class="col-9" >
						  <label><h4>{if $transPaid->kode_typeTrans eq '04.5'}Menggunakan Voucher : {$transPaid->applyBankAccountType}{else}{$transPaid->applyBankAccountType}{/if}</label>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-3" >Nama Lengkap
					   </label>
					   <div class="col-9" >
						<label><h4>{$nama}</h4></label>
						<input value="{$cmb->kode_smb}" name="kode" hidden>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3" >Pilihan Studi
					   </label>
					   <div class="col-9" >
						  <label><h4>{$cmb->progdi}</label>
					   </div>
					</div>	
					<!-- <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">Transaksi Pembayaran</h3>	 -->
					<div class="form-group row">
					   <label class="col-form-label col-3" >Jumlah Pembayaran
					   </label>
					   <div class="col-9" >
						  <label><h4>Rp. {$transPaid->biaya}</label>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3" >Tanggal Pembayaran
					   </label>
					   <div class="col-9" >
							<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
								<input type="text" class="form-control" name="tanggalBayar" value="{$transPaid->tanggal_trans}" style="text-align: left;" disabled>
						   </div>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-3" >Nama & Nomor Rekening Pengirim
					   </label>
					   <div class="col-9" >
							<input type="text" class="form-control" name="nama_rek_cmb" value="{$transPaid->namaRekPengirimPendaftaran}" disabled>
					   </div>
					</div>	{if $jenjang eq 1}
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}No. HP Orang tua{else}Parent's Phone number{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9">
							<input type="text" class="form-control" name="no_hp" value="{$transPaid->ayahCell}"  disabled required>
					   </div>
					</div>		
					{/if}											
					<div class="form-group row">
					   <label class="col-form-label col-3" >Bukti Pembayaran
					   </label>
					   <div class="col-9" >
						  <!-- <input type="text" class="form-control" name="tanggalBayar" value="{$transPaid->buktiBayarPendaftaran}" disabled> -->
						  <a class="btn btn-default" href="{$host}assets/upload/bukti_bayar/{$transPaid->buktiBayarPendaftaran}">{$transPaid->buktiBayarPendaftaran}</a>
					   </div>
					   
					</div>
					{*
					
					<div class="form-group row">
					   <label class="col-form-label col-3" >{if $jenjang eq 1}Metode Pembayaran{else}Type of Payment{/if}
					   </label>
					   <div class="col-9" >
						  <select  class="form-control" name="typeTrans" id="jenjang" disabled>
							 <option value="{$transPaid->kode_typeTrans}">{$transPaid->typeTrans}</option>
						  </select>
					   </div>
					</div>
					<div class="form-group row" >
					   <label class="col-form-label col-3" >{if $jenjang eq 1}No Kartu ATM{else}ATM Card number{/if}
					   </label>
					   <div class="col-9" >
						  <input type="text" class="form-control" name="noAtmCard" 
							value="{if $transPaid->noAtmCardPendaftaran eq '0'}-{else}{$transPaid->noAtmCardPendaftaran}{/if}" disabled>												  
						</div>
					</div>
					*}
			</form>
		</div>
	</div>
</div>