<div class="alert alert-bakrie" >
	<div class='row row-in'>
		<label>Terima Kasih telah Melakukan Pendaftaran di Aplikasi SMART Universitas Bakrie <br>Anda Mendaftar pada Jalur <b>{$cmb->jalur_penerimaan}</b> Nomor pendaftaran Anda adalah <b>{$cmb->no_smb}</b></label>
	</div>
</div>
<div class="alert alert-danger" >
	<div class='row row-in'>
			Untuk Melanjutkan Proses Pendaftaran, Harap Melakukan Pembayaran Pendaftaran Sebesar Rp {$biaya|number_format:0:".":","},<br>
			Silahkan Mengunggah Bukti Bayar Pendaftaran Pada Form Transfer atau Gunakan Kode Voucher yang Anda Miliki
		
	</div>
</div>
<div class="alert alert-bakrie-dark" >
	<div class='row row-in'>	
		<div class="col-md-3">
			<input type="text" class="biaya form-control" id="voucher" name="voucher" value="" placeholder="Masukkan kode voucher">
		</div>
		<div class="col-md-3">
			<input type="text" class="biaya form-control" id="hp_ortu" name="hp_ortu" value="" placeholder="Nomor handphone orang tua">
		</div>
		<button class="btn btn-danger" onclick="submit_voucher()">Kirim </button> 
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Bukti Pembayaran Transfer</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/confirmPembayaran/add" enctype="multipart/form-data" class="form" method="post">					
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Metode Pembayaran{else}Destination Account number{/if}
					   </label>
					   <div class="col-9" >							  
							  <select  class="form-control" name="bankAkun" required>
									 <option>{if $jenjang eq 1}Pilihan Tipe Pembayaran..{else}Select..{/if}</option>
									 <option value="070.162.7415">070.162.7415 Bank Permata, A/N Universitas Bakrie </option>
									 <option value="5055.026464">5055.026464 Bank BCA, A/N Yayasan Pendidikan Bakrie</option>
									 <option value="065.0010515.7">065.001.515.7 Bank Mandiri Syariah A/N Yayasan Pendidikan Bakrie</option>
									 <option value="loket">Bayar di Loket Universitas Bakrie</option>
							  </select>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-3" >{if $jenjang eq 1}Nama Lengkap{else}Full name{/if}
					   </label>
					   <div class="col-9" >
							<input class="form-control" type="text" value="{$nama}" disabled>
							<input value="{$cmb->kode_smb}" name="kode" hidden>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Jumlah Pembayaran{else}Total Payment{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9" >
							  <input type="text" class="biaya form-control" name="totalBiaya" style="text-align: left;" value="{$biaya}" required>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Tanggal Pembayaran{else}Date of Payment{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9" >	
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggalBayar" size="16" value="" required>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Nama & Nomor Rekening Pengirim{else}Sender of Account name{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9">
									<input type="text" class="form-control" name="nama_rek_cmb" required>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}No. HP Orang tua{else}Parent's Phone number{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9">
							<input type="text" class="form-control" name="no_hp" required>
					   </div>
					</div>										
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Bukti Pembayaran{else}Upload Payment Receipt{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9">
							  <input type="file" id="bukti" name="bukti" required>
							  <p class="help-block">Format : PDF | JPG | JPEG | PNG | GIF</p>
					   </div>
					</div>
					{*			
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Metode Pembayaran{else}Type of Payment{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9" >
							  <select  class="form-control" name="typeTrans" id="typeTrans" required>
									 <option>{if $jenjang eq 1}Pilihan Tipe Pembayaran..{else}Select..{/if}</option>
									{foreach name=loop from=$typeBayar item=row}
									 <option value="{$row->kode}">{$row->nama}</option>
									{/foreach}
							  </select>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Pilihan Studi{else}Major/Concentration{/if}
					   </label>
					   <div class="col-9" >
							  <label>{$cmb->progdi}</label>
					   </div>
					</div>
					<div class="form-group row" >
					   <label class="col-form-label col-3">{if $jenjang eq 1}No Kartu ATM{else}ATM Card number{/if}
						<span class="required">*</span>
					   </label>
					   <div class="col-9" >
							  <input type="text" class="form-control" name="noAtmCard" id="noAtmCard" maxlength="16" title="16 digit No. kartu ATM Anda" disabled>												  
							  <p class="help-block" style="display:none;" id="helpAtm">
								{if $jenjang eq 1}Masukan 4 digit akhir nomor kartu ATM Anda. (Bukan No. Rekening){else}
								Entry last 4 digits behind debit/credit card{/if}
							  </p>								  
							  <p class="help-block" style="display:none;" id="helpAtmno">
							  {if $jenjang eq 1}Lewati jika transaksi pembayaran  Tunai Via Bank{else}
							  Skip this field{/if}</p>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-3">{if $jenjang eq 1}Rekening Tujuan{else}Destination Account number{/if}
					   </label>
					   <div class="col-9" >							  
							  <select  class="form-control" name="bankAkun" required>
									 <option>{if $jenjang eq 1}Pilih Tipe Rekening tujuan..{else}Select..{/if}</option>
									 <option value="070.162.7415">Bank Permata (070.162.7415)</option>
									 <option value="5055.026464">Bank BCA (5055.026464)</option>
									 <option value="065.0010515.7">Bank Mandiri Syariah (065.0010515.7)</option>
							  </select>
					   </div>
					</div>	
					*}
					<div class="alert alert-bakrie-dark">
					<input type="checkbox" name="okekah" value="setuju">
					{if $jenjang eq 1}Centang jika Anda sudah yakin dengan transaksi di atas.{else}
					Check if you're confident with transactions above.
					{/if}
							 
					</div>
					<div class="offset-sm-9 col-sm-3">
						<button type="reset" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">Reset</button>
						<button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt"> Kirim <i class="icon-save"></i></button>
					</div>
			</form>
		</div>
	</div>
</div>
<script>
function test(){
$("#sa-title").trigger( "click" );
}
function submit_voucher(){
{literal}
	kode_voucher = $('#voucher').val();
	hp_ortu = $('#hp_ortu').val();

	if(hp_ortu == ''){
		alert('Masukkan nomor handphone orang tua Anda!');
		return;
	}

	if(kode_voucher != ''){
		
		$.ajax({
			type: "POST",
			url: "{/literal}{$host}{literal}portal/submit_voucher",
			data: {'kode_voucher':kode_voucher, 'hp_ortu':hp_ortu},
			dataType: "json",
			success: function(data) {
				if(data == 1){
					alert("Voucher berhasil digunakan!");
					window.location.reload();
				}else if(data == 2){
					alert("Voucher sudah pernah digunakan!");
				}else if(data == 3){
					alert("Voucher sudah expired!");
				}else if(data == 4){
					alert("Voucher tidak ada!");
				}
			},
			error: function() {
				alert('error handling here');
			}
		});
		
	}else{
		alert('Masukkan kode voucher!');
	}
}
{/literal}						  
$("#typeTrans").change(function(){	
	val = $(this).val();
	//alert (val);
	if (val != '04.1'){
		document.getElementById('helpAtmno').style.display = 'none';
		document.getElementById('helpAtm').style.display = 'block';
		$("#noAtmCard").prop('disabled', false);
	}else{
		document.getElementById('helpAtmno').style.display = 'block';
		document.getElementById('helpAtm').style.display = 'none';
		$("#noAtmCard").prop('disabled', true);
	}
});	
</script>