<div class="alert alert-bakrie text-center" style="background-color: #78787a;border: 0px; padding: 64px 16px 64px 16px;">
	<div class='row row-in'>
		<div class="col-md-12">
		Selanjutnya silahkan melakukan pembayaran
			<br>formulir pendaftaran sebesar Rp. {$biaya|number_format:0:",":"."}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Bukti Pembayaran Transfer</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="{$host}portal/confirmPembayaran/add" enctype="multipart/form-data" class="form" method="post" id='form_formulir'>					
					<div class="form-group row">
					   <label class="col-form-label col-4">Metode Pembayaran
					   </label>
					   <div class="col-8" >							  
							  <select  class="form-control" name="bankAkun" required>
									 <option>{if $jenjang eq 1}Pilihan Tipe Pembayaran..{else}Select..{/if}</option>
									 <option value="070.162.7415">070.162.7415 Bank Permata, A/N Universitas Bakrie </option>
									 <option value="5055.026464">5055.026464 Bank BCA, A/N Yayasan Pendidikan Bakrie</option>
									 <option value="065.0010515.7">065.001.515.7 Bank Mandiri Syariah A/N Yayasan Pendidikan Bakrie</option>
									 <option value="loket">Bayar di Loket Universitas Bakrie</option>
							  </select>
					   </div>
					</div>	
					<div class="form-group row">
					   <label class="col-form-label col-4" >Nama Lengkap
					   </label>
					   <div class="col-8" >
							<input class="form-control" type="text" value="{$nama}" disabled>
							<input value="{$cmb->kode_smb}" name="kode" hidden>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-4">Jumlah Pembayaran
						<span class="required">*</span>
					   </label>
					   <div class="col-8" >
							  <input type="text" class="form-control" name="totalBiaya"  value='{$biaya|number_format:0:".":"."}' required readonly>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-4">Tanggal Pembayaran
						<span class="required">*</span>
					   </label>
					   <div class="col-8" >	
							<div class="input-group">
							<input type="text" class="form-control input-medium mydatepicker" name="tanggalBayar" size="16" value="" required>
							<span class="input-group-addon"><i class="icon-calender"></i></span> </div>
					   </div>
					</div>
					<div class="form-group row">
					   <label class="col-form-label col-4">Nama & Nomor Rekening Pengirim
						<span class="required">*</span>
					   </label>
					   <div class="col-8">
									<input type="text" class="form-control" name="nama_rek_cmb" required>
					   </div>
					</div>									
					<div class="form-group row">
					   <label class="col-form-label col-4">Bukti Pembayaran
						<span class="required">*</span>
					   </label>
					   <div class="col-8">
							  <input type="file" id="bukti" name="bukti" required>
							  <small class="form-text text-muted">Format : PDF | JPG | JPEG | PNG | GIF</small>
					   </div>
					</div>
					
					<div class="alert alert-bakrie-dark">
					<input type="checkbox" name="okekah" value="setuju">
					{if $jenjang eq 1}Centang jika Anda sudah yakin dengan transaksi di atas.{else}
					Check if you're confident with transactions above.
					{/if}
							 
					</div>
					<div class="offset-sm-9 col-sm-3">
						<button type="reset" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">Reset</button>
						<button type="submit" class="btn btn-success waves-effect waves-light m-r-10" id="save" value="save" name="opt"> Kirim <i class="icon-save"></i></button>
					</div>
			</form>
		</div>
	</div>
</div>
<script>
$('#form_formulir').submit(function() {
    $('body').loading('start');
});
function test(){
$("#sa-title").trigger( "click" );
}
						  
$("#typeTrans").change(function(){	
	val = $(this).val();
	//alert (val);
	if (val != '04.1'){
		document.getElementById('helpAtmno').style.display = 'none';
		document.getElementById('helpAtm').style.display = 'block';
		$("#noAtmCard").prop('disabled', false);
	}else{
		document.getElementById('helpAtmno').style.display = 'block';
		document.getElementById('helpAtm').style.display = 'none';
		$("#noAtmCard").prop('disabled', true);
	}
});	
</script>