
<!-- BEGIN FORM-->
<div class="row">
	<div class="col-md-12">
		<div class="white-box col-md-12 printableArea" style='font-size:12px;'>
			<!-- <table width='100%'> -->
				<!-- <tr> -->
					<!-- <td width="50%" align="right"> -->
						<!-- <img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/> -->
					<!-- </td> -->
					<!-- <td  width="50%" style='padding-left:16px;'> -->
						<!-- <h4> | SURAT PERNYATAAN</h4> -->
					<!-- </td> -->
				<!-- </tr> -->
			<!-- </table> -->
			<!-- <br> -->
			<div class="col-md-12 ">
			Surat Pernyataan Mahasiswa Baru T.A {$periode.tahun}/{$periode.tahunSelesai}
			<hr>
			</div>
			<div class="col-md-12" >
				Saya yang bertanda tangan di bawah ini :<br><br>
				<table width='100%' style='font-size:12px;'>
					<tr>
						<td width='30%' style="text-align:right;">Nama Lengkap</td>
						<td width='10%'></td>
						<td width='60%'>: {$prof->nama_cm}</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Jenis Kelamin</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->gender}
						</td>
					</tr>
					<tr>					
						<td width='30%' style="text-align:right;">Tempat, Tanggal Lahir</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->tempatLahir}, {$prof->tanggalLahir|date_format:"%d-%m-%Y"}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Asal Sekolah</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->namaEdu}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Nomor Peserta</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->no_smb}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Alamat Rumah</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->rumahAlamat}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">No. Telp Rumah</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->rumahCell}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">No. HP</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->rumahCell}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Nama Orang Tua/Wali</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->ayahNama}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">Alamat Orang Tua</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->ayahAlamat}
						</td>
					</tr>
					<tr>
						<td width='30%' style="text-align:right;">No. HP Orang Tua</td>			
						<td width='10%'></td>
						<td width='60%'>
							: {$prof->ayahCell}
						</td>
					</tr>
				</table>
				<div class='col-md-12'>
				<br>
				Dengan ini menyatakan bersedia untuk memenuhi ketentuan-ketentuan sebagai berikut:<br>
					1.	 Membayar biaya pendidikan yang telah ditetapkan oleh Universitas Bakrie;<br>
					2.	 Menyelesaikan persyaratan akademik dan persyaratan administrasi;<br>
					3.	 Mengikuti peraturan yang berlaku di Universitas Bakrie;<br>
					4.	 Apabila mengundurkan diri, akan mengikuti ketentuan pengunduran diri sebagai berikut:
				<br><br>
				</div>
				<div class='col-md-12' style="padding-left:32px;padding-right:32px;">
					<table class='table table-bordered'  style='font-size:10px;'>
						<thead>
						<tr>
							<th width='50%'>Kriteria Pengembalian Biaya</th>
							<th width='50%'>Keterangan</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td >
								Biaya yang dikembalikan hanya jika:<br>
								<p>1.	 Tidak Lulus SMA / Sederajat (UN).</p>

								<p>2.	 Diterima di PTN sebagai berikut: Universitas Indonesia, Universitas Gadjah Mada, Universitas Diponegoro, Universitas Airlangga, Universitas Padjadjaran, Universitas Brawijaya, Institut Teknologi Bandung, Institut Teknologi 10 November, 
									Institut Pertanian Bogor <b>MELALUI JALUR SNMPTN dan SBMPTN</b>.</p>
							</td>
							<td >
								<p>1.	 Dikenakan biaya administrasi sebesar Uang Pangkal 
								plus (+) 50% dari total biaya yang telah dibayarkan</p>

								<p>2.	 Mengirimkan surat pengunduran diri (yang telah 
								ditandatangani oleh calon mahasiswa yang bersangkutan 
								& orang tua diatas materai) melalui e mail ke 
								admisi@bakrie.ac.id atau melalui pos</p>

								<p>3.	 Selambat-lambatnya sebelum hari pelaksanaan 
								Orientasi Kampus/UB's Week</p>

								<p>4.	 Selain 3 butir kriteria pengembalian biaya, maka 
								seluruh biaya yang telah disetorkan tidak dapat 
								dikembalikan lagi.</p>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class='col-md-12'>
					<br>
					<br>
					Surat pernyataan ini saya buat dalam keadaan sadar dan sebenar-benarnya. <br>
					Jakarta,	___________20____
					<br>
				</div>
				<table width='100%'  style='font-size:12px;'>
					<tr>
						<td width='50%' align='center'>
							<br>
							<br>
							<p>Yang menyatakan, </p>
							<br>
							<br>
							<small>Materai 6000</small>
							<br>
							<br>
							________________________<br>
							<small>Nama jelas dan tanda tangan</small><br>
							<small>Calon mahasiswa</small>
						</td>
						<td width='50%' align='center'>
							<br>
							<br>
							<p>Mengetahui dan menyetujui, </p>
							<br>
							<br>
							<br>
							<br>
							________________________<br>
							<small>Nama Jelas dan Tanda Tangan</small><br>
							<small>Orang tua atau wali</small>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class='white-box col-md-12' style='background:#78787A;color:#fff;margin-top:-16px;'>
		<p>Cetak dan Kirim surat pernyataan di atas yang telah ditandatangani oleh orang tua di atas materai, 
		beserta ijazah dan SKHUN yang telah di legalisir oleh sekolah.</p>

		<p>Kirim via Pos ke alamat:</p>
		
		Admisi Universitas Bakrie<br>
		Kampus Kuningan Universitas Bakrie <br>
		Jl. H.R. Rasuna Said Kav. C-22<br>
		Kuningan, Jakarta Selatan<br>
		12920<br>
		Informasi lebih lanjut 021 526 1448 (Ext. 175/154)<br>
		Whatsapp  0856 777 2010, <br>
		e-mail. admisi@bakrie.ac.id <br>
		
		
		<div class="text-right">
			<button id="print" class="btn btn-success btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
		</div>
		
	</div>
</div>
