<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
			{*
                <li class="active"><a href="#tab_1_1" data-toggle="tab">Profil</a></li>
                <li><a href="#tab_1_3" data-toggle="tab">Keluarga</a></li>
                <li><a href="#tab_1_4" data-toggle="tab">Prestasi & Organisasi</a></li>
				*}
                <li class="active"><a href="#tab_1_6" data-toggle="tab">Akun</a></li>
            </ul>
            <div class="tab-content">
			{*
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row profile-account">
                        <div class="col-md-12">
							{include file="portal/profilStatus.html"}
						</div>
					</div>
                </div>
                tab_1_2
                <div class="tab-pane" id="tab_1_3">
                    <div class="row profile-account">
                        <div class="col-md-12">
                            {include file="portal/profilKeluarga.html"}
                        </div>
                    </div>
                </div>
                <!--end tab-pane-->
                <div class="tab-pane" id="tab_1_4">
                    <div class="row portfolio-block">
                        <div class="col-md-12">
                            <div class="add-portfolio">
                                <span>Riwayat Pendidikan</span>
                            </div>
                            {include file="portal/tblPendidikan.html"}
                        </div>
                    </div>
                    <div class="row portfolio-block">
                        <div class="col-md-12">
                            <div class="add-portfolio">
                                <span>Riwayat Prestasi</span>
                            </div>
                            {include file="portal/tblPrestasi.html"}
                        </div>
                    </div>
                    <div class="row portfolio-block">
                        <div class="col-md-12">
                            <div class="add-portfolio">
                                <span>Riwayat Organisasi</span>
                            </div>
                            {include file="portal/tblOrganisasi.html"}
                        </div>
                    </div>

                </div>
                <!--end tab-pane-->
				*}
                <div class="tab-pane active" id="tab_1_6">
                    <div class="row">
                        <div class="col-md-12">
                            {include file="portal/formAkun.html"}
                        </div>
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Change Photo</h4>
            </div>
            <div class="modal-body">
                <div id="formWilayah"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
{literal}
$('.profile-edit').click( function() {   
         opt = $(this).attr("name");
         val = $(this).attr("value");
      $.post("{/literal}{$host}{literal}portal/editProfil/edit", {'opt':opt, 'val':val},function(resp){
         $('#formWilayah').html(resp);
      });
   });
{/literal}
</script>