<div class="row">
	<div class="col-md-3">
		<ul class="list-unstyled profile-nav">
			<li>
				{if $cmb->foto eq ''}
				<img src="{$host}assets/img/ava.png" class="img-responsive" alt="" />{else}
				<img src="{$host}assets/upload/foto/{$cmb->foto}" class="img-responsive" alt="" />{/if}
				<a class="profile-edit" data-toggle="modal" href="#edit" name="edit" value="{$cmb->kode_smb}">edit</a>
			</li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-10 profile-info">
				<h1>{$cmb->nama_cm}</h1>
				<p><i class="icon-user"></i> {$prof->gender}</p>
				<p>@ {$prof->kode_smb}</p>
				<p><i class="icon-road"></i> {$prof->rumahAlamat} {if isset($prof->propNama)}, {$prof->propNama}{/if}{if isset($prof->kabKotaNama)}, {$prof->kabKotaNama}{/if}{if isset($prof->kodePos)}, {$prof->kodePos}{/if}</p>
				<p><i class="icon-calendar"></i> {if isset($prof->tempatLahir)}{$prof->tempatLahir}{/if}
					{if $prof->tLahir neq 0}, {$prof->tLahir} {$prof->bLahir} {$prof->yLahir}{/if}</p>
				<p><i class="icon-briefcase"></i>{if isset( $eduData->sekolah)} {$eduData->sekolah} - {$eduData->propNama}, {$eduData->kabNama} {$eduData->kodeposN}{/if}</p>
				<p><i class="icon-star"></i> S{$prof->jenjangType} {$prof->progdi}</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!--end row-->
		<div class="tabbable tabbable-custom tabbable-custom-profile">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_1_22" data-toggle="tab">Tahap pendaftaran</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1_22">
					<div class="tab-pane active" id="tab_1_1_1">
						<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
							<ul class="feeds">
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												{if $cmb->validation_status eq '1'}
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Pendaftaran
												</div>
											</div>
											{/if}
										</div>
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->validation_status eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->stsApplyPaidConfirm eq '1'}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Pembayaran Pendaftaran
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Pembayaran Pendaftaran
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->stsApplyPaidConfirm eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->stsPribadiConfirm eq '1'}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Lengkapi Formulir Pendaftaran
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Lengkapi Formulir Pendaftaran
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->stsPribadiConfirm eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->stsEventConfirm eq '1'}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Jadwal Ujian
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Jadwal Ujian
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->stsEventConfirm eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->stsResultConfirm eq '1'}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Hasil Ujian
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Hasil Ujian
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->stsResultConfirm eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->stsReapplyPaidConfirm eq '1'}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Pendaftaran Ulang
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Pendaftaran Ulang
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->stsReapplyPaidConfirm eq '1'} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										{if $cmb->nim neq ''}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-info">
													<i class="icon-ok-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Mendapatkan NIM
												</div>
											</div>
										</div>
										{else}
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-default">
													<i class="icon-minus-sign"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													Mendapatkan NIM
												</div>
											</div>
										</div>
										{/if}
									</div>
									<div class="col2">
										<div class="date">
											{if $cmb->nim neq ''} Finished {else} Waiting {/if}
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--tab-pane-->
			</div>
		</div>
	</div>
</div>