<div class="alert alert-bakrie" >
	<div class='row row-in'>
		<div class='col-md-12 col-sm-12'>
			Terima Kasih telah Melakukan Pendaftaran di Aplikasi SMART Universitas Bakrie <br>Anda Mendaftar pada Jalur {$cmb->jalur_penerimaan} Nomor pendaftaran Anda adalah {$cmb->no_smb}
		</div>
	</div>
</div>
<div class="alert alert-danger" >
	<div class='row row-in'>
		<div class='col-md-12 col-sm-12'>
			<div class='col-md-6'>
				<div class='col-sm-12'>
					Nilai Anda sedang dalam proses verifikasi,<br>
					hasil seleksi akan diumumkan pada tanggal {$periode_user.tanggal_pengumuman|date_format:"%d %B %Y"}<br>
					di Aplikasi SMART Universitas Bakrie.<br>
					Informasi lebih lanjut hubungi Admisi <br>
					Universitas Bakrie di nomor 021-5261448<br>
					atau Whatsapp 0856 777 2010.
					
				</div>
			</div>
			<div class='col-md-6  coming-soon-countdown'>
				<div id="defaultCountdown"></div>
				<!-- <div class='col-sm-12 text-center' > -->
					<!-- <h3 style="color:white;">Hitung Mundur Pengumuman Beasiswa</h3> -->
					<!-- <h1 style="color:white;">007 : 07 : 57 : 19</h1> -->
				<!-- </div> -->
			</div>
		</div>		
	</div>
</div>
