<div class="side-mini-panel">
	<ul class="mini-nav">
		<div class="togglediv"><a href="javascript:void(0)" id="togglebtn"><i class="ti-menu"></i></a></div>
		<!-- .Dashboard -->
		<li class="{if $site eq 'beranda' or $site|strstr:'undangan' }selected{/if}">
			<a href="{$host}"><i class="linea-icon linea-basic" data-icon="Z"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title">Beranda</h3>
				<!-- <div class="searchable-menu"> -->
				<!-- <form role="search" class="menu-search"> -->
				<!-- <input type="text" placeholder="Search..." class="form-control"> -->
				<!-- <a href=""><i class="fa fa-search"></i></a> -->
				<!-- </form> -->
				<!-- </div> -->

				<!-- Left navbar-header end -->
			</div>
		</li>
		<!-- /.Dashboard -->
		<!-- .multi -->
		<li
			class="{if $site|strstr:'pembayaran' or $site eq 'buktiBayar'  or $site eq 'nilai_rapor' }selected{/if}">
			<a href="javascript:void(0)"><i class="linea-icon linea-ecommerce" data-icon="l"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title text-danger">Pendaftaran</h3>
				<ul class="sidebar-menu">
					{if $jenjang eq 1}
					<li> <a href="{$host}portal/pembayaran"
							class="{if $site eq 'pembayaran' or $site eq 'pembayaranPaid' or $site eq 'buktiBayar' }selected{/if}">Pembayaran</a>
					</li>
					{if $cmb->jalur_penerimaan eq 'RAPOR'}
					{if $cmb->stsApplyPaidConfirm eq 1}
					<li> <a href="{$host}portal/rapor" class="{if $site eq 'nilai_rapor' }selected{/if}">Isi Nilai
							Rapor</a> </li>
					{/if}
					{else}
					<li> <a href="{$host}portal/rapor" class="{if $site eq 'nilai_rapor' }selected{/if}">Isi Nilai
							Rapor</a> </li>
					{/if}
					{else}
					<li> <a href="{if $cmb->verifikasi_forlap eq '1'}{$host}portal/payment{else}javascript:;{/if}"
							class="{if $site eq 'pembayaranMagister' or $site eq 'pembayaranPaid' or $site eq 'buktiBayar' }selected{/if}">Pembayaran</a>
					</li>
					{/if}
				</ul>
				<!-- Left navbar-header end -->
			</div>
		</li>
		<!-- /.multi -->
		<!-- .Apps -->
		{if $cmb->jalur_penerimaan neq 'ODS'}
		<li class="{if $site eq 'jadwal' or $site eq 'proses_seleksi' or $site|strstr:'jadwal'}selected{/if}"><a href="javascript:void(0)"><i
					data-icon="&#xe00c;" class="linea-icon linea-basic"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title">Proses Seleksi</h3>
				<ul class="sidebar-menu">
					{if $jenjang eq 1}
					{if $cmb->jalur_penerimaan eq 'RAPOR'}
					<!-- <li class="{if $site eq 'jadwal'}selected{/if}"><a href="{if $cmb->stsEventConfirm eq '1'}{$host}portal/jadwal{else}javascript:void(0){/if}">Jadwal</a></li> -->
					<li class="{if $site eq 'proses_seleksi'}selected{/if}"><a
							href="{if $cmb->stsEventConfirm eq '1'}{$host}portal/proses_seleksi{else}javascript:void(0){/if}">Proses
							Seleksi</a></li>
					{else}
					<li class="{if $site eq 'jadwal'}selected{/if}"><a
							href="{if $cmb->stsEventConfirm eq '1'}{$host}portal/jadwal{else}javascript:void(0){/if}">Jadwal</a>
					</li>
					<li class="{if $site eq 'proses_seleksi'}selected{/if}"><a
							href="{if $cmb->stsEventConfirm eq '1'}{$host}portal/proses_seleksi{else}javascript:void(0){/if}">Proses
							Seleksi</a></li>
					{/if}
					{elseif $jenjang eq 2}
					<li class="{if $site eq $site|strstr:'jadwal'}selected{/if}"><a
							href="{if $cmb->stsEventConfirm eq '1'}{$host}portal/jadwalMagister{else}javascript:void(0){/if}">Jadwal Tes & Wawancara</a>
					</li>
					{/if}
				</ul>
				<!-- Left navbar-header end -->
			</div>
		</li>
		{/if}
		<!-- /.Apps -->
		<!-- .Ui Elemtns -->
		<li
			class="{if $site eq 'hasilSeleksi' or $site eq 'daftarUlang' or $site eq 'formDaftarUlang' or $site eq 'formDaftarUlangPaid' or $site|strstr:'invoice' or $site|strstr:'form_du'}selected{/if}">
			<a href="javascript:void(0)"><i data-icon="Y" class="linea-icon linea-ecommerce"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title">Pengumuman</h3>
				{if $jenjang eq '1'}
				<ul class="sidebar-menu">
					<li class="{if $site eq 'hasilSeleksi'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/seleksi{else}javascript:void(0){/if}">Hasil
							Seleksi</a></li>
					<li class="{if $site eq 'daftarUlang'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/daftarUlang{else}javascript:void(0){/if}">Invoice</a>
					</li>
					<li class="{if $site eq 'formDaftarUlang' or $site eq 'formDaftarUlangPaid'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/formDaftarUlang{else}javascript:void(0){/if}">Daftar
							Ulang</a></li>
				</ul>
				{elseif $jenjang eq '2'}
				<ul class="sidebar-menu">
					<li class="{if $site eq 'magister/undanganPengumuman'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/seleksi{else}javascript:void(0){/if}">Hasil
							Seleksi</a></li>
							<li class="{if $site eq 'invoice'}selected{/if}"><a
									href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/invoices{else}javascript:void(0){/if}">Invoice</a>
							</li>
					<li class="{if $site|strstr:'form_du_magister' or $site eq 'formMagisterDu'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/formMagisterDu{else}javascript:void(0){/if}">Daftar
							Ulang</a></li>
				</ul>
				{elseif $jenjang eq '3'}
				<ul class="sidebar-menu">
					<li class="{if $site eq 'magister/undanganPengumuman'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/seleksi{else}javascript:void(0){/if}">Hasil
							Seleksi</a></li>
							<li class="{if $site eq 'invoice'}selected{/if}"><a
									href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/tagihan{else}javascript:void(0){/if}">Invoice</a>
							</li>
					<li class="{if $site|strstr:'form_du_kk' or $site eq 'formDaftarUlangKK'}selected{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/formDaftarUlangKK{else}javascript:void(0){/if}">Daftar
							Ulang</a></li>
				</ul>
				{/if}
				<!-- Left navbar-header end -->
			</div>
		</li>
		<!-- /.Ui Elemtns -->
		<!-- .Forms -->
		<li
			class="{if  $site eq 'calendar' or $site eq 'formulir' or $site eq 'formAsuransi' or $site|strstr:'dokumen' or  $site eq 'pernyataan'}selected{/if}">
			<a href="javascript:void(0)"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title">Pemberkasan</h3>
				<ul class="sidebar-menu">
					<li class="{if $site eq 'formulir'}active{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1'}{$host}portal/formulir{else}javascript:void(0){/if}">Data
							Akademik</a></li>
					<li class="{if $site eq 'formAsuransi'}active{/if}"><a
							href="{if $cmb->stsResultConfirm eq '1' && $cmb->stsPribadiConfirm eq 1}{$host}portal/asuransi{else}javascript:void(0){/if}">Data
							Asuransi</a></li>
					{if $jenjang eq 1}
					<li class="{if $site eq 'pernyataan'}active{/if}"><a
							href="{if $cmb->stsReapplyPaidConfirm eq '1' && $cmb->statusKeluarga eq 1}{$host}portal/pernyataan{else}javascript:void(0){/if}">Surat
							Pernyataan</a></li>
					
					<li class="{if $site eq 'dokumen'}active{/if}"><a
							href="{if $cmb->stsReapplyPaidConfirm eq '1' && $cmb->statusKeluarga eq 1}{$host}portal/dokumen{else}javascript:void(0){/if}">Kelengkapan
							Dokumen</a></li>
					{elseif $jenjang eq 2}
					<li class="{if $site|strstr:'dokumen'}active{/if}"><a
						href="{if $cmb->statusKeluarga eq 1}{$host}portal/berkas_mm{else}javascript:void(0){/if}">Kelengkapan
						Dokumen</a></li>
					{elseif $jenjang eq 3}
					<li class="{if $site|strstr:'dokumen'}active{/if}"><a
						href="{if $cmb->statusKeluarga eq 1}{$host}portal/berkaskk{else}javascript:void(0){/if}">Kelengkapan
						Dokumen</a></li>
					{/if}
					<li class="{if $site eq 'welcome_text'}active{/if}"><a
							href="{if $cmb->sts_berkas eq '1'}{$host}portal/welcome_text{else}javascript:void(0){/if}">Jadwal
							Perkuliahan</a></li>
				</ul>
				<!-- Left navbar-header end -->
			</div>
		</li>
		<!-- /.Forms -->
		{if $site eq 'profil' || $site eq 'formEditMahasiswa'}
		<li class="{if $site eq 'profil' || $site eq 'formEditMahasiswa'}selected{/if}">
			<a href="{$host}portal/profil"><i class="linea-icon linea-basic" data-icon="9"></i></a>
			<div class="sidebarmenu">
				<!-- Left navbar-header -->
				<h3 class="menu-title">Profil</h3>
			</div>
		</li>
		{/if}

	</ul>
</div>