<style>
	.tile.selected .corner::after {
		content: "";
		display: inline-block;
		border-right: 40px solid transparent;
		border-top: 40px solid transparent;
		border-left: 40px solid #7e1622;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}

	.tile.selected .check::after {
		font-family: FontAwesome;
		font-size: 12px;
		display: inline-block;
		position: absolute;
		bottom: 3px;
		left: 5px;
	}

	.number {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 0;
		color: #ffffff;
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.01em;
		line-height: 14px;
		font-smooth: always;
		margin-bottom: 8px;
		margin-left: 8px;
	}
</style>
<div class='white-box'>
	<div class='row row-in'>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->verifikasi_forlap eq '1'}style="background: #ffb200;"{/if}>
			<div class="tile selected bg-yellow-gold">
				{if $cmb->validation_status eq '1'}
				{/if}
				<div class="corner"></div>
				<div class=" tile-body">
					<img src='{$host}assets/files/pendaftaran.png' height='65px' style='margin-top:10px;'>
				</div>
				<div class="tile-object">
					<div class="number">
						1
					</div>
					<div class="">
						Pendaftaran
					</div>

				</div>
			</div>
		</div>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->stsApplyPaidConfirm eq 1}style="background:#ffb200;"{/if}>
			<div class="tile selected bg-yellow-gold">
				{if $cmb->validation_status eq '1'}
				{/if}
				<div class="corner"></div>
				<div class=" tile-body">
					<img src='{$host}assets/files/pembayaran.png' height='65px' style='margin-top:10px;'>
				</div>
				<div class="tile-object">
					<div class="number">2</div>
					<div class="">Pembayaran<br>Formulir</div>

				</div>
			</div>
		</div>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->stsResultConfirm eq 1}style="background:
			#ffb200;"{/if}>
			<div class="tile selected {if $cmb->stsEventConfirm eq '1'}selected bg-yellow-gold {else} bg-grey-cascade{/if}   "
				id="{if $cmb->stsPribadiConfirm neq '1'}ju{/if}">
				{if $cmb->stsEventConfirm eq '1'}
				{/if}
				<div class="corner"></div>
				<div class="tile-body">
					<img src='{$host}assets/files/jadwal_proses.png' height='65px' style='margin-top:10px;'>
				</div>
				<div class="tile-object">

					{if $jenjang eq 1}Proses Seleksi{else}Jadwal<br>Wawancara{/if}
					<div class="number">3</div>
				</div>
			</div>
		</div>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->stsResultConfirm eq 1}style="background:
			#ffb200;"{/if}>
			<div class="tile selected {if $cmb->stsEventConfirm eq '1'}selected bg-yellow-gold {else} bg-grey-cascade{/if}"
				id="{if $cmb->stsResultConfirm neq '1'}hu{/if}">
				{if $cmb->stsResultConfirm eq '1'}
				{/if}
				<div class="corner"></div>
				<div class="check"></div>
				<div class="tile-body">
					<img src='{$host}assets/files/hasil_seleksi.png' height='65px' style='margin-top:10px;'>
				</div>
				<div class="tile-object">
					Pengumuman<br>Kelulusan
					<div class="number">4</div>
				</div>
			</div>
		</div>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->stsReapplyPaidConfirm eq 1}style="background:
			#ffb200;"{/if}>
			<div class="tile selected {if $cmb->stsEventConfirm eq '1'}selected bg-yellow-gold {else} bg-grey-cascade{/if}"
				id="{if $cmb->stsResultConfirm neq '1'}hu{/if}">
				{if $cmb->stsResultConfirm eq '1'}
				{/if}
				<div class="corner"></div>
				<div class="check"></div>
				<div class="tile-body">
					<img src='{$host}assets/files/isi_formulir.png' height='65px' style='margin-top:10px;'>
				</div>
				<div class="tile-object">
					Daftar Ulang
					<div class="number">5</div>
				</div>
			</div>
		</div>
		<div class='col-lg-2 col-sm-6 row-in-br text-center' {if $cmb->sts_berkas eq '1' }style="background:
			#ffb200;"{/if}>
			<div class="tile selected {if $cmb->stsPribadiConfirm eq '1'}selected bg-yellow-gold {else} bg-grey-cascade{/if}"
				id="{if $cmb->stsResultPass neq '1'}du{/if}">
				{if $cmb->stsReapplyPaidConfirm eq '1'}
				{/if}
				<div class="corner"></div>
				<div class="check"></div>
				<div class="tile-body">
					<img src='{$host}assets/files/daftar_ulang.png' height='65px' style='margin-top:10px;'>

				</div>
				<div class="tile-object">
					Jadwal<br>Perkuliahan
				</div>
				<div class="number">6</div>
			</div>
		</div>
	</div>
</div>