
<div class="row ">
	<div class="col-md-12">

		<div class="white-box"  style="background-color:#a51913;color:#fff">
			<div class="promo-page">
				<!-- BEGIN PAGE CONTENT-->
				<div class="block-carousel">
					<div id="promo_carousel" class="carousel slide">
						<div class="container">
							<div class="carousel-inner">
								<div class="active item">
									<div class="row" style="padding-top: 60px;">
										<div class="col-md-6 margin-bottom-20 " >
											
											<!-- <h1 style="color:#fff;font-size: 35px;font-weight: 300;letter-spacing: 2px;">Selamat bergabung dan menjadi bagian <br>
												<font style="font-size: 40px;font-weight: 500;">Keluarga Besar Universitas Bakrie</font>
											</h1> -->

											<img src="{$host}assets/foto/smart-selamat.png" class="img-responsive" >
											
											
										</div>
										<!-- <div class="col-md-5 animated rotateInDownLeft">
											<a href="index.html"><img src="{$host}assets/img/man-winner.png" alt="" class="img-responsive"></a>
										</div> -->
										<div class="col-md-6  margin-bottom-20 ">
											{if $jenjang eq 1}
											{$data.welcome_text}
											{else}
											{$data.welcome_text_mm}
											{/if}
										</div>
									</div>
								</div>
							</div>
						</div>
				
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
	</div>
</div>