
<script src="{$host}assets/js/customjs.js"></script>
<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<h3 class="box-title m-b-0">Data Asuransi</h3>
			<p class="text-muted m-b-30 font-13"></p>
			<hr>
			<form action="#" class="formPendidikan form-horizontal" method="post" enctype="multipart/form-data">
				<div class="form-body col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label class=" col-md-5" style="text-align:left;">Nama Ibu Kandung
								<span class="required">*</span>
							</label>
							<div class="col-md-7">
								<input  value="{$ortu->ibuNama|default:''}" disabled  required type="text" class="form-control" name="namaIbu" id="namaIbu">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">No HP orang tua
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
									<input  value="{$ortu->ibuCell|default:''}" disabled required type="text" class="form-control" name="hpIbu" id="hpIbu" value="">
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Nama Ayah/Wali
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input value="{$ortu->ayahNama|default:''}" disabled required type="text" class="form-control" name="namaAyah" id="namaAyah" >
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Propinsi
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<select class="form-control" name="propIbu" id="propinsi" required disabled>
										{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuPropNama}</option>{else}
												<option value="">--Pilih Propinsi--</option>
												{foreach name=loop from=$wil item=row}
												<option value="{$row->kode}" >{$row->nama}</option>
												{/foreach}
										{/if}
										</select>
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Pendidikan
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input  value="{$ortu->pendidikan|default:''}" disabled required type="text" class="form-control" name="pendidikan" id="pendidikan">
								</div>
						</div>
					</div>
					<div class="col-md-6">
							<div class="form-group">
									<label class=" col-md-5" style="text-align:left;">Kab/Kota
								<span class="required">*</span>
									<span class="required">*</span>
									</label>
									<div class="col-md-7">
											<select class="form-control" name="kabIbu" id="kabkota" disabled>
											{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuKabNama}</option>{/if}	
											</select>
									</div>
							</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Pekerjaan
								<span class="required">*</span>
								</label>
								<div class="col-md-7">
										<input  value="{$ortu->pekerjaan|default:''}" disabled required type="text" class="form-control" name="pekerjaan" id="pekerjaan">
								</div>
						</div>
					</div>
				<div class="col-md-6">
					<div class="form-group">
							<label class=" col-md-5" style="text-align:left;">Kode Pos
							<span class="required">*</span>
							</label>
							<div class="col-md-7">
									<select class="form-control" name="kposIbu" id="kodepos" disabled>
										{if $ortu->statusKeluarga eq 1}<option value="">{$ortu->ibuKodePosNama}</option>{/if}		
									</select>
							</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Alamat
							<span class="required">*</span></label>
								<div class="col-md-7">
										<textarea class="form-control " name="alamatIbu" rows="5" id="alamatIbu" disabled>{if $ortu->ibuAlamat}{$ortu->ibuAlamat}{/if}</textarea>
								</div>
						</div>
				</div>
				<div class="col-md-6">
						<div class="form-group">
								<label class=" col-md-5" style="text-align:left;">Yang membiayai kuliah
							<span class="required">*</span></label>
							<div class="col-md-7">
								<input  value="{$ortu->sumber_biaya|default:''}" disabled required type="text" class="form-control" name="sumber_biaya" id="sumber_biaya">
							</div>
						</div>
				</div>
				</div>
				</form>
			</form>
		</div>
	</div>
</div>