<!-- BEGIN FORM-->
<form action="{$host}smb/editProfil/edit/save" enctype="multipart/form-data"
    class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
    <div class="portlet box card">
        <div class="portlet-body form" >
            <div class="form-body" style="font-size:bold">
                <h3 class="form-section" style="margin-bottom: 0px; margin-top: 12px;">DATA DIRI</h3>
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:left;width: 220px;">Nama Lengkap
                    </label>
                    <div class="col-md-9" style="height: 46px; padding-left: 35px; padding-top: 5px;">
                        <label>
                            <h4>{$cmb->nama_cm}</h4>
                        </label>
                        <input value="{$cmb->kode_smb}" name="kode" hidden>
                        <input value="{$cmb->no_smb}" name="noreg" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:left;width: 220px;">Program Studi
                    </label>
                    <div class="col-md-9" style="height: 46px; padding-left: 35px; padding-top: 5px;">
                        <label>
                            <h4>{$cmb->progdi} <a class="label label-sm label-primary" href="#ubah_prodi" data-toggle="modal"><i class="icon-pencil"></i></a></h4>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <h3 class="form-section" style="margin-bottom: 0px;margin-top: 12px;">Change Password
                </h3>
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:left;width: 220px;">Username / Email
                    </label>
                    <div class="col-md-9" style="height: 46px; padding-left: 35px; padding-top: 5px;">
                        <label>
                            <h4>{$cmb->kode_smb}</h4>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:left;width: 220px;">New Password
                    </label>
                    <div class="col-md-5" style="height: 46px; padding-left: 35px; padding-top: 5px;">
                        <input type="password" class="form-control" id="newPass" name="newPass"
                            style="text-align: left;" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" style="text-align:left;width: 220px;">Confirm Password
                    </label>
                    <div class="col-md-5" style="height: 46px; padding-left: 35px; padding-top: 5px;">
                        <input type="password" class="form-control" id="confirmPass" name="confirmPass"
                            style="text-align: left;" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn default" data-dismiss="modal">Reset</button>
                    <button type="submit" class="btn blue" id="save" value="passW" name="opt">Simpan <i
                            class="icon-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="ubah_prodi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog  modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Jurusan</h4>
            </div>
            <div class="modal-body">
                <form action="{$host}smb/change_prodi/update" class="form-horizontal" method="post">
                    <input name='kode_cmb' value='{$cmb->kode_smb}' hidden>
                    <input name='noreg_cmb' value='{$cmb->no_smb}' hidden>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">Jurusan</label>
                            <div class="col-md-10">
                                <select class="form-control" id="prodi" name="prodi">
                                    {foreach from=$prodi item=row}
                                    <option value="{$row.kode}" {if $row.kode eq $cmb->
                                        kodeProdi}selected{/if}>{$row.nama}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn blue" id="save" value="edit" name="opt"> Simpan <i
                                class="icon-plus"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form_sample_1").validate({
            rules: {
                newPass: {
                    required: true, minlength: 5
                },
                confirmPass: {
                    required: true, equalTo: "#newPass", minlength: 5
                }
            }
        });
    });
</script>