<form action="{$host}smb/berkas/save" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
    <div class="portlet box card">
        <div class="portlet-body form" >
            <div class="form-body" style="font-size:bold">
                <h3 class="form-section" >Kelengkapan Berkas</h3>
                <input name="kode" value="{$prof->kode_smb}" hidden>
                <input name="nomor" value="{$prof->no_smb}" hidden>
                <input name="jenjang" value="{$prof->jenjang}" hidden>
                {if isset($berkas_test) && $berkas_test}
                <div class="form-group">
                    <label class="control-label col-md-8" style="text-align:left;">File Ijazah</label>
                    <div class="col-md-3" >
                        <a class='btn btn-xs btn-default' href="{$host}assets/upload/magister/{$prof->no_smb}/{$berkas_test.fc_ijazah}" target="_blank" title='File Ijazah'><i class="icon icon-file"></i> {$berkas_test.fc_ijazah|truncate:25:".."}</a>
					</div>
                    <div class="col-md-1" >
                        <label>
                            <input type="checkbox"  {if $berkas_test.fc_ijazah neq ''}checked{/if} readonly>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8" style="text-align:left;">Transkrip Nilai</label>
                    <div class="col-md-3" >
                        <a class='btn btn-xs btn-default' href="{$host}assets/upload/magister/{$prof->no_smb}/{$berkas_test.fc_transkrip}" target="_blank" title='File Transkrip Nilai'><i class="icon icon-file"></i> {$berkas_test.fc_transkrip|truncate:25:".."}</a>
					</div>
                    <div class="col-md-1" >
                        <label>
                            <input type="checkbox"  {if $berkas_test.fc_transkrip neq ''}checked{/if} readonly>
                        </label>
                    </div>
                </div>
                {/if}
				{if $stsberkas neq 0}
				{foreach from=$berkas item=row}
				<div class="form-group">
                    <label class="control-label col-md-8" style="text-align:left;">{$row.nama_berkas}</label>
                    <div class="col-md-3" >
                        {if $cmb->jenjangType eq 1}
                        <a class='btn btn-xs btn-default' href="{$host}assets/upload/pemberkasan/{$prof->no_smb}/{$dokumen.{$row.field}}" target="_blank" title='{$dokumen.{$row.field}}'><i class="icon icon-file"></i> {$dokumen.{$row.field}|truncate:15:".."}</a>
                        {elseif $cmb->jenjangType eq 2}
                        <a class='btn btn-xs btn-default' href="{$host}assets/upload/magister/{$prof->no_smb}/{$dokumen.{$row.field}}" target="_blank" title='{$dokumen.{$row.field}}'><i class="icon icon-file"></i> {$dokumen.{$row.field}|truncate:15:".."}</a>
                        {elseif $cmb->jenjangType eq 3}
                        <a class='btn btn-xs btn-default' href="{$host}assets/upload/kk/{$prof->no_smb}/{$dokumen.{$row.field}}" target="_blank" title='{$dokumen.{$row.field}}'><i class="icon icon-file"></i> {$dokumen.{$row.field}|truncate:15:".."}</a>
                        {/if}
					</div>
                    <div class="col-md-1" >
                        <label>
                            <input type="checkbox" name='{$row.id_berkas}' value="1" 
								{if $row.status eq '1'}checked{/if}>
                        </label>
                    </div>
                </div>
                {/foreach}
                <div class="form-group">
                    <br>
                    <small class="col-md-12 text-danger">*) Centang dan simpan form dokumen untuk konfirmasi kelengkapan berkas Calon Mahasiswa Baru</small>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn default" data-dismiss="modal">Reset</button>
                    <button type="submit" class="btn blue" id="save" value="passW" name="opt">Simpan <i class="icon-save"></i>
                    </button>
                </div>
				{else}
                <br>
                <h4 class="label label-danger">Berkas belum diupload!</h4>
                <hr>
                {/if}
            </div>
        </div>
    </div>
</form>