
		<div class="invoice">
            <div class="row invoice-logo" style="border-bottom: 2px solid rgb(0, 0, 0);">
               <div class="col-xs-8 invoice-logo-space">
				<img src="https://www.bakrie.ac.id/images/joomlart/Logo_universitas_bakrie.png" alt="" height="42px" style="margin-top: -17px;"/> 
				<h2 style="margin-top: 10px; margin-left: 12px;">REGISTRATION FORM (S{$prof->jenjang})</h2>
			   </div>
               <div class="col-xs-4">
			   {if $prof->jenjang eq 1}
			   <ul class="list-unstyled">			
			   </ul>
			   {else}
			   <ul class="list-unstyled">
					
			   </ul>
			   {/if}
               </div>
            </div>
            <div class="row">
               <div class="col-xs-4">
			    <ul class="list-unstyled">
					{if $prof->jenjang eq '1'}<h4>PROGRAM STUDI PILIHAN</h4>{else}<h4>MAJOR </h4>{/if}
					{foreach from=$prodi item=row}
						{if $row->jenjang eq $prof->jenjang}
							<li><i class="icon-check{if $prof->proKode eq $row->kode}{else}-empty{/if}"></i> {$row->nama} </li>
						{/if}
					{/foreach}
						<!-- <li><i class="icon-check{if $prof->proKode eq '1202'}{else}-empty{/if}"></i> Desain Produk Industri </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1204'}{else}-empty{/if}"></i> Falsafah dan Agama </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1205'}{else}-empty{/if}"></i> Hubungan Internasional </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1206'}{else}-empty{/if}"></i> Ilmu Komunikasi </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1208'}{else}-empty{/if}"></i> Manajemen </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1207'}{else}-empty{/if}"></i> Psikologi </li> -->
						<!-- <li><i class="icon-check{if $prof->proKode eq '1203'}{else}-empty{/if}"></i> Teknik Informatika </li> -->
				
				</ul>
               </div>
               <div class="col-xs-3">
				{if $prof->foto neq ''}
					<img src="{$host}assets/upload/foto/{$prof->foto}" width="120px" style="margin-top:35px"/>
				{else}
                    <img src="{$host}assets/img/ava.png"  width="120px" style="margin-top:35px"/>
				{/if}
               </div>
               <div class="col-xs-5">
				  {if $prof->jenjang eq 1}
                  <h4>LAMPIRAN DOKUMEN</h4>
					<ul class="list-unstyled">
						<!-- <li><i class="icon-check-empty"></i> Fotokopi Ijazah SMA yang sudah dilegalisir </li> -->
						<!-- <li><i class="icon-check-empty"></i> Fotokopi rapor SMA dari kelas 1 s.d kelas 3 SMA </li> -->
						<!-- <li><i class="icon-check-empty"></i> Fotokopi KTP Orangtua/Wali </li> -->
						<!-- <li><i class="icon-check-empty"></i> Foto 3x4 berwarna 2 lembar </li> -->
						<li><i class="icon-check-empty"></i>Fotocopy identitas diri: KTP/SIM/Kartu Pelajar </li>
						<li><i class="icon-check-empty"></i>Fotocopy identitas orang tua/wali:  </li>
						<li><i class="icon-check-empty"></i>Fotocopy akte kelahiran </li>
						<li><i class="icon-check-empty"></i>Fotocopy Kartu Kerluarga
						<li><i class="icon-check-empty"></i>Surat keterangan bebas narkoba </li>
						<li><i class="icon-check-empty"></i>Surat keterangan sehat dari puskesmas / RS </li>
						<li><i class="icon-check-empty"></i>Surat keterangan tidak buta warna dari puskesmas / RS </li>
						<li><i class="icon-check-empty"></i>Fotocopy surat keterangan catatan kepolisian (SKCK) </li>
						<li><i class="icon-check-empty"></i>Fotocopy rapor </li>
						<li><i class="icon-check-empty"></i>Fotocopy SKHUN yang sudah dilegalisir </li>
						<li><i class="icon-check-empty"></i>Fotocopy Ijazah SMA yang sudah dilegalisir </li>
						<li><i class="icon-check-empty"></i>Surat pernyataan mahasiswa baru </li>
					</ul>
					{else}
                  <h4>REQUIRED DOCUMENTS</h4>
					<ul class="list-unstyled">
						<li><i class="icon-check-empty"></i> Copy of bachelor degree Diploma (Certified by University)* </li>
						<li><i class="icon-check-empty"></i> Photo 3x4 (Color, 2 pcs) </li>
						<li><i class="icon-check-empty"></i> Family register (KK) or birth certicate</li>
						<li><i class="icon-check-empty"></i> Copy of valid ID (KTP) or Passport</li>
						<li><i class="icon-check-empty"></i> Curriculum vitae</li>
						<li><i class="icon-check-empty"></i> Transcript*</li>
						<li><i class="icon-check-empty"></i> Letter of recomendation (from 2 source : academic & profesional)</li>
						<li><i class="icon-check-empty"></i> Statement of purpose</li>
						<li><i class="icon-check-empty"></i> Copy of TOEFL result (taken in the last 2 years)</li>
						<li> <i>* Or submit a copy of document and show the original on admission day</i> </li>
						<li> <i>Foreign graduates must get certification of degree from Dikti</i> </li>
					</ul>					
					{/if}
               </div>
            </div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>NO. REGISTRASI : {$prof->no_smb}</h4>
				</div>
			</div>
            <div class="row">
				<div class="col-xs-12">
					<h4>DATA PRIBADI</h4>
				</div>
               <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Nama Lengkap </th>
                           <td>{$prof->nama_cm}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Jenis Kelamin</th>
                           <td>
							   <i class="icon-check{if $prof->kodeGender eq '03.W'}-empty{/if}"></i> Laki-laki 
							   <i class="icon-check{if $prof->kodeGender eq '03.P'}-empty{/if}"></i> Perempuan
						   </td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Tempat/Tanggal Lahir</th>
                           <td>{$prof->tempatLahir}, {$prof->tLahir} {$prof->bLahir} {$prof->yLahir}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Agama</th>
                           <td>{$prof->agamaName}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>No KTP/SIM/KTS/Paspor</th>
                           <td>{$prof->nomorKtp}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Asal Sekolah</th>
                           <td>{$prof->namaEdu}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Jurusan</th>
                           <td>
							 <i class="icon-check{if $prof->jurusan eq 'IPA'}{else}-empty{/if}"></i> IPA 
							 <i class="icon-check{if $prof->jurusan eq 'IPS'}{else}-empty{/if}"></i> IPS
							 <i class="icon-check{if $prof->jurusan eq 'Bahasa'}{else}-empty{/if}"></i> Bahasa
							 <i class="icon-check{if $prof->jurusan neq 'IPA' or $prof->jurusan neq 'IPS' or $prof->jurusan neq 'Bahasa'}-empty{else}{/if}"></i> Lainnya
						   </td>
                        </tr>
						<tr style="border-bottom: 1px solid #DDDDDD;">
							<td></td>
						</tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Alamat Rumah </th>
                           <td>{$prof->rumahAlamat} {$prof->kabKotaNama} {$prof->propNama}, {$prof->kodePos}</td>
                        </tr>						
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Telpon/Fax</th>
                           <td>{$prof->rumahTel} / {$prof->rumahFax}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Kontak</th>
                           <td><b>Hp</b> : {$prof->rumahCell} <b>e-mail</b> : {$prof->kode_smb}</td>
                        </tr>
						<tr style="border-bottom: 1px solid #DDDDDD;">
							<td></td>
						</tr>
						<tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Alamat Surat </th>
                           <td>{$prof->suratAlamat}, {$prof->suratProp}, {$prof->suratKodPos}</td>
                        </tr>						
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
						   <th>Telpon/Fax</th>
                           <td>{$prof->suratTel} / {$prof->suratFax}</td>
                        </tr>
                     </thead>
                  </table>
               </div>
            </div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>RIWAYAT PENDIDIKAN FORMAL</h4>
				</div>
               <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr style="border: 1px solid #DDDDDD;">
                           <th></th>
                           <th>Nama Sekolah</th>
                           <th>Kota</th>
                           <th>Tahun Lulus</th>
                           <th>Jurusan</th>
                           <th>NIM/IPK</th>
                        </tr>
					 </thead>
					 <tbody>
                      {foreach name=loop from=$eduList item=row}
						<tr style="border: 1px solid #DDDDDD;">
						   <td><b>{$row->sekolahNama}</b></td>
						   <td>{$row->sekolah}</td>
						   <td>{$row->kabNama}</td>
						   <td>{$row->tahunLulus}</td>
						   <td>{$row->jurusan}</td>
						   <td>{$row->nilai}</td>
                        </tr>
					  {/foreach}
					 </tbody>
				  </table>
			   </div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>KEGIATAN ORGANISASI & EKSTRAKURIKULER</h4>
				</div>
               <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr style="border: 1px solid #DDDDDD;">
                           <th>Nama Kegiatan</th>
                           <th>Jabatan</th>
                           <th>Tempat</th>
                           <th>Tahun Mulai</th>
                           <th>Tahun Selesai</th>
                        </tr>
					 </thead>
					 <tbody>
					 {foreach name=loop from=$organisasi item=row}
						<tr style="border: 1px solid #DDDDDD;">
                           <td>{$row->namaKegiatan}</td>
						   <td>{$row->jabatan}</td>
						   <td>{$row->tempat}</td>
						   <td>{$row->dariTahun}</td>
						   <td>{$row->sampaiTahun}</td>
                        </tr>
					 {/foreach}
					 </tbody>
				  </table>
			   </div>
			</div>			
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>PRESTASI ATAU PENGHARGAAN YANG PERNAH DIPEROLEH</h4>
				</div>
               <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr style="border: 1px solid #DDDDDD;">
                           <th>Nama Penghargaan</th>
                           <th>Intuisi Pemberi & Tempat</th>
                           <th>Tahun</th>
                        </tr>
					 </thead>
					 <tbody>
						{foreach name=loop from=$prestasi item=row}
						<tr style="border: 1px solid #DDDDDD;">
                           <td>{$row->namaPrestasi}</td>
						   <td>{$row->namaInstitusi}</td>
						   <td>{$row->tahun}</td>
                        </tr>
						{/foreach}
					 </tbody>
				  </table>
			   </div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<h4>DATA KELUARGA</h4>
				</div>
               <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
						<tr >
                           <th><h5>AYAH/WALI</h5></th>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Nama Ayah/Wali</th>
                           <td>{$ortu->ayahNama}{$ortu->waliNama}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Email Ayah/Wali</th>
                           <td>{$ortu->ayahEmail}{$ortu->waliEmail}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Alamat Rumah</th>
                           <td>{$ortu->ayahAlamat}, {$ortu->ayahPropNama}, {$ortu->ayahKodePosNama}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Kontak</th>
                           <td><b>Telp</b> : {$ortu->ayahTel} <b>Hp</b> : {$ortu->ayahCell}</td>
                        </tr>
						<tr style="border-bottom: 1px solid #DDDDDD;">
							<td></td>
						</tr>	
						<tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Nama Ibu</th>
                           <td>{$ortu->ibuNama}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Email Ibu</th>
                           <td>{$ortu->ibuEmail}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Alamat Rumah</th>
                           <td>{$ortu->ibuAlamat}, {$ortu->ibuPropNama}, {$ortu->ibuKodePosNama}</td>
                        </tr>
                        <tr style="border: 1px solid #DDDDDD; background-color:#F9F9F9;">
                           <th>Kontak</th>
                           <td><b>Telp</b> : {$ortu->ibuTel} <b>Hp</b> : {$ortu->ibuCell}</td>
                        </tr>
					 </thead>
				  </table>
			   </div>
			   <br>
			   <div class="col-xs-12">
					<h4>Saudara yang pernah/sedang berkuliah di Universitas Bakrie</h4>
			   </div>
			   <div class="col-xs-12">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr style="border: 1px solid #DDDDDD;">
                           <th>Nama</th>
                           <th>Program Studi</th>
                           <th>NIM</th>
                           <th>Tahun</th>
                        </tr>
					 </thead>
					 <tbody>
					  {foreach name=loop from=$saudara item=row}
						<tr style="border: 1px solid #DDDDDD;">
                           <td>{$row->namaSaudara}</td>
						   <td>{$row->prodi}</td>
						   <td>{$row->nim}</td>
						   <td>{$row->angkatan}</td>
                        </tr>
					   {/foreach}
					 </tbody>
				  </table>
			   </div>
			</div>
			<br>
			<div class="row">	   
				<div class="col-xs-12">
					<h4><b>LAMPIRAN</b></h4>
				</div>
				<div class="col-xs-12">
				{*
                  <div class="well">
						{if $prof->file_ijazah neq ''}
							<h4>Ijazah</h4>					
							<object data="{$host}assets/upload/berkas/{$prof->file_ijazah}"  style="width:100%; height:640px;">
							  <p>Alternative text - include a link <a href="{$host}assets/upload/berkas/{$prof->file_ijazah}">to the PDF!</a></p>
							</object>
						{/if}
						{if !empty($rapor)}
							<h4>Rapor</h4>
							{foreach from=$rapor item=row}				
								<object data="{$host}assets/upload/berkas/{$row}"  style="width:100%; height:640px;">
								  <p>Alternative text - include a link <a href="{$host}assets/upload/berkas/{$row}">to the PDF!</a></p>
								</object>
							{/foreach}
						{/if}
						{if isset($prestasi)}
							<h4>Bukti Penghargaan</h4>	
							{foreach name=loop from=$prestasi item=row}		
								<h5>{$row->namaPrestasi}</h5>
								<object data="{$host}assets/upload/berkas/{$row->file_prestasi}"  style="width:100%; height:640px;">
								  <p>Alternative text - include a link <a href="{$host}assets/upload/berkas/{$row->file_prestasi}">to the PDF!</a></p>
								</object>
							{/foreach}
						{/if}
				  </div>
				  *}
				</div>
			</div>
            <div class="row">			   
			   <div class="col-xs-12">
					<h4><b>PERNYATAAN</b></h4>
			   </div>
               <div class="col-xs-12">
                  <div class="well">
                     <address>
                        Dengan ini Saya menyatakan mendaftarkan diri menjadi calon mahasiswa Universitas Bakrie
						dan bersedia mengikuti seleksi masuk. Saya menjamin keterangan yang saya cantumkan dalam formulir pendaftaran
						serta berkas pendukung yang Saya lampirkan adalah benar.
                     </address>
                     <address style="text-align:right;width: 970px;">
                        <strong>Jakarta,.................. </strong><br />
						<br />
						<br />
						<br />
						<br />
                        <strong>{$prof->nama_cm}</strong><br />
                     </address>
                  </div>
               </div>
               <div class="col-xs-8 invoice-block">
                  <br />
                  <a class="btn btn-lg blue hidden-print" onclick="javascript:window.print();">Print <i class="icon-print"></i></a>
				  <p> * Gunakan Chrome untuk konfigurasi halaman print yang lebih mudah</p>
               </div>
            </div>
         </div>