
<!-- <div class="row "> -->
	<div class="col-md-12">
		<div class="white-box printableArea">
				<div class="invoice">
					<div class="row ">
						<div class='col-md-12'>
							<div class="col-sm-6 col-md-6 col-xs-12 invoice-logo-space text-right">
								<img src="{$host}assets/files/logo_bakrie.png" alt="" height="35px"/>
							</div>
							<div class="col-sm-6 col-md-6 col-xs-12 invoice-logo-space text-left" style="text-align: center;">
								<h4>| Kartu Tanda Peserta Seleksi</h4>
							</div>
						</div>
					</div>
					<br>
					<br>
					<div class="well row" style="font-size:12px;background-color:#e6e6e6;color:black;">            
						<div class="invoice-payment" >
							<ul class="list-unstyled col-md-12">
								<li>
									<label class="col-md-4">Nama </label>
									<label class="col-md-8">: {$jadwal->namaCmb}</label>
								</li>
								<li>
									<label class="col-md-4">Nomor Formulir</label>
									<label class="col-md-8">: {$jadwal->nomor}</label>
								</li>
								<li>
									<label class="col-md-4">Program Studi</label>
									<label class="col-md-8">: {$jadwal->progdi}</label>
								</li>
								<li>
									<label class="col-md-4">Jalur Seleksi</label>
									<label class="col-md-8">: {$jadwal->jalur_penerimaan}</label>
								</li>
							</ul>
							<div class='col-md-12'>
								<div class="col-md-6" style="font-size:11px;">
									<label>Tanggal Ujian</label>
									<ul class="list-unstyled" >
										<li style="border: 1px solid;padding: 4px;" >{$jadwal->hari}, {$jadwal->days} {$jadwal->bulan} {$jadwal->tahun}</li>
									</ul>
									<ul class="list-unstyled">
										<li style="border: 1px solid;padding: 4px;">{$jadwal->jamMasuk} - {$jadwal->jamKeluar}</li>
									</ul>
								</div>
								<div class="col-md-6" style="font-size:11px;">
									<label>Lokasi Ujian</label>
									<ul class="list-unstyled">
										<li style="border: 1px solid;padding: 4px;">
											{$jadwal->namaGedung}, Ruang {$jadwal->namaRuang}<br>
											Universitas Bakrie, Kawasan Rasuna Epicentrum <br>
											{$jadwal->prop}, {$jadwal->kabKota} <br>
											{$jadwal->alamat}, {$jadwal->kodePos}
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12" style="font-size:12px;">
								<h4>Materi Ujian Tes :</h4>
								<ul class="list-unstyled">       
									<li>1. Bahasa Inggris & Matematika</li>
									<li>2. IPA Terpadu / IPS Terpadu</li>
									<br> 
									<br> 
									<li>Peserta berpakaian rapi dan sopan,</li>
									<li>Peralatan yang wajib dibawa saat tes :</li>
									<li>Pensi 2B, Penghapus, Rautan Pensil,</li>
									<li>Clipboard (Papan Jalan)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
				<br>
				<br>
					<div class="row hidden-print">
						<div class=" col-xs-12 invoice-block">
							<ul class="list-unstyled amounts">
								<br>
								<!-- <a class="btn btn-danger hidden-print" >PRINT <i class="icon-print"></i></a> -->
								<a class="btn btn-default btn-outline" type="button" href="{$host}smb/generateJadwalPdf/{$kode}"> <span><i class="fa fa-print"></i> Print</span> </a>
							  
								<br>
								<br>
								<br>
								<span>Untuk peserta Tes Tulis, kartu ujian wajib di print.</span>
								<br>
								<span>Note : Gunakan browser Chrome untuk lebih mudah memodifikasi halaman print</span>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row col-sm-2"></div>
		</div>
	</div>
<!-- </div> -->
