<style>
   .profile label{
      margin-top: 4px;
   }
</style>
<div class="row profile">
   <div class="col-md-12">
      <!--BEGIN TABS-->
      <div class="tabbable tabbable-custom tabbable-full-width">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1_1" data-toggle="tab">Profil {if $prof->statusAlamat eq 0}<span class="badge badge-important">!!{/if}</a></li>
            <li><a href="#tab_1_3" data-toggle="tab">Data Asuransi {if $ortu->statusKeluarga neq 1}<span class="badge badge-important">!!{/if}</a></li>
            <li><a href="#tab_1_4" data-toggle="tab">Prestasi & Organisasi</a></li>
            {if $cmb->jenjangType eq 1}
            <li><a href="#tab_1_7" data-toggle="tab">Approval Rapor</a></li>
            {/if}
            <li><a href="#tab_1_5" data-toggle="tab">Kelengkapan Berkas {if $stsberkas eq 0}<span class="badge badge-important">!!{/if}</a> </li>
            <li><a href="#tab_1_6" data-toggle="tab">Akun</a></li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
               <div class="portlet card">
                  <div class="row">
                     <div class="col-md-12">
                     <div class="col-md-9">
                        <div class="row">
                           <div class="col-md-10 profile-info">
                              <h1 class="bold">{$cmb->nama_cm} {if $cmb->validation_status eq 0}
                                 <a href="{$host}registrasi/validasi/{$cmb->validation_key}/{$cmb->kode_smb|base64_encode}"
                                    target='blank_' class='btn btn-xs btn-danger'><i class="icon-check"></i> Aktifasi Akun</a><br>
                                    <small class="label label-sm label-warning"><i class="icon-info-sign"></i> Peserta belum melakukan aktifasi akun smart.</small>
                                 {/if} 
                                 {if $prof->nim neq ''}
                                 <br>
                                 <small class="label label-sm label-success"><i class="icon-check-sign"></i> Peserta sudah mendapatkan NIM.</small><br>
                                 {/if}
                              </h1>
                              <div class="row">
                              <label class="col-md-3 bold">Nomor Pendaftaran</label><label class="col-md-9">: {$prof->no_smb}</label><br></div>
                              {if $prof->nim neq ''}
                              <div class="row">
                              <label class="col-md-3 bold">NIM</label><label class="col-md-9">: {$prof->nim}</label><br></div>
                              {/if}
                              <div class="row">
                              <label class="col-md-3 bold">Email</label><label class="col-md-9">: {$prof->kode_smb}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Nomor KTP</label><label class="col-md-9">: {$prof->nomorKtp}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">No Handphone</label><label class="col-md-9">: {$prof->rumahCell}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Jenis Kelamin</label><label class="col-md-9">: {$prof->gender}</label><br></div>
                              <div class="row">
                                 <label class="col-md-3 bold">Tempat/Tanggal Lahir</label><label class="col-md-8">: {if isset($prof->tempatLahir)}{$prof->tempatLahir}{/if}
                                    {if $prof->tLahir neq 0}, {$prof->tLahir} {$prof->bLahir} {$prof->yLahir}{/if}
                                    <a class="label label-primary grey" href="#ubah_tgl_lahir" data-toggle="modal">
                                       <i class="icon-pencil"></i></a>
                                 </label><br>
                              </div>
                              <div class="row">
                              <label class="col-md-3 bold">Agama</label><label class="col-md-9">: {$prof->agamaName}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Alamat</label><label class="col-md-9">: {$prof->rumahAlamat} {if isset($prof->propNama)},
                                 {$prof->propNama}{/if}{if isset($prof->kabKotaNama)}, {$prof->kabKotaNama}{/if}{if
                                 isset($prof->kodePos)}, {$prof->kodePos}{/if}
                              </label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Jenis Kelamin</label><label class="col-md-9">: {$prof->gender}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Sekolah Asal</label><label class="col-md-9">: {if isset( $eduData->sekolah)} {$eduData->sekolah} -
                                 {$eduData->propNama}, {$eduData->kabNama} {$eduData->kodeposN}{/if}
                              </label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">Program Pilihan</label><label class="col-md-9">: S{if $prof->jenjangType eq 3}1{else}{$prof->jenjangType}{/if} - {$prof->progdi}</label><br></div>
                              <div class="row">
                              <label class="col-md-3 bold">HP Orang Tua</label><label class="col-md-9">: {$prof->ayahCell}</label><br></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                           <li>
                              {if $cmb->foto eq ''}
                              <img src="{$host}assets/img/ava.png" class="img-responsive" alt="" />
                              {else}
                              <img src="{$host}assets/upload/foto/{$cmb->foto}" class="img-responsive" alt="" />
                              {/if}
                              <a href="#" class="profile-edit">edit</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  </div>
                  <div class="row margin-top-20">
                     <div class="col-md-12">
                        <!--end row-->
                        <div class="tabbable tabbable-custom tabbable-custom-profile">
                           <ul class="nav nav-tabs">
                              <li class="active"><a href="#tab_1_22" data-toggle="tab">Tahap pendaftaran</a></li>
                              <!-- <li ><a href="#tab_1_22" data-toggle="tab">Status Pendaftaran</a></li> -->
                           </ul>
                           <div class="tab-content">
                              <div class="tab-pane active" id="tab_1_22">
                                 <div class="tab-pane active" id="tab_1_1_1">
                                    <div class="scroller" data-height="290px" data-always-visible="1"
                                       data-rail-visible1="1">
                                       <ul class="feeds">
                                          <li>
                                             <div class="col1">
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      {if $cmb->validation_status eq '1'}
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Pendaftaran
                                                      </div>
                                                   </div>
                                                   {/if}
                                                </div>
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->validation_status eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->stsApplyPaidConfirm eq '1'}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Pembayaran Pendaftaran
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Pembayaran Pendaftaran
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->stsApplyPaidConfirm eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->stsPribadiConfirm eq '1'}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Lengkapi Formulir Pendaftaran
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Lengkapi Formulir Pendaftaran
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->stsPribadiConfirm eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->stsEventConfirm eq '1'}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Jadwal Ujian
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Jadwal Ujian
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->stsEventConfirm eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->stsResultConfirm eq '1'}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Hasil Ujian
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Hasil Ujian
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->stsResultConfirm eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->stsReapplyPaidConfirm eq '1'}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Pendaftaran Ulang
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Pendaftaran Ulang
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->stsReapplyPaidConfirm eq '1'}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                          <li>
                                             <div class="col1">
                                                {if $cmb->nim neq ''}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-info">
                                                         <i class="icon-ok-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Mendapatkan NIM
                                                      </div>
                                                   </div>
                                                </div>
                                                {else}
                                                <div class="cont">
                                                   <div class="cont-col1">
                                                      <div class="label label-default">
                                                         <i class="icon-minus-sign"></i>
                                                      </div>
                                                   </div>
                                                   <div class="cont-col2">
                                                      <div class="desc">
                                                         Mendapatkan NIM
                                                      </div>
                                                   </div>
                                                </div>
                                                {/if}
                                             </div>
                                             <div class="col2">
                                                <div class="date">
                                                   {if $cmb->nim neq ''}
                                                   Finished
                                                   {else}
                                                   Waiting
                                                   {/if}
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <!--tab-pane-->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--tab_1_2-->
            <div class="tab-pane" id="tab_1_3">
               <div class=" profile-account">
                  <div class="col-md-12">
                     <div class="portlet card">
                        {include file="smb/formAsuransi.html"}
                     </div>
                  </div>
               </div>
            </div>
            <!--end tab-pane-->
            <div class="tab-pane" id="tab_1_4">
               <div class="row">
                  <div class="col-md-12">
                     {include file="smb/tblPendidikan.html"}
                  </div>
                  <div class="col-md-12">
                     {include file="smb/tblPrestasi.html"}
                  </div>
                  <div class="col-md-12">
                     {include file="smb/tblOrganisasi.html"}
                  </div>
               </div>
            </div>
            <!--end tab-pane-->
            <div class="tab-pane" id="tab_1_5">
               <div class="">
                  <div class="col-md-12">
                           {include file="smb/kelengkapanBerkas.html"}
                  </div>
               </div>
            </div>
            <!--end tab-pane-->
            <div class="tab-pane" id="tab_1_6">
               <div class="">
                  <div class="col-md-12">
                     {include file="smb/formAkun.html"}
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="tab_1_7">
               <div class="row">
                  <div class="col-md-12">
                     {include file="smb/nilai_rapor.html"}
                  </div>
               </div>
            </div>
            <!--end tab-pane-->
         </div>
      </div>
      <!--END TABS-->
   </div>
</div>

<div class="modal fade" id="ubah_tgl_lahir" tabindex="-1" role="basic" aria-hidden="true">
   <div class="modal-dialog  modal-small">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Edit Jurusan</h4>
         </div>
         <div class="modal-body">
            <form action="{$host}smb/change_birth_date/update" class="form-horizontal" method="post">
               <input name='kode_cmb' value='{$cmb->kode_smb}' hidden>
               <input name='noreg_cmb' value='{$cmb->no_smb}' hidden>
               <div class="form-body">
                  <div class="form-group">
                     <label class="control-label col-md-3">Tanggal lahir</label>
                     <div class="col-md-9">
                        <input class="form-control" id="tanggal_lahir" name="tanggal_lahir" placeholder="dd-mm-yyyy"
                           value="{$prof->tanggalLahir|date_format:'d-m-Y'}">
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn blue" id="save" value="edit" name="opt"> Simpan <i
                        class="icon-plus"></i></a>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- /.modal-content -->
</div>