<div class="portlet light " style="margin-left:16px;margin-right:16px;margin-top:16px;">	
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-blue-hoki bold uppercase">Nilai Rapor  {if $cmb->edit_ke}<small>(nilai telah diedit ke {$cmb->edit_ke} kali)</small>{/if}</span>
		</div>
		<br>
	</div>
	<div class="portlet-body" >
		Jurusan di Sekolah : {$cmb->jurusan}<br>		
		Status verifikasi Rapor: {if $cmb->approval_rapor eq ''}Belum diproses{else if $cmb->approval_rapor eq 1}Disetujui{else}Ditolak{/if}<br>
		
		{if $cmb->jurusan eq 'SMK'}
		File Rapor : <br>
		Kelas 10 Sem 1 : <a href='{$host}assets/upload/rapor/{$cmb->file_rapor_10_1}' target='_blank'>{$cmb->file_rapor_10_1}</a><br>
		Kelas 10 Sem 2 : <a href='{$host}assets/upload/rapor/{$cmb->file_rapor_10_2}' target='_blank'>{$cmb->file_rapor_10_2}</a><br>
		Kelas 11 Sem 1 : <a href='{$host}assets/upload/rapor/{$cmb->file_rapor_11_1}' target='_blank'>{$cmb->file_rapor_11_1}</a><br>
		Kelas 11 Sem 2 : <a href='{$host}assets/upload/rapor/{$cmb->file_rapor_11_2}' target='_blank'>{$cmb->file_rapor_11_2}</a><br>
		
		{else}
		<br>
		<br>
		<div class="table-responsive" >
		<form id="raporForm" method="POST">
				<input name="jurusan" id="jurusan" value="{$cmb->jurusan}" hidden>
				<input name="kode" id="kode" value="{$cmb->kode_smb}" hidden>
				<input name="noreg" id="noreg" value="{$cmb->no_smb}" hidden>
				<table class="table table-light" >
					<thead>
					</thead>
					<tbody>
						<tr class='active'><th colspan='7' style='text-align:center;'>DAFTAR NILAI UMUM</th></tr>
						<tr>
							<th></th>
							<th colspan='2' style='text-align:center;' >Kelas 1</th>
							<th colspan='2' style='text-align:center;'>Kelas 2</th>
							<th colspan='2' style='text-align:center;'>Kelas 3</th>
						</tr>
						<tr border='0'>
							<th width="15%"></th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
						</tr>
						<tr>
							<th width="15%">Nilai Matematika</th>
							<th><input type="text" class="form-control" name="mat_1_1" id="mat_1_1" value="{if isset($nilai.mat_1_1.nilai)}{$nilai.mat_1_1.nilai}{else}0{/if}"  onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="mat_1_2" id="mat_1_2" value="{if isset($nilai.mat_1_2.nilai)}{$nilai.mat_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="mat_2_1" id="mat_2_1" value="{if isset($nilai.mat_2_1.nilai)}{$nilai.mat_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="mat_2_2" id="mat_2_2"  value="{if isset($nilai.mat_2_2.nilai)}{$nilai.mat_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="mat_3_1" id="mat_3_1"  value="{if isset($nilai.mat_3_1.nilai)}{$nilai.mat_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="mat_3_2" id="mat_3_2"  value="{if isset($nilai.mat_3_2.nilai)}{$nilai.mat_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr>
							<th width="15%">Nilai Bhs. Inggris</th>
							<th><input type="text" class="form-control" name="ing_1_1" id="ing_1_1" value="{if isset($nilai.ing_1_1.nilai)}{$nilai.ing_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="ing_1_2" id="ing_1_2" value="{if isset($nilai.ing_1_2.nilai)}{$nilai.ing_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="ing_2_1" id="ing_2_1" value="{if isset($nilai.ing_2_1.nilai)}{$nilai.ing_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="ing_2_2" id="ing_2_2"  value="{if isset($nilai.ing_2_2.nilai)}{$nilai.ing_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="ing_3_1" id="ing_3_1"  value="{if isset($nilai.ing_3_1.nilai)}{$nilai.ing_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="ing_3_2" id="ing_3_2"  value="{if isset($nilai.ing_3_2.nilai)}{$nilai.ing_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr class='active'><th colspan='7' style='text-align:center;'>DAFTAR NILAI SISWA JURUSAN IPA</th></tr>
						<tr>
							<th></th>
							<th colspan='2' style='text-align:center;' >Kelas 1</th>
							<th colspan='2' style='text-align:center;'>Kelas 2</th>
							<th colspan='2' style='text-align:center;'>Kelas 3</th>
						</tr>
						<tr border='0'>
							<th width="15%"></th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
						</tr>
						<tr>
							<th width="15%">Nilai Fisika</th>
							<th><input type="text" class="form-control" name="fis_1_1" id="fis_1_1" value="{if isset($nilai.fis_1_1.nilai)}{$nilai.fis_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="fis_1_2" id="fis_1_2" value="{if isset($nilai.fis_1_2.nilai)}{$nilai.fis_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="fis_2_1" id="fis_2_1" value="{if isset($nilai.fis_2_1.nilai)}{$nilai.fis_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="fis_2_2" id="fis_2_2"  value="{if isset($nilai.fis_2_2.nilai)}{$nilai.fis_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="fis_3_1" id="fis_3_1"  value="{if isset($nilai.fis_3_1.nilai)}{$nilai.fis_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="fis_3_2" id="fis_3_2"  value="{if isset($nilai.fis_3_2.nilai)}{$nilai.fis_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr>
							<th width="15%">Nilai Biologi</th>
							<th><input type="text" class="form-control" name="bio_1_1" id="bio_1_1" value="{if isset($nilai.bio_1_1.nilai)}{$nilai.bio_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="bio_1_2" id="bio_1_2" value="{if isset($nilai.bio_1_2.nilai)}{$nilai.bio_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="bio_2_1" id="bio_2_1" value="{if isset($nilai.bio_2_1.nilai)}{$nilai.bio_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="bio_2_2" id="bio_2_2"  value="{if isset($nilai.bio_2_2.nilai)}{$nilai.bio_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="bio_3_1" id="bio_3_1"  value="{if isset($nilai.bio_3_1.nilai)}{$nilai.bio_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="bio_3_2" id="bio_3_2"  value="{if isset($nilai.bio_3_2.nilai)}{$nilai.bio_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr>
							<th width="15%">Nilai Kimia</th>							
							<th><input type="text" class="form-control" name="kim_1_1" id="kim_1_1" value="{if isset($nilai.kim_1_1.nilai)}{$nilai.kim_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="kim_1_2" id="kim_1_2" value="{if isset($nilai.kim_1_2.nilai)}{$nilai.kim_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="kim_2_1" id="kim_2_1" value="{if isset($nilai.kim_2_1.nilai)}{$nilai.kim_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="kim_2_2" id="kim_2_2"  value="{if isset($nilai.kim_2_2.nilai)}{$nilai.kim_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="kim_3_1" id="kim_3_1"  value="{if isset($nilai.kim_3_1.nilai)}{$nilai.kim_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="kim_3_2" id="kim_3_2"  value="{if isset($nilai.kim_3_2.nilai)}{$nilai.kim_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr class='active'><th colspan='7' style='text-align:center;'>DAFTAR NILAI SISWA JURUSAN IPS, BAHASA dan LAINNYA</th></tr>
						<tr>
							<th></th>
							<th colspan='2' style='text-align:center;' >Kelas 1</th>
							<th colspan='2' style='text-align:center;'>Kelas 2</th>
							<th colspan='2' style='text-align:center;'>Kelas 3</th>
						</tr>
						<tr border='0'>
							<th width="15%"></th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
							<th style='text-align:center;' >Semester 1</th>
							<th style='text-align:center;' >Semester 2</th>
						</tr>
						<tr>
							<th width="15%">Nilai Ekonomi</th>
							<th><input type="text" class="form-control" name="eko_1_1" id="eko_1_1" value="{if isset($nilai.eko_1_1.nilai)}{$nilai.eko_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="eko_1_2" id="eko_1_2" value="{if isset($nilai.eko_1_2.nilai)}{$nilai.eko_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="eko_2_1" id="eko_2_1" value="{if isset($nilai.eko_2_1.nilai)}{$nilai.eko_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="eko_2_2" id="eko_2_2"  value="{if isset($nilai.eko_2_2.nilai)}{$nilai.eko_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="eko_3_1" id="eko_3_1"  value="{if isset($nilai.eko_3_1.nilai)}{$nilai.eko_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="eko_3_2" id="eko_3_2"  value="{if isset($nilai.eko_3_2.nilai)}{$nilai.eko_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr>
							<th width="15%">Nilai Sosiologi</th>
							<th><input type="text" class="form-control" name="sos_1_1" id="sos_1_1" value="{if isset($nilai.sos_1_1.nilai)}{$nilai.sos_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="sos_1_2" id="sos_1_2" value="{if isset($nilai.sos_1_2.nilai)}{$nilai.sos_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="sos_2_1" id="sos_2_1" value="{if isset($nilai.sos_2_1.nilai)}{$nilai.sos_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="sos_2_2" id="sos_2_2"  value="{if isset($nilai.sos_2_2.nilai)}{$nilai.sos_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="sos_3_1" id="sos_3_1"  value="{if isset($nilai.sos_3_1.nilai)}{$nilai.sos_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="sos_3_2" id="sos_3_2"  value="{if isset($nilai.sos_3_2.nilai)}{$nilai.sos_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr>
							<th width="15%">Nilai Geografi</th>
							<th><input type="text" class="form-control" name="geo_1_1" id="geo_1_1" value="{if isset($nilai.geo_1_1.nilai)}{$nilai.geo_1_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="geo_1_2" id="geo_1_2" value="{if isset($nilai.geo_1_2.nilai)}{$nilai.geo_1_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="geo_2_1" id="geo_2_1" value="{if isset($nilai.geo_2_1.nilai)}{$nilai.geo_2_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="geo_2_2" id="geo_2_2"  value="{if isset($nilai.geo_2_2.nilai)}{$nilai.geo_2_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="geo_3_1" id="geo_3_1"  value="{if isset($nilai.geo_3_1.nilai)}{$nilai.geo_3_1.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
							<th><input type="text" class="form-control" name="geo_3_2" id="geo_3_2"  value="{if isset($nilai.geo_3_2.nilai)}{$nilai.geo_3_2.nilai}{else}0{/if}" onchange="calculate()" disabled></th>
						</tr>
						<tr><th colspan="7"></th></tr>
						<tr class='danger'>
							<th colspan='4' >Nilai Rata-Rata</th>
							<th colspan='3' style='text-align:right;'>
								<label id="total_label">{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}</label>
								<input name="nilai_rata_rata_akhir"  id="nilai_rata_rata_akhir" value="{if isset($cmb->rata_rata_rapor)}{$cmb->rata_rata_rapor}{else}0{/if}" hidden>
							</th>
						</tr>
					</tbody>
				</table>
				{/if}										
			  <div class="modal-footer">
					 <button type="button" class="btn green" onclick="submit_form(1)"> Approve <i class="icon-save"></i></button>
					 <button type="button" class="btn red" onclick="submit_form(0)"> Reject <i class="icon-delete"></i></button>
					 <button type="button" class="btn yellow" onclick="submit_form(7)"> Reset Max Time <i class="icon-reset"></i></button>
			  </div>
		</form>
		</div>
	</div>
</div>
<script>
{literal}
	function submit_form(val){
		$.ajax({
			type: "POST",
			url: "{/literal}{$host}{literal}smb/approve_rapor",
			data: {'data':val, 'kode':$('#kode').val(), 'noreg':$('#noreg').val()},
			dataType: "json",
			success: function(data) {
				if(data == 1){
					alert('Berhasil menyimpan data!');
				}else{
					alert('Gagal menyimpan data!');					
				}
			},
			error: function() {
				alert('error handling here');
			}
		});
	
	}
{/literal}
	function calculate(){
		jurusan = $("#jurusan").val();
		// Matematika
		matK1S1 = $('#mat_1_1').val();matK1S2 = $('#mat_1_2').val();
		matK2S1 = $('#mat_2_1').val();matK2S2 = $('#mat_2_2').val();
		matK3S1 = $('#mat_3_1').val();matK3S2 = $('#mat_3_2').val();
		// Inggris
		ingK1S1 = $('#ing_1_1').val();ingK1S2 = $('#ing_1_2').val();
		ingK2S1 = $('#ing_2_1').val();ingK2S2 = $('#ing_2_2').val();
		ingK3S1 = $('#ing_3_1').val();ingK3S2 = $('#ing_3_2').val();
		// Fisika
		fisK1S1 = $('#fis_1_1').val();fisK1S2 = $('#fis_1_2').val();
		fisK2S1 = $('#fis_2_1').val();fisK2S2 = $('#fis_2_2').val();
		fisK3S1 = $('#fis_3_1').val();fisK3S2 = $('#fis_3_2').val();
		// Biologi
		bioK1S1 = $('#bio_1_1').val();bioK1S2 = $('#bio_1_2').val();
		bioK2S1 = $('#bio_2_1').val();bioK2S2 = $('#bio_2_2').val();
		bioK3S1 = $('#bio_3_1').val();bioK3S2 = $('#bio_3_2').val();
		// Kimia
		kimK1S1 = $('#kim_1_1').val();kimK1S2 = $('#kim_1_2').val();
		kimK2S1 = $('#kim_2_1').val();kimK2S2 = $('#kim_2_2').val();
		kimK3S1 = $('#kim_3_1').val();kimK3S2 = $('#kim_3_2').val();
		// Ekonomi
		ekoK1S1 = $('#eko_1_1').val();ekoK1S2 = $('#eko_1_2').val();
		ekoK2S1 = $('#eko_2_1').val();ekoK2S2 = $('#eko_2_2').val();
		ekoK3S1 = $('#eko_3_1').val();ekoK3S2 = $('#eko_3_2').val();
		// Sosiologi
		sosK1S1 = $('#sos_1_1').val();sosK1S2 = $('#sos_1_2').val();
		sosK2S1 = $('#sos_2_1').val();sosK2S2 = $('#sos_2_2').val();
		sosK3S1 = $('#sos_3_1').val();sosK3S2 = $('#sos_3_2').val();
		// Sosiologi
		geoK1S1 = $('#geo_1_1').val();geoK1S2 = $('#geo_1_2').val();
		geoK2S1 = $('#geo_2_1').val();geoK2S2 = $('#geo_2_2').val();
		geoK3S1 = $('#geo_3_1').val();geoK3S2 = $('#geo_3_2').val();
		
		matNilaiTotal = parseInt(matK1S1)+parseInt(matK1S2)+parseInt(matK2S1)+parseInt(matK2S2)+parseInt(matK3S1)+parseInt(matK3S2);
		ingNilaiTotal = parseInt(ingK1S1)+parseInt(ingK1S2)+parseInt(ingK2S1)+parseInt(ingK2S2)+parseInt(ingK3S1)+parseInt(ingK3S2);
		fisNilaiTotal = parseInt(fisK1S1)+parseInt(fisK1S2)+parseInt(fisK2S1)+parseInt(fisK2S2)+parseInt(fisK3S1)+parseInt(fisK3S2);
		bioNilaiTotal = parseInt(bioK1S1)+parseInt(bioK1S2)+parseInt(bioK2S1)+parseInt(bioK2S2)+parseInt(bioK3S1)+parseInt(bioK3S2);
		kimNilaiTotal = parseInt(kimK1S1)+parseInt(kimK1S2)+parseInt(kimK2S1)+parseInt(kimK2S2)+parseInt(kimK3S1)+parseInt(kimK3S2);
		ekoNilaiTotal = parseInt(ekoK1S1)+parseInt(ekoK1S2)+parseInt(ekoK2S1)+parseInt(ekoK2S2)+parseInt(ekoK3S1)+parseInt(ekoK3S2);
		sosNilaiTotal = parseInt(sosK1S1)+parseInt(sosK1S2)+parseInt(sosK2S1)+parseInt(sosK2S2)+parseInt(sosK3S1)+parseInt(sosK3S2);
		geoNilaiTotal = parseInt(geoK1S1)+parseInt(geoK1S2)+parseInt(geoK2S1)+parseInt(geoK2S2)+parseInt(geoK3S1)+parseInt(geoK3S2);
		
		var totalRataRata = 0;
		
		matNilaiTotal = parseInt(matNilaiTotal)/6;
		ingNilaiTotal = parseInt(ingNilaiTotal)/6;
		
		kimNilaiTotal = parseInt(kimNilaiTotal)/6;
		bioNilaiTotal = parseInt(bioNilaiTotal)/6;
		fisNilaiTotal = parseInt(fisNilaiTotal)/6;
		
		ekoNilaiTotal = parseInt(ekoNilaiTotal)/6;
		sosNilaiTotal = parseInt(sosNilaiTotal)/6;
		geoNilaiTotal = parseInt(geoNilaiTotal)/6;
		
		totalRataRata = parseInt(matNilaiTotal) + parseInt(ingNilaiTotal);
		
		ipaTotal = parseInt(fisNilaiTotal) + parseInt(bioNilaiTotal) + parseInt(kimNilaiTotal);
		ipsTotal = parseInt(ekoNilaiTotal) + parseInt(sosNilaiTotal) + parseInt(geoNilaiTotal);
		
		if(jurusan == 'IPA'){
			totalRataRata = parseInt(totalRataRata) + parseInt(ipaTotal);
		}else{
			totalRataRata = parseInt(totalRataRata) + parseInt(ipsTotal);
		}
		
		totalRataRata = parseInt(totalRataRata)/5;
		
		$("#total_label").text(totalRataRata);
		$("#nilai_rata_rata_akhir").val(totalRataRata);
		
		
	}
</script>