
<div class="portlet box card">
    <div class="portlet-title">
        <div class="caption">PENDAFTARAN ULANG MAHASISWA BARU
            <h5>Jumlah Peserta Daftar Ulang : {$total->total} Calon Mahasiswa baru <br>
                Sudah Daftar Ulang : {$totalDone->total} Orang, Belum Daftar Ulang : {$totalNone->total} Orang  
<button id='export' class='btn btn-sm default' onclick="downloadXls();"><i class='icon-download-alt'></i> Download Pembayaran .xls</button></h5> 
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" >
            <thead class="flip-content">
                <tr>
                    <th>NAMA CMB</th>
                    <th>NO REG.</th>
                    <th>JALUR</th>
                    <th>PRODI</th>
                    <th>FORMULIR PEMBAYARAN DAFTAR ULANG</th>
                    <th class="center">CONFIRM</th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td>{$row->nama_cm}</td>
                    <td>{$row->no_smb}</td>
                    <td>
						<!-- {$row->n_jalur} -->
						<span class="label label-lg label-warning">{if $row->jalur_penerimaan eq 'RAPOR'}SELEKSI RAPOR{elseif $row->jalur_penerimaan eq 'ODS'}ODS Online{else}TES TULIS{/if}</span>
					</td>
                    <td>{$row->progdi}</td>
                    <td>
                        <div id="accordion1{$row->no_smb}" class="panel-group">
                            {if $row->stsReapplyPaid eq '1'}
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1{$row->no_smb}" href="#accordion1_1{$row->no_smb}">
                                                Pembayaran Daftar Ulang Sudah Dilakukan
                                                </a>
                                    </h4>
                                </div>
                                <div id="accordion1_1{$row->no_smb}" class="panel-collapse collapse" style="width:555px">
                                    <div class="panel-body">
                                        <form  class="col-md-12">
                                            <fieldset>
                                                <label  class="col-md-4">Metode</label>
                                                <label  class="col-md-8">: {$row->transferTipe}</label>
                                                <br>
                                                <label  class="col-md-4">Rekening</label>
                                                <label  class="col-md-8">: {$row->akunBank}</label>
                                                <br>
                                                <label class="col-md-4">Jumlah</label>
												<label class="col-md-8">: Rp <font class="biaya">{$row->reapplyBankTransferAmount}</font></label>
                                                <br>
                                                <label  class="col-md-4">Tanggal Pembayaran</label>
                                                <label  class="col-md-8">: {$row->day}, {$row->tgl} {$row->bln} {$row->thn}</label>
                                                <br>
                                                <label class="col-md-4">No ATM Card</label>
                                                <label class="col-md-8">: {$row->noAtmCardDaftarulang}</label>
                                                <br>
                                                <label class="col-md-4">No. Rek. Pengirim</label>
                                                <label class="col-md-8">: {$row->noRekPengirimDaftarUlang}</label>
                                                <br>
                                                <label  class="col-md-4">Nama. Rek. Pengirim</label>
                                                <label class="col-md-8">: {$row->namaRekPengirimDaftarUlang}</label>
                                                <br>
                                                <label  class="col-md-4">Bukti Bayar</label>
                                                <label class="col-md-8">: <a href="{$host}/assets/upload/bukti_bayar/{$row->buktiBayarDaftarUlang}" class="btn green">{$row->buktiBayarDaftarUlang}</a>
                                                </label>
                                                <br>
												{if $row->data_angsuran neq ''}
                                                <label><a href="{$host}smb/buktiPembayaran/{$row->no_smb}" class="btn blue">Detail Transaksi</a></label>
												{else}
                                                <label><a href="{$host}smb/detailDaftarUlang/{$row->no_smb}" class="btn blue">Detail Transaksi</a></label>
												{/if}
                                                <br>

                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {else}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Belum Melakukan Pendaftaran Ulang
                                    </h4>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </td>
                    <td id="confirm{$row->no_smb}">
                        {if $row->stsReapplyPaidConfirm eq '0' and $row->stsReapplyPaid eq '1' and $row->stsMundurBeforeReapply eq '0'}
                        <a class="tolak btn-sm btn red" href="#editing" data-toggle="modal" value="{$row->no_smb}" id="tolak" name="tolak" title="Tolak Pembyaran"><i class="icon-remove"></i></a>
                        <a class="tolak btn-sm btn yellow" href="javascript:;" value="{$row->no_smb}" id="mundur" name="mundur" title="Mundur" onclick="mundurAfterPay('{$row->no_smb}', '1')"><i class="icon-ban-circle"></i></a>
                        <a class="confirm btn-sm  btn dark" value="{$row->no_smb}" href="#"  id="confirm" ><i class="icon-play" title="Setujui"></i></a>
                        <!-- <a class="earlybird btn blue" href="#earlyConfirm" data-toggle="modal" value="{$row->no_smb}" id="earlybird" name="earlybird"> -->
                            <!-- {if $row->earlyBird eq '1'}<i class="icon-minus-sign"></i>{else if $row->earlyBird eq '99'}<i class="icon-ok-sign"></i>{/if} early bird</a> -->
                        
                        {else if $row->stsMundurBeforeReapply eq '1'}
                        <span class="btn btn-sm btn-warning">MUNDUR</span>
                        <a class="btn tolak btn-sm btn-success" href="javascript:;"  value="{$row->no_smb}" id="tolak" name="tolak" title="Batal Mundur" onclick="mundurAfterPay('{$row->no_smb}', '0')"><i class="icon-share-alt"></i></a>
                        {else if $row->stsReapplyPaidConfirm eq '1'}
                        <div id="accordion1" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        CONFIRMED
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="editing" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tolak Pembayaran Daftar Ulang</h4>
            </div>
            <div class="modal-body">
                <div id="formJabatan"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="earlyConfirm" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Apakah Mahasiswa Melakukan Daftar Ulang Sebelum 28 Feb 2016 (Early Bird) ?</h4>
            </div>
            <div class="modal-body">
                <div id="formEarly"></div>
            </div>
        </div>
    </div>
</div>
<script>
{literal}
jQuery(document).ready(function() {
    TableEditable.init();
}); 

function mundurAfterPay(noSmb, stat) {
    $.post("{/literal}{$host}{literal}smb/smbDaftarUlang/mundur", {
            'val': noSmb,
            'opt': 'mundur',
            'ismundur': stat
        }, function(resp) {
            $('#confirm' + noSmb).html(resp);
        });
        return false;
}

function downloadXls(){
	window.open("{/literal}{$host}{literal}smb/data_pembayaran_du/"+$('#periode').val(), '_blank');
}

$(".confirm").each(function(i, v) {
    $(this).click(function(e) {        
        e.preventDefault();
        $(this).bind('click', false);
        var val = $(this).attr("value");
        var opt = $(this).attr("id");
        $.post("{/literal}{$host}{literal}smb/smbDaftarUlang/confirm", {
            'val': val,
            'opt': opt
        }, function(resp) {
            $('#confirm' + val).html(resp);
        });
        return false;
    });
}); {/literal} 
{literal}
    $(".tolak").each(function(i, v) {
        $(this).click(function() {
            opt = $(this).attr("name");
            val = $(this).attr("value");
            $.post("{/literal}{$host}{literal}smb/tolakBayar/tolak", {
                'opt': opt,
                'val': val
            }, function(resp) {
                $('#formJabatan').html(resp);
            });
        });
    }); 
{/literal}
{literal}
    $(".earlybird").each(function(i, v) {
        $(this).click(function() {
            opt = $(this).attr("name");
            val = $(this).attr("value");
            $.post("{/literal}{$host}{literal}smb/earlyBird/confirm", {
                'opt': opt,
                'val': val
            }, function(resp) {
                $('#formEarly').html(resp);
            });
        });
    }); 
{/literal}

        //$("#data").jExpand();
</script>
