<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box card">
		<div class="portlet-body">
			<h3 class="title" >Riwayat Organisasi</h3>
			<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
				<thead>
					<tr>
						<th>Nama Kegiatan</th>
						<th>Tempat</th>
						<th>Jabatan</th>
						<th>Tahun Mulai</th>
						<th>Tahun Selesai</th>
					</tr>
				</thead>
				<tbody>
					{if $organisasi}
					{foreach name=loop from=$organisasi item=row}
					<tr>
						<td>{$row->namaKegiatan}</td>
						<td>{$row->tempat}</td>
						<td>{$row->jabatan}</td>
						<td>{$row->dariTahun}</td>
						<td>{$row->sampaiTahun}</td>
					</tr>
					{/foreach}
					{else}
					<tr>
						<td colspan="5" align="center">Data tidak tersedia!</td>
					</tr>
					{/if}
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>