
<div class="portlet box card">
    <div class="portlet-title">
        <div class="caption"><i class=" icon-money"></i> PEMBAYARAN CALON MAHASISWA BARU</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <h4>Total Peserta Ujian : {$total->total} Orang 
<button id='export' class='btn btn-sm default' onclick="downloadXls();"><i class='icon-download-alt'></i> Download Pembayaran .xls</button></h4> 
    <div class="portlet-body">
        <div id='tableMhs'>
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th width='8%'>NO. REG</th>
                    <th width='20%'>NAMA CMB</th>
                    <!-- <th>PRODI</th> -->
                    <th width='10%'>JALUR</th>
                    <th width='10%'>No Telp</th>
                    <th>STATUS</th>
                    <th>CONFIRM</th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td>
                        <h4 class="panel-title">{$row->no_smb}</h4>
                    </td>
                    <td>
                        <h4 class="panel-title">{$row->nama_cm}</h4>
                    </td>
                    <!-- <td> -->
                        <!-- <h4 class="panel-title">{$row->progdi_inisial}</h4> -->
                    <!-- </td> -->
                    <td>
                        <!-- <h4 class="panel-title">{$row->n_jalur}</h4> -->
						<span class="label label-lg label-warning">{if $row->jalur_penerimaan eq 'RAPOR'}SELEKSI RAPOR{elseif $row->jalur_penerimaan eq 'ODS'}ODS Online{else}TES TULIS{/if}</span>
                    </td>
                    <td>
                        <h4 class="panel-title">{$row->rumahCell}</h4>
                    </td>
                    <td>
                        <div id="accordion1{$row->no_smb}" class="panel-group">
                            {if $row->statusBayar eq '1'}
                            <div class="panel panel-{if $row->applyBankTransferType eq '04.5'}info{else}success{/if}">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1{$row->no_smb}" href="#accordion1_1{$row->no_smb}">
                                                Dibayarkan {if $row->applyBankTransferType eq '04.5'}(Voucher){else}(Transfer){/if}
                                                </a>
                                    </h4>
                                </div>
                                <div id="accordion1_1{$row->no_smb}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class="col-md-12 bg-gray">
                                            <fieldset>
                                                <label class="col-md-4">Metode</label>
                                                <label class="col-md-8">: {$row->metode}</label>
                                                <label class="col-md-4">No Kartu ATM</label>
                                                <label class="col-md-8">: {if $row->noAtmCardPendaftaran eq '0'}-{else}{$row->noAtmCardPendaftaran}{/if}</label>
                                                
                                                <label class="col-md-4">Rekening</label>
                                                <label class="col-md-8">: {$row->rekening}</label>
                                                
                                                <label class="col-md-4">Jumlah</label>
												<label class="col-md-8">: Rp <font class="biaya">{$row->jumlah}</font></label>
                                                
                                                <label class="col-md-4">Tanggal Pembayaran</label>
                                                <label class="col-md-8">: {$row->hari}, {$row->tglPembayaran}</label>
                                                
                                                <label class="col-md-4">No. ATM Card</label>
                                                <label class="col-md-8">: {$row->noAtmCardPendaftaran}</label>
                                                
                                                <label class="col-md-4">No. Rek. Pengirim</label>
                                                <label class="col-md-8">: {$row->noRekPengirimPendaftaran}</label>
                                                
                                                <label class="col-md-4">Nama. Rek. Pengirim</label>
                                                <label class="col-md-8">: {$row->namaRekPengirimPendaftaran}</label>
                                               
                                                <label class="col-md-4">Bukti Bayar</label>
                                                <label class="col-md-8">: <a href="{$host}/assets/upload/bukti_bayar/{$row->buktiBayarPendaftaran}" class="btn green">{if $row->buktiBayarPendaftaran eq 'VOUCHER'}{$row->applyBankAccountType}{else}{$row->buktiBayarPendaftaran}{/if}</a>
                                                </label>
                                                
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {else}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <!-- Belum Melakukan Pendaftaran Ulang -->
										Belum Bayar
                                    </h4>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </td>
                    <td>
                        {if $row->confirm eq '0' and $row->statusBayar eq '1'}
                            <a class="tolak btn btn-default" href="#editing" data-toggle="modal" href="#" value="{$row->no_smb}" id='tolak' name="tolak"><i class="icon-remove"></i> Tolak</a>
                            <a class="validasi btn btn-default" href="#" value="{$row->no_smb}" name="{$row->kode_smb}" id='confirm'><i class="icon-play"></i> Terima</a>
                        {else if $row->confirm eq '1'}
                        <div id="accordion1" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        CONFIRMED
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {/if}
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
</div>
</div>
<div class="modal fade" id="editing" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tolak Pembayaran Pendaftaran</h4>
            </div>
            <div class="modal-body">
                <div id="formJabatan"></div>
            </div>
        </div>
    </div>
</div>
<script>
    {literal}

function downloadXls(){
	window.open("{/literal}{$host}{literal}smb/data_pembayaranDaftar/"+$('#periode').val(), '_blank');
}

jQuery(document).ready(function() {
//    TableManaged.init();

    
        $(".validasi").each(function(i, v) {
            $(this).click(function(e) {
                e.preventDefault();
                $(this).bind('click', false);
                var val = $(this).attr("value");
                var vale = $(this).attr("name");
                var opt = $(this).attr("id");
				
				$('body').loading('start');
                
                $.post("{/literal}{$host}{literal}smb/smbPay/confirm", {
                    'val': val,
                    'value': vale,
                    'opt': opt
                }, function(resp) {
                    //$('#confirm'+val).html(resp);
					$('body').loading('stop');
					if (resp == 1){
						location.reload();
					}else if(resp == 0){
						alert('Pembayaran CMB telah di konfirmasi!');
					}else if (resp == 2){
						alert ('Jadwal ujian seleksi belum dibuat, hubungi admin Admisi!');
					}else if (resp == 3){
						alert ('Validasi pembayaran tagihan gagal!');
					}else{
						alert(resp);
					}
					
                });
                return false;
            });
        }); 
        $(".tolak").each(function(i, v) {
            $(this).click(function() {
                opt = $(this).attr("name");
                val = $(this).attr("value");
                $.post("{/literal}{$host}{literal}smb/tolakBayarDaftar/tolak", {
                    'opt': opt,
                    'val': val
                }, function(resp) {
                    $('#formJabatan').html(resp);
                });
            });
        }); 
    {/literal}
}); 

</script>
