<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
	<div class="portlet box card">
		<h3 class="title" >Riwayat Pendidikan</h3>
		<div class="portlet-body">
			<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
				<thead>
					<tr>
						<th>Nama Penghargaan</th>
						<th>Intuisi Pemberi</th>
						<th>Tahun</th>
					</tr>
				</thead>
				<tbody>
					{if $prestasi}
					{foreach name=loop from=$prestasi item=row}
					<tr>
						<td>{$row->namaPrestasi}</td>
						<td>{$row->namaInstitusi}</td>
						<td>{$row->tahun}</td>
					</tr>
					{/foreach}
					{else}
					<tr>
						<td colspan="3" align="center">Data tidak tersedia!</td>
					</tr>
					{/if}
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->
</div>