<div class="col-md-12">
   <!-- BEGIN EXAMPLE TABLE PORTLET-->
   <div class="portlet box card">
      <h3 class="title" >Riwayat Pendidikan</h3>
      <div class="portlet-body">
         <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
            <thead>
               <tr>
                  <th>Jenjang</th>
                  <th>Nama Sekolah</th>
                  <th>Propinsi</th>
                  <th>Kabupaten Kota</th>
                  <th>Kode Pos</th>
                  <th>Tahun Lulus</th>
                  <th>Jurusan</th>
                  <th>Nilai UN</th>
               </tr>
            </thead>
            <tbody>
               {foreach name=loop from=$eduList item=row}
               <tr>
                  <td>{$row->sekolahNama}, {$row->sekolahTipe}</td>
                  <td>{$row->sekolah}</td>
                  <td>{$row->propNama}</td>
                  <td>{$row->kabNama}</td>
                  <td>{$row->kodepos}</td>
                  <td>{$row->tahunLulus}</td>
                  <td>{$row->jurusan}</td>
                  <td>{$row->nilai}</td>
               </tr>
               {/foreach}
            </tbody>
         </table>
      </div>
   </div>
   <!-- END EXAMPLE TABLE PORTLET-->
</div>