<div class="portlet card" style="margin-top:15px">
    <div class="portlet-title">
        <div class="caption">HASIL SELEKSI CALON MAHASISWA BARU : {$total->total} Calon Mahasiswa Baru</div>
        <!-- <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div> -->
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-advance table-bordered table-striped table-condensed flip-content" id="sample_editable_1">
            <thead class="flip-content">
                <tr>
                    <th>NAMA CMB</th>
                    <th>FORMULIR</th>
                    <th>JALUR</th>
                    <th>HASIL SELEKSI</th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td><label>{$row->nama_cm}</label></td>
                    <td><a class="label label-lg label-default" href="{$host}smb/formulir/{$row->no_smb}"><i class="icon-file"></i> {$row->no_smb}</a>
                    <td><span class="label label-lg label-warning">{if $row->jalur_penerimaan eq 'RAPOR'}SELEKSI RAPOR{elseif $row->jalur_penerimaan eq 'ODS'}ODS Online{else}TES TULIS{/if}</span></td>
	
                        </td>
                        <td>
                            <!-- <table class="data" border="0"> -->
                                <!-- <tr class="headerr" title="Click Untuk melihat detail"> -->
                                    <!-- <td class="hsl"> -->
                                    <!-- </td> -->
                                <!-- </tr> -->
                                <!-- <tr class="detail" title="Click untuk Kembali"> -->
                                    <!-- <td> -->
                                    <!-- </td> -->
                                <!-- </tr> -->
                            <!-- </table> -->
								
                                        {if $row->konfirm eq '0'}
												<span class="label label-sm label-info label-mini">Belum Diperiksa</span>
												{if $row->adaSaudara eq '0'}
													<a style="float:right;" id="edit" value="{$row->no_smb}"  href="#form_seleksi" onclick="display_form('{$row->no_smb}', 'edit')" data-toggle="modal"  class="btn default btn-xs black">
														<i class="icon-edit"></i>Edit
													</a>
													<a style="float:right;" id="view" value="{$row->no_smb}"  href="#form_seleksi" onclick="display_form('{$row->no_smb}', 'view')" data-toggle="modal"  class="btn default btn-xs black"><i class="icon-eye-open"></i>View</a>
													<a style="float:right;visibility:hidden;" id="hide{$row->no_smb}" value="{$row->no_smb}" href="#" class="btnHide default btn-xs black"><i class="icon-eye-close"></i>Hide</a>
												{else}
												{if $row->confirmSaudara eq '0'}
												<a href="{$host}smb/profil/{$row->no_smb}">
													<span class="label label-sm label-danger label-mini">Confirm Saudara</span>
												</a>
												{else}
													<a style="float:right;" id="edit" value="{$row->no_smb}"  href="#form_seleksi" data-toggle="modal"  class="btn default btn-xs black">
														<i class="icon-edit"></i>Edit
													</a>
													<a style="float:right;" id="view" value="{$row->no_smb}"  href="#form_seleksi" data-toggle="modal"  class="btn default btn-xs black"><i class="icon-eye-open"></i>View</a>
													<a style="float:right;visibility:hidden;" id="hide{$row->no_smb}" value="{$row->no_smb}" href="#" class="btnHide default btn-xs black"><i class="icon-eye-close"></i>Hide</a>
												{/if} 
											{/if} 
											{else if $row->konfirm eq '1'} {if $row->lulusTidak eq '1'}
												<span class="label label-sm label-success label-mini">Lulus Seleksi</span>
											{else}
												<span class="label label-sm label-danger label-mini">Tidak Lulus</span>
											{/if}
											<a style="float:right;" id="edit" value="{$row->no_smb}" href="#form_seleksi" onclick="display_form('{$row->no_smb}', 'edit')" data-toggle="modal" class="btn default btn-xs black"><i class="icon-edit"></i>Edit</a> 
											<a style="float:right;" id="view" value="{$row->no_smb}" href="#form_seleksi" onclick="display_form('{$row->no_smb}', 'view')" data-toggle="modal" class="btn default btn-xs black"><i class="icon-eye-open"></i>View</a>
											<a style="float:right;visibility:hidden;" id="hide{$row->no_smb}" value="{$row->no_smb}" href="#" class="btnHide default btn-xs black"><i class="icon-eye-close"></i>Hide</a>
                                        {/if}
								<!-- <div id="formPenilaian{$row->no_smb}"> -->
								<!-- </div> -->
                        </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
			   
<div class="modal fade" id="form_seleksi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog  modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Hasil Seleksi</h4>
            </div>
            <div class="modal-body">
                <div id="form_load"></div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script>
jQuery(document).ready(function() {
    TableEditable.init();
}); 
{literal}
<!-- $(".btn").each(function(i, v) { -->
    <!-- $(this).click(function() { -->
		<!-- <!-- $('body').loading('start'); --> -->
        <!-- var val = $(this).attr("value"); -->
        <!-- var opt = $(this).attr("id"); -->
        <!-- <!-- document.getElementById('hide' + val).style.visibility = "visible"; --> -->
		<!-- <!-- $('#formPenilaian'+val).slideDown(); --> -->
        <!-- $.post("{/literal}{$host}{literal}smb/smbSeleksiForm/form", { -->
            <!-- 'val': val, -->
            <!-- 'opt': opt -->
        <!-- }, function(resp) { -->
            <!-- <!-- $('#formPenilaian' + val).html(resp); --> -->
            <!-- $('#form_load').html(resp); -->
			<!-- <!-- $('body').loading('stop'); --> -->
        <!-- }); -->
        <!-- <!-- return false; --> -->
    <!-- }); -->
<!-- }); -->

function display_form(val, opt){
	$.post("{/literal}{$host}{literal}smb/smbSeleksiForm/form", {
            'val': val,
            'opt': opt
        }, function(resp) {
		$('#form_load').html(resp);
	});
	
}

$(".btnHide").each(function(i, v) {
    $(this).click(function() {
		$('body').loading('start');
        var val = $(this).attr("value");
        document.getElementById('hide' + val).style.visibility = "hidden";
		<!-- $('#hide'+val).slideUp(); -->
        <!-- document.getElementById('formPenilaian' + val).style.display = 'none'; -->
		$('#formPenilaian'+val).slideUp();
		$('body').loading('stop');
        return false;
    });
});


{/literal}
<!-- $('table.formulir tr.formulir').click( function() {
/*    $(this).prevAll('tr').each( function() {
        if ($(this).hasClass('headers')) {
            return false;
        }
        $(this).hide();
    });
    $(this).nextAll('tr').each( function() {
        if ($(this).hasClass('headers')) {
            return false;
        }
        $(this).hide();
    });
});
$('table tr.headers').click( function() {
    $(this).nextAll('tr').each( function() {
        if ($(this).hasClass('headers')) {
            return false;
        }
        $(this).slideDown();
    });
}); */

</script>
