<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<!-- BEGIN FORM-->
<div class="row">
    <div class="col-md-12" style="padding-bottom: 15px; padding-top: 5px; padding-right: 0px;">

    </div>
</div>
<form action="#" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
    <div class="portlet box grey">
        <div class="portlet-body form" style="border-top: 1px double #4682B4;">
            <div class="form-body" style="font-size:bold">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">DATA DIRI</h3>
                <div class="form-group">
                    <label class="control-label col-md-2" >Nama Lengkap
                    </label>
                    <div class="col-md-10" >
                        <label>
                            <h5>{$prof->nama_cm}</h5>
                        </label>
                        <input value="{$prof->kode_smb}" name="kode" hidden>
                        <input value="{$prof->kode_jalur}" name="kode_jalur" hidden>
                        <input value="{$nama}" name="nama_operator" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No Registrasi
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->no_smb}</h5>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Program Studi
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->progdi}</h5>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Jalur Masuk
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->n_jalur}</h5>
                        </label>
                    </div>
                </div>
            </div>
           <div class="form-body">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">Transaksi Pembayaran</h3>
                <div class="form-group">
                    <label class="control-label col-md-2">Metode Pembayaran
                    </label>
                    <div class="col-md-3">
						<div class="checkbox-list">
                            <label>
                                {if $alumni eq 1}
                                <input type="checkbox" name="yes" checked="true" disabled>Alumni 
                                <input name="alumni" id="alumni" value="1" hidden>
								{else if $alumni eq 0}
                                <input type="checkbox" name="no" disabled>Alumni 
                                <input name="alumni" id="alumni" value="0" hidden>
								{/if}
                            </label>
                        </div>
                        <div class="radio-list">
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="1" {if $method eq '1'}checked="true"{/if} disabled>Pembayaran Lunas
                            </label>
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="0" {if $method neq '1'}checked="true"{/if} disabled>Pembayaran Angsuran
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Rincian Biaya
                    </label>
                    <div class="detailBiaya col-md-10">
						
                        <a class="man list-group-item">
                                <label class="col-md-4">
                                        Uang Masuk
                                </label>
                                <label>
                                        : Rp
                                        {if $method eq 1}
                                                <font class="biaya">{$uangMasuk}</font>
                                        {else}
                                                <font class="biaya">{$uangMasuk}</font>
                                        {/if}
                                </label>
                        </a>							
                        <a class="man list-group-item">
                                <label class="col-md-4">
                                        SPP 
                                </label>
                                <label >
                                        : Rp <font class="biaya">{$biayaSpp}</font>
                                </label>
                        </a>		
                        <a class="man list-group-item">
                                <label class="col-md-4">
                                        SKS 
                                </label>
                                <label >
                                        : Rp <font class="biaya">{$biayaSks}</font> 
                                        {if $jalur eq '10'}
                                        ({$biaya->jumlahSksSemester1} x Rp <font class="biaya">{$biaya->biayaPerSks}</font>)
                                        {/if}
                                </label>
                        </a>
                        {if $method eq '1'}						
                            <a class="man list-group-item">
                                    <label class="col-md-4">
                                            Diskon<br>
                                    </label>
                                    <label>
                                             : Rp 
                                             {if $method eq 1}<font class="biaya">{$diskonLunas}</font> (Potongan Uang Masuk)<br>{/if} 
                                             {if $transPaid->earlybirdS2 eq 1}&nbsp;&nbsp;Rp <font class="biaya">{$earlybird}</font> (Potongan Uang Masuk)<br>{/if}
                                             {if $alumni eq 1}&nbsp;&nbsp;&nbsp;<font class="biaya">{$diskonAlum}</font>  (Potongan Uang Masuk)<br>{/if}
                                             {if $transPaid->keluargacivitas eq 1}&nbsp;&nbsp;&nbsp;<font class="biaya">{$klgCivitas}</font> (Potongan Uang Masuk)<br>{/if}
                                             {if $transPaid->keluargadlb eq 1}&nbsp;&nbsp;&nbsp;<font class="biaya">{$klgDlb}</font> (Potongan Uang Masuk)<br>{/if}
                                    </label>
                            </a>
                        {else}                        
                            <a class="man list-group-item">
                                    <label class="col-md-4">
                                            Diskon
                                    </label>
                                    <label>
                                            : Rp 
                                             {if $alumni eq 1} <font class="biaya">{$diskonAlum} </font> (Alumni),{/if}
                                             {if $transPaid->keluargacivitas eq 1} <font class="biaya">{$klgCivitas}</font> (Potongan Uang Masuk),{/if}
                                             {if $transPaid->keluargadlb eq 1} <font class="biaya">{$klgDlb}</font> (Potongan Uang Masuk),{/if}
                                             {if $transPaid->earlybirdS2 eq 1} <font class="biaya">{$earlybird}</font> (Potongan Uang Masuk - Gel 1),{/if}
                                    </label>
                            </a>
                        {/if}
						<br>
                        {if $method eq '1'}			
                        <a class="man list-group-item">
                                <label  class="col-md-4" >Biaya Sebelum Diskon</label>
                                <label >: Rp <font class="biaya">{$biaya->totalBiaya}</font></label>
                        </a>					
                        <a class="man list-group-item">
                                <label class="col-md-4" >
                                        Biaya Setelah Diskon
                                </label>
                                <label >
                                        : Rp
                                                <font class="biaya">{$totalAll}</font> 

                                </label>
                        </a>
                        <input type="text" name="totalDaftarUlang" value="{$totalAll}" hidden>
                        {else}
						
<!--                        <a class="man list-group-item">
                                <label  class="col-md-4" >Biaya Sebelum Diskon</label>
                                <label >: Rp <font class="biaya">{$biaya->totalBiaya}</font></label>
                        </a>
                        <a class="man list-group-item">
                                <label class="col-md-4" >Biaya Setelah Diskon</label>
                                <label >: Rp 
                                    <font class="biaya">
                                        {$totalAll}
                                    </font>
                                </label>
                        </a>-->
                        
                        <h4>Angsuran Semester 1</h4>
                        <a class="man list-group-item">
                                <label  class="col-md-4" >Angsuran 1</label>
                                <label >: Rp <font class="biaya">{$biayaSks}</font></label>
                        </a>
                        <a class="man list-group-item">
                                <label class="col-md-4" >Angsuran 2</label>
                                <label >: Rp 
                                    <font class="biaya">
                                        {$biayaSpp+$uangMasuk}
                                    </font>
                                </label>
                        </a>

                        <input type="text" name="totalDaftarUlang" value="{$biayaSks}" hidden>
                        <hr>
                        {/if}
                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-md-2" >Jumlah Pembayaran
                    </label>
                    <div class="col-md-10">
                        <h5>Rp <font class="biaya">{$transPaid->reapplyBankTransferAmount}</font>
                        </h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Tanggal Pembayaran
                    </label>
                    <div class="col-md-10">
                        <h5>{$transPaid->tanggal_trans|date_format:"%e - %m - %Y"}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Jenis Pembayaran
                    </label>
                    <div class="col-md-10">
                        <h5>{$transPaid->typeTrans}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No Kartu ATM
                    </label>
                    <div class="col-md-10">
                        <h5>{$transPaid->noAtmCardPendaftaran}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Rekening Tujuan
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h4>{$bankAkun->nama}</h4>
                        </label>
                        <input value="{$bankAkun->kode}" name="bankAkun" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No. Rek. Pengirim
                    </label>
                    <div class="col-md-10">
                        <h5>{$transPaid->noRekPengirimDaftarUlang}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Nama Rek. Pengirim
                    </label>
                    <div class="col-md-10">
                        <h5>{$transPaid->namaRekPengirimDaftarUlang}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Bukti Pembayaran
                    </label>
                    <div class="col-md-10">
                         <a href="{$host}/assets/upload/bukti_bayar/{$transPaid->buktiBayarDaftarUlang}" class="btn default">{$transPaid->buktiBayarDaftarUlang} <i class=" icon-eye-open"></i> </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark" data-dismiss="modal" onClick="window.history.back();"><i class=" icon-chevron-left"></i> Back</button>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function() {
    $('.biaya').formatCurrency();
});

{literal}
$("#typeTrans").change(function(){	
	val = $(this).val();
	//alert (val);
	if (val == '04.2' || val == '04.4'){
		document.getElementById('helpAtmno').style.display = 'none';
		document.getElementById('helpAtm').style.display = 'block';
		$("#noAtmCard").prop('disabled', false);
	}else{
		document.getElementById('helpAtmno').style.display = 'block';
		document.getElementById('helpAtm').style.display = 'none';
		$("#noAtmCard").prop('disabled', true);
	}
	if (val == '04.3'){
		$("#no_rek_cmb").prop('required', false);
		$("#nama_rek_cmb").prop('required', false);
		$("#bukti").prop('required', false);
	}else{
		$("#no_rek_cmb").prop('required', true);
		$("#nama_rek_cmb").prop('required', true);
		$("#bukti").prop('required', true);
	}
});	
{/literal}
</script>
