<script type="text/javascript" src="{$host}assets/js/jquery.formatCurrency-1.4.0.js"></script>
<!-- BEGIN FORM-->
<div class="row">
    <div class="col-md-12" style="padding-bottom: 15px; padding-top: 5px; padding-right: 0px;">

    </div>
</div>
<form action="{$host}cmb/confirm_du/do" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped" id="form_sample_1" method="post">
    <div class="portlet box grey">
        <div class="portlet-body form" style="border-top: 1px double #4682B4;">
            <div class="form-body" style="font-size:bold">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">DATA DIRI</h3>
                <div class="form-group">
                    <label class="control-label col-md-2">Nama Lengkap
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->nama_cm}</h5>
                        </label>
                        <input value="{$prof->kode_smb}" name="kode" hidden>
                        <input value="{$prof->kode_jalur}" name="kode_jalur" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No Registrasi
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->no_smb}</h5>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Program Studi
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->progdi}</h5>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Jalur Masuk
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{$prof->n_jalur}</h5>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Ranking Masuk
                    </label>
                    <div class="col-md-10">
                        <label>
                            <h5>{if $prof->stsResultGrade eq '1'}Pertama{else if $prof->stsResultGrade eq '2'}Kedua{else}Ketiga{/if}</h5>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">Transaksi Pembayaran</h3>
                <div class="form-group">
                    <label class="control-label col-md-2">Metode Pembayaran
                    </label>
                    <div class="col-md-3" style="width: 862px;; padding-left: 35px; padding-top: 5px;">
                        {if $jalur neq 'KP'}
                        <div class="checkbox-list">
                            <label>
                                {if $saudara gt 0}
                                <input type="checkbox" name="yes" checked="true" disabled>Memiliki Saudara Kandung
                                <input name="sau" id="sau" value="1" hidden>{else if $saudara eq 0}
                                <input type="checkbox" name="no" disabled>Memiliki Saudara Kandung
                                <input name="sau" id="sau" value="0" hidden>{/if}
                            </label>
                        </div>
                        {/if} {if $method eq '1'}
                        <div class="radio-list">
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="1" checked="true" disabled>Pembayaran Lunas
                            </label>
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="0" disabled>Pembayaran Angsuran
                            </label>
                        </div>
                        {else}
                        <div class="radio-list">
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="1" disabled>Pembayaran Lunas
                            </label>
                            <label>
                                <input type="radio" name="metodBayar" class="mBayar" value="0" checked="true" disabled>Pembayaran Angsuran
                            </label>
                        </div>
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Rincian Biaya
                    </label>
                    <div class="detailBiaya col-md-10">

                        {if $method eq '1'}						
                        <a class="man list-group-item">
                            <label class="col-md-4">
                                    Uang Masuk
                            </label>
                            <label>
                                    : Rp
                                <font class="biaya">
                                {$uangMasuk}
                                </font>

                            </label>
                        </a>
			{else}						
                            <a class="man list-group-item">
                                    <label class="col-md-4">Uang Masuk</label>
                                    <label >
                                            : Rp <font class="biaya">{$uangMasuk}</font> <small>( {$biaya->tempoAngsuran} X Angsuran )</small>
                                    </label>
                            </a>
                        {/if}
                            <a class="man list-group-item">
                                    <label class="col-md-4">SPP Semester 1</label>
                                    <label>: Rp <font class="biaya">{$biaya->spp}</font></label>
                            </a>
                            <a class="man list-group-item">
                                    <label class="col-md-4">
                                            SKS Semester 1
                                    </label>
                                    <label>
                                            : Rp
                                                    <font class="biaya">{$biaya->sks}</font> ({$biaya->jumlahSks} x Rp {$biaya->sks/$biaya->jumlahSks|number_format:2:",":"."})
                                    </label>
                            </a>
						
                            <a class="man list-group-item">
                                    <label  class="col-md-4">
                                            Biaya Orientasi (BPP)
                                    </label>
                                    <label >
                                            : Rp
                                                    <font class="biaya">{$biaya->bpp}</font>
                                    </label>
                            </a>
                        {if $method eq '1'}                        
                            <a class="man list-group-item">
                                    <label class="col-md-4">
                                            Potongan<br>
                                    </label>
                                    <label>

                                                    {if $prodi neq '1204'} 
                                                            {if $jalur eq '01' or $jalur eq '02'} 
                                                            : Rp <font class="biaya">1000000</font> (Lunas)
                                                                    {if $saudara gt '0'} 
                                                                            + Rp <font class="biaya">{$diskonSau}</font> (20%, Saudara)
                                                                    {/if}
                                                                    {if $jalur eq '02'}
                                                                            + Rp <font class="biaya">
                                                                            {if $transPaid->sks_acc lt 40} {$uangMasuk*0}
                                                                            {else if $transPaid->sks_acc gt 40 && $transPaid->sks_acc le 80} {($uangMasuk-$diskonSau)*(25/100)}
                                                                            {else if $transPaid->sks_acc gt 80} {($uangMasuk-$diskonSau)*(50/100)}{/if}</font> 
                                                                            ({$transPaid->sks_acc} SKS diterima)

                                                                    {/if}
                                                            {else} 
                                                            : - 
                                                            {/if}
                                                    {else} 
                                                    : - 
                                                    {/if}

                                    </label>
                            </a>
                        {else}                        
                            <a class="man list-group-item">
                                    <label class="col-md-4">
                                            Potongan
                                    </label>
                                    <label>
                                                    {if $prodi neq '1204'}
                                                            {if $saudara gt '0'} : Rp
                                                            <font class="biaya">{$diskonSau} </font> (20%, Saudara) 
                                                            {/if}
                                                            {if $jalur eq '02'}
                                                             + Rp <font class="biaya">
                                                                    {if $transPaid->sks_acc lt 40} {$uangMasuk*0}
                                                                    {else if $transPaid->sks_acc gt 40 && $transPaid->sks_acc le 80} {($uangMasuk-$diskonSau)*(25/100)}
                                                                    {else if $transPaid->sks_acc gt 80} {($uangMasuk-$diskonSau)*(50/100)}
                                                                    {/if}
                                                                    </font> ({$transPaid->sks_acc} SKS diterima)
                                                            {/if}
                                                    {else}
                                                    : -
                                                    {/if}

                                    </label>
                            </a>
                        {/if}
                        <hr>
                        {if $method eq '1'}						
                        <a class="man list-group-item">
                                <label class="col-md-4" style="font-size:16px;font-family: Arial,sans-serif;">Total Biaya Keseluruhan</label>
                                <label style="font-size:16px;font-family: Arial,sans-serif;">: Rp <font class="biaya">{$total}</font> </label>
                        </a>
                        <input type="text" name="totalDaftarUlang" value="{$total}" hidden>
						{else}
						
						<a class="man list-group-item">
							<label class="col-md-4" style="font-size:16px;font-family: Arial,sans-serif;">Total Pembayaran Daftar Ulang</label>
							<label style="font-size:16px;font-family: Arial,sans-serif;">: Rp <font class="biaya">{$total}</font></label>
                        </a>
						<a class="man list-group-item">
							<label class="col-md-4" style="font-size:16px;font-family: Arial,sans-serif;">Total yang harus dibayar</label>
							<label style="font-size:16px;font-family: Arial,sans-serif;">: Rp <font class="biaya">{$totalAll}</font></label>
                        </a>

                        <input type="text" name="totalDaftarUlang" value="{$total}" hidden>
					</div>
				</div>
			</div>
            <div class="form-body">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">Detail Angsuran Uang Masuk</h3>
                    <div class="form-group">
						<label class="control-label col-md-2">Rincian Angsuran</label>    
                        <div class="col-md-10">
							<a class="man list-group-item">
								<label class="col-md-4">Angsuran Pertama </label>
								<label>: Rp <font class=" biaya">{$angsuran1}</font></label>
								<label style="float:right">Jatuh Tempo : {$biaya->due_date1|date_format:"%e %b %Y"}</label>
							</a>
							<a class="man list-group-item">
								<label class="col-md-4">Angsuran Kedua </label>
								<label>: Rp <font class="biaya">
									{$angsuran2}</font>
								</label>
								<label style="float:right">Jatuh Tempo : {$biaya->due_date2|date_format:"%e %b %Y"}</label>
                            </a>
							<a class="man list-group-item">
								<label class="col-md-4">Angsuran Ketiga </label>
								<label>: Rp <font class="biaya">
									{$angsuran3}</font>
								</label>
								<label style="float:right">Jatuh Tempo : {$biaya->due_date3|date_format:"%e %b %Y"}</label>
                            </a>
                            <br>{if $jalur eq 'KP'} {if $prof->kodeProdi eq '1208' or $prof->kodeProdi eq '1206'}
                            <label class="col-md-4">
                                <h4>Angsuran Keempat</h4>
                            </label>
                            <label class="col-md-3">
                                <h4>: Rp
                                    <font class="biaya">{$biaya->angsuran4}</font>
                                </h4>
                            </label>
                            {/if} {/if}
                        {if $jalur eq 'KP'} {if $prof->kodeProdi eq '1208'}
                        <div class="row col-md-6">
                            <label class="col-md-8">
                                <h4>Angsuran Kelima</h4>
                            </label>
                            <label>
                                <h4>: Rp
                                    <font class="biaya">{$biaya->angsuran5}</font>
                                </h4>
                            </label>
                            <br>
                            <label class="col-md-8">
                                <h4>Angsuran Keenam</h4>
                            </label>
                            <label>
                                <h4>: Rp
                                    <font class="biaya">{$biaya->angsuran6}</font>
                                </h4>
                            </label>
                            <br>
                            <label class="col-md-8">
                                <h4>Angsuran Ketujuh</h4>
                            </label>
                            <label>
                                <h4>: Rp
                                    <font class="biaya">{$biaya->angsuran7}</font>
                                </h4>
                            </label>
                            <br>
                            <label class="col-md-8">
                                <h4>Angsuran Kedelapan</h4>
                            </label>
                            <label>
                                <h4>: Rp
                                    <font class="biaya">{$biaya->angsuran8}</font>
                                </h4>
                            </label>
                        </div>
                        {/if} {/if}
                        <br>                       
							<a class="man list-group-item">
                                <label>Total Uang Masuk</label>
                                <label style="float:right">Rp <font class="biaya">{$totalUangMasuk}</font></label>
                            </a>
							<a class="man list-group-item">
								<label>Sisa Angsuran</label>
								<label style="float:right">Rp <font class="biaya">{$sisaAng}</font></label>
							</a>
                    </div>{/if}
				</div>
            </div>			
			<input type="hidden" name='angsuran1' value='{$angsuran1}'>
			<input type="hidden" name='angsuran2' value='{$angsuran2}'>
			<input type="hidden" name='angsuran3' value='{$angsuran3}'>
			<div class="form-body">
                <h3 class="form-section" style="margin-bottom: 0px; margin-left: 50px;margin-top: 12px;">Detail Transaksi</h3>
				<div class="form-group">
                    <label class="control-label col-md-2">Jumlah Pembayaran
                    </label>
                    <div class="col-md-9" >
                        <input type="text" class="biaya form-control" name="jumlahBayar" id="jumlahBayar" value="{if $method eq '1'}{$total}{else}{$totalAll}{/if}">
                        <!-- <input class="biaya" name="jumlahBayar" id="jumlahDataBayar" value="{if $method eq '1'}{$total}{else}{$totalAll}{/if}" hidden> -->
                    </div>
                </div>
				{if $jalur eq '01' || $jalur eq '02' || $jalur eq 'KP' || $jalur eq 'CI' || $jalur eq 'BM' || $jalur eq 'PS'}
                <div class="form-group">
                    <label class="control-label col-md-2">Tanggal Pembayaran
                    </label>
                    <div class="col-md-9" >
                        <div class="input-group input-large date-picker" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" name="tanggalBayar" style="text-align: left;" placeholder="DD-MM-YYYY" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Jenis Pembayaran
                    </label>
                    <div class="col-md-9" >
                        <select class="form-control" name="typeTrans" id="typeTrans" required>
                            <option>Pilih Tipe Pembayaran..</option>
                            {foreach name=loop from=$typeBayar item=row}
                            <option value="{$row->kode}">{$row->nama}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No Kartu ATM
                    </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" name="noAtmCard" id="noAtmCard" maxlength="16" disabled required>
                        <p class="help-block" style="display:none;" id="helpAtm">Masukan 16 digit No. kartu ATM Anda</p>
                        <p class="help-block" style="display:none;" id="helpAtmno">Lewati jika transaksi pembayaran Tunai/Tunai Via Bank</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Rekening Tujuan
                    </label>
                    <div class="col-md-9">
                        <label>
                            <h4>{$bankAkun->nama}</h4>
                        </label>
                        <input value="{$bankAkun->kode}" name="bankAkun" hidden>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">No. Rek. Pengirim
                    </label>
                    <div class="col-md-9" >
                        <input type="number" class="form-control" name="no_rek_cmb" id="no_rek_cmb" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Nama Rek. Pengirim
                    </label>
                    <div class="col-md-9" >
                        <input type="text" class="form-control" name="nama_rek_cmb" id="nama_rek_cmb" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Bukti Pembayaran
                    </label>
                    <div class="col-md-9" >
                        <input type="file" id="bukti" name="bukti" required>
                        <p class="help-block">Format : pdf|jpg|png|gif</p>
                    </div>
                </div>
				{/if}
                <div class="modal-footer">
                    <button type="button" class="btn dark" data-dismiss="modal" onClick="window.history.back();"><i class=" icon-chevron-left"></i> Back</button>
                    <button type="submit" class="btn green" id="save" value="save" name="opt">Save <i class="icon-ok"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function() {
    $('.biaya').formatCurrency();
});
$('.biaya').blur(function()
{
	$('.biaya').formatCurrency();
});

{literal}
$("#typeTrans").change(function(){	
	val = $(this).val();
	//alert (val);
	if (val == '04.2' || val == '04.4'){
		document.getElementById('helpAtmno').style.display = 'none';
		document.getElementById('helpAtm').style.display = 'block';
		$("#noAtmCard").prop('disabled', false);
	}else{
		document.getElementById('helpAtmno').style.display = 'block';
		document.getElementById('helpAtm').style.display = 'none';
		$("#noAtmCard").prop('disabled', true);
		$("#noAtmCard").prop('maxlength', '16');
		
	}
	if (val == '04.3'){
		$("#no_rek_cmb").prop('required', false);
		$("#nama_rek_cmb").prop('required', false);
		$("#bukti").prop('required', false);
	}else{
		$("#no_rek_cmb").prop('required', true);
		$("#nama_rek_cmb").prop('required', true);
		$("#bukti").prop('required', true);
	}
});	
{/literal}
</script>
