
<div class="portlet box default">
    <div class="portlet-title">
        <div class="row col-md-12">
            <a class="btn btn-sm green" href="{$host}cmb/export/{$periode|default:'0'}/{$jalur|default:'0'}/{$prodi|default:'0'}/xls" target="_blank"><i class="icon-download-alt"></i> Exoprt XLS</a>
            <a class="btn btn-sm default" href="{$host}cmb/export/{$periode|default:'0'}/{$jalur|default:'0'}/{$prodi|default:'0'}/csv" target="_blank"><i class="icon-download-alt"></i> Exoprt CSV</a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" id="sample_editable_1"> 
            <thead clas="flip-content" class="bg-default">
                <tr>
                    <th width="10%">NIM</th>
                    <th width="20%">NAMA </th>
                    <th width="5%">PRODI</th>
                    <th width="10%">GELOMBANG</th>
                    <th width="10%">TANGGAL LULUS</th>
                    <th width="30%">STATUS</th>
                    <th width="15%">EC & CGTS</th>
                    <th width="15%">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {foreach name=loop from=$sql item=row}
                <tr>
                    <td>
                     {if $row->foto neq ''}	
                    	<div class="tiles">
                         <div class="tile image">
                         <a  style="color:black" class="accordion-toggle" href="{$host}cmb/profil/{$row->no_smb}">
                            <div class="tile-body">				            
                                <img class="img-responsive" alt="" src="{$host}assets/upload/foto/{$row->foto}">
                            </div>
                            <div class="tile-object" style="background-color:#006895">
                                <div class="name">{$row->nim}</div>
                            </div>
                        </a>
                       </div>
                      </div>
                    {else}						
						<!-- <a class="btn default" href="{$host}cmb/profil/{$row->no_smb}" value="{$row->no_smb}">{$row->nim}</a> -->
							
                        <a class="accordion-toggle" href="{$host}cmb/formulir/{$row->no_smb}">
                                <div class="panel-default">
                                        <div class="panel-heading">
                                                <h4 class="panel-title">{$row->nim}</h4>
                                        </div>
                                </div>
                        </a>
                    {/if}


                    </td>
                    <td>
                    <a class="accordion-toggle" href="{$host}cmb/formulir/{$row->no_smb}">
                        <div class="panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">{$row->nama_cm}</h4>
                            </div>
                        </div>
                    </a>
                    </td>
                    <td>
                        <div class="panel-info">
                            <div class="panel-heading">
                                    <h4 class="panel-title">{$row->prodi_sing}</h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="panel-info">
                            <div class="panel-heading">
                                    <h4 class="panel-title">{$row->gelombang_nama}</h4>
                            </div>
                        </div>
                    </td>
                    <td><div class="panel-info">
                            <div class="panel-heading">
                                    <h4 class="panel-title">{$row->tanggal|date_format:"%e %b %Y"}</h4>
                            </div>
                        </div>
                    </td>
                    <td>
                        {assign var="statuss" value="|"|explode:$row->status}
                        {foreach from=$statuss item=v key=k}
                        {if $k eq 0}
                            <p>
                            {if $v eq '0'}
                            <span class="label label-sm label-danger label-mini">Melengkapi Form Pendaftaran <i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini">Melengkapi Form Pendaftaran <i class="icon-ok-sign"></i></span>
                            {/if}</p>
                        {else if $k eq 1}
                            <p>{if $v eq '0'}
                            <span class="label label-sm label-danger label-mini">Kelengkapan Dokumen <i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini">Kelengkapan Dokumen <i class="icon-ok-sign"></i></span>
                            {/if}</p>
                        {else if $k eq 2}
                            <p>{if $v eq '0'}
                            <span class="label label-sm label-danger label-mini">Mendapat Jadwal Perkuliahan <i class="icon-remove-sign"></i></span>
                            {else}
                            <span class="label label-sm label-success label-mini">Mendapat Jadwal Perkuliahan <i class="icon-ok-sign"></i></span>
                            {/if}</p>
                        {/if}
                        {/foreach}
                    </td>
                    <td>
                        <label>EC : {$row->edu}</label><br>
                        <label>CGTS : {$row->cgts}</label>
                    </td>
                    <td>
                    {if $row->stsMundurAfterReapply eq '1'}
                            <div class="panel-danger">
                                      <div class="panel-heading">
                                             <h4 class="panel-title">
                                                    Mengundurkan Diri
                                             </h4>
                                      </div>
                            </div>
                    {else}
                        <a class="md btn btn-sm blue" href="{$host}smb/mundurDiri/{$row->no_smb}/mundur/cmb"> Undur Diri</a> <br>
                    {/if}
                        <a class="hapus btn btn-sm red" href="#" id="" value="{$row->no_smb}" onclick="deleteMhs('del','{$row->no_smb}')"> Hapus </a>
                    </td>
                    {/foreach}
            </tbody>
        </table>
    </div>
</div>
<script>
jQuery(document).ready(function() {
    TableEditable.init();
}); 
{literal}
function deleteMhs(method, p1){
    if (confirm("Apakah Anda Ingin Menghapus Mahasiswa Ini?")) { 
        $.post("{/literal}{$host}{literal}cmb/deleteMhs", {
            'id': p1,
            'method': method
        }, function(resp) {
        if (resp == 1){
            alert("Mahasiswa Berhasil Dihapus.");
            location.reload();
        }else{
            alert(resp);
        }
    });
    }
}
//$(".hapus_"+{literal}{$row->no_smb}{/literal}).click(function (){
//    if (confirm("Apakah Anda Ingin Menghapus Mahasiswa Ini?")) { 
//        $.post("{/literal}{$host}{literal}cmb/deleteMhs", {
//            'id': $(this).attr('value'),
//            'method': 'del'
//        }, function(resp) {
//        if (resp == 1){
//            alert("Mahasiswa Berhasil Dihapus.");
//            location.reload();
//        }else{
//            alert(resp);
//        }
//    });
//    }
//});
{/literal}
</script>
