<div class="row">
	<div class="col-md-12">
	   <!-- BEGIN PAGE TITLE & BREADCRUMB-->
	   <h3 class="page-title hidden-print">
		  {$lokasi} <small> Admission Bakrie</small>
	   </h3>
	   <hr class="hidden-print">
	</div>
 </div>
<!-- END PAGE HEADER-->
<div class="clearfix"></div></div>
<div class="col-md-12">
        <!--DataTables example-->
        <div class="portlet box card">
          <div class="portlet-body">
            <div id="table-grid">
              <div class="row">
                    <div class="col s12 m12">
                      {if isset($id_where)}{assign var="p1" value=$id_where}{else}{assign var="p1" value=""}{/if}
                      {if isset($id_where2)}{assign var="p2" value=$id_where2}{else}{assign var="p2" value=""}{/if}
                      {include file='smb/template/grid.html' tipe_grid={$type} tinggi='55px'}
                    </div>
              </div>
            </div> 
          </div>
        </div>
        <br>
        <div class="divider"></div> 
</div>

<div class="modal fade" id="form_invent" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog  modal-wide">
      <div class="modal-content  card">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
              <div id="form_load"></div>
          </div>
      </div>
  </div>
  <!-- /.modal-content -->
</div>